<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2">
            Mandatory Disclosure</div>
        <div class="row fs-4 lh-lg fw-lighter py-3">
            <div class="col-md-12">
                <table class="table table-striped border-danger border">
                    <tbody>
                        <tr>
                            <td>Name of Institute</td>
                            <td>S. Amarjeet Singh Sahi Government Polytechnic College</td>
                        </tr>
                        <tr>
                            <td>Address of Institution</td>
                            <td>
                                <address>
                                    Sector-4, Talwara Township<br>
                                    Tehsil: Mukerian<br>
                                    District: Hoshiarpur<br>
                                    Pin Code: 144216
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>City & Pin Code</td>
                            <td>Talwara, 144216</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Punjab</td>
                        </tr>
                        <tr>
                            <td>Longitude & Latitude</td>
                            <td>31.9544613 & 75.8500553</td>
                        </tr>
                        <tr>
                            <td>Phone No.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>FAX No.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Office Hrs at Institution</td>
                            <td>9.00 AM to 5.00 PM</td>
                        </tr>
                        <tr>
                            <td>Academic Hrs at Institution</td>
                            <td>9.00 AM to 5.00 PM (8 Hrs)</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>gpctalwara&#64;gmail.com</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>Type of Institute</td>
                            <td>Govt.</td>
                        </tr>
                        <tr>
                            <td>Name of Organisation running this Institution</td>
                            <td>Directorate of Technical Education & Industrial Training, Chandigarh (Govt. of
                                Punjab)</td>
                        </tr>
                        <tr>
                            <td>Type of Organisation</td>
                            <td>Government</td>
                        </tr>
                        <tr>
                            <td>Address of Institution</td>
                            <td>
                                Sector-4, Talwara Township<br>
                                Tehsil: Mukerian<br>
                                District: Hoshiarpur<br>
                                Pin Code: 144216
                            </td>
                        </tr>
                        <tr>
                            <td>Registered With</td>
                            <td>NOT APPLICABLE</td>
                        </tr>
                        <tr>
                            <td>Registered Date</td>
                            <td>Not applicable</td>
                        </tr>
                        <tr>
                            <td>Website of Organisation</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>Name of Affiliating Board</td>
                            <td>State Board of Technical Education & Industrial Training</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Sector 36-A, Chandigarh</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>punjabteched.com</td>
                        </tr>
                        <tr>
                            <td>Latest Affiliating Period</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>Name of Principal</td>
                            <td>Sh. Rajesh Kumar</td>
                        </tr>
                        <tr>
                            <td>Extract Designation</td>
                            <td>Principal</td>
                        </tr>
                        <tr>
                            <td>Phone No.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>gpctalwara.gov.in</td>
                        </tr>
                        <tr>
                            <td>Highest Degree</td>
                            <td>M.Tech.</td>
                        </tr>
                        <tr>
                            <td>Field of Specialization</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Governing Board Members</td>
                            <td>Government Institution</td>
                        </tr>
                        <tr>
                            <td>Frequency of Meeting</td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>Academic Advisory Body</td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>Involvement of Faculty and Students in Academic Improvement</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Student Feedback Mechanism on Institutional Governance/Faculty Performance</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Grievance Redressal Mechanism for Faculty, Staff, and Students</td>
                            <td>Anti-ragging Committee, Grievance Redressal Committee, Internal Complaint Committee
                            </td>
                        </tr>
                        <tr>
                            <td>Name of Programmes Approved by AICTE</td>
                            <td>Computer Science and Engg., Electronics and Communication Engg., Electrical Engg.,
                                Mechanical Engg., Civil Engg.</td>
                        </tr>
                        <tr>
                            <td>Name of Programmes, Duration, and No. of Seats</td>
                            <td><a (click)="scrollToTopAndCloseNavbar()" routerLink="/courses">Click here to See Admission Table</a></td>
                        </tr>
                        <tr>
                            <td>Cut-off Marks During Last 3 Years</td>
                            <td>Qualifying Exam Basis (10th)</td>
                        </tr>
                        <tr>
                            <td>Fees In Rupees</td>
                            <td>As per Govt. Rules</td>
                        </tr>
                        <tr>
                            <td>Permanent Faculty</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Adjunct Faculty</td>
                            <td>6 (Part-time Faculty)</td>
                        </tr>
                        <tr>
                            <td>Permanent Faculty: Student Ratio</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>No. of Faculty Employed and Left During Last 3 Years</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Faculty Profile</td>
                            <td>See Our Faculty Menu</td>
                        </tr>
                        <tr>
                            <td>Detail of Fee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Time Schedule for Payment of Fee</td>
                            <td>January and July</td>
                        </tr>
                        <tr>
                            <td>Number of Scholarships Offered by Institution, Duration, and Amount</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Criteria for Fee Waiver</td>
                            <td>Qualifying Exam Basis (10th)</td>
                        </tr>
                        <tr>
                            <td>No. of Seats Sanctioned with Year of Approval</td>
                            <td><a (click)="scrollToTopAndCloseNavbar()" routerLink="/courses">Click here to See Admission Table</a></td>
                        </tr>
                        <tr>
                            <td>No. of Students Admitted Under Various Categories in Last 3 Years</td>
                            <td><a href=""></a></td>
                        </tr>
                        <tr>
                            <td>No. of Applications Received Under Management Quota</td>
                            <td>Not applicable</td>
                        </tr>
                        <tr>
                            <td>Admission Test Being Followed</td>
                            <td>N.A.</td>
                        </tr>

                        <tr>
                            <td>No. of Seats Alloted to Different Test Qualified Candidates</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Criteria for Admission</td>
                            <td>Qualifying Exam Marks (10th)</td>
                        </tr>
                        <tr>
                            <td>Minimum Level of Acceptance</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Cut-off Percentage in Admission Test in Last 3 Years</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Display Marks Scored in Test</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>List of Candidates Who Have Applied Along with Percentage and Percentile Score for
                                Management Quota Seats</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Result of Admission Under Management Quota Seats</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Number of Classrooms</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Number of Tutorial Rooms and Size of Each</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td>Number of Laboratories</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Number of Drawing Halls</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>Number of Computer Centres</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Central Examination Facility, Number of Rooms, and Capacity of Each</td>
                            <td><a href="">Click here for table ALL ROOM SIZE</a></td>
                        </tr>
                        <tr>
                            <td>Barrier-Free Built Environment for Disabled and Elderly Persons</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Occupancy Certificate</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Fire and Safety Certificate</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Number of Library Books/Titles/Journals Available</td>
                            <td>Library Books: 3300 Titles: 1000 Journals: 8</td>
                        </tr>
                        <tr>
                            <td>List Online National/International Journals Subscribed</td>
                            <td>Not Available</td>
                        </tr>
                        <tr>
                            <td>List of Experimental Setup in Each Lab/Workshop</td>
                            <td><a href="">Click here for table LIST OF MAJOR EQUIPMENTS</a></td>
                        </tr>
                        <tr>
                            <td>Internet Bandwidth</td>
                            <td>32Mbps</td>
                        </tr>
                        <tr>
                            <td>Number of Computers</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>Total Number of System Connected by LAN</td>
                            <td>All Computers</td>
                        </tr>
                        <tr>
                            <td>Innovation Cell</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Social Media Cell</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Compliance of the National Academic Depository, Applicable to PGCM/PGDM Institutions
                            </td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Games and Sports Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Extra-Curricular Activities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Soft Skill Development Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Curricula and Syllabus for Each of Programmes</td>
                            <td><a href="http://www.punjabteched.com">punjabteched.com</a></td>
                        </tr>
                        <tr>
                            <td>Teaching Load of Each Faculty</td>
                            <td>Lecturer: Senior Lect: Head of Deptt.:</td>
                        </tr>
                        <tr>
                            <td>Internal Continuous Evaluation System</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Student's Assessment of Faculty, System</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Post Graduate Course</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Library Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Seminar Hall</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Cafeteria</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Outdoor Sports Facilities</td>
                            <td>Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>









<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਲਾਜ਼ਮੀ ਖੁਲਾਸਾ - SASS GPC ਤਲਵਾੜਾ</div>
        <div class="row fs-4 lh-lg fw-lighter py-3">
            <div class="col-md-12">
                <table class="table table-striped border-danger border">
                    <tbody>
                        <tr>
                            <td>ਸੰਸਥਾ ਦਾ ਨਾਮ</td>
                            <td>ਸ.ਅਮਰਜੀਤ ਸਿੰਘ ਸਾਹੀ ਸਰਕਾਰੀ ਪੋਲੀਟੈਕਨਿਕ ਕਾਲਜ</td>
                        </tr>
                        <tr>
                            <td>ਸੰਸਥਾ ਦਾ ਪਤਾ</td>
                            <td>
                                <address>
                                    ਸੈਕਟਰ-4, ਤਲਵਾੜਾ ਟਾਊਨਸ਼ਿਪ<br>
                                    ਤਹਿਸੀਲ: ਮੁਕੇਰੀਆਂ<br>
                                    ਜਿਲਾ: ਹੁਸ਼ਿਆਰਪੁਰ<br>
                                    ਪਿੰਨ ਕੋਡ: 144216
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>ਸ਼ਹਿਰ, ਪਿੰਨ ਕੋਡ</td>
                            <td>
                                ਤਲਵਾੜਾ, 144216</td>
                        </tr>
                        <tr>
                            <td>ਰਾਜ</td>
                            <td>ਪੰਜਾਬ

                            </td>
                        </tr>
                        <tr>
                            <td>ਲੰਬਕਾਰ ਅਤੇ ਵਿਥਕਾਰ</td>
                            <td>31.9544613 & 75.8500553</td>
                        </tr>
                        <tr>
                            <td>ਫੋਨ ਨੰ.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>ਫੈਕਸ ਨੰ.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ਸੰਸਥਾ ਵਿਖੇ ਦਫਤਰ ਦੇ ਘੰਟੇ</td>
                            <td>
                                ਸਵੇਰੇ 9.00 ਵਜੇ ਤੋਂ ਸ਼ਾਮ 5.00 ਵਜੇ ਤੱਕ</td>
                        </tr>
                        <tr>
                            <td>ਸੰਸਥਾ ਵਿਖੇ ਅਕਾਦਮਿਕ ਘੰਟੇ</td>
                            <td>ਸਵੇਰੇ 9.00 ਤੋਂ ਸ਼ਾਮ 5.00 ਵਜੇ (8 ਘੰਟੇ)</td>
                        </tr>
                        <tr>
                            <td>
                                ਈ - ਮੇਲ</td>
                            <td>gpctalwar"&#64;"example.com</td>
                        </tr>
                        <tr>
                            <td>
                                ਵੈੱਬਸਾਈਟ</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>
                                ਇੰਸਟੀਚਿਊਟ ਦੀ ਕਿਸਮ</td>
                            <td>ਸਰਕਾਰ</td>
                        </tr>
                        <tr>
                            <td>ਇਸ ਸੰਸਥਾ ਨੂੰ ਚਲਾਉਣ ਵਾਲੀ ਸੰਸਥਾ ਦਾ ਨਾਮ</td>
                            <td>ਤਕਨੀਕੀ ਸਿੱਖਿਆ ਅਤੇ ਉਦਯੋਗਿਕ ਸਿਖਲਾਈ ਡਾਇਰੈਕਟੋਰੇਟ, ਚੰਡੀਗੜ੍ਹ (ਸਰਕਾਰ
                                ਪੰਜਾਬ)</td>
                        </tr>
                        <tr>
                            <td>ਸੰਗਠਨ ਦੀ ਕਿਸਮ</td>
                            <td>
                                ਸਰਕਾਰ</td>
                        </tr>
                        <tr>
                            <td>
                                ਸੰਸਥਾ ਦਾ ਪਤਾ</td>
                            <td>
                                ਸੈਕਟਰ-4, ਤਲਵਾੜਾ ਟਾਊਨਸ਼ਿਪ<br>
                                ਤਹਿਸੀਲ: ਮੁਕੇਰੀਆਂ<br>
                                ਜਿਲਾ: ਹੁਸ਼ਿਆਰਪੁਰ<br>
                                ਪਿੰਨ ਕੋਡ: 144216
                            </td>
                        </tr>
                        <tr>
                            <td>ਨਾਲ ਰਜਿਸਟਰਡ ਹੈ</td>
                            <td>
                                ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                        </tr>
                        <tr>
                            <td>ਰਜਿਸਟਰਡ ਮਿਤੀ</td>
                            <td>ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                        </tr>
                        <tr>
                            <td>
                                ਸੰਗਠਨ ਦੀ ਵੈੱਬਸਾਈਟ</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>ਐਫੀਲੀਏਟਿੰਗ ਬੋਰਡ ਦਾ ਨਾਮ</td>
                            <td>ਰਾਜ ਤਕਨੀਕੀ ਸਿੱਖਿਆ ਅਤੇ ਉਦਯੋਗਿਕ ਸਿਖਲਾਈ ਬੋਰਡ</td>
                        </tr>
                        <tr>
                            <td>ਪਤਾ</td>
                            <td>ਸੈਕਟਰ 36-ਏ, ਚੰਡੀਗੜ੍ਹ</td>
                        </tr>
                        <tr>
                            <td>
                                ਵੈੱਬਸਾਈਟ</td>
                            <td>punjabteched.com</td>
                        </tr>
                        <tr>
                            <td>
                                ਤਾਜ਼ਾ ਐਫੀਲੀਏਟਿੰਗ ਪੀਰੀਅਡ</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>ਪ੍ਰਿੰਸੀਪਲ ਦਾ ਨਾਮ</td>
                            <td>
                                ਸ਼. ਰਾਜੇਸ਼ ਕੁਮਾਰ</td>
                        </tr>
                        <tr>
                            <td>
                                ਐਬਸਟਰੈਕਟ ਅਹੁਦਾ</td>
                            <td>
                                ਪ੍ਰਿੰਸੀਪਲ</td>
                        </tr>
                        <tr>
                            <td>ਫੋਨ ਨੰ.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>
                                ਈ - ਮੇਲ</td>
                            <td>gpctalwara.gov.in</td>
                        </tr>
                        <tr>
                            <td>ਸਭ ਤੋਂ ਉੱਚੀ ਡਿਗਰੀ</td>
                            <td>
                                ਐਮ.ਟੈਕ.</td>
                        </tr>
                        <tr>
                            <td>ਵਿਸ਼ੇਸ਼ਤਾ ਦਾ ਖੇਤਰ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ਗਵਰਨਿੰਗ ਬੋਰਡ ਦੇ ਮੈਂਬਰ</td>
                            <td>ਸਰਕਾਰੀ ਸੰਸਥਾ</td>
                        </tr>
                        <tr>
                            <td>ਮੀਟਿੰਗ ਦੀ ਬਾਰੰਬਾਰਤਾ</td>
                            <td>
                                ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                        </tr>
                        <tr>
                            <td>
                                ਅਕਾਦਮਿਕ ਸਲਾਹਕਾਰ ਸੰਸਥਾ</td>
                            <td>ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                        </tr>
                        <tr>
                            <td>
                                ਅਕਾਦਮਿਕ ਸੁਧਾਰ ਵਿੱਚ ਫੈਕਲਟੀ ਅਤੇ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸ਼ਮੂਲੀਅਤ</td>
                            <td>
                                ਹਾਂ</td>
                        </tr>
                        <tr>
                            <td>ਸੰਸਥਾਗਤ ਸ਼ਾਸਨ/ਫੈਕਲਟੀ ਪ੍ਰਦਰਸ਼ਨ 'ਤੇ ਵਿਦਿਆਰਥੀ ਫੀਡਬੈਕ ਵਿਧੀ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>ਫੈਕਲਟੀ, ਸਟਾਫ ਅਤੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਸ਼ਿਕਾਇਤ ਨਿਵਾਰਣ ਵਿਧੀ</td>
                            <td>
                                ਐਂਟੀ ਰੈਗਿੰਗ ਕਮੇਟੀ, ਸ਼ਿਕਾਇਤ ਨਿਵਾਰਨ ਕਮੇਟੀ, ਅੰਦਰੂਨੀ ਸ਼ਿਕਾਇਤ ਕਮੇਟੀ
                            </td>
                        </tr>
                        <tr>
                            <td>AICTE ਦੁਆਰਾ ਪ੍ਰਵਾਨਿਤ ਪ੍ਰੋਗਰਾਮਾਂ ਦੇ ਨਾਮ</td>
                            <td>ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਅਤੇ ਇੰਜੀ., ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀ., ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀ.,
                                ਮਕੈਨੀਕਲ ਇੰਜੀ., ਸਿਵਲ ਇੰਜੀ.</td>
                        </tr>
                        <tr>
                            <td>ਪ੍ਰੋਗਰਾਮਾਂ ਦਾ ਨਾਮ, ਮਿਆਦ, ਅਤੇ ਸੀਟਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td><a href="courses.html">ਦਾਖਲਾ ਸਾਰਣੀ ਦੇਖਣ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                        </tr>
                        <tr>
                            <td>ਪਿਛਲੇ 3 ਸਾਲਾਂ ਦੌਰਾਨ ਕੱਟ-ਆਫ ਅੰਕ</td>
                            <td>ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਆਧਾਰ (10ਵੀਂ)</td>
                        </tr>
                        <tr>
                            <td>
                                ਰੁਪਏ ਵਿੱਚ ਫੀਸ</td>
                            <td>ਸਰਕਾਰ ਦੇ ਅਨੁਸਾਰ ਨਿਯਮ
                            </td>
                        </tr>
                        <tr>
                            <td>ਸਥਾਈ ਫੈਕਲਟੀ</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>ਸਹਾਇਕ ਫੈਕਲਟੀ</td>
                            <td>
                                6 (ਪਾਰਟ-ਟਾਈਮ ਫੈਕਲਟੀ)</td>
                        </tr>
                        <tr>
                            <td>ਸਥਾਈ ਫੈਕਲਟੀ: ਵਿਦਿਆਰਥੀ ਅਨੁਪਾਤ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                ਪਿਛਲੇ 3 ਸਾਲਾਂ ਦੌਰਾਨ ਨੌਕਰੀ ਤੇ ਛੱਡੇ ਗਏ ਫੈਕਲਟੀ ਦੀ ਸੰਖਿਆ</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>
                                ਫੈਕਲਟੀ ਪ੍ਰੋਫਾਈਲ</td>
                            <td>ਸਾਡਾ ਫੈਕਲਟੀ ਮੀਨੂ ਦੇਖੋ</td>
                        </tr>
                        <tr>
                            <td>
                                ਫੀਸ ਦਾ ਵੇਰਵਾ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ਫੀਸ ਦੇ ਭੁਗਤਾਨ ਲਈ ਸਮਾਂ ਅਨੁਸੂਚੀ</td>
                            <td>ਜਨਵਰੀ ਅਤੇ ਜੁਲਾਈ</td>
                        </tr>
                        <tr>
                            <td>ਸੰਸਥਾ ਦੁਆਰਾ ਪੇਸ਼ ਕੀਤੇ ਗਏ ਵਜ਼ੀਫ਼ਿਆਂ ਦੀ ਸੰਖਿਆ, ਮਿਆਦ, ਅਤੇ ਰਕਮ</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ਫੀਸ ਮੁਆਫੀ ਲਈ ਮਾਪਦੰਡ</td>
                            <td>ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਆਧਾਰ (10ਵੀਂ)</td>
                        </tr>
                        <tr>
                            <td>ਮਨਜ਼ੂਰੀ ਦੇ ਸਾਲ ਨਾਲ ਮਨਜ਼ੂਰ ਸੀਟਾਂ ਦੀ ਸੰਖਿਆ</td>
                            <td><a href="courses.html">ਦਾਖਲਾ ਸਾਰਣੀ ਦੇਖਣ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                        </tr>
                        <tr>
                            <td>
                                ਪਿਛਲੇ 3 ਸਾਲਾਂ ਵਿੱਚ ਵੱਖ-ਵੱਖ ਸ਼੍ਰੇਣੀਆਂ ਵਿੱਚ ਦਾਖਲ ਹੋਏ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸੰਖਿਆ</td>
                            <td><a href=""></a></td>
                        </tr>
                        <tr>
                            <td>ਮੈਨੇਜਮੈਂਟ ਕੋਟੇ ਦੇ ਤਹਿਤ ਪ੍ਰਾਪਤ ਹੋਈਆਂ ਅਰਜ਼ੀਆਂ ਦੀ ਸੰਖਿਆ</td>
                            <td>ਲਾਗੂ ਨਹੀਂ ਹੈ
                            </td>
                        </tr>
                        <tr>
                            <td>ਦਾਖਲਾ ਪ੍ਰੀਖਿਆ ਦਾ ਪਾਲਣ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੈ</td>
                            <td>
                                ਐਨ.ਏ.</td>
                        </tr>

                        <tr>
                            <td>ਵੱਖ-ਵੱਖ ਟੈਸਟ ਯੋਗਤਾ ਪ੍ਰਾਪਤ ਉਮੀਦਵਾਰਾਂ ਨੂੰ ਅਲਾਟ ਕੀਤੀਆਂ ਸੀਟਾਂ ਦੀ ਸੰਖਿਆ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>
                                ਦਾਖਲੇ ਲਈ ਮਾਪਦੰਡ</td>
                            <td>
                                ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਦੇ ਅੰਕ (10ਵੀਂ)</td>
                        </tr>
                        <tr>
                            <td>
                                ਸਵੀਕ੍ਰਿਤੀ ਦਾ ਘੱਟੋ-ਘੱਟ ਪੱਧਰ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>
                                ਪਿਛਲੇ 3 ਸਾਲਾਂ ਵਿੱਚ ਦਾਖਲਾ ਟੈਸਟ ਵਿੱਚ ਕੱਟ-ਆਫ ਪ੍ਰਤੀਸ਼ਤ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>ਟੈਸਟ ਵਿੱਚ ਪ੍ਰਾਪਤ ਅੰਕ ਪ੍ਰਦਰਸ਼ਿਤ ਕਰੋ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>
                                ਉਹਨਾਂ ਉਮੀਦਵਾਰਾਂ ਦੀ ਸੂਚੀ ਜਿਨ੍ਹਾਂ ਨੇ ਪ੍ਰਤੀਸ਼ਤਤਾ ਅਤੇ ਪ੍ਰਤੀਸ਼ਤ ਸਕੋਰ ਦੇ ਨਾਲ ਅਪਲਾਈ ਕੀਤਾ ਹੈ
                                ਪ੍ਰਬੰਧਨ ਕੋਟੇ ਦੀਆਂ ਸੀਟਾਂ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>ਮੈਨੇਜਮੈਂਟ ਕੋਟੇ ਦੀਆਂ ਸੀਟਾਂ ਦੇ ਤਹਿਤ ਦਾਖਲੇ ਦਾ ਨਤੀਜਾ</td>
                            <td>ਐਨ.ਏ.</td>

                        </tr>
                        <tr>
                            <td>ਕਲਾਸਰੂਮਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>ਟਿਊਟੋਰੀਅਲ ਕਮਰਿਆਂ ਦੀ ਗਿਣਤੀ ਅਤੇ ਹਰੇਕ ਦਾ ਆਕਾਰ</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td>ਪ੍ਰਯੋਗਸ਼ਾਲਾਵਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>ਡਰਾਇੰਗ ਹਾਲਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>ਕੰਪਿਊਟਰ ਕੇਂਦਰਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>
                                ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>ਕੇਂਦਰੀ ਪ੍ਰੀਖਿਆ ਦੀ ਸਹੂਲਤ, ਕਮਰਿਆਂ ਦੀ ਗਿਣਤੀ, ਅਤੇ ਹਰੇਕ ਦੀ ਸਮਰੱਥਾ</td>
                            <td><a href="students-corner.php">ਸਾਰੇ ਕਮਰੇ ਦੇ ਆਕਾਰ ਦੀ ਸਾਰਣੀ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                        </tr>
                        <tr>
                            <td>
                                ਅਪਾਹਜ ਅਤੇ ਬਜ਼ੁਰਗ ਵਿਅਕਤੀਆਂ ਲਈ ਰੁਕਾਵਟ-ਮੁਕਤ ਵਾਤਾਵਰਣ</td>
                            <td>
                                ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>
                                ਆਕੂਪੈਂਸੀ ਸਰਟੀਫਿਕੇਟ</td>
                            <td>
                                ਹਾਂ</td>
                        </tr>
                        <tr>
                            <td>ਅੱਗ ਅਤੇ ਸੁਰੱਖਿਆ ਸਰਟੀਫਿਕੇਟ</td>
                            <td>
                                ਹਾਂ</td>
                        </tr>
                        <tr>
                            <td>
                                ਉਪਲਬਧ ਲਾਇਬ੍ਰੇਰੀ ਕਿਤਾਬਾਂ/ਸਿਰਲੇਖ/ਰਸਾਲਿਆਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>ਲਾਇਬ੍ਰੇਰੀ ਕਿਤਾਬਾਂ: 3300 ਸਿਰਲੇਖ: 1000 ਜਰਨਲ: 8</td>
                        </tr>
                        <tr>
                            <td>ਆਨਲਾਈਨ ਰਾਸ਼ਟਰੀ/ਅੰਤਰਰਾਸ਼ਟਰੀ ਰਸਾਲਿਆਂ ਦੀ ਸੂਚੀ ਬਣਾਓ</td>
                            <td>ਉਪਲਭਦ ਨਹੀ</td>
                        </tr>
                        <tr>
                            <td>ਹਰੇਕ ਲੈਬ/ਵਰਕਸ਼ਾਪ ਵਿੱਚ ਪ੍ਰਯੋਗਾਤਮਕ ਸੈੱਟਅੱਪ ਦੀ ਸੂਚੀ</td>
                            <td><a href="">ਮੁੱਖ ਉਪਕਰਨਾਂ ਦੀ ਸਾਰਣੀ ਸੂਚੀ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                        </tr>
                        <tr>
                            <td>
                                ਇੰਟਰਨੈੱਟ ਬੈਂਡਵਿਡਥ</td>
                            <td>32Mbps</td>
                        </tr>
                        <tr>
                            <td>ਕੰਪਿਊਟਰਾਂ ਦੀ ਗਿਣਤੀ</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>LAN ਦੁਆਰਾ ਕਨੈਕਟ ਕੀਤੇ ਸਿਸਟਮ ਦੀ ਕੁੱਲ ਸੰਖਿਆ</td>
                            <td>ਸਾਰੇ ਕੰਪਿਊਟਰ</td>
                        </tr>
                        <tr>
                            <td>
                                ਇਨੋਵੇਸ਼ਨ ਸੈੱਲ</td>
                            <td>ਨੰ</td>
                        </tr>
                        <tr>
                            <td>
                                ਸੋਸ਼ਲ ਮੀਡੀਆ ਸੈੱਲ</td>
                            <td>ਹਾਂ</td>
                        </tr>
                        <tr>
                            <td>ਰਾਸ਼ਟਰੀ ਅਕਾਦਮਿਕ ਡਿਪਾਜ਼ਟਰੀ ਦੀ ਪਾਲਣਾ, PGCM/PGDM ਸੰਸਥਾਵਾਂ 'ਤੇ ਲਾਗੂ
                            </td>
                            <td>ਨੰ</td>
                        </tr>
                        <tr>
                            <td>ਖੇਡਾਂ ਅਤੇ ਖੇਡਾਂ

                                ਸੁਵਿਧਾਵਾਂ.</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>ਪੜਾਈ ਦੇ ਨਾਲ ਹੋਰ ਕੰਮ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>ਸਾਫਟ ਸਕਿੱਲ ਡਿਵੈਲਪਮੈਂਟ ਸੁਵਿਧਾਵਾਂ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>
                                ਹਰੇਕ ਪ੍ਰੋਗਰਾਮ ਲਈ ਪਾਠਕ੍ਰਮ ਅਤੇ ਸਿਲੇਬਸ</td>
                            <td><a href="http://www.punjabteched.com">punjabteched.com</a></td>
                        </tr>
                        <tr>
                            <td>
                                ਹਰੇਕ ਫੈਕਲਟੀ ਦਾ ਅਧਿਆਪਨ ਲੋਡ</td>
                            <td>ਲੈਕਚਰਾਰ: ਸੀਨੀਅਰ ਲੈਕਚਰਾਰ: ਵਿਭਾਗ ਦੇ ਮੁਖੀ:</td>
                        </tr>
                        <tr>
                            <td>ਅੰਦਰੂਨੀ ਨਿਰੰਤਰ ਮੁਲਾਂਕਣ ਪ੍ਰਣਾਲੀ</td>
                            <td>
                                ਉਪਲੱਬਧ
                            </td>
                        </tr>
                        <tr>
                            <td>ਫੈਕਲਟੀ, ਸਿਸਟਮ ਦਾ ਵਿਦਿਆਰਥੀ ਦਾ ਮੁਲਾਂਕਣ</td>
                            <td>
                                ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>ਪੋਸਟ ਗ੍ਰੈਜੂਏਟ ਕੋਰਸ</td>
                            <td>ਐਨ.ਏ.</td>
                        </tr>
                        <tr>
                            <td>ਲਾਇਬ੍ਰੇਰੀ ਸਹੂਲਤਾਂ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>ਸੈਮੀਨਾਰ ਹਾਲ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>
                                ਕੈਫੇਟੇਰੀਆ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                        <tr>
                            <td>
                                ਬਾਹਰੀ ਖੇਡਾਂ ਦੀਆਂ ਸਹੂਲਤਾਂ</td>
                            <td>ਉਪਲੱਬਧ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            अनिवार्य प्रकटीकरण</div>
        <div class="row  fs-4 lh-lg fw-lighter py-3">
            <div class="col-md-12">
                <table class="table table-striped border-danger border">
                    <tbody>
                        <tr>
                            <td>संस्थान का नाम</td>
                            <td>एस. अमरजीत सिंह साही राजकीय पॉलिटेक्निक कॉलेज</td>
                        </tr>
                        <tr>
                            <td>संस्थान का पता</td>
                            <td>
                                <address>
                                    सेक्टर-4, तलवाड़ा टाउनशिप
                                    तहसील: मुकेरियां<br>
                                    जिला: होशियारपुर<br>
                                    पिन कोड: 144216
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>शहर और पिन कोड</td>
                            <td>
                                तलवाड़ा, 144216</td>
                        </tr>
                        <tr>
                            <td>राज्य</td>
                            <td>पंजाब

                            </td>
                        </tr>
                        <tr>
                            <td>देशांतर और अक्षांश </td>
                            <td>31.9544613 & 75.8500553</td>
                        </tr>
                        <tr>
                            <td>फोन नंबर</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>फ़ैक्स नंबर</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>संस्थान में कार्यालय का समय </td>
                            <td>
                                प्रातः 9.00 बजे से सायं 5.00 बजे तक</td>
                        </tr>
                        <tr>
                            <td>संस्थान में शैक्षणिक समय </td>
                            <td>सुबह 9.00 बजे से शाम 5.00 बजे तक (8 घंटे)</td>
                        </tr>
                        <tr>
                            <td>
                                ईमेल </td>
                            <td>gpctalwar"&#64;"example.com</td>
                        </tr>
                        <tr>
                            <td>
                                वेबसाइट</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>
                                संस्थान का प्रकार </td>
                            <td>सरकारी</td>
                        </tr>
                        <tr>
                            <td>इस संस्थान को चलाने वाले संगठन का नाम</td>
                            <td>तकनीकी शिक्षा एवं औद्योगिक प्रशिक्षण निदेशालय, चंडीगढ़ (पंजाब सरकार)</td>
                        </tr>
                        <tr>
                            <td>संगठन का प्रकार </td>
                            <td>
                                सरकारी</td>
                        </tr>
                        <tr>
                            <td>
                                संस्थान का पता</td>
                            <td>

                                सेक्टर-4, तलवाड़ा टाउनशिप
                                तहसील: मुकेरियां<br>
                                जिला: होशियारपुर<br>
                                पिन कोड: 144216
                            </td>
                        </tr>
                        <tr>
                            <td>पंजीकृत है</td>
                            <td>
                                लागू नहीं है</td>
                        </tr>
                        <tr>
                            <td>पंजीकृत तिथि</td>
                            <td>लागू नहीं है</td>
                        </tr>
                        <tr>
                            <td>
                                संस्था की वेबसाइट</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>संबद्ध बोर्ड का नाम</td>
                            <td>राज्य तकनीकी शिक्षा एवं औद्योगिक प्रशिक्षण बोर्ड</td>
                        </tr>
                        <tr>
                            <td>पता </td>
                            <td>सेक्टर 36-ए, चंडीगढ़</td>
                        </tr>
                        <tr>
                            <td>
                                वेबसाइट </td>
                            <td>punjabteched.com</td>
                        </tr>
                        <tr>
                            <td>
                                नवीनतम संबद्धता अवधि </td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>ਪप्राचार्य का नाम</td>
                            <td>
                                श्री. राजेश कुमार</td>
                        </tr>
                        <tr>
                            <td> पदनाम</td>
                            <td>
                                प्रिंसिपल</td>
                        </tr>
                        <tr>
                            <td>फोन नंबर</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>
                                ईमेल</td>
                            <td>gpctalwara.gov.in</td>
                        </tr>
                        <tr>
                            <td>उच्चतम डिग्री</td>
                            <td>
                                एम.टेक.</td>
                        </tr>
                        <tr>
                            <td>विशेषज्ञता का क्षेत्र</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>गवर्निंग बोर्ड के सदस्य </td>
                            <td>सरकारी संस्थान</td>
                        </tr>
                        <tr>
                            <td>बैठक की आवृत्ति</td>
                            <td>
                                लागू नहीं</td>
                        </tr>
                        <tr>
                            <td>
                                शैक्षणिक सलाहकार निकाय</td>
                            <td>लागू नहीं</td>
                        </tr>
                        <tr>
                            <td>
                                शैक्षणिक सुधार में संकाय और छात्रों की भागीदारी </td>
                            <td>
                                हाँ</td>
                        </tr>
                        <tr>
                            <td>संस्थागत प्रशासन/संकाय प्रदर्शन पर छात्र प्रतिक्रिया तंत्र </td>
                            <td> उपलब्ध है</td>
                        </tr>
                        <tr>
                            <td>संकाय, कर्मचारियों और छात्रों के लिए शिकायत निवारण तंत्र</td>
                            <td>
                                रैगिंग विरोधी समिति, शिकायत निवारण समिति, आंतरिक शिकायत समिति
                            </td>
                        </tr>
                        <tr>
                            <td>AICTE द्वारा अनुमोदित कार्यक्रमों के नाम</td>
                            <td>कंप्यूटर विज्ञान और इंजीनियरिंग, इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग, इलेक्ट्रिकल
                                इंजीनियरिंग, मैकेनिकल इंजीनियरिंग, सिविल इंजीनियरिंग।</td>
                        </tr>
                        <tr>
                            <td>कार्यक्रमों का नाम, अवधि और सीटों की संख्या </td>
                            <td><a href="courses.html">प्रवेश तालिका देखने के लिए यहां क्लिक करें</a></td>
                        </tr>
                        <tr>
                            <td>पिछले 3 वर्षों की कट-ऑफ अंक</td>
                            <td>योग्यता परीक्षा आधार (10वीं)</td>
                        </tr>
                        <tr>
                            <td>
                                रुपए में फीस</td>
                            <td>सरकार के अनुसार
                            </td>
                        </tr>
                        <tr>
                            <td>नियम
                                स्थायी संकाय </td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>सहायक संकाय</td>
                            <td>
                                6 (अंशकालिक संकाय)</td>
                        </tr>
                        <tr>
                            <td>स्थायी संकाय: छात्र अनुपात</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                पिछले 3 वर्षों के दौरान नियोजित और छोड़े गए संकाय सदस्यों की संख्या </td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>
                                संकाय प्रोफ़ाइल</td>
                            <td>हमारा संकाय मेनू देखें</td>
                        </tr>
                        <tr>
                            <td>
                                शुल्क का विवरण</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>शुल्क भुगतान के लिए समय सारिणी </td>
                            <td>जनवरी और जुलाई
                            </td>
                        </tr>
                        <tr>
                            <td>संस्थान द्वारा दी जाने वाली छात्रवृत्तियों की संख्या, अवधि और राशि</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>शुल्क माफी योग्यता </td>
                            <td>परीक्षा आधार के लिए मानदंड (10वीं)</td>
                        </tr>
                        <tr>
                            <td>अनुमोदन के वर्ष के साथ स्वीकृत सीटों की संख्या</td>
                            <td><a href="courses.html">प्रवेश तालिका देखने के लिए यहां क्लिक करें</a></td>
                        </tr>
                        <tr>
                            <td>
                                पिछले 3 वर्षों में विभिन्न श्रेणियों के अंतर्गत प्रवेशित छात्रों की संख्या</td>
                            <td><a href=""></a></td>
                        </tr>
                        <tr>
                            <td>प्रबंधन कोटा के अंतर्गत प्राप्त आवेदनों की संख्या</td>
                            <td>लागू नहीं
                            </td>
                        </tr>
                        <tr>
                            <td>प्रवेश परीक्षा का पालन किया जा रहा है </td>
                            <td>
                                एन.ए.
                            </td>
                        </tr>

                        <tr>
                            <td>विभिन्न परीक्षण योग्य अभ्यर्थियों को आवंटित सीटों की संख्या</td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                प्रवेश के लिए मानदंड </td>
                            <td>
                                योग्यता परीक्षा अंक (10वीं)</td>
                        </tr>
                        <tr>
                            <td>
                                स्वीकृति का न्यूनतम स्तर </td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                पिछले 3 वर्षों में प्रवेश परीक्षा में कट-ऑफ प्रतिशत </td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>टेस्ट में प्राप्त अंक प्रदर्शित करें </td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                प्रबंधन कोटा सीटों के लिए प्रतिशत और प्रतिशत स्कोर के साथ आवेदन करने वाले उम्मीदवारों की सूची </td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>प्रबंधन कोटा सीटों के तहत प्रवेश का परिणाम </td>
                            <td>एन.ए.
                            </td>

                        </tr>
                        <tr>
                            <td>कक्षाओं की संख्या</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>ट्यूटोरियल रूम की संख्या और प्रत्येक का आकार</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td>प्रयोगशालाओं की संख्या</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>ड्राइंग हॉल की संख्या</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>कम्प्यूटर केन्द्रों की संख्या </td>
                            <td>
                                एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>केंद्रीय परीक्षा सुविधा, कमरों की संख्या और प्रत्येक की क्षमता</td>
                            <td><a href="students-corner.php">सभी कमरों के आकार की तालिका के लिए यहां क्लिक करें</a></td>
                        </tr>
                        <tr>
                            <td>
                                विकलांगों और बुजुर्ग व्यक्तियों के लिए बाधा-मुक्त निर्मित वातावरण </td>
                            <td>
                                उपलब्ध है</td>
                        </tr>
                        <tr>
                            <td>
                                अधिभोग प्रमाणपत्र</td>
                            <td>
                                हाँ</td>
                        </tr>
                        <tr>
                            <td>अग्नि एवं सुरक्षा प्रमाणपत्र </td>
                            <td>
                                हाँ</td>
                        </tr>
                        <tr>
                            <td>
                                उपलब्ध पुस्तकालय पुस्तकों/शीर्षक/पत्रिकाओं की संख्या </td>
                            <td>पुस्तकालय पुस्तकें: 3300 शीर्षक: 1000 पत्रिकाएँ: 8</td>
                        </tr>
                        <tr>
                            <td>सदस्यता प्राप्त ऑनलाइन राष्ट्रीय/अंतर्राष्ट्रीय पत्रिकाओं की सूची </td>
                            <td>उपलब्ध नहीं है</td>
                        </tr>
                        <tr>
                            <td>प्रत्येक प्रयोगशाला/कार्यशाला में प्रायोगिक सेटअप की सूची</td>
                            <td><a href="">तालिका के लिए यहां क्लिक करें</a></td>
                        </tr>
                        <tr>
                            <td>
                                इंटरनेट बैंडविड्थ </td>
                            <td>32Mbps</td>
                        </tr>
                        <tr>
                            <td>कम्प्यूटरों की संख्या </td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>LAN से जुड़े कंप्यूटरों की कुल संख्या</td>
                            <td>सभी कंप्यूटरों </td>
                        </tr>
                        <tr>
                            <td>
                                इनोवेशन सेल</td>
                            <td>नं</td>
                        </tr>
                        <tr>
                            <td>
                                सोशल मीडिया सेल </td>
                            <td>हां</td>
                        </tr>
                        <tr>
                            <td>ਰਾਸ਼ਟਰੀ ਅਕਾਦਮਿਕ ਡਿਪਾਜ਼ਟਰੀ ਦੀ ਪਾਲਣਾ, PGCM/PGDM ਸੰਸਥਾਵਾਂ 'ਤੇ ਲਾਗੂ
                            </td>
                            <td>नं</td>
                        </tr>
                        <tr>
                            <td>खेल और खेल सुविधाएं </td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>ਪੜਾਈ ਦੇ ਨਾਲ ਹੋਰ ਕੰਮ</td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>सॉफ्ट स्किल डेवलपमेंट सुविधाएं </td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>
                                प्रत्येक कार्यक्रम के लिए पाठ्यक्रम और सिलेबस </td>
                            <td><a href="http://www.punjabteched.com">punjabteched.com</a></td>
                        </tr>
                        <tr>
                            <td>
                                प्रत्येक संकाय व्याख्याता का शिक्षण</td>
                            <td>भार: वरिष्ठ व्याख्याता: विभागाध्यक्ष:</td>
                        </tr>
                        <tr>
                            <td>आंतरिक सतत मूल्यांकन प्रणाली </td>
                            <td>
                                उपलब्ध हैं
                            </td>
                        </tr>
                        <tr>
                            <td>छात्र का संकाय का मूल्यांकन, सिस्टम </td>
                            <td>
                                उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>पोस्ट ग्रेजुएट कोर्स</td>
                            <td>एन.ए.
                            </td>
                        </tr>
                        <tr>
                            <td>पुस्तकालय सुविधाएं</td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>सेमिनार हॉल</td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>
                                कैफेटेरिया</td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                        <tr>
                            <td>
                                आउटडोर खेल सुविधाएं </td>
                            <td>उपलब्ध हैं</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
