<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Admission Intake 2022-2023</div>
        <div class="pt-3">
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="">Sr. No</th>
                        <th> Name of Course</th>
                        <th colspan="2">No. of Seat Available for Admission in each course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2"></th>
                        <th>1st Year</th>
                        <th>LEET</th>
                    </tr>
                    <tr>
                        <th>1.</th>
                        <td>
                            Computer Science and Engineering
                        </td>
                        <td>47</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <th>2.</th>
                        <td>
                            Electrical Engineering
                        </td>
                        <td>45</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <th>3.</th>
                        <td>Electronic and Communication Engineering</td>
                        <td>28</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>4.</th>
                        <td>Mechanical Engineering</td>
                        <td>28</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <th>5.</th>
                        <td>Civil Engineering</td>
                        <td>7</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <th colspan="2">Total</th>
                        <th>155</th>
                        <th>108</th>
                    </tr>
                </tbody>
            </table>
            <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Admission Intake 2023-2024</div>
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="">Sr. No</th>
                        <th> Name of Course</th>
                        <th colspan="2">No. of Seat Available for Admission in each course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th colspan="2"></th>
                        <th>1st Year</th>
                        <th>LEET</th>
                    </tr>
                    <tr>
                        <th>1.</th>
                        <td>
                            Computer Science and Engineering
                        </td>
                        <td>44</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <th>2.</th>
                        <td>
                            Electrical Engineering
                        </td>
                        <td>56</td>
                        <td>35</td>
                    </tr>
                    <tr>
                        <th>3.</th>
                        <td>Electronic and Communication Engineering</td>
                        <td>37</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <th>4.</th>
                        <td>Mechanical Engineering</td>
                        <td>29</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <th>5.</th>
                        <td>Civil Engineering</td>
                        <td>11</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <th colspan="2">Total</th>
                        <th>177</th>
                        <th>138</th>
                    </tr>
                </tbody>
            </table>
        </div><br>
    </div>