<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Fees Structure</div>
        <div class="pt-3">
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col"> Name of Course</th>
                        <th scope="col">No. of Seat Available for<br> Admission in each course</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>1.</th>
                        <td>
                            <span class="fw-bold">Board charges</span> <br>
                            Registration charges (one-time) **
                        </td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th>2.</th>
                        <td>
                            <span class="fw-bold">Collection on behalf of institute</span> <br>
                            Tution fees (half yearly)
                        </td>
                        <td>11000</td>
                    </tr>
                    <tr>
                        <th>3.</th>
                        <td>Refundable security (one-time)</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <th>4.</th>
                        <td>Development fund (yearly)</td>
                        <td>3650</td>
                    </tr>
                    <tr>
                        <th>5.</th>
                        <td>Student activity fund (yearly)</td>
                        <td>2235</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Student activity fund (one-time)</td>
                        <td>265</td>
                    </tr>
                    <tr>
                        <td></td>
                        <th>Grand Total</th>
                        <td>18150</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>