<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
<div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        DEPARTMENT OF CIVIL ENGINEERING
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Mr. Dharam Singh</div>
                    <p class="card-text">Designation: HOD</p>
                    <!-- You can add a qualification here if available -->
                    <!-- Example: <p class="card-text">Qualification: PhD</p> -->
                    <p class="card-text">Mobile No.: 9464028495</p>
                </div>
                <!-- You can add an image here if you have one for Mr. Dharam Singh -->
                <!-- Example: <div class="col-md-5"><img src="path/to/dharam_singh_image.jpg" class="img-fluid img" alt="Mr. Dharam Singh"></div> -->
            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Mr. Sonjit Rahul</div>
                    <p class="card-text">Designation: Lecturer</p>
                    <p class="card-text">Qualification: M.Tech.(Structural Engg.) Pursuing</p>
                    <p class="card-text">Email: sonjit.rahul"&#64;yahoo.in</p>
                    <p class="card-text">Mobile No.: 9878729221</p>
                </div>
                <!-- You can add an image here if you have one for Mr. Sonjit Rahul -->
                <!-- Example: <div class="col-md-5"><img src="path/to/sonjit_rahul_image.jpg" class="img-fluid img" alt="Mr. Sonjit Rahul"></div> -->
            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Mr. Gurjeet Kumar</div>
                    <p class="card-text">Designation: Lecturer</p>
                    <p class="card-text">Qualification: M.Tech.(Structures)</p>
                    <p class="card-text">Email: paras.ptk2&#64;gmail.com</p>
                    <p class="card-text">Mobile No.: 8054776027</p>
                </div>
                <!-- You can add an image here if you have one for Mr. Gurjeet Kumar -->
                <!-- Example: <div class="col-md-5"><img src="path/to/gurjeet_kumar_image.jpg" class="img-fluid img" alt="Mr. Gurjeet Kumar"></div> -->
            </div>
        </div>
    </div><br>
</div></div>



<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਿਵਲ ਇੰਜਨੀਅਰਿੰਗ ਵਿਭਾਗ
        </div>
    
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ੍ਰੀ ਧਰਮ ਸਿੰਘ</div>
                        <p class="card-text">ਅਹੁਦਾ: HOD</p>
                        <!-- You can add a qualification here if available -->
                        <!-- Example: <p class="card-text">Qualification: PhD</p> -->
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 9464028495</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Dharam Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/dharam_singh_image.jpg" class="img-fluid img" alt="Mr. Dharam Singh"></div> -->
                </div>
            </div>
        </div>
    
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ੍ਰੀ ਸਨਜੀਤ ਰਾਹੁਲ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">ਯੋਗਤਾ: M.Tech. (ਸਟ੍ਰਕਚਰਲ ਇੰਜੀ.) ਦਾ ਪਿੱਛਾ ਕਰਨਾ</p>
                        <p class="card-text">ਈਮੇਲ: sonjit.rahul "yahoo.in</p>
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 9878729221
                            </p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Sonjit Rahul -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/sonjit_rahul_image.jpg" class="img-fluid img" alt="Mr. Sonjit Rahul"></div> -->
                </div>
            </div>
        </div>
    
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼੍ਰੀ ਗੁਰਜੀਤ ਕੁਮਾਰ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">
                            ਯੋਗਤਾ: M.Tech. (ਢਾਂਚਾ)</p>
                        <p class="card-text">ਈਮੇਲ: paras.ptk2&#64;gmail.com</p>
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 8054776027</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Gurjeet Kumar -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/gurjeet_kumar_image.jpg" class="img-fluid img" alt="Mr. Gurjeet Kumar"></div> -->
                </div>
            </div>
        </div><br>