<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
             Civil Engineering
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Dharam Singh</div>
                        <p class="card-text">Designation: HOD</p>
                        <!-- You can add a qualification here if available -->
                        <!-- Example: <p class="card-text">Qualification: PhD</p> -->
                        <p class="card-text">Mobile No.: 9464028495</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Dharam Singh -->
                    <div class="col-md-5
                    text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Dharam Singh"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Sonjit Rahul</div>
                        <p class="card-text">Designation: Lecturer</p>
                        <p class="card-text">Qualification: M.Tech.(Structural Engg.) Pursuing</p>
                        <p class="card-text">Email: sonjit.rahul"&#64;yahoo.in</p>
                        <p class="card-text">Mobile No.: 9878729221</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Sonjit Rahul -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Sonjit Rahul"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Gurjeet Kumar</div>
                        <p class="card-text">Designation: Lecturer</p>
                        <p class="card-text">Qualification: M.Tech.(Structures)</p>
                        <p class="card-text">Email: paras.ptk2&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 8054776027</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Gurjeet Kumar -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Gurjeet Kumar"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>



<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਿਵਲ ਇੰਜਨੀਅਰਿੰਗ
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ੍ਰੀ ਧਰਮ ਸਿੰਘ</div>
                        <p class="card-text">ਅਹੁਦਾ: HOD</p>
                        <!-- You can add a qualification here if available -->
                        <!-- Example: <p class="card-text">Qualification: PhD</p> -->
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 9464028495</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Dharam Singh -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Dharam Singh"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ੍ਰੀ ਸਨਜੀਤ ਰਾਹੁਲ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">ਯੋਗਤਾ: M.Tech. (ਸਟ੍ਰਕਚਰਲ ਇੰਜੀ.) ਦਾ ਪਿੱਛਾ ਕਰਨਾ</p>
                        <p class="card-text">ਈਮੇਲ: sonjit.rahul "yahoo.in</p>
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 9878729221
                        </p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Sonjit Rahul -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Sonjit Rahul"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼੍ਰੀ ਗੁਰਜੀਤ ਕੁਮਾਰ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">
                            ਯੋਗਤਾ: M.Tech. (ਢਾਂਚਾ)</p>
                        <p class="card-text">ਈਮੇਲ: paras.ptk2&#64;gmail.com</p>
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 8054776027</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Gurjeet Kumar -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Gurjeet Kumar"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>


<!---hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            सिविल इंजीनियरिंग
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री धर्म सिंह</div>
                        <p class="card-text">पदनाम: HOD</p>
                        <!-- You can add a qualification here if available -->
                        <!-- Example: <p class="card-text">Qualification: PhD</p> -->
                        <p class="card-text">
                            मोबाइल नंबर:  9464028495</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Dharam Singh -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Dharam Singh"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री सोनजीत राहुल</div>
                        <p class="card-text">
                            पदनाम: व्याख्याता</p>
                        <p class="card-text">योग्यता: M.Tech. (स्ट्रक्चरल इंजीनियरिंग) की पढ़ाई</p>
                        <p class="card-text">ईमेल: sonjit.rahul "yahoo.in</p>
                        <p class="card-text">
                            मोबाइल नंबर:  9878729221
                        </p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Sonjit Rahul -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid  rounded-circle img" alt="Mr. Sonjit Rahul"></div>
                </div>
            </div>
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री गुरजीत कुमार</div>
                        <p class="card-text">
                            पदनाम: व्याख्याता
                        </p>
                        <p class="card-text">
                            योग्यता: M.Tech. (स्ट्रक्चर्स)</p>
                        <p class="card-text">ईमेल: paras.ptk2&#64;gmail.com</p>
                        <p class="card-text">
                            मोबाइल नंबर: 8054776027</p>
                    </div>
                    <!-- You can add an image here if you have one for Mr. Gurjeet Kumar -->
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Gurjeet Kumar"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>
