<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container-fluid bg-red">
    <div class="container first">
      <footer class="text-center text-lg-start">
        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <div>
            <a href="https://www.facebook.com/people/Govt-Polytechnic-College-Talwara/100072280057031/"
              class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://gpctalwara.in/www.gmail.com" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="https://www.instagram.com/sass_gpc_talwara/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCTZuS5454Yt37oetFmEfZCg" class="me-4 text-reset">
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
        </div>
        <div class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5">
                  <i class="fa-solid fa-user-graduate"></i> SASS GPC Talwara
                </p>
                <p>
                  "Education is the most powerful weapon you can use to change the world." – Nelson Mandela

                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5">
                  <i class="fa-solid fa-link"></i> Useful Link
                </p>
                <p>
                  <a href="http://www.punjabteched.com/" class="text-decoration-none">PSBTE & IT</a>
                </p>
                <p>
                  <a href="http://www.dtepunjab.gov.in/" class="text-decoration-none">DTE</a>
                </p>
                <p>
                  <a href="https://ptu.ac.in/" class="text-decoration-none">IKGPTU</a>
                </p>
                <p>
                  <a href="http://www.punjab.gov.in/" class="text-decoration-none"> Punjab Government</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fa-solid fa-link"></i> Quick Access
                </h6>
                <p>
                  <a routerLink="/principal-message" (click)="scrollToTopAndCloseNavbar()"  class="text-decoration-none">Principal Message</a>
                </p>
                <p>
                  <a routerLink="/registration-portal" (click)="scrollToTopAndCloseNavbar()"  class="text-decoration-none">Registration Portal</a>
                </p>
                <p>
                  <a routerLink="/training-placement" (click)="scrollToTopAndCloseNavbar()"  class="text-decoration-none">Training and Placement Cell</a>
                </p>
                <p>
                  <a routerLink="/rules-discipline" (click)="scrollToTopAndCloseNavbar()"  class="text-decoration-none">College Rules</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-map-pin"></i> Contact</h6>
                <p><i class="fas fa-home me-3"></i> Sector-4, Talwara Township
                  Tehsil: Mukerian
                  District: Hoshiarpur
                  Pin Code: 144216</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  gpctalwara&#64;gmail.com
                </p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  gpctalwara&#64;punjab.gov.in
                </p>
                <p><i class="fas fa-phone me-3"></i> 01883-238222</p>

              </div>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
  <div class="container-fluid second">
    <div class="text-center p-2">
      Copyright © 2023 - All Rights Reserved
      <a class="text-decoration-none fw-bold " href="/">S. Amarjit Singh Sahi Government Polytechnic College,
        Talwara</a>
      <div class="py-1">Made With <a href="" class="text-decoration-none"> ❤</a></div>
    </div>
  </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container-fluid bg-red">
    <div class="container first">
      <footer class="text-center text-lg-start">
        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <span>
              ਸੋਸ਼ਲ ਨੈਟਵਰਕਸ 'ਤੇ ਸਾਡੇ ਨਾਲ ਜੁੜੋ:</span>
          </div>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <div class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5">
                  <i class="fa-solid fa-user-graduate"></i>ਜੀਪੀਸੀ ਤਲਵਾੜਾ
                </p>
                <p>
                  "ਸਿੱਖਿਆ ਸਭ ਤੋਂ ਸ਼ਕਤੀਸ਼ਾਲੀ ਹਥਿਆਰ ਹੈ ਜਿਸਦੀ ਵਰਤੋਂ ਤੁਸੀਂ ਦੁਨੀਆ ਨੂੰ ਬਦਲਣ ਲਈ ਕਰ ਸਕਦੇ ਹੋ." - ਨੈਲਸਨ ਮੰਡੇਲਾ
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5"> <i class="fa-solid fa-link"></i> 
                  ਉਪਯੋਗੀ ਲਿੰਕ
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">PSBTE ਅਤੇ ਆਈ.ਟੀ</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">ਡੀ.ਟੀ.ਈ</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">
                    ਆਈ.ਕੇ.ਜੀ.ਪੀ.ਟੀ.ਯੂ</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">ਪੰਜਾਬ ਸਰਕਾਰ</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"> <i class="fa-solid fa-link"></i> 
                  ਤੁਰੰਤ ਪਹੁੰਚ
                </h6>
                <p>
                  <a href="#!" class="text-decoration-none">
                    ਮੁੱਖ ਸੰਦੇਸ਼</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">ਰਜਿਸਟ੍ਰੇਸ਼ਨ ਪੋਰਟਲ</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਸੈੱਲ</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">ਕਾਲਜ ਦੇ ਨਿਯਮ</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-map-pin"></i> ਸੰਪਰਕ </h6>
                <p><i class="fas fa-home me-3"></i> ਸੈਕਟਰ-4, ਤਲਵਾੜਾ ਟਾਊਨਸ਼ਿਪ
                  ਤਹਿਸੀਲ: ਮੁਕੇਰੀਆਂ
                  ਜਿਲਾ: ਹੁਸ਼ਿਆਰਪੁਰ
                  ਪਿੰਨ ਕੋਡ: 144216</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    gpctalwara&#64;gmail.com
                  </p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    gpctalwara&#64;punjab.gov.in
                  </p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
  <div class="container-fluid second">
    <div class="text-center p-4">

      ਕਾਪੀਰਾਈਟ © 2019 - ਸਾਰੇ ਅਧਿਕਾਰ ਰਾਖਵੇਂ ਹਨ
      <a class="text-decoration-none fw-bold " href="">ਸ: ਅਮਰਜੀਤ ਸਿੰਘ ਸਾਹੀ ਸਰਕਾਰੀ ਬਹੁਤਕਨੀਕੀ ਕਾਲਜ,
        ਤਲਵਾੜਾ</a>
        <div class="py-1">ਨਾਲ ਬਣਾਇਆ ਗਿਆ<a href="" class="text-decoration-none"> ❤</a></div>
    </div>
  </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container-fluid bg-red">
    <div class="container first">
      <footer class="text-center text-lg-start">
        <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block">
            <span>
              सामाजिक नेटवर्क पर हमसे जुड़ें:</span>
          </div>
          <div>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
        <div class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5">
                  <i class="fa-solid fa-user-graduate"></i>
                  जीपीसी तलवाड़ा
                </p>
                <p>
                  "शिक्षा सबसे शक्तिशाली हथियार है जिसका उपयोग आप दुनिया को बदलने के लिए कर सकते हैं।" - नेल्सन मंडेला
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <p class="text-uppercase fw-bold mb-4 fs-5"> <i class="fa-solid fa-link"></i> 
                  उपयोगी लिंक

                </p>
                <p>
                  <a href="#!" class="text-decoration-none">पीएसबीटीई और आईटी</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">डीटीई</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">
                    आईकेजीपीटीयू</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">पंजाब सरकार</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4"> <i class="fa-solid fa-link"></i> 
                  त्वरित ऐक्सेस
                </h6>
                <p>
                  <a href="#!" class="text-decoration-none">
                    प्रधान संदेश</a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">
                    पंजीकरण पोर्टल
                  </a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">प्रशिक्षण एवं प्लेसमेंट सेल
                  </a>
                </p>
                <p>
                  <a href="#!" class="text-decoration-none">कॉलेज के नियम
                  </a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4"><i class="fa-solid fa-map-pin"></i> संपर्क</h6>
                <p><i class="fas fa-home me-3"></i> सेक्टर-4, तलवाड़ा टाउनशिप
                  तहसील: मुकेरियां
                  जिला: होशियारपुर
                  पिन कोड: 144216</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    gpctalwara&#64;gmail.com
                  </p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    gpctalwara&#64;punjab.gov.in
                  </p>
                <p><i class="fas fa-phone me-3"></i> 01883-238222</p>
              
              </div>
            </div>
          </div>
        </div>

      </footer>
    </div>
  </div>
  <div class="container-fluid second">
    <div class="text-center p-4">

      कॉपीराइट © 2019 - सर्वाधिकार सुरक्षित
      <a class="text-decoration-none fw-bold " href="">एस. अमरजीत सिंह साही गवर्नमेंट पॉलिटेक्निक कॉलेज, तलवाड़ा</a>
      <div class="py-1">के साथ बनाया <a href="" class="text-decoration-none"> ❤</a></div>
    </div>
  </div>
</div>