<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Electrical Engineering
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          Power Up Your Future: Master electrical engineering to spark innovation, from smart grids to renewable energy
          and intelligent machines. Design the electrifying world of tomorrow.
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/activites/ee.jpg" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> Electrical Engineering in a Nutshell</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold"> Fundamental concepts in electrical systems:</span> Electrical Engineering at our
            college emphasizes a solid foundation in principles such as circuit analysis, electromagnetism, and power
            systems.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Practical skills development:</span> The program ensures hands-on application
            through labs and projects, allowing students to translate theoretical knowledge into real-world solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Emphasis on sustainable practices:</span> Our electrical engineering curriculum
            integrates renewable energy systems, preparing students to address global energy challenges with innovative
            and sustainable solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Keeping pace with technological advancements:</span>Students engage with
            cutting-edge technologies, including smart grids, IoT, and automation, ensuring they are equipped for the
            evolving landscape of electrical engineering.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Integration with other engineering disciplines:</span>Electrical Engineering
            students collaborate across disciplines, fostering a holistic approach to problem-solving and preparing them
            for diverse career paths in technology and innovation.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              RDBMS and Programming Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Both RDBMS and Programming labs offer valuable learning
                experiences for students
                pursuing careers in computer science, IT, and related fields.
                RDBMS labs equip students
                with data management skills, while Programming labs hone their
                software development
                abilities.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Within the walls of a college computer science project lab,
                theory sheds its textbook veneer and transforms into tangible
                solutions. Students collaborate in this dedicated space, fueled
                by passion and diverse perspectives, to tackle hands-on projects
                - solo or team-based - that delve into various aspects of the
                field. They aren't just learning computer science; they're
                living it, navigating real-world challenges and pushing the
                boundaries of technology.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.jpg" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/activites/1.jpg" class="img-fluid" alt="">
  </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਇਲੈਕਟ੍ਰਿਕਲ ਇੰਜਿਨੀਰਿੰਗ
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      ਮਿਸ਼ਨ
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਮਿਸ਼ਨ ਗੁਣਵੱਤਾ ਇੰਜੀਨੀਅਰਿੰਗ ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
        ਮਿਲੋ
        ਦੀ
        ਗਲੋਬਲ ਸਟੈਂਡਰਡਾਂ ਨਾਲ ਮੇਲ ਖਾਂਦੀਆਂ ਤਕਨੀਕੀ ਤਰੱਕੀ ਅਤੇ ਉਦਯੋਗਿਕ ਲੋੜਾਂ।
      </div>
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      ਦਰਸ਼ਨ
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਵਿਜ਼ਨ ਵਿਸ਼ਵ ਨੂੰ ਸਾਫ਼-ਸੁਥਰਾ ਤਕਨੀਕੀ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
        ਸਿੱਖਿਆ
        ਨਾਲ
        ਦੀ
        ਨੌਜਵਾਨਾਂ ਨੂੰ ਜਾਗਰੂਕ ਨਾਗਰਿਕ ਬਣਾਉਣ ਦਾ ਉਦੇਸ਼, ਜੋ ਕਿ ਬਿਹਤਰੀ ਲਈ ਕੰਮ ਕਰਨਗੇ
        ਸਮਾਜ।
      </div>
    </div>

    <div class="fw-bold fs-2 red-title pt-3">ਗੁਣਵੱਤਾ ਨੀਤੀ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        ਮੁੱਲ ਅਧਾਰਤ ਕੁਆਲਿਟੀ ਐਜੂਕੇਸ਼ਨ ਪ੍ਰਦਾਨ ਕਰਨਾ ਅਤੇ ਯਕੀਨੀ ਬਣਾਉਣਾ ਅਤੇ ਨੌਜਵਾਨਾਂ ਦੀ ਅੰਦਰੂਨੀ ਪ੍ਰਤਿਭਾ ਨੂੰ ਢਾਲਣਾ
        ਹੁਨਰ
        ਲੋੜੀਂਦਾ ਹੈ
        ਤਕਨਾਲੋਜੀ ਦੀ ਗਤੀਸ਼ੀਲ ਅਤੇ ਉੱਚ ਮੁਕਾਬਲੇ ਵਾਲੀ ਦੁਨੀਆ ਵਿੱਚ।
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> ਇੱਕ ਸੰਖੇਪ ਵਿੱਚ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold"> ਬਿਜਲੀ ਪ੍ਰਣਾਲੀਆਂ ਵਿੱਚ ਬੁਨਿਆਦੀ ਧਾਰਨਾਵਾਂ:</span> ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਇਲੈਕਟ੍ਰੀਕਲ
            ਇੰਜੀਨੀਅਰਿੰਗ ਸਰਕਟ ਵਿਸ਼ਲੇਸ਼ਣ, ਇਲੈਕਟ੍ਰੋਮੈਗਨੈਟਿਜ਼ਮ, ਅਤੇ ਪਾਵਰ ਪ੍ਰਣਾਲੀਆਂ ਵਰਗੇ ਸਿਧਾਂਤਾਂ ਵਿੱਚ ਇੱਕ ਠੋਸ ਬੁਨਿਆਦ 'ਤੇ
            ਜ਼ੋਰ ਦਿੰਦੀ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਵਿਹਾਰਕ ਹੁਨਰ ਵਿਕਾਸ:</span>ਪ੍ਰੋਗਰਾਮ ਪ੍ਰਯੋਗਸ਼ਾਲਾਵਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਦੁਆਰਾ ਹੈਂਡ-ਆਨ
            ਐਪਲੀਕੇਸ਼ਨ ਨੂੰ ਯਕੀਨੀ ਬਣਾਉਂਦਾ ਹੈ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਅਸਲ-ਸੰਸਾਰ ਦੇ ਹੱਲਾਂ ਵਿੱਚ ਅਨੁਵਾਦ ਕਰਨ ਦੀ ਆਗਿਆ
            ਦਿੰਦਾ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਟਿਕਾਊ ਅਭਿਆਸਾਂ 'ਤੇ ਜ਼ੋਰ:</span> ਸਾਡਾ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪਾਠਕ੍ਰਮ ਨਵਿਆਉਣਯੋਗ ਊਰਜਾ
            ਪ੍ਰਣਾਲੀਆਂ ਨੂੰ ਏਕੀਕ੍ਰਿਤ ਕਰਦਾ ਹੈ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਨਵੀਨਤਾਕਾਰੀ ਅਤੇ ਟਿਕਾਊ ਹੱਲਾਂ ਨਾਲ ਗਲੋਬਲ ਊਰਜਾ ਚੁਣੌਤੀਆਂ ਨੂੰ ਹੱਲ
            ਕਰਨ ਲਈ ਤਿਆਰ ਕਰਦਾ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਤਕਨੀਕੀ ਤਰੱਕੀ ਨਾਲ ਤਾਲਮੇਲ ਰੱਖਣਾ:</span>ਵਿਦਿਆਰਥੀ ਸਮਾਰਟ ਗਰਿੱਡ, IoT, ਅਤੇ ਆਟੋਮੇਸ਼ਨ ਸਮੇਤ
            ਅਤਿ-ਆਧੁਨਿਕ ਤਕਨੀਕਾਂ ਨਾਲ ਜੁੜਦੇ ਹਨ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਂਦੇ ਹਨ ਕਿ ਉਹ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਦੇ ਵਿਕਾਸਸ਼ੀਲ ਲੈਂਡਸਕੇਪ ਲਈ
            ਲੈਸ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਹੋਰ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਨਾਲ ਏਕੀਕਰਣ:</span>ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਦੇ ਵਿਦਿਆਰਥੀ
            ਵਿਸ਼ਿਆਂ ਵਿੱਚ ਸਹਿਯੋਗ ਕਰਦੇ ਹਨ, ਸਮੱਸਿਆ ਦੇ ਹੱਲ ਲਈ ਇੱਕ ਸੰਪੂਰਨ ਪਹੁੰਚ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੇ ਹਨ ਅਤੇ ਉਹਨਾਂ ਨੂੰ ਤਕਨਾਲੋਜੀ
            ਅਤੇ ਨਵੀਨਤਾ ਵਿੱਚ ਵਿਭਿੰਨ ਕੈਰੀਅਰ ਮਾਰਗਾਂ ਲਈ ਤਿਆਰ ਕਰਦੇ ਹਨ।
          </li>
        </ul>
      </div>
    </div>
    <div class="fs-2 fw-semibold  red-title">ਟੀਚੇ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="text-start my-3">
        <ul>
          <li> <i class="fa-regular fa-hand-point-right"></i>ਅਨੁਸ਼ਾਸਿਤ ਰਚਨਾਤਮਕ ਅਤੇ ਗੁਣਵੱਤਾ ਪੈਦਾ ਕਰੋ
            ਇੰਜੀਨੀਅਰ|
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਹੈਂਡ-ਆਨ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
            ਇੰਜੀਨੀਅਰਿੰਗ
            ਅਨੁਭਵ
            ਪ੍ਰਯੋਗਸ਼ਾਲਾ ਕੋਰਸ ਅਤੇ ਪ੍ਰੋਜੈਕਟ ਦੁਆਰਾ|</li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿੱਚ ਉੱਦਮਤਾ ਦੀ ਭਾਵਨਾ ਪੈਦਾ ਕਰਨ ਲਈ
            ਵਿਦਿਆਰਥੀ।

          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਹਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਇੱਕ ਮਜ਼ਬੂਤ ​​​​ਨਾਲ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
            ਸੰਕਲਪਿਕ
            ਸਾਡੇ ਖੇਤਰ ਦੇ ਮੁੱਖ ਖੇਤਰਾਂ ਵਿੱਚ ਬੁਨਿਆਦ|
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i>
            ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਟੀਮਾਂ ਵਿੱਚ ਕੰਮ ਕਰਨ ਲਈ ਕੋਚ ਕਰਨਾ ਅਤੇ
            ਪ੍ਰਦਾਨ ਕਰਦੇ ਹਨ
            ਸੂਝ
            ਅਤੇ ਵਾਯੂਮੰਡਲ ਵਿੱਚ ਦਿਸ਼ਾ ਜਿਵੇਂ ਹੋ ਸਕਦਾ ਹੈ
            ਖੇਤਰ ਵਿੱਚ ਪੇਸ਼ੇਵਰਾਂ ਦੁਆਰਾ ਸਾਹਮਣਾ ਕੀਤਾ ਗਿਆ।</li>
        </ul>
      </div>
    </div>
    <div class="">
      <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
    </div>
  </div>
</div>

<!----hindi---->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      विद्युत अभियन्त्रण
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      उद्देश्य
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        इलेक्ट्रिकल इंजीनियरिंग विभाग का मिशन गुणवत्तापूर्ण इंजीनियरिंग शिक्षा प्रदान करना है
        मिलो

        तकनीकी प्रगति और औद्योगिक आवश्यकताएँ वैश्विक मानकों से मेल खाती हैं।
      </div>
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      दर्शन
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        इलेक्ट्रिकल इंजीनियरिंग विभाग का दृष्टिकोण विश्व को स्वच्छ तकनीकी प्रदान करना है
        शिक्षा
        साथ

        इसका उद्देश्य युवाओं को प्रबुद्ध नागरिक बनाना है, जो बेहतरी के लिए काम करेंगे
        समाज।
      </div>
    </div>

    <div class="fw-bold fs-2 red-title pt-3">गुणवत्ता नीति</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        मूल्य आधारित गुणवत्तापूर्ण शिक्षा प्रदान करना और सुनिश्चित करना तथा युवाओं की अंतर्निहित प्रतिभा को ढालना
        कौशल
        आवश्यक
        प्रौद्योगिकी की गतिशील और अत्यधिक प्रतिस्पर्धी दुनिया में।
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> संक्षेप में इलेक्ट्रिकल इंजीनियरिंग</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold"> विद्युत प्रणालियों में मौलिक अवधारणाएँ:</span>
            हमारे कॉलेज में इलेक्ट्रिकल इंजीनियरिंग सर्किट विश्लेषण, विद्युत चुंबकत्व और बिजली प्रणालियों जैसे
            सिद्धांतों में एक ठोस आधार पर जोर देती है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">व्यावहारिक कौशल विकास:</span> कार्यक्रम प्रयोगशालाओं और परियोजनाओं के माध्यम से
            व्यावहारिक अनुप्रयोग सुनिश्चित करता है, जिससे छात्रों को सैद्धांतिक ज्ञान को वास्तविक दुनिया के समाधानों में
            अनुवाद करने की अनुमति मिलती है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">टिकाऊ प्रथाओं पर जोर:</span> हमारा इलेक्ट्रिकल इंजीनियरिंग पाठ्यक्रम नवीकरणीय
            ऊर्जा प्रणालियों को एकीकृत करता है, छात्रों को नवीन और टिकाऊ समाधानों के साथ वैश्विक ऊर्जा चुनौतियों का
            समाधान करने के लिए तैयार करता है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">तकनीकी प्रगति के साथ तालमेल बनाए रखना:</span>छात्र स्मार्ट ग्रिड, IoT और ऑटोमेशन
            सहित अत्याधुनिक तकनीकों से जुड़ते हैं, जिससे यह सुनिश्चित होता है कि वे इलेक्ट्रिकल इंजीनियरिंग के विकसित
            परिदृश्य के लिए सुसज्जित हैं।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">अन्य इंजीनियरिंग विषयों के साथ एकीकरण:</span>इलेक्ट्रिकल इंजीनियरिंग के छात्र
            विभिन्न विषयों में सहयोग करते हैं, समस्या-समाधान के लिए एक समग्र दृष्टिकोण को बढ़ावा देते हैं और उन्हें
            प्रौद्योगिकी और नवाचार में विविध कैरियर पथों के लिए तैयार करते हैं।
          </li>
        </ul>
      </div>
    </div>
    <div class="fs-2 fw-semibold  red-title">लक्ष्य</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="text-start my-3">
        <ul>
          <li> <i class="fa-regular fa-hand-point-right"></i>अनुशासित रचनात्मक एवं गुणवत्तापूर्ण उत्पादन करें
            अभियंता।
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> विद्यार्थियों को व्यवहारिक सहायता प्रदान करना
            अभियांत्रिकी
            अनुभव
            प्रयोगशाला पाठ्यक्रमों और परियोजना के माध्यम से।</li>
          <li> <i class="fa-regular fa-hand-point-right"></i> उद्यमिता की भावना को विकसित करना
            छात्र|

          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> प्रत्येक छात्र को एक मजबूत सुविधा प्रदान करना
            वैचारिक
            हमारे क्षेत्र के मुख्य क्षेत्रों में फाउंडेशन।
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i>
            छात्रों को टीमों में काम करने के लिए प्रशिक्षित करना और
            उपलब्ध करवाना
            अंतर्दृष्टि
            और वातावरण में दिशा, जैसा कि हो सकता है
            क्षेत्र में पेशेवरों द्वारा सामना किया गया।</li>
        </ul>
      </div>
    </div>
    <div class="">
      <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
    </div>
  </div>
</div>