<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            DEPARTMENT OF ELECTRICAL ENGINEERING
        </div>
        <p>
            MISSION
        </p>
        <p>
            The mission of the Electrical Engineering Department is to impart quality Engineering Education to meet the
            Technological advances and Industrial requirements matching with Global Standards.

        </p>
        <p>VISION</p>
        <p>
            The vision of the Electrical Engineering Department is to provide world clean technical education with the
            objective of molding the youth into enlightened citizens, who will work for the betterment of society.
        </p>

        <p>
            QUALITY POLICY
        </p>
        <p>
            To impart and ensure value based Quality Education and mould the inherent talent of youth into skills
            required
            in the dynamic and highly competitive world of technology.
        </p>
        <p>GOALS</p>
        <ul>
            <li> <i class="fa-regular fa-hand-point-right"></i> Produce disciplined creative and quality engineer</li>
            <li> <i class="fa-regular fa-hand-point-right"></i> To provide students with hands-on engineering experience
                through laboratory courses & project.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i> To cultivate entrepreneurship spirit in students.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i> To provide every student with a strong conceptual
                foundation in the core areas of our field.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i> To coach students to work in teams and provide insight
                and direction into the atmosphere as might be
                encountered by professionals in the field.</li>
        </ul>

    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>