<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
             Electrical Engineering
        </div>
        <div class="py-3">
            <div class="row">
                <p class="fs-5 fw-semibold  red-title">
                    Mission
                </p>
                <p>
                    The mission of the Electrical Engineering Department is to impart quality Engineering Education to
                    meet
                    the
                    Technological advances and Industrial requirements matching with Global Standards.

                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">Vission</p>
                    <p>
                        The vision of the Electrical Engineering Department is to provide world clean technical
                        education
                        with
                        the
                        objective of molding the youth into enlightened citizens, who will work for the betterment of
                        society.
                    </p>

                    <p class="fs-5 fw-semibold  red-title">
                        Quality Policy
                    </p>
                    <p>
                        To impart and ensure value based Quality Education and mould the inherent talent of youth into
                        skills
                        required
                        in the dynamic and highly competitive world of technology.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ee.png" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">Goals</p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> Produce disciplined creative and quality
                    engineer
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To provide students with hands-on
                    engineering
                    experience
                    through laboratory courses & project.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To cultivate entrepreneurship spirit in
                    students.
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To provide every student with a strong
                    conceptual
                    foundation in the core areas of our field.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To coach students to work in teams and
                    provide
                    insight
                    and direction into the atmosphere as might be
                    encountered by professionals in the field.</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜਨੀਅਰਿੰਗ 
        </div>
        <div class="py-3">
            <div class="row">
                <p class="fs-5 fw-semibold  red-title">

                    ਮਿਸ਼ਨ
                </p>
                <p>
                    ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਮਿਸ਼ਨ ਮਿਆਰੀ ਇੰਜੀਨੀਅਰਿੰਗ ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
                    ਮਿਲੋ
                    ਦੀ
                    ਗਲੋਬਲ ਸਟੈਂਡਰਡਾਂ ਨਾਲ ਮੇਲ ਖਾਂਦੀਆਂ ਤਕਨੀਕੀ ਤਰੱਕੀ ਅਤੇ ਉਦਯੋਗਿਕ ਲੋੜਾਂ।
                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">ਦਰਸ਼ਨ</p>
                    <p>
                        ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਵਿਜ਼ਨ ਵਿਸ਼ਵ ਨੂੰ ਸਾਫ਼-ਸੁਥਰਾ ਤਕਨੀਕੀ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
                        ਸਿੱਖਿਆ
                        ਨਾਲ
                        ਦੀ
                        ਨੌਜਵਾਨਾਂ ਨੂੰ ਜਾਗਰੂਕ ਨਾਗਰਿਕ ਬਣਾਉਣ ਦਾ ਉਦੇਸ਼, ਜੋ ਕਿ ਬਿਹਤਰੀ ਲਈ ਕੰਮ ਕਰਨਗੇ
                        ਸਮਾਜ।

                    </p>

                    <p class="fs-5 fw-semibold  red-title">
                        ਗੁਣਵੱਤਾ ਨੀਤੀ
                    </p>
                    <p>
                        ਮੁੱਲ ਅਧਾਰਤ ਕੁਆਲਿਟੀ ਐਜੂਕੇਸ਼ਨ ਪ੍ਰਦਾਨ ਕਰਨਾ ਅਤੇ ਯਕੀਨੀ ਬਣਾਉਣਾ ਅਤੇ ਨੌਜਵਾਨਾਂ ਦੀ ਅੰਦਰੂਨੀ ਪ੍ਰਤਿਭਾ ਨੂੰ
                        ਢਾਲਣਾ
                        ਹੁਨਰ
                        ਲੋੜੀਂਦਾ ਹੈ
                        ਤਕਨਾਲੋਜੀ ਦੀ ਗਤੀਸ਼ੀਲ ਅਤੇ ਉੱਚ ਮੁਕਾਬਲੇ ਵਾਲੀ ਦੁਨੀਆ ਵਿੱਚ।
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ee.png" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">ਟੀਚੇ</p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਅਨੁਸ਼ਾਸਿਤ ਰਚਨਾਤਮਕ ਅਤੇ ਗੁਣਵੱਤਾ ਪੈਦਾ ਕਰੋ
                    ਇੰਜੀਨੀਅਰ
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਹੈਂਡ-ਆਨ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
                    ਇੰਜੀਨੀਅਰਿੰਗ
                    ਅਨੁਭਵ
                    ਪ੍ਰਯੋਗਸ਼ਾਲਾ ਕੋਰਸ ਅਤੇ ਪ੍ਰੋਜੈਕਟ ਦੁਆਰਾ.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿੱਚ ਉੱਦਮਤਾ ਦੀ ਭਾਵਨਾ ਪੈਦਾ ਕਰਨ ਲਈ
                    ਵਿਦਿਆਰਥੀ।
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਹਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਇੱਕ ਮਜ਼ਬੂਤ ​​​​ਨਾਲ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
                    ਸੰਕਲਪਿਕ
                    ਸਾਡੇ ਖੇਤਰ ਦੇ ਮੁੱਖ ਖੇਤਰਾਂ ਵਿੱਚ ਬੁਨਿਆਦ.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i>ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਟੀਮਾਂ ਵਿੱਚ ਕੰਮ ਕਰਨ ਲਈ ਕੋਚ ਕਰਨਾ ਅਤੇ
                    ਪ੍ਰਦਾਨ ਕਰਦੇ ਹਨ
                    ਸੂਝ
                    ਅਤੇ ਵਾਯੂਮੰਡਲ ਵਿੱਚ ਦਿਸ਼ਾ ਜਿਵੇਂ ਹੋ ਸਕਦਾ ਹੈ
                    ਖੇਤਰ ਵਿੱਚ ਪੇਸ਼ੇਵਰਾਂ ਦੁਆਰਾ ਸਾਹਮਣਾ ਕੀਤਾ ਗਿਆ।</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਪਿਛਲਾ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਅਗਲਾ</span>
            </button>
        </div>
    </div>
</div>



<!---hindi---->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            इलेक्ट्रिकल इंजीनियरिंग 
        </div>
        <div class="py-3">
            <div class="row">
                <p class="fs-5 fw-semibold  red-title">

                    उद्देश्य </p>
                <p>
                    इलेक्ट्रिकल इंजीनियरिंग विभाग का मिशन वैश्विक मानकों के अनुरूप तकनीकी प्रगति और औद्योगिक आवश्यकताओं
                    को पूरा करने के लिए गुणवत्तापूर्ण इंजीनियरिंग शिक्षा प्रदान करना है।
                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">दर्शन</p>
                    <p>
                        इलेक्ट्रिकल इंजीनियरिंग विभाग का दृष्टिकोण युवाओं को प्रबुद्ध नागरिकों में ढालने के उद्देश्य से
                        विश्व स्वच्छ तकनीकी शिक्षा प्रदान करना है, जो समाज की भलाई के लिए काम करेंगे।

                    </p>

                    <p class="fs-5 fw-semibold  red-title">
                        गुणवत्ता नीति
                    </p>
                    <p>

                        मूल्य आधारित गुणवत्तापूर्ण शिक्षा प्रदान करना और सुनिश्चित करना और युवाओं की अंतर्निहित प्रतिभा
                        को प्रौद्योगिकी की गतिशील और अत्यधिक प्रतिस्पर्धी दुनिया में आवश्यक कौशल में ढालना।

                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ee.png" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">लक्ष्य</p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> अनुशासित रचनात्मक और गुणवत्तापूर्ण इंजीनियर तैयार करें

                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i>प्रयोगशाला पाठ्यक्रमों और परियोजना के माध्यम से छात्रों को व्यावहारिक इंजीनियरिंग अनुभव प्रदान करना।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> छात्रों में उद्यमिता की भावना पैदा करना।
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i>प्रत्येक छात्र को हमारे क्षेत्र के मुख्य क्षेत्रों में एक मजबूत वैचारिक आधार प्रदान करना।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i>छात्रों को टीमों में काम करने के लिए प्रशिक्षित करना और क्षेत्र में पेशेवरों द्वारा सामना किए जा सकने वाले माहौल में अंतर्दृष्टि और दिशा प्रदान करना।</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पिछला</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पहला</span>
            </button>
        </div>
    </div>
</div>