<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <!-- poly-edu-start -->
  <div class="container-fluid mx-auto bg-body-tertiary">
    <div class="container text-center">
      <div class="fs-1 red-title py-3 fw-semibold">
        Polytechnic Education
      </div>
      <div class="fs-3 lh-lg fw-lighter">
        Polytechnic means giving instruction in a number of arts and sciences with special regard for their use in
        making a living. Polytechnic is an institute in which technologies that are based on mathematical & scientific
        basis such as engineering and other applied sciences are taught. Polytechnic education provides career based
        education. The choice of a career is possibly one of the most critical decisions in one's life. It shapes the
        future and determines the life style. The rapid race of technological development and its increasing adoption by
        industry have led to growing complexity of industrial activity.
      </div>
      <div class="py-3">
        <img src="../../../assets/images/used/web-use/poly.webp" class="img-fluid shadow rounded" alt="">
      </div>
    </div>
  </div>
  <!-- poly-edu-end -->
  <!-- anti-ragging -->
  <div class="container text-center">
    <div class="fs-1 red-title py-3 fw-semibold">
      Anti-Ragging
    </div>
    <div class="fs-3 lh-lg fw-lighter">
      The college strictly prohibits ragging, including verbal or physical mistreatment of freshers. Offenders face
      dismissal. Any disruptive activities causing annoyance, hardship, or harm, whether physical or psychological,
      will result in disciplinary action. The college is committed to maintaining a safe and inclusive environment for
      all students. <a href="" class="text-decoration-none red-title"> For More information</a>
    </div>
    <div class="py-3">
      <img src="../../../assets/images/used/web-use/ragging.webp" class="img-fluid shadow rounded" alt="">
    </div>
  </div>
  <!-- anti-ragging -->
  <!-- news -->
  <div class="container-fluid bg-body-tertiary">
    <app-news></app-news>
  </div>
  <!-- news -->
  <!-- academic -->
  <div class="container-fluid">
    <div class="container text-center">
      <div class="fs-1 red-title py-3 fw-semibold">
        Academics
      </div>
      <div class="fs-3 lh-lg fw-lighter">
        Preparing students to make meaningful contributions to society as engaged citizens and leaders in a complex
        world
      </div>
      <div class="row py-3">
        <div class="col-md-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="red-title text-decoration-none">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="red-title text-decoration-none">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="red-title text-decoration-none">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="fs-1 red-title py-3 fw-semibold">
        Seven schools in which to pursue your passions
      </div>
      <div class="row py-3">
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">CSE</div>
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">EE</div>
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">ECE </div>
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">ME </div>
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">CE </div>
        <div class="col-md-2 border-3 border-effect border-start border-end fs-3">AS</div>
      </div>
      <div class="btn btn-red btn-lg text-decoration-none my-3 px-5">More About Academics</div>
    </div>
  </div>
  <!-- acadmic -->
  <!-- overlay-img -->
  <div class="img-container">
    <img src="../../../assets/images/used/building/16.webp" class="img-fluid" alt="">
    <div class="overlay-text">Your Text Here</div>
  </div>
  <!-- overlay-img -->
  <!-- reserch -->
  <div class="container-fluid bg-body-tertiary">
    <div class="container text-center">
      <div class="fs-1 red-title py-3 fw-semibold">
        Research
      </div>
      <div class="fs-3 lh-lg fw-lighter py-3">
        Driving discoveries vital to our world, our health, and our intellectual life
      </div>
      <div class="border-bottom border-top border-danger py-3 border-2">
        <div class="row">
          <div class="col-md-4">
            <div class="fw-semibold fs-4">15 Institutes</div>
            <div class="fs-5">cross disciplinary boundaries</div>
          </div>
          <div class="col-md-4">
            <div class="fw-semibold fs-4">15 Institutes</div>
            <div class="fs-5">cross disciplinary boundaries</div>
          </div>
          <div class="col-md-4">
            <div class="fw-semibold fs-4">15 Institutes</div>
            <div class="fs-5">cross disciplinary boundaries</div>
          </div>
        </div>
      </div>
      <div class="btn btn-red btn-lg text-decoration-none my-3 px-5">More About Academics</div>
    </div>
  </div>
  <!-- reserch -->
  <!-- campus life -->
  <div class="container text-center">
    <div class="fs-1 red-title py-3 fw-semibold">
      Campus Life
    </div>
    <div class="fs-3 lh-lg fw-lighter">
      Building a vibrant community of creative and accomplished people from around the world
    </div>
    <div class="row py-3">
      <div class="col-md-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="red-title text-decoration-none">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="red-title text-decoration-none">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="red-title text-decoration-none">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <div class="btn btn-red btn-lg text-decoration-none my-3 px-5">More About Academics</div>
  </div>
  <!-- campus life -->
  <!-- admission -->
  <div class="container-fluid bg-body-tertiary">
    <div class="container text-center">
      <div class="fs-1 red-title py-3 fw-semibold">
        Admission
      </div>
      <div class="fs-3 lh-lg fw-lighter">
        Offering extraordinary freedom to explore, to collaborate, and to challenge yourself
      </div>
      <div class="py-3">
        <img src="../../../assets/images/used/web-use/ragging.webp" class="img-fluid shadow rounded" alt="">
      </div>
      <div class="row text-start">
        <div class="col-md-6">
          <div class="fw-semibold fs-4">
            Explore the possibilities of a Stanford education as you map out your college journey.
          </div>
          <div class="fs-5">
            We look for distinctive students who exhibit an abundance of energy and curiosity in their classes,
            activities, projects, research, and lives.
          </div>
        </div>
        <div class="col-md-6">
          <div class="fw-semibold fs-4">
            Explore the possibilities of a Stanford education as you map out your college journey.
          </div>
          <div class="fs-5">
            We look for distinctive students who exhibit an abundance of energy and curiosity in their classes,
            activities, projects, research, and lives.
          </div>
        </div>
      </div>
      <div class="btn btn-red btn-lg text-decoration-none my-3 px-5">More About Academics</div>
    </div>
  </div>
  <!-- admission -->
  <!-- last-img -->
  <div>
    <img src="../../../assets/images/used/new-img/3.webp" class="img-fluid" alt="">
  </div>
  <!-- last-img -->
</div>

<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container-fluid mx-auto bg-body-tertiary">
    <div class="container text-center">
      <div class="fw-semibold fs-1 py-3 red-title">
        ਪੌਲੀਟੈਕਨਿਕ ਸਿੱਖਿਆ</div>
      <div class="fs-3 lh-lg fw-lighter">ਦਾ ਅਰਥ ਹੈ ਕਈ ਕਲਾਵਾਂ ਅਤੇ ਵਿਗਿਆਨਾਂ ਵਿੱਚ ਉਨ੍ਹਾਂ ਦੀ ਰੋਜ਼ੀ-ਰੋਟੀ ਕਮਾਉਣ ਵਿੱਚ ਵਰਤੋਂ ਲਈ
        ਵਿਸ਼ੇਸ਼ ਧਿਆਨ ਦੇ ਨਾਲ ਹਦਾਇਤਾਂ ਦੇਣਾ। ਪੌਲੀਟੈਕਨਿਕ ਇੱਕ ਅਜਿਹਾ ਇੰਸਟੀਚਿਊਟ ਹੈ ਜਿਸ ਵਿੱਚ ਗਣਿਤ ਅਤੇ ਵਿਗਿਆਨਕ ਆਧਾਰ 'ਤੇ
        ਆਧਾਰਿਤ ਤਕਨੀਕਾਂ ਜਿਵੇਂ ਕਿ ਇੰਜੀਨੀਅਰਿੰਗ ਅਤੇ ਹੋਰ ਉਪਯੁਕਤ ਵਿਗਿਆਨ ਪੜ੍ਹਾਏ ਜਾਂਦੇ ਹਨ। ਪੌਲੀਟੈਕਨਿਕ ਸਿੱਖਿਆ ਕੈਰੀਅਰ
        ਅਧਾਰਤ
        ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਦੀ ਹੈ। ਕਰੀਅਰ ਦੀ ਚੋਣ ਸੰਭਵ ਤੌਰ 'ਤੇ ਕਿਸੇ ਦੇ ਜੀਵਨ ਦੇ ਸਭ ਤੋਂ ਮਹੱਤਵਪੂਰਨ ਫੈਸਲਿਆਂ ਵਿੱਚੋਂ ਇੱਕ ਹੈ।
        ਇਹ ਭਵਿੱਖ ਨੂੰ ਆਕਾਰ ਦਿੰਦਾ ਹੈ ਅਤੇ ਜੀਵਨ ਸ਼ੈਲੀ ਨੂੰ ਨਿਰਧਾਰਤ ਕਰਦਾ ਹੈ। ਤਕਨੀਕੀ ਵਿਕਾਸ ਦੀ ਤੇਜ਼ ਦੌੜ ਅਤੇ ਉਦਯੋਗਾਂ
        ਦੁਆਰਾ
        ਇਸਦੀ ਵੱਧ ਰਹੀ ਗੋਦ ਨੇ ਉਦਯੋਗਿਕ ਗਤੀਵਿਧੀਆਂ ਦੀ ਵਧਦੀ ਗੁੰਝਲਤਾ ਨੂੰ ਜਨਮ ਦਿੱਤਾ ਹੈ।
      </div>
      <div class="py-3">
        <img src="../../../assets/images/used/web-use/poly.webp" alt="" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="container text-center">
    <div class="fw-semibold fs-1 py-3 red-title">ਐਂਟੀ-ਰੈਗਿੰਗ</div>
    <div class="fs-3 lh-lg fw-lighter">ਕਿਸੇ ਵੀ ਵਿਦਿਆਰਥੀ ਜਾਂ ਵਿਦਿਆਰਥੀ ਦੁਆਰਾ ਕੋਈ ਵੀ ਵਿਵਹਾਰ ਭਾਵੇਂ ਬੋਲੇ ​​ਗਏ ਜਾਂ ਲਿਖੇ ਸ਼ਬਦਾਂ
      ਦੁਆਰਾ ਜਾਂ
      ਕਿਸੇ
      ਅਜਿਹੇ ਕੰਮ ਦੁਆਰਾ ਜਿਸ ਨਾਲ ਕਿਸੇ ਨਵੇਂ ਵਿਦਿਆਰਥੀ ਜਾਂ ਕਿਸੇ ਹੋਰ ਵਿਦਿਆਰਥੀ ਨਾਲ ਛੇੜਛਾੜ, ਵਿਵਹਾਰ ਜਾਂ ਬੇਰਹਿਮੀ ਨਾਲ ਪੇਸ਼
      ਆਉਣ ਦਾ ਪ੍ਰਭਾਵ ਹੋਵੇ। ਕਾਲਜ ਵਿੱਚ ਰੈਗਿੰਗ ਵਿਰੁੱਧ ਕਾਰਵਾਈ ਲਈ ਹੇਠ ਲਿਖੇ ਉਪਬੰਧ ਹਨ: ਕਿਸੇ ਵੀ ਵਿਦਿਅਕ ਸੰਸਥਾ ਦੇ ਅੰਦਰ
      ਜਾਂ
      ਬਾਹਰ ਰੈਗਿੰਗ ਦੀ ਮਨਾਹੀ ਹੈ। ਜੋ ਕੋਈ ਵੀ ਸੰਸਥਾ ਦੇ ਅੰਦਰ ਜਾਂ ਬਾਹਰ ਰੈਗਿੰਗ ਕਰਦਾ ਹੈ, ਹਿੱਸਾ ਲੈਂਦਾ ਹੈ ਜਾਂ ਪ੍ਰਚਾਰਦਾ
      ਹੈ,
      ਉਸ ਨੂੰ ਸਜ਼ਾ ਦਿੱਤੀ ਜਾਵੇਗੀ। ਰੈਗਿੰਗ ਦੇ ਅਪਰਾਧ ਲਈ ਦੋਸ਼ੀ ਪਾਏ ਜਾਣ ਵਾਲੇ ਕਿਸੇ ਵੀ ਵਿਦਿਆਰਥੀ ਨੂੰ ਕਾਲਜ ਤੋਂ ਬਰਖਾਸਤ ਕਰ
      ਦਿੱਤਾ ਜਾਵੇਗਾ। ਕਿਸੇ ਵੀ ਵਿਦਿਆਰਥੀ ਜਾਂ ਵਿਦਿਆਰਥੀ ਦੁਆਰਾ ਹੰਗਾਮੇ ਜਾਂ ਅਨੁਸ਼ਾਸਿਤ ਗਤੀਵਿਧੀਆਂ ਵਿੱਚ ਸ਼ਾਮਲ ਹੋਣਾ ਜਿਸ ਨਾਲ
      ਕਿਸੇ ਨਵੇਂ ਵਿਦਿਆਰਥੀ ਜਾਂ ਕਿਸੇ ਹੋਰ ਵਿਦਿਆਰਥੀ ਵਿੱਚ ਪਰੇਸ਼ਾਨੀ, ਤੰਗੀ, ਸਰੀਰਕ ਜਾਂ ਮਨੋਵਿਗਿਆਨਕ ਨੁਕਸਾਨ ਜਾਂ ਡਰ ਜਾਂ ਡਰ
      ਪੈਦਾ ਕਰਨ ਦੀ ਸੰਭਾਵਨਾ ਹੈ ਜਾਂ ਹੋਣ ਦੀ ਸੰਭਾਵਨਾ ਹੈ।
      <a href="" class="text-decoration-none red-title">ਹੋਰ ਜਾਣਕਾਰੀ ਲਈ</a>
    </div>
    <div class="py-3">
      <img src="../../../assets/images/used/web-use/ragging.webp" alt="" class="img-fluid">
    </div>
  </div>
  <div class="container-fluid bg-body-tertiary">
    <app-news></app-news>
  </div>

  <!--news-->
  <!----academic---->
  <div class="container-fluid">
    <div class="container text-center">
      <div class="fs-1 red-title py-3 fw-semibold">
        ਅਕਾਦਮਿਕ
      </div>
      <div class="fs-3 lh-lg fw-lighter">
        ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇੱਕ ਕੰਪਲੈਕਸ ਵਿੱਚ ਰੁੱਝੇ ਹੋਏ ਨਾਗਰਿਕਾਂ ਅਤੇ ਨੇਤਾਵਾਂ ਵਜੋਂ ਸਮਾਜ ਵਿੱਚ ਸਾਰਥਕ ਯੋਗਦਾਨ ਪਾਉਣ ਲਈ ਤਿਆਰ ਕਰਨਾ
        ਸੰਸਾਰ
      </div>
      <div class="row py-3">
        <div class="col-md-4">
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ਕਾਰਡ ਦਾ ਸਿਰਲੇਖ</h5>
              <p class="card-text">ਕਾਰਡ ਦੇ ਸਿਰਲੇਖ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਕਾਰਡ ਦੇ ਵੱਡੇ ਹਿੱਸੇ ਨੂੰ ਬਣਾਉਣ ਲਈ ਕੁਝ ਤੇਜ਼ ਉਦਾਹਰਨ ਟੈਕਸਟ
                ਸਮੱਗਰੀ|</p>
              <a href="#" class="red-title text-decoration-none">ਕਿਤੇ ਜਾਓ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <img src="../../../assets/images/used/building/16.webp" class="img-fluid" alt="">
  </div><br>


  <!---hindi--->
  <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../assets/images/used/web-use/poly.webp" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
              <div class="fw-bold fs-3 red-title">
                पॉलिटेक्निक शिक्षा</div>
              <p class="">पॉलिटेक्निक का अर्थ है कई कलाओं और विज्ञानों में विशेष शिक्षा देना
                उनके प्रति सम्मान
                जीविकोपार्जन में उपयोग करें। पॉलिटेक्निक एक ऐसा संस्थान है जिसमें प्रौद्योगिकियों पर आधारित है
                गणितीय और वैज्ञानिक आधार जैसे इंजीनियरिंग और अन्य व्यावहारिक विज्ञान पढ़ाए जाते हैं।
                पॉलिटेक्निक शिक्षा कैरियर आधारित शिक्षा प्रदान करती है। कॅरियर का चुनाव संभव है
                में से एक

                किसी के जीवन के सबसे महत्वपूर्ण निर्णय। यह भविष्य को आकार देता है और जीवन शैली को निर्धारित करता है।

                तेज़
                तकनीकी विकास की दौड़ और उद्योग द्वारा इसके बढ़ते अपनाने के कारण
                बढ़ रही है
                औद्योगिक गतिविधि की जटिलता.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-5 mb-5">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="fw-bold fs-3 red-title">
                रैगिंग के विरोध</div>
              <p class="">किसी छात्र या छात्रा द्वारा किया गया कोई भी आचरण चाहे बोले गए या लिखित शब्दों द्वारा या किसी
                द्वारा
                ऐसा कार्य जिसमें किसी नए व्यक्ति या किसी को चिढ़ाने, उसके साथ व्यवहार करने या उसके साथ अशिष्ट व्यवहार
                करने
                का प्रभाव हो
                अन्य
                विद्यार्थी।
                कॉलेज में रैगिंग के खिलाफ कार्रवाई के लिए निम्नलिखित प्रावधान हैं: रैगिंग भीतर या
                बाहर
                किसी भी शैक्षणिक संस्थान का प्रवेश वर्जित है। जो कोई भी प्रतिबद्ध है, भाग लेता है, या
                प्रसारित
                संस्थान के भीतर या बाहर रैगिंग करने पर दंडित किया जाएगा। किसी भी छात्र को किसी अपराध का दोषी ठहराया गया
                का
                रैगिंग को कॉलेज से बर्खास्त कर दिया जाएगा।
                किसी छात्र या छात्रा द्वारा उपद्रवी या अनुशासित गतिविधियों में शामिल होना जो या का कारण बनता है
                है
                झुंझलाहट, कठिनाई, शारीरिक या मनोवैज्ञानिक हानि या भय उत्पन्न होने की संभावना है
                किसी भी नए छात्र या किसी अन्य छात्र में इसकी आशंका।
              </p>
              <div class="text-center">
                <a class="btn btn-red text-decoration-none" href="http://www.antiragging.in/">अधिक जानकारी के लिए
                </a>
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/web-use/ragging.webp" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>

      <app-news></app-news>
    </div>
    <div class="">
      <img src="../../../assets/images/used/building/16.webp" class="img-fluid" alt="">
    </div>
  </div>