:host .red-title {
    color: #b1040e;
  }
  .dark-mode .border-danger{
    border-color: #fff !important;
  }
  .dark-mode .red-title {
    color: #fff;
  }
  .text-black{
    color: #000;
  }
  .dark-mode  .text-black{
    color: #fff !important;
  }
  .dark-mode .list-group-item{
    background-color: #333 !important;
  }