<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Mandatory Disclosure</div>
        <div class="row pt-3">
            <div class="col-md-12">
                <table class="table table-striped border-danger border">
                    <tbody>
                        <tr>
                            <td>Name of Institute</td>
                            <td>S. Amarjeet Singh Sahi Government Polytechnic College</td>
                        </tr>
                        <tr>
                            <td>Address of Institution</td>
                            <td>
                                <address>
                                    Sector-4, Talwara Township<br>
                                    Tehsil: Mukerian<br>
                                    District: Hoshiarpur<br>
                                    Pin Code: 144216
                                </address>
                            </td>
                        </tr>
                        <tr>
                            <td>City & Pin Code</td>
                            <td>Talwara, 144216</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>Punjab</td>
                        </tr>
                        <tr>
                            <td>Longitude & Latitude</td>
                            <td>31.9544613 & 75.8500553</td>
                        </tr>
                        <tr>
                            <td>Phone No.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>FAX No.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Office Hrs at Institution</td>
                            <td>9.00 AM to 5.00 PM</td>
                        </tr>
                        <tr>
                            <td>Academic Hrs at Institution</td>
                            <td>9.00 AM to 5.00 PM (8 Hrs)</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>gpctalwar"&#64;"example.com</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>Type of Institute</td>
                            <td>Govt.</td>
                        </tr>
                        <tr>
                            <td>Name of Organisation running this Institution</td>
                            <td>Directorate of Technical Education & Industrial Training, Chandigarh (Govt. of
                                Punjab)</td>
                        </tr>
                        <tr>
                            <td>Type of Organisation</td>
                            <td>Government</td>
                        </tr>
                        <tr>
                            <td>Address of Institution</td>
                            <td>
                                Sector-4, Talwara Township<br>
                                Tehsil: Mukerian<br>
                                District: Hoshiarpur<br>
                                Pin Code: 144216
                            </td>
                        </tr>
                        <tr>
                            <td>Registered With</td>
                            <td>NOT APPLICABLE</td>
                        </tr>
                        <tr>
                            <td>Registered Date</td>
                            <td>Not applicable</td>
                        </tr>
                        <tr>
                            <td>Website of Organisation</td>
                            <td>gpctalwara.in</td>
                        </tr>
                        <tr>
                            <td>Name of Affiliating Board</td>
                            <td>State Board of Technical Education & Industrial Training</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>Sector 36-A, Chandigarh</td>
                        </tr>
                        <tr>
                            <td>Website</td>
                            <td>punjabteched.com</td>
                        </tr>
                        <tr>
                            <td>Latest Affiliating Period</td>
                            <td>2016</td>
                        </tr>
                        <tr>
                            <td>Name of Principal</td>
                            <td>Sh. Rajesh Kumar</td>
                        </tr>
                        <tr>
                            <td>Extract Designation</td>
                            <td>Principal</td>
                        </tr>
                        <tr>
                            <td>Phone No.</td>
                            <td>01883-238222, 01883-238333</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>gpctalwara.gov.in</td>
                        </tr>
                        <tr>
                            <td>Highest Degree</td>
                            <td>M.Tech.</td>
                        </tr>
                        <tr>
                            <td>Field of Specialization</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Governing Board Members</td>
                            <td>Government Institution</td>
                        </tr>
                        <tr>
                            <td>Frequency of Meeting</td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>Academic Advisory Body</td>
                            <td>Not Applicable</td>
                        </tr>
                        <tr>
                            <td>Involvement of Faculty and Students in Academic Improvement</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Student Feedback Mechanism on Institutional Governance/Faculty Performance</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Grievance Redressal Mechanism for Faculty, Staff, and Students</td>
                            <td>Anti-ragging Committee, Grievance Redressal Committee, Internal Complaint Committee
                            </td>
                        </tr>
                        <tr>
                            <td>Name of Programmes Approved by AICTE</td>
                            <td>Computer Science and Engg., Electronics and Communication Engg., Electrical Engg.,
                                Mechanical Engg., Civil Engg.</td>
                        </tr>
                        <tr>
                            <td>Name of Programmes, Duration, and No. of Seats</td>
                            <td><a href="courses.html">Click here to See Admission Table</a></td>
                        </tr>
                        <tr>
                            <td>Cut-off Marks During Last 3 Years</td>
                            <td>Qualifying Exam Basis (10th)</td>
                        </tr>
                        <tr>
                            <td>Fees In Rupees</td>
                            <td>As per Govt. Rules</td>
                        </tr>
                        <tr>
                            <td>Permanent Faculty</td>
                            <td>18</td>
                        </tr>
                        <tr>
                            <td>Adjunct Faculty</td>
                            <td>6 (Part-time Faculty)</td>
                        </tr>
                        <tr>
                            <td>Permanent Faculty: Student Ratio</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>No. of Faculty Employed and Left During Last 3 Years</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Faculty Profile</td>
                            <td>See Our Faculty Menu</td>
                        </tr>
                        <tr>
                            <td>Detail of Fee</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Time Schedule for Payment of Fee</td>
                            <td>January and July</td>
                        </tr>
                        <tr>
                            <td>Number of Scholarships Offered by Institution, Duration, and Amount</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Criteria for Fee Waiver</td>
                            <td>Qualifying Exam Basis (10th)</td>
                        </tr>
                        <tr>
                            <td>No. of Seats Sanctioned with Year of Approval</td>
                            <td><a href="courses.html">Click here to See Admission Table</a></td>
                        </tr>
                        <tr>
                            <td>No. of Students Admitted Under Various Categories in Last 3 Years</td>
                            <td><a href=""></a></td>
                        </tr>
                        <tr>
                            <td>No. of Applications Received Under Management Quota</td>
                            <td>Not applicable</td>
                        </tr>
                        <tr>
                            <td>Admission Test Being Followed</td>
                            <td>N.A.</td>
                        </tr>

                        <tr>
                            <td>No. of Seats Alloted to Different Test Qualified Candidates</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Criteria for Admission</td>
                            <td>Qualifying Exam Marks (10th)</td>
                        </tr>
                        <tr>
                            <td>Minimum Level of Acceptance</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Cut-off Percentage in Admission Test in Last 3 Years</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Display Marks Scored in Test</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>List of Candidates Who Have Applied Along with Percentage and Percentile Score for
                                Management Quota Seats</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Result of Admission Under Management Quota Seats</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Number of Classrooms</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Number of Tutorial Rooms and Size of Each</td>
                            <td>05</td>
                        </tr>
                        <tr>
                            <td>Number of Laboratories</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Number of Drawing Halls</td>
                            <td>03</td>
                        </tr>
                        <tr>
                            <td>Number of Computer Centres</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Central Examination Facility, Number of Rooms, and Capacity of Each</td>
                            <td><a href="students-corner.php">Click here for table ALL ROOM SIZE</a></td>
                        </tr>
                        <tr>
                            <td>Barrier-Free Built Environment for Disabled and Elderly Persons</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Occupancy Certificate</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Fire and Safety Certificate</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Number of Library Books/Titles/Journals Available</td>
                            <td>Library Books: 3300 Titles: 1000 Journals: 8</td>
                        </tr>
                        <tr>
                            <td>List Online National/International Journals Subscribed</td>
                            <td>Not Available</td>
                        </tr>
                        <tr>
                            <td>List of Experimental Setup in Each Lab/Workshop</td>
                            <td><a href="">Click here for table LIST OF MAJOR EQUIPMENTS</a></td>
                        </tr>
                        <tr>
                            <td>Internet Bandwidth</td>
                            <td>32Mbps</td>
                        </tr>
                        <tr>
                            <td>Number of Computers</td>
                            <td>65</td>
                        </tr>
                        <tr>
                            <td>Total Number of System Connected by LAN</td>
                            <td>All Computers</td>
                        </tr>
                        <tr>
                            <td>Innovation Cell</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Social Media Cell</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Compliance of the National Academic Depository, Applicable to PGCM/PGDM Institutions
                            </td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Games and Sports Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Extra-Curricular Activities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Soft Skill Development Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Curricula and Syllabus for Each of Programmes</td>
                            <td><a href="http://www.punjabteched.com">punjabteched.com</a></td>
                        </tr>
                        <tr>
                            <td>Teaching Load of Each Faculty</td>
                            <td>Lecturer: Senior Lect: Head of Deptt.:</td>
                        </tr>
                        <tr>
                            <td>Internal Continuous Evaluation System</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Student's Assessment of Faculty, System</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Post Graduate Course</td>
                            <td>N.A.</td>
                        </tr>
                        <tr>
                            <td>Library Facilities</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Seminar Hall</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Cafeteria</td>
                            <td>Available</td>
                        </tr>
                        <tr>
                            <td>Outdoor Sports Facilities</td>
                            <td>Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>









<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
<div class="container">
    <div
        class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        ਲਾਜ਼ਮੀ ਖੁਲਾਸਾ - SASS GPC ਤਲਵਾੜਾ</div>
    <div class="row pt-3">
        <div class="col-md-12">
            <table class="table table-striped border-danger border">
                <tbody>
                    <tr>
                        <td>ਸੰਸਥਾ ਦਾ ਨਾਮ</td>
                        <td>ਸ.ਅਮਰਜੀਤ ਸਿੰਘ ਸਾਹੀ ਸਰਕਾਰੀ ਪੋਲੀਟੈਕਨਿਕ ਕਾਲਜ</td>
                    </tr>
                    <tr>
                        <td>ਸੰਸਥਾ ਦਾ ਪਤਾ</td>
                        <td>
                            <address>
                                ਸੈਕਟਰ-4, ਤਲਵਾੜਾ ਟਾਊਨਸ਼ਿਪ<br>
                                ਤਹਿਸੀਲ: ਮੁਕੇਰੀਆਂ<br>
                                ਜਿਲਾ: ਹੁਸ਼ਿਆਰਪੁਰ<br>
                                ਪਿੰਨ ਕੋਡ: 144216
                            </address>
                        </td>
                    </tr>
                    <tr>
                        <td>ਸ਼ਹਿਰ, ਪਿੰਨ ਕੋਡ</td>
                        <td>
                            ਤਲਵਾੜਾ, 144216</td>
                    </tr>
                    <tr>
                        <td>ਰਾਜ</td>
                        <td>ਪੰਜਾਬ
        
                        </td>
                    </tr>
                    <tr>
                        <td>ਲੰਬਕਾਰ ਅਤੇ ਵਿਥਕਾਰ</td>
                        <td>31.9544613 & 75.8500553</td>
                    </tr>
                    <tr>
                        <td>ਫੋਨ ਨੰ.</td>
                        <td>01883-238222, 01883-238333</td>
                    </tr>
                    <tr>
                        <td>ਫੈਕਸ ਨੰ.</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ਸੰਸਥਾ ਵਿਖੇ ਦਫਤਰ ਦੇ ਘੰਟੇ</td>
                        <td>
                            ਸਵੇਰੇ 9.00 ਵਜੇ ਤੋਂ ਸ਼ਾਮ 5.00 ਵਜੇ ਤੱਕ</td>
                    </tr>
                    <tr>
                        <td>ਸੰਸਥਾ ਵਿਖੇ ਅਕਾਦਮਿਕ ਘੰਟੇ</td>
                        <td>ਸਵੇਰੇ 9.00 ਤੋਂ ਸ਼ਾਮ 5.00 ਵਜੇ (8 ਘੰਟੇ)</td>
                    </tr>
                    <tr>
                        <td>
                            ਈ - ਮੇਲ</td>
                        <td>gpctalwar"&#64;"example.com</td>
                    </tr>
                    <tr>
                        <td>
                            ਵੈੱਬਸਾਈਟ</td>
                        <td>gpctalwara.in</td>
                    </tr>
                    <tr>
                        <td>
                            ਇੰਸਟੀਚਿਊਟ ਦੀ ਕਿਸਮ</td>
                        <td>ਸਰਕਾਰ.</td>
                    </tr>
                    <tr>
                        <td>ਇਸ ਸੰਸਥਾ ਨੂੰ ਚਲਾਉਣ ਵਾਲੀ ਸੰਸਥਾ ਦਾ ਨਾਮ</td>
                        <td>ਤਕਨੀਕੀ ਸਿੱਖਿਆ ਅਤੇ ਉਦਯੋਗਿਕ ਸਿਖਲਾਈ ਡਾਇਰੈਕਟੋਰੇਟ, ਚੰਡੀਗੜ੍ਹ (ਸਰਕਾਰ
                            ਪੰਜਾਬ)</td>
                    </tr>
                    <tr>
                        <td>ਸੰਗਠਨ ਦੀ ਕਿਸਮ</td>
                        <td>
                            ਸਰਕਾਰ</td>
                    </tr>
                    <tr>
                        <td>
                            ਸੰਸਥਾ ਦਾ ਪਤਾ</td>
                        <td>
                            
ਸੈਕਟਰ-4, ਤਲਵਾੜਾ ਟਾਊਨਸ਼ਿਪ<br>
ਤਹਿਸੀਲ: ਮੁਕੇਰੀਆਂ<br>
ਜਿਲਾ: ਹੁਸ਼ਿਆਰਪੁਰ<br>
ਪਿੰਨ ਕੋਡ: 144216
                        </td>
                    </tr>
                    <tr>
                        <td>ਨਾਲ ਰਜਿਸਟਰਡ ਹੈ</td>
                        <td>
                            ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                    </tr>
                    <tr>
                        <td>ਰਜਿਸਟਰਡ ਮਿਤੀ</td>
                        <td>ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                    </tr>
                    <tr>
                        <td>
                            ਸੰਗਠਨ ਦੀ ਵੈੱਬਸਾਈਟ</td>
                        <td>gpctalwara.in</td>
                    </tr>
                    <tr>
                        <td>ਐਫੀਲੀਏਟਿੰਗ ਬੋਰਡ ਦਾ ਨਾਮ</td>
                        <td>ਰਾਜ ਤਕਨੀਕੀ ਸਿੱਖਿਆ ਅਤੇ ਉਦਯੋਗਿਕ ਸਿਖਲਾਈ ਬੋਰਡ</td>
                    </tr>
                    <tr>
                        <td>ਪਤਾ</td>
                        <td>ਸੈਕਟਰ 36-ਏ, ਚੰਡੀਗੜ੍ਹ</td>
                    </tr>
                    <tr>
                        <td>
                            ਵੈੱਬਸਾਈਟ</td>
                        <td>punjabteched.com</td>
                    </tr>
                    <tr>
                        <td>
                            ਤਾਜ਼ਾ ਐਫੀਲੀਏਟਿੰਗ ਪੀਰੀਅਡ</td>
                        <td>2016</td>
                    </tr>
                    <tr>
                        <td>ਪ੍ਰਿੰਸੀਪਲ ਦਾ ਨਾਮ</td>
                        <td>
                            ਸ਼. ਰਾਜੇਸ਼ ਕੁਮਾਰ</td>
                    </tr>
                    <tr>
                        <td>
                            ਐਬਸਟਰੈਕਟ ਅਹੁਦਾ</td>
                        <td>
                            ਪ੍ਰਿੰਸੀਪਲ</td>
                    </tr>
                    <tr>
                        <td>ਫੋਨ ਨੰ.</td>
                        <td>01883-238222, 01883-238333</td>
                    </tr>
                    <tr>
                        <td>
                            ਈ - ਮੇਲ</td>
                        <td>gpctalwara.gov.in</td>
                    </tr>
                    <tr>
                        <td>ਸਭ ਤੋਂ ਉੱਚੀ ਡਿਗਰੀ</td>
                        <td>
                            ਐਮ.ਟੈਕ.</td>
                    </tr>
                    <tr>
                        <td>ਵਿਸ਼ੇਸ਼ਤਾ ਦਾ ਖੇਤਰ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ਗਵਰਨਿੰਗ ਬੋਰਡ ਦੇ ਮੈਂਬਰ</td>
                        <td>ਸਰਕਾਰੀ ਸੰਸਥਾ</td>
                    </tr>
                    <tr>
                        <td>ਮੀਟਿੰਗ ਦੀ ਬਾਰੰਬਾਰਤਾ</td>
                        <td>
                            ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                    </tr>
                    <tr>
                        <td>
                            ਅਕਾਦਮਿਕ ਸਲਾਹਕਾਰ ਸੰਸਥਾ</td>
                        <td>ਲਾਗੂ ਨਹੀਂ ਹੈ</td>
                    </tr>
                    <tr>
                        <td>
                            ਅਕਾਦਮਿਕ ਸੁਧਾਰ ਵਿੱਚ ਫੈਕਲਟੀ ਅਤੇ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸ਼ਮੂਲੀਅਤ</td>
                        <td>
                            ਹਾਂ</td>
                    </tr>
                    <tr>
                        <td>ਸੰਸਥਾਗਤ ਸ਼ਾਸਨ/ਫੈਕਲਟੀ ਪ੍ਰਦਰਸ਼ਨ 'ਤੇ ਵਿਦਿਆਰਥੀ ਫੀਡਬੈਕ ਵਿਧੀ</td>
                        <td>ਉਪਲੱਬਧ</td>
                    </tr>
                    <tr>
                        <td>ਫੈਕਲਟੀ, ਸਟਾਫ ਅਤੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਸ਼ਿਕਾਇਤ ਨਿਵਾਰਣ ਵਿਧੀ</td>
                        <td>
                            ਐਂਟੀ ਰੈਗਿੰਗ ਕਮੇਟੀ, ਸ਼ਿਕਾਇਤ ਨਿਵਾਰਨ ਕਮੇਟੀ, ਅੰਦਰੂਨੀ ਸ਼ਿਕਾਇਤ ਕਮੇਟੀ
                        </td>
                    </tr>
                    <tr>
                        <td>AICTE ਦੁਆਰਾ ਪ੍ਰਵਾਨਿਤ ਪ੍ਰੋਗਰਾਮਾਂ ਦੇ ਨਾਮ</td>
                        <td>ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਅਤੇ ਇੰਜੀ., ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀ., ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀ.,
                            ਮਕੈਨੀਕਲ ਇੰਜੀ., ਸਿਵਲ ਇੰਜੀ.</td>
                    </tr>
                    <tr>
                        <td>ਪ੍ਰੋਗਰਾਮਾਂ ਦਾ ਨਾਮ, ਮਿਆਦ, ਅਤੇ ਸੀਟਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td><a href="courses.html">ਦਾਖਲਾ ਸਾਰਣੀ ਦੇਖਣ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                    </tr>
                    <tr>
                        <td>ਪਿਛਲੇ 3 ਸਾਲਾਂ ਦੌਰਾਨ ਕੱਟ-ਆਫ ਅੰਕ</td>
                        <td>ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਆਧਾਰ (10ਵੀਂ)</td>
                    </tr>
                    <tr>
                        <td>
                            ਰੁਪਏ ਵਿੱਚ ਫੀਸ</td>
                        <td>ਸਰਕਾਰ ਦੇ ਅਨੁਸਾਰ ਨਿਯਮ
                        </td>
                    </tr>
                    <tr>
                        <td>ਸਥਾਈ ਫੈਕਲਟੀ</td>
                        <td>18</td>
                    </tr>
                    <tr>
                        <td>ਸਹਾਇਕ ਫੈਕਲਟੀ</td>
                        <td>
                            6 (ਪਾਰਟ-ਟਾਈਮ ਫੈਕਲਟੀ)</td>
                    </tr>
                    <tr>
                        <td>ਸਥਾਈ ਫੈਕਲਟੀ: ਵਿਦਿਆਰਥੀ ਅਨੁਪਾਤ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            ਪਿਛਲੇ 3 ਸਾਲਾਂ ਦੌਰਾਨ ਨੌਕਰੀ ਤੇ ਛੱਡੇ ਗਏ ਫੈਕਲਟੀ ਦੀ ਸੰਖਿਆ</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>
                            ਫੈਕਲਟੀ ਪ੍ਰੋਫਾਈਲ</td>
                        <td>ਸਾਡਾ ਫੈਕਲਟੀ ਮੀਨੂ ਦੇਖੋ</td>
                    </tr>
                    <tr>
                        <td>
                            ਫੀਸ ਦਾ ਵੇਰਵਾ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ਫੀਸ ਦੇ ਭੁਗਤਾਨ ਲਈ ਸਮਾਂ ਅਨੁਸੂਚੀ</td>
                        <td>ਜਨਵਰੀ ਅਤੇ ਜੁਲਾਈ</td>
                    </tr>
                    <tr>
                        <td>ਸੰਸਥਾ ਦੁਆਰਾ ਪੇਸ਼ ਕੀਤੇ ਗਏ ਵਜ਼ੀਫ਼ਿਆਂ ਦੀ ਸੰਖਿਆ, ਮਿਆਦ, ਅਤੇ ਰਕਮ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ਫੀਸ ਮੁਆਫੀ ਲਈ ਮਾਪਦੰਡ</td>
                        <td>ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਆਧਾਰ (10ਵੀਂ)</td>
                    </tr>
                    <tr>
                        <td>ਮਨਜ਼ੂਰੀ ਦੇ ਸਾਲ ਨਾਲ ਮਨਜ਼ੂਰ ਸੀਟਾਂ ਦੀ ਸੰਖਿਆ</td>
                        <td><a href="courses.html">ਦਾਖਲਾ ਸਾਰਣੀ ਦੇਖਣ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                    </tr>
                    <tr>
                        <td>
                            ਪਿਛਲੇ 3 ਸਾਲਾਂ ਵਿੱਚ ਵੱਖ-ਵੱਖ ਸ਼੍ਰੇਣੀਆਂ ਵਿੱਚ ਦਾਖਲ ਹੋਏ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸੰਖਿਆ</td>
                        <td><a href=""></a></td>
                    </tr>
                    <tr>
                        <td>ਮੈਨੇਜਮੈਂਟ ਕੋਟੇ ਦੇ ਤਹਿਤ ਪ੍ਰਾਪਤ ਹੋਈਆਂ ਅਰਜ਼ੀਆਂ ਦੀ ਸੰਖਿਆ</td>
                        <td>ਲਾਗੂ ਨਹੀਂ ਹੈ
                        </td>
                    </tr>
                    <tr>
                        <td>ਦਾਖਲਾ ਪ੍ਰੀਖਿਆ ਦਾ ਪਾਲਣ ਕੀਤਾ ਜਾ ਰਿਹਾ ਹੈ</td>
                        <td>
                            ਐਨ.ਏ.</td>
                    </tr>

                    <tr>
                        <td>ਵੱਖ-ਵੱਖ ਟੈਸਟ ਯੋਗਤਾ ਪ੍ਰਾਪਤ ਉਮੀਦਵਾਰਾਂ ਨੂੰ ਅਲਾਟ ਕੀਤੀਆਂ ਸੀਟਾਂ ਦੀ ਸੰਖਿਆ</td>
                        <td>ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>
                            ਦਾਖਲੇ ਲਈ ਮਾਪਦੰਡ</td>
                        <td>
                            ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਦੇ ਅੰਕ (10ਵੀਂ)</td>
                    </tr>
                    <tr>
                        <td>
                            ਸਵੀਕ੍ਰਿਤੀ ਦਾ ਘੱਟੋ-ਘੱਟ ਪੱਧਰ</td>
                        <td>ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>
                            ਪਿਛਲੇ 3 ਸਾਲਾਂ ਵਿੱਚ ਦਾਖਲਾ ਟੈਸਟ ਵਿੱਚ ਕੱਟ-ਆਫ ਪ੍ਰਤੀਸ਼ਤ</td>
                        <td>ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>ਟੈਸਟ ਵਿੱਚ ਪ੍ਰਾਪਤ ਅੰਕ ਪ੍ਰਦਰਸ਼ਿਤ ਕਰੋ</td>
                        <td>ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>
                            ਉਹਨਾਂ ਉਮੀਦਵਾਰਾਂ ਦੀ ਸੂਚੀ ਜਿਨ੍ਹਾਂ ਨੇ ਪ੍ਰਤੀਸ਼ਤਤਾ ਅਤੇ ਪ੍ਰਤੀਸ਼ਤ ਸਕੋਰ ਦੇ ਨਾਲ ਅਪਲਾਈ ਕੀਤਾ ਹੈ
                                                        ਪ੍ਰਬੰਧਨ ਕੋਟੇ ਦੀਆਂ ਸੀਟਾਂ</td>
                        <td>ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>ਮੈਨੇਜਮੈਂਟ ਕੋਟੇ ਦੀਆਂ ਸੀਟਾਂ ਦੇ ਤਹਿਤ ਦਾਖਲੇ ਦਾ ਨਤੀਜਾ</td>
                        <td>ਐਨ.ਏ.</td>
                        
                    </tr>
                    <tr>
                        <td>ਕਲਾਸਰੂਮਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>ਟਿਊਟੋਰੀਅਲ ਕਮਰਿਆਂ ਦੀ ਗਿਣਤੀ ਅਤੇ ਹਰੇਕ ਦਾ ਆਕਾਰ</td>
                        <td>05</td>
                    </tr>
                    <tr>
                        <td>ਪ੍ਰਯੋਗਸ਼ਾਲਾਵਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>15</td>
                    </tr>
                    <tr>
                        <td>ਡਰਾਇੰਗ ਹਾਲਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>03</td>
                    </tr>
                    <tr>
                        <td>ਕੰਪਿਊਟਰ ਕੇਂਦਰਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>
                            ਐਨ.ਏ.</td>
                    </tr>
                    <tr>
                        <td>ਕੇਂਦਰੀ ਪ੍ਰੀਖਿਆ ਦੀ ਸਹੂਲਤ, ਕਮਰਿਆਂ ਦੀ ਗਿਣਤੀ, ਅਤੇ ਹਰੇਕ ਦੀ ਸਮਰੱਥਾ</td>
                        <td><a href="students-corner.php">ਸਾਰੇ ਕਮਰੇ ਦੇ ਆਕਾਰ ਦੀ ਸਾਰਣੀ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                    </tr>
                    <tr>
                        <td>
                            ਅਪਾਹਜ ਅਤੇ ਬਜ਼ੁਰਗ ਵਿਅਕਤੀਆਂ ਲਈ ਰੁਕਾਵਟ-ਮੁਕਤ ਵਾਤਾਵਰਣ</td>
                        <td>
                            ਉਪਲੱਬਧ</td>
                    </tr>
                    <tr>
                        <td>
                            ਆਕੂਪੈਂਸੀ ਸਰਟੀਫਿਕੇਟ</td>
                        <td>
                            ਹਾਂ</td>
                    </tr>
                    <tr>
                        <td>ਅੱਗ ਅਤੇ ਸੁਰੱਖਿਆ ਸਰਟੀਫਿਕੇਟ</td>
                        <td>
                            ਹਾਂ</td>
                    </tr>
                    <tr>
                        <td>
                            ਉਪਲਬਧ ਲਾਇਬ੍ਰੇਰੀ ਕਿਤਾਬਾਂ/ਸਿਰਲੇਖ/ਰਸਾਲਿਆਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>ਲਾਇਬ੍ਰੇਰੀ ਕਿਤਾਬਾਂ: 3300 ਸਿਰਲੇਖ: 1000 ਜਰਨਲ: 8</td>
                    </tr>
                    <tr>
                        <td>ਆਨਲਾਈਨ ਰਾਸ਼ਟਰੀ/ਅੰਤਰਰਾਸ਼ਟਰੀ ਰਸਾਲਿਆਂ ਦੀ ਸੂਚੀ ਬਣਾਓ</td>
                        <td>ਉਪਲਭਦ ਨਹੀ</td>
                    </tr>
                    <tr>
                        <td>ਹਰੇਕ ਲੈਬ/ਵਰਕਸ਼ਾਪ ਵਿੱਚ ਪ੍ਰਯੋਗਾਤਮਕ ਸੈੱਟਅੱਪ ਦੀ ਸੂਚੀ</td>
                        <td><a href="">ਮੁੱਖ ਉਪਕਰਨਾਂ ਦੀ ਸਾਰਣੀ ਸੂਚੀ ਲਈ ਇੱਥੇ ਕਲਿੱਕ ਕਰੋ</a></td>
                    </tr>
                    <tr>
                        <td>
                            ਇੰਟਰਨੈੱਟ ਬੈਂਡਵਿਡਥ</td>
                        <td>32Mbps</td>
                    </tr>
                    <tr>
                        <td>ਕੰਪਿਊਟਰਾਂ ਦੀ ਗਿਣਤੀ</td>
                        <td>65</td>
                    </tr>
                    <tr>
                        <td>Total Number of System Connected by LAN</td>
                        <td>All Computers</td>
                    </tr>
                    <tr>
                        <td>Innovation Cell</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Social Media Cell</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Compliance of the National Academic Depository, Applicable to PGCM/PGDM Institutions
                        </td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>Games and Sports Facilities</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Extra-Curricular Activities</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Soft Skill Development Facilities</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Curricula and Syllabus for Each of Programmes</td>
                        <td><a href="http://www.punjabteched.com">punjabteched.com</a></td>
                    </tr>
                    <tr>
                        <td>Teaching Load of Each Faculty</td>
                        <td>Lecturer: Senior Lect: Head of Deptt.:</td>
                    </tr>
                    <tr>
                        <td>Internal Continuous Evaluation System</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Student's Assessment of Faculty, System</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Post Graduate Course</td>
                        <td>N.A.</td>
                    </tr>
                    <tr>
                        <td>Library Facilities</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Seminar Hall</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Cafeteria</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>Outdoor Sports Facilities</td>
                        <td>Available</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>









