<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Examination Details</div>
    <div class="py-3">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <p class="card-title fs-4 fw-semibold red-title">Examination Pattern</p>
              <p class="card-text">
                The examination pattern of the institute is designed in such a way that the student comes out with the
                best
                capability in him. During a particular session, student is counter checked by enabling them to appear
                for
                3
                midsession tests. Each MST comprises of 30 marks. These MST at different intervals prepares the student
                to
                covers the whole syllabus and come with flying colors in the final examination. </p>

            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/examination1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/assignment.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">Assignments</h5>
              <p class="card-text">

                Subject teachers conduct 5 assignments in the session within limited time periods. Teachers add the
                marks
                to
                assessment.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">Attendance</h5>
              <p class="card-text">
                A student has to secure 75% attendance in theory and practical and a minimum of 60% attendance in each
                subject.
                Shortage in attendance can be condoned up to 5% on medical grounds by the principal, provided the
                medical
                certificate is submitted by the candidate within 7 days of his return from Medical leave. In addition to
                5%
                condonation by the principal, 5% condonation of lectures on medical grounds is also allowed by the
                Secretary
                of
                the Board on the case being recommended by the Principal.
              </p>
              <p>
                <span class="fw-semibold">
                  Detained/ Struck Off Name Of Student:
                </span> The candidate is detained/ Struck off from the college roll either due to the shortage of
                attendance or due to non-appearance of the student in any of the paper in lower examination.
              </p>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/attandance.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>