<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Examination Details</div>
    <div class="py-3">

      <div class="card">
        <div class="card-body">
          <p class="card-title fs-4 fw-semibold red-title">Examination Pattern</p>
          <p class="card-text">
            The examination pattern of the institute is designed in such a way that the student comes out with the
            best
            capability in him. During a particular session, student is counter checked by enabling them to appear
            for
            3
            midsession tests. Each MST comprises of 30 marks. These MST at different intervals prepares the student
            to
            covers the whole syllabus and come with flying colors in the final examination. </p>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/assignment.webp" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">Assignments</h5>
              <p class="card-text">

                Subject teachers conduct 5 assignments in the session within limited time periods. Teachers add the
                marks
                to
                assessment.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title fs-4 fw-semibold red-title">Attendance</h5>
          <p class="card-text">
            A student has to secure 75% attendance in theory and practical and a minimum of 60% attendance in each
            subject.
            Shortage in attendance can be condoned up to 5% on medical grounds by the principal, provided the
            medical
            certificate is submitted by the candidate within 7 days of his return from Medical leave. In addition to
            5%
            condonation by the principal, 5% condonation of lectures on medical grounds is also allowed by the
            Secretary
            of
            the Board on the case being recommended by the Principal.
          </p>
          <p>
            <span class="fw-semibold">
              Detained/ Struck Off Name Of Student:
            </span> The candidate is detained/ Struck off from the college roll either due to the shortage of
            attendance or due to non-appearance of the student in any of the paper in lower examination.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਇਮਤਿਹਾਨ ਦੇ ਵੇਰਵੇ</div>
    <div class="py-3">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <p class="card-title fs-4 fw-semibold red-title">ਪ੍ਰੀਖਿਆ ਪੈਟਰਨ</p>
              <p class="card-text">
                ਇੰਸਟੀਚਿਊਟ ਦਾ ਇਮਤਿਹਾਨ ਪੈਟਰਨ ਇਸ ਤਰ੍ਹਾਂ ਤਿਆਰ ਕੀਤਾ ਗਿਆ ਹੈ ਕਿ ਵਿਦਿਆਰਥੀ ਇਸ ਦੇ ਨਾਲ ਬਾਹਰ ਆਉਂਦਾ ਹੈ
                ਵਧੀਆ
                ਉਸ ਵਿੱਚ ਸਮਰੱਥਾ. ਕਿਸੇ ਖਾਸ ਸੈਸ਼ਨ ਦੇ ਦੌਰਾਨ, ਵਿਦਿਆਰਥੀ ਨੂੰ ਪੇਸ਼ ਹੋਣ ਦੇ ਯੋਗ ਬਣਾ ਕੇ ਕਾਊਂਟਰ ਚੈੱਕ ਕੀਤਾ ਜਾਂਦਾ ਹੈ
                ਲਈ
                3
                ਮੱਧ ਸੈਸ਼ਨ ਦੇ ਟੈਸਟ। ਹਰੇਕ MST ਵਿੱਚ 30 ਅੰਕ ਹੁੰਦੇ ਹਨ। ਵੱਖ-ਵੱਖ ਅੰਤਰਾਲਾਂ 'ਤੇ ਇਹ MST ਵਿਦਿਆਰਥੀ ਨੂੰ ਤਿਆਰ ਕਰਦੇ ਹਨ
                ਨੂੰ
                ਪੂਰੇ ਸਿਲੇਬਸ ਨੂੰ ਕਵਰ ਕਰਦਾ ਹੈ ਅਤੇ ਫਾਈਨਲ ਇਮਤਿਹਾਨ ਵਿੱਚ ਉੱਡਦੇ ਰੰਗਾਂ ਨਾਲ ਆਉਂਦਾ ਹੈ।
              </p>

            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/examination1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/assignment.webp" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">
                ਅਸਾਈਨਮੈਂਟਸ</h5>
              <p class="card-text">

                ਵਿਸ਼ਾ ਅਧਿਆਪਕ ਸੀਮਤ ਸਮੇਂ ਦੇ ਅੰਦਰ ਸੈਸ਼ਨ ਵਿੱਚ 5 ਅਸਾਈਨਮੈਂਟ ਕਰਦੇ ਹਨ। ਅਧਿਆਪਕ ਜੋੜਦੇ ਹਨ
                ਨਿਸ਼ਾਨ
                ਨੂੰ
                ਮੁਲਾਂਕਣ
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">ਹਾਜ਼ਰੀ</h5>
              <p class="card-text">
                ਇੱਕ ਵਿਦਿਆਰਥੀ ਨੂੰ ਥਿਊਰੀ ਅਤੇ ਪ੍ਰੈਕਟੀਕਲ ਵਿੱਚ 75% ਹਾਜ਼ਰੀ ਅਤੇ ਹਰੇਕ ਵਿੱਚ ਘੱਟੋ-ਘੱਟ 60% ਹਾਜ਼ਰੀ ਸੁਰੱਖਿਅਤ ਕਰਨੀ
                ਪੈਂਦੀ ਹੈ।
                ਵਿਸ਼ਾ
                ਹਾਜ਼ਰੀ ਵਿੱਚ ਕਮੀ ਨੂੰ ਪ੍ਰਿੰਸੀਪਲ ਦੁਆਰਾ ਮੈਡੀਕਲ ਆਧਾਰ 'ਤੇ 5% ਤੱਕ ਮਾਫ਼ ਕੀਤਾ ਜਾ ਸਕਦਾ ਹੈ, ਬਸ਼ਰਤੇ ਕਿ
                ਮੈਡੀਕਲ
                ਸਰਟੀਫਿਕੇਟ ਉਮੀਦਵਾਰ ਦੁਆਰਾ ਮੈਡੀਕਲ ਛੁੱਟੀ ਤੋਂ ਵਾਪਸ ਆਉਣ ਦੇ 7 ਦਿਨਾਂ ਦੇ ਅੰਦਰ ਜਮ੍ਹਾ ਕੀਤਾ ਜਾਂਦਾ ਹੈ। ਇਸ ਦੇ ਨਾਲ
                5%
                ਪ੍ਰਿੰਸੀਪਲ ਦੁਆਰਾ ਕਨਡੋਨੇਸ਼ਨ, ਮੈਡੀਕਲ ਆਧਾਰਾਂ 'ਤੇ ਲੈਕਚਰਾਂ ਦੇ 5% ਕਨਡੋਨੇਸ਼ਨ ਦੀ ਵੀ ਇਜਾਜ਼ਤ ਹੈ।
                ਸਕੱਤਰ
                ਦੇ
                ਪ੍ਰਿੰਸੀਪਲ ਦੁਆਰਾ ਸਿਫ਼ਾਰਸ਼ ਕੀਤੇ ਜਾ ਰਹੇ ਕੇਸ ਬਾਰੇ ਬੋਰਡ।
              </p>
              <p>
                <span class="fw-semibold">
                  ਹਿਰਾਸਤ ਵਿੱਚ ਲਏ ਗਏ/ਕੁੱਟੇ ਗਏ ਵਿਦਿਆਰਥੀ ਦਾ ਨਾਮ:
                </span> ਦੀ ਘਾਟ ਕਾਰਨ ਉਮੀਦਵਾਰ ਨੂੰ ਹਿਰਾਸਤ ਵਿੱਚ ਲਿਆ ਜਾਂਦਾ ਹੈ/ਕਾਲਜ ਰੋਲ ਵਿੱਚੋਂ ਹਟਾ ਦਿੱਤਾ ਜਾਂਦਾ ਹੈ
                ਹਾਜ਼ਰੀ ਜਾਂ ਘੱਟ ਪ੍ਰੀਖਿਆ ਵਿੱਚ ਕਿਸੇ ਵੀ ਪੇਪਰ ਵਿੱਚ ਵਿਦਿਆਰਥੀ ਦੀ ਹਾਜ਼ਰੀ ਨਾ ਹੋਣ ਕਾਰਨ।
              </p>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/attandance.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      परीक्षा विवरण</div>
    <div class="py-3">

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <p class="card-title fs-4 fw-semibold red-title">परीक्षा पैटर्न</p>
              <p class="card-text">
                संस्थान का परीक्षा पैटर्न इस तरह से डिज़ाइन किया गया है कि छात्र अपने अंदर सर्वोत्तम क्षमता लेकर
                निकले। किसी विशेष सत्र के दौरान, छात्रों को तीन मध्य सत्र परीक्षणों में उपस्थित होने के लिए सक्षम करके
                उनकी प्रति-जांच की जाती है। प्रत्येक एमएसटी में 30 अंक होते हैं। अलग-अलग अंतराल पर ये एमएसटी छात्र को
                पूरे पाठ्यक्रम को कवर करने और अंतिम परीक्षा में अच्छे अंकों के साथ आने के लिए तैयार करते हैं।
              </p>

            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/examination1.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/assignment.webp" class="img-fluid" alt="">
            </div>
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">
                कार्य</h5>
              <p class="card-text">

                विषय शिक्षक सीमित समय अवधि के भीतर सत्र में 5 असाइनमेंट संचालित करते हैं। शिक्षक मूल्यांकन में अंक
                जोड़ते हैं।
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <h5 class="card-title fs-4 fw-semibold red-title">
                उपस्थिति</h5>
              <p class="card-text">
                एक छात्र को थ्योरी और प्रैक्टिकल में 75% उपस्थिति और प्रत्येक विषय में न्यूनतम 60% उपस्थिति सुनिश्चित
                करनी होगी। प्रिंसिपल द्वारा मेडिकल आधार पर उपस्थिति में कमी को 5% तक माफ किया जा सकता है, बशर्ते
                मेडिकल अवकाश से लौटने के 7 दिनों के भीतर उम्मीदवार द्वारा मेडिकल प्रमाण पत्र जमा किया जाए। प्रिंसिपल
                द्वारा 5% माफ़ी के अलावा, प्रिंसिपल द्वारा अनुशंसित मामले पर बोर्ड के सचिव द्वारा चिकित्सा आधार पर
                व्याख्यान की 5% माफ़ी की भी अनुमति दी जाती है।
              <p>
                <span class="fw-semibold">
                  हिरासत में लिया गया/हटाया गया छात्र का नाम: </span>अभ्यर्थी को या तो उपस्थिति में कमी के कारण या
                निचली परीक्षा के किसी भी पेपर में छात्र के उपस्थित न होने के कारण हिरासत में लिया गया है/कॉलेज रोल से
                बाहर कर दिया गया है।
              </p>
            </div>
            <div class="col-md-5">
              <img src="../../../assets/images/used/useful-link/attandance.png" class="img-fluid" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>