<div class="container-fluid d-none d-lg-flex mt-2 mx-0">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="row align-items-center">
        <div class="col-auto">
          <img src="../../assets/images/used/logo.png" alt="College Logo" class="img-fluid" width="90" height="90">
        </div>
        <div class="col">
          <a href="#" class="fw-bold fs-3 text-decoration-none text-dark">S. Amarjeet Singh Sahi Government
            Polytechnic College</a>
          <p>
            Approved by AICTE, Affiliated to PSBTE & IT, Punjab
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-check form-switch theme-toggle">
            <input class="form-check-input" type="checkbox" role="switch" id="languageSwitch"
              (change)="toggleLanguage()">
            <label class="form-check-label" for="languageSwitch">
              <span class="toggle-label">Change Language</span>
            </label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-check form-switch theme-toggle">
            <input class="form-check-input" type="checkbox" role="switch" id="themeSwitch" (change)="toggleDarkMode()">
            <label class="form-check-label" for="themeSwitch">
              <span class="toggle-label">Switch Theme</span>
            </label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="btn-group" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary" (click)="increaseTextSize()">A++</button>
            <button type="button" class="btn btn-outline-secondary" (click)="decreaseTextSize()">A--</button>
          </div>
        </div>
        <!-- <div class="col-lg-3">
          <div class="dropdown">
            <button class=" border border-4 rounded-circle dropdown-toggle p-2" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
             <i class="fa-solid fa-user fa-2xl"></i></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg" [ngClass]="{'fixed-top': navbarScrolled, 'navbar-scrolled': navbarScrolled}">
  <div class="container-fluid">
    <a class="navbar-brand d-lg-none" href="#">t6r5
      <i class="fas fa-icon"></i>
    </a>

    <!-- Navbar Toggle Button for Small Screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto text-center"> <!-- Center the navlinks in large screens -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>