<nav class="navbar navbar-expand-xl fixed-top ">
    <div class="container">
        <a class="navbar-brand fw-bold d-none d-xl-block" href="../pages/home.php">
            <img src="../assets/images/logo/logo.png" alt="" class="img-fluid logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse topnav borderYtoX" id="navbarSupportedContent">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0 topnav">
                <li class="nav-item">
                    <a class="nav-link nav-purple fw-semibold" href="../pages/home.php#"><i
                            class="fa-solid fa-house"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-purple fw-semibold" href="../pages/home.php#about_us"><i
                            class="fa-solid fa-compass"></i> About
                        us</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link nav-purple fw-semibold" href="../pages/home.php#gallary"><i
                            class="fa-solid fa-images"></i> Gallary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-purple fw-semibold" href="../pages/home.php#contact_us"><i
                            class="fa-solid fa-file-signature"></i>
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
    class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">