.navbar {
  background: transparent;
  transition: background 0.25s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
}

:host .nav-link:hover,
:host .dropdown-item:hover {
  color: #b1040e;
}

:host .navbar-scrolled {
  background: #b1040e;
}

:host .navbar-scrolled .nav-link {
  color: #fff
}

:host .first-header {
  background: #b1040e;
  transition: background 0.5s ease;
  color: #fff;
}

.text {
  font-family: 'Playfair Display', serif;
}

:host .navbar-scrolled .navbar-brand {
  color: #fff;
}

:host .text {
  color: #fff;
}

:host {
  background-color: #fff;
  /* Light mode background */
  color: black;
  transition: background-color 0.5s ease;
}

.dark-mode .first-header {
  background-color: #333;
  /* Dark mode background */
  color: #fff;
  /* Dark mode text color */
}

.dark-mode .navbar,
.dark-mode .text,
.dark-mode .nav-link,
.dark-mode .navbar-scrolled,
.dark-mode .dropdown-menu,
.dark-mode .dropdown-item {
  background-color: #333;
  /* Dark mode background */
  color: #fff;
  /* Dark mode text color */
}

/* header.component.scss */

.btn-group {
  // Common styles for the button group
  display: flex;
  gap: 10px; // Adjust the gap as needed

  button {
    // Common styles for buttons
    padding: 5px 10px; // Adjust padding as needed
    font-size: 16px; // Adjust font size as needed
    transition: color 0.3s ease; // Smooth transition for color change

    // Light mode styles
    color: black;
    background-color: white;
    border: 1px solid black;
  }
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

:host .navbar-scrolled .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

:host .navbar-scrolled .navbar-toggler {
  border-color: rgb(253, 250, 252);
}