<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <p class="fw-bold fs-2 red-title border-bottom border-danger border-2  border-bottom border-danger border-2">
      Training and Placement Cell</p>
    <div class="py-3">
      <p>The training and placement cell of this college is headed by a senior faculty member manages placement
        activities
        and keeps liaison with various industrial groups and research organization. The cell of the institute centrally
        helps the student during their course of study as well as after their passing out from the Institute.</p>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <p class="card-title fs-3 fw-semibold">Mr. Sukeeratpal Singh</p>
              <p class="card-text"><strong>Designation:</strong> Lecturer</p>
              <p class="card-text"><strong>Role:</strong> Training and Placement Officer</p>
              <p class="card-text"><strong>Contact:</strong> 9779972700</p>
            </div>
            <div class="col-md-4 text-center">
              <img src="../../../../assets/images/faculty/sukirath_sir.png"
                class="img-fluid img-thumbnail rounded-circle img" alt="">
            </div>
          </div>
        </div>
      </div>
      <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Role</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mr. Sukeeratpal Singh</td>
        <td>
          Lecturer
        </td>
        <td>
          Training and Placement Officer
        </td>
        <td>
          9779972700
        </td>
      </tr>
    </tbody>
  </table> -->
      <p>
        The training and placement cell motivates students for self employment by arranging entrepreneurship camps and
        provides guidance and counseling to the students regarding raising of finance and resources much needed for self
        employment . It’s excellent infra structure provides complete support at each and every stage of the placement
        process in arranging pre placement talks, written tests, group discussions and interviews. Our Students from
        different streams have been well placed in the various reputated organizations at national and international
        level
        as mention below:
      </p>
      <p class="fs-5 fw-semibold  red-title">Computer Science Engineering Placements</p>
      <ul>
        <li>Anedya Technology LLP, Hoshiarpur</li>
        <li>Finance, Gurdaspur</li>
        <li>Immigration Counsler, Dasuya</li>
        <li>JJ Motor, Mukerian</li>
        <li>PHP, Mukerian</li>
        <li>Maruti Suzuki, Gurgaon</li>
        <li>Satnam Gas Agencey, Talwara</li>
        <li>Technical Support, Cyber Cafe, Talwara</li>
        <li>Technical Support, Mohalli</li>
        <li>Tecno Technology, Chandigarh</li>
        <li>Web Designing, Mukerian</li>
      </ul>

      <p class="fs-5 fw-semibold  red-title">Electrical Engineering Placements</p>
      <ul>
        <li>Centex fabric export Unit, Ldh</li>
        <li>Luminous, Gagret</li>
        <li>Preetika Component Pvt. Ltd., Hoshiarpur</li>
        <li>Solar System, Chandigarh</li>
        <li>Swraj Engines, Mohali</li>
        <li>Anshika Enterprises (Terrace)</li>
        <li>Deepak Batteries, Terrace</li>
        <li>Essel Propack Ltd</li>
        <li>IEE, Mohali</li>
        <li>Luminous, Gagret</li>
        <li>Plasma Induction, Ludhiana</li>
        <li>Writer Identification (Haryana)</li>
        <li>Sheetal Bridge</li>
        <li>Swaraj, Mohali</li>
        <li>Unique Electrical</li>
      </ul>

      <p class="fs-5 fw-semibold  red-title">Electronics and Communication Engineering Placements</p>
      <ul>
        <li>Essel Propack Ltd</li>
        <li>Microlink IT Solutions</li>
        <li>Petrol Pump Automation</li>
        <li>Lumax Industries Limited, Plot No. 12, Sector 5, Bawal Haryana</li>
        <li>Triphase Technology Pvt Ltd, Mohali</li>
      </ul>

      <p class="fs-5 fw-semibold  red-title">Mechanical Engineering Placements</p>
      <ul>
        <li>Cummins India Pvt. Ltd.</li>
        <li>Essel Propack Ltd, Baddi</li>
        <li>Rico Automotive Ltd., Bhiwadi</li>
        <li>Sonalika Pvt. Ltd, Hoshiarpur</li>
        <li>Essel Propack Ltd</li>
        <li>Saini Heavy Industry, Ranchi</li>
        <li>Swaraj, Mohali</li>
        <li>Mahindra & Mahindra Ltd,</li>
        <li>Baddi Grain Mill</li>
        <li>Mahindra & Mahindra Ltd, Mohali</li>
        <li>Nippon Steel ltd</li>
      </ul>

      <<<<<<< Updated upstream <p class="fs-5 fw-semibold  red-title">Civil Engineering Placements</p>
        <ul>
          <li>Contractor, Mandi</li>
          <li>IET, Pathankot</li>
          <li>Luminous Power, Gagret</li>
          <li>Shiv Build Pvt. Ltd. Gujrat (Haryana)</li>
          <li>Site Engineer, ITC Manpura, Baddi</li>
          <li>Teleperformer, Chandigarh</li>
          <li>Sonalika, Hoshiarpur</li>
          <li>AS, Construction</li>
          <li>Deepak International, Terrace</li>
        </ul>
    </div>
  </div>
  =======
  <p class="pt-4 fs-5 fw-semibold">Civil Engineering Placements</p>
  <ul>
    <li>Contractor, Mandi</li>
    <li>IET, Pathankot</li>
    <li>Luminous Power, Gagret</li>
    <li>Shiv Build Pvt. Ltd. Gujrat (Haryana)</li>
    <li>Site Engineer, ITC Manpura, Baddi</li>
    <li>Teleperformer, Chandigarh</li>
    <li>Sonalika, Hoshiarpur</li>
    <li>AS, Construction</li>
    <li>Deepak International, Terrace</li>
  </ul>



</div><br>




<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <h2 class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਸੈੱਲ</h2>
    <p>ਇਸ ਕਾਲਜ ਦਾ ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਸੈੱਲ ਇੱਕ ਸੀਨੀਅਰ ਫੈਕਲਟੀ ਮੈਂਬਰ ਦੁਆਰਾ ਪਲੇਸਮੈਂਟ ਗਤੀਵਿਧੀਆਂ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰਦਾ ਹੈ
      ਅਤੇ ਵੱਖ-ਵੱਖ ਉਦਯੋਗਿਕ ਸਮੂਹਾਂ ਅਤੇ ਖੋਜ ਸੰਗਠਨ ਨਾਲ ਤਾਲਮੇਲ ਰੱਖਦਾ ਹੈ। ਸੰਸਥਾ ਦੇ ਕੇਂਦਰੀ ਸੈੱਲ
      ਵਿਦਿਆਰਥੀ ਦੀ ਪੜ੍ਹਾਈ ਦੇ ਨਾਲ-ਨਾਲ ਸੰਸਥਾ ਤੋਂ ਪਾਸ ਹੋਣ ਤੋਂ ਬਾਅਦ ਉਨ੍ਹਾਂ ਦੀ ਮਦਦ ਕਰਦਾ ਹੈ।ਇਸ ਕਾਲਜ ਦਾ ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਸੈੱਲ
      ਇੱਕ ਸੀਨੀਅਰ ਫੈਕਲਟੀ ਮੈਂਬਰ ਦੁਆਰਾ ਪਲੇਸਮੈਂਟ ਗਤੀਵਿਧੀਆਂ ਦਾ ਪ੍ਰਬੰਧਨ ਕਰਦਾ ਹੈ
      ਅਤੇ ਵੱਖ-ਵੱਖ ਉਦਯੋਗਿਕ ਸਮੂਹਾਂ ਅਤੇ ਖੋਜ ਸੰਗਠਨ ਨਾਲ ਤਾਲਮੇਲ ਰੱਖਦਾ ਹੈ। ਸੰਸਥਾ ਦੇ ਕੇਂਦਰੀ ਸੈੱਲ
      ਵਿਦਿਆਰਥੀ ਦੀ ਪੜ੍ਹਾਈ ਦੇ ਨਾਲ-ਨਾਲ ਸੰਸਥਾ ਤੋਂ ਪਾਸ ਹੋਣ ਤੋਂ ਬਾਅਦ ਉਨ੍ਹਾਂ ਦੀ ਮਦਦ ਕਰਦਾ ਹੈ।</p>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <p class="card-title fs-3 fw-semibold">ਸ੍ਰੀ ਸੁਕੀਰਤਪਾਲ ਸਿੰਘ</p>
            <p class="card-text"><strong>
                ਅਹੁਦਾ:</strong>
              ਲੈਕਚਰਾਰ</p>
            <p class="card-text"><strong>
                ਭੂਮਿਕਾ:</strong>
              ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਅਫਸਰ</p>
            <p class="card-text"><strong>ਸੰਪਰਕ:</strong> 9779972700</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../../assets/images/faculty/sukirath_sir.png" class="img-fluid rounded-circle img" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Role</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Sukeeratpal Singh</td>
      <td>
        Lecturer
      </td>
      <td>
        Training and Placement Officer
      </td>
      <td>
        9779972700
      </td>
    </tr>
  </tbody>
</table> -->
    <p>
      ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਸੈੱਲ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਉਦਮੀ ਕੈਂਪਾਂ ਦਾ ਪ੍ਰਬੰਧ ਕਰਕੇ ਸਵੈ-ਰੁਜ਼ਗਾਰ ਲਈ ਪ੍ਰੇਰਿਤ ਕਰਦਾ ਹੈ ਅਤੇ
      ਆਪਣੇ ਆਪ ਲਈ ਲੋੜੀਂਦੇ ਵਿੱਤ ਅਤੇ ਸਰੋਤਾਂ ਨੂੰ ਇਕੱਠਾ ਕਰਨ ਬਾਰੇ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਮਾਰਗਦਰਸ਼ਨ ਅਤੇ ਸਲਾਹ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ
      ਰੁਜ਼ਗਾਰ ਇਹ ਸ਼ਾਨਦਾਰ ਬੁਨਿਆਦੀ ਢਾਂਚਾ ਪਲੇਸਮੈਂਟ ਦੇ ਹਰ ਪੜਾਅ 'ਤੇ ਪੂਰਾ ਸਮਰਥਨ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ
      ਪਲੇਸਮੈਂਟ ਤੋਂ ਪਹਿਲਾਂ ਗੱਲਬਾਤ, ਲਿਖਤੀ ਟੈਸਟ, ਸਮੂਹ ਚਰਚਾਵਾਂ ਅਤੇ ਇੰਟਰਵਿਊਆਂ ਦਾ ਪ੍ਰਬੰਧ ਕਰਨ ਦੀ ਪ੍ਰਕਿਰਿਆ। ਤੋਂ ਸਾਡੇ ਵਿਦਿਆਰਥੀ
      ਵੱਖ-ਵੱਖ ਧਾਰਾਵਾਂ ਨੂੰ ਰਾਸ਼ਟਰੀ ਅਤੇ ਅੰਤਰਰਾਸ਼ਟਰੀ ਪੱਧਰ 'ਤੇ ਵੱਖ-ਵੱਖ ਨਾਮਵਰ ਸੰਸਥਾਵਾਂ ਵਿੱਚ ਚੰਗੀ ਤਰ੍ਹਾਂ ਰੱਖਿਆ ਗਿਆ ਹੈ
      ਜਿਵੇਂ ਕਿ ਹੇਠਾਂ ਜ਼ਿਕਰ ਕੀਤਾ ਗਿਆ ਹੈ:
    </p>
    <p class="pt-4 fs-5 fw-semibold">ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀਨੀਅਰਿੰਗ ਪਲੇਸਮੈਂਟ
    </p>
    <ul>
      <li> ਅਨੇਦਿਆ ਟੈਕਨਾਲੋਜੀ LLP, ਹੁਸ਼ਿਆਰਪੁਰ</li>
      <li>
        ਵਿੱਤ, ਗੁਰਦਾਸਪੁਰ</li>
      <li>
        ਇਮੀਗ੍ਰੇਸ਼ਨ ਕਾਉਂਸਲਰ, ਦਸੂਹਾ</li>
      <li>
        ਜੇਜੇ ਮੋਟਰ, ਮੁਕੇਰੀਆਂ</li>
      <li>
        PHP, ਮੁਕੇਰੀਆਂ</li>
      <li>
        ਮਾਰੂਤੀ ਸੁਜ਼ੂਕੀ, ਗੁੜਗਾਓਂ</li>
      <li>ਸਤਨਾਮ ਗੈਸ ਏਜੰਸੀ, ਤਲਵਾੜਾ</li>
      <li>
        ਤਕਨੀਕੀ ਸਹਾਇਤਾ, ਸਾਈਬਰ ਕੈਫੇ, ਤਲਵਾੜਾ</li>
      <li>
        ਤਕਨੀਕੀ ਸਹਾਇਤਾ, ਮੋਹਾਲੀ</li>
      <li>
        ਟੈਕਨੋ ਟੈਕਨਾਲੋਜੀ, ਚੰਡੀਗੜ੍ਹ</li>
      <li>ਵੈੱਬ ਡਿਜ਼ਾਈਨਿੰਗ, ਮੁਕੇਰੀਆਂ</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">
      ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪਲੇਸਮੈਂਟ</p>
    <ul>
      <li>Centex ਫੈਬਰਿਕ ਨਿਰਯਾਤ ਯੂਨਿਟ, Ldh</li>
      <li>ਚਮਕੀਲਾ, ਗਗਰੇਟ</li>
      <li>ਪ੍ਰੀਤਿਕਾ ਕੰਪੋਨੈਂਟ ਪ੍ਰਾ. ਲਿਮਟਿਡ, ਹੁਸ਼ਿਆਰਪੁਰ</li>
      <li>
        ਸੋਲਰ ਸਿਸਟਮ, ਚੰਡੀਗੜ੍ਹ</li>
      <li>ਸਵਰਾਜ ਇੰਜਣ, ਮੋਹਾਲੀ</li>
      <li>ਅੰਸ਼ਿਕਾ ਇੰਟਰਪ੍ਰਾਈਜਿਜ਼ (ਟੇਰੇਸ)</li>
      <li>
        ਦੀਪਕ ਬੈਟਰੀਆਂ, ਟੈਰੇਸ</li>
      <li>ਐਸਲ ਪ੍ਰੋਪੈਕ ਲਿਮਿਟੇਡ</li>
      <li>
        ਆਈ.ਈ.ਈ., ਮੋਹਾਲੀ</li>
      <li>
        ਚਮਕੀਲਾ, ਗਗਰੇਟ</li>
      <li>ਪਲਾਜ਼ਮਾ ਇੰਡਕਸ਼ਨ, ਲੁਧਿਆਣਾ
      </li>
      <li>
        ਲੇਖਕ ਪਛਾਣ (ਹਰਿਆਣਾ)</li>
      <li>
        ਸ਼ੀਤਲ ਪੁਲ</li>
      <li>ਸਵਰਾਜ, ਮੋਹਾਲੀ</li>
      <li>
        ਵਿਲੱਖਣ ਇਲੈਕਟ੍ਰੀਕਲ</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ ਪਲੇਸਮੈਂਟ</p>
    <ul>
      <li>ਐਸਲ ਪ੍ਰੋਪੈਕ ਲਿਮਿਟੇਡ</li>
      <li>
        ਮਾਈਕ੍ਰੋਲਿੰਕ ਆਈਟੀ ਹੱਲ</li>
      <li>ਪੈਟਰੋਲ ਪੰਪ ਆਟੋਮੇਸ਼ਨ</li>
      <li>ਲੂਮੈਕਸ ਇੰਡਸਟਰੀਜ਼ ਲਿਮਟਿਡ, ਪਲਾਟ ਨੰਬਰ 12, ਸੈਕਟਰ 5, ਬਾਵਲ ਹਰਿਆਣਾ</li>
      <li>ਟ੍ਰਾਈਫੇਸ ਟੈਕਨਾਲੋਜੀ ਪ੍ਰਾਈਵੇਟ ਲਿਮਿਟੇਡ, ਮੋਹਾਲੀ</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪਲੇਸਮੈਂਟ</p>
    <ul>
      <li>
        ਕਮਿੰਸ ਇੰਡੀਆ ਪ੍ਰਾ. ਲਿਮਿਟੇਡ</li>
      <li>ਐਸਲ ਪ੍ਰੋਪੈਕ ਲਿਮਿਟੇਡ, ਬੱਦੀ</li>
      <li>
        ਰੀਕੋ ਆਟੋਮੋਟਿਵ ਲਿਮਿਟੇਡ, ਭਿਵੜੀ</li>
      <li>ਸੋਨਾਲੀਕਾ ਪ੍ਰਾ. ਲਿਮਟਿਡ, ਹੁਸ਼ਿਆਰਪੁਰ</li>
      <li>
        ਐਸਲ ਪ੍ਰੋਪੈਕ ਲਿਮਿਟੇਡ</li>
      <li>ਸੈਣੀ ਹੈਵੀ ਇੰਡਸਟਰੀ, ਰਾਂਚੀ</li>
      <li>ਸਵਰਾਜ, ਮੋਹਾਲੀ</li>
      <li>ਮਹਿੰਦਰਾ ਐਂਡ ਮਹਿੰਦਰਾ ਲਿਮਿਟੇਡ,</li>
      <li>ਬੱਦੀ ਅਨਾਜ ਮਿੱਲ</li>
      <li>ਮਹਿੰਦਰਾ ਐਂਡ ਮਹਿੰਦਰਾ ਲਿਮਟਿਡ, ਮੋਹਾਲੀ</li>
      <li>
        ਨਿਪੋਨ ਸਟੀਲ ਲਿਮਿਟੇਡ</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">ਸਿਵਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪਲੇਸਮੈਂਟ</p>
    <ul>
      <li>ਠੇਕੇਦਾਰ, ਮੰਡੀ</li>
      <li>ਆਈ.ਈ.ਟੀ., ਪਠਾਨਕੋਟ</li>
      <li>
        ਚਮਕਦਾਰ ਸ਼ਕਤੀ, ਗਗਰੇਟ</li>
      <li>
        ਸ਼ਿਵ ਬਿਲਡ ਪ੍ਰਾ. ਲਿਮਟਿਡ ਗੁਜਰਾਤ (ਹਰਿਆਣਾ)</li>
      <li>ਸਾਈਟ ਇੰਜੀਨੀਅਰ, ਆਈ.ਟੀ.ਸੀ. ਮਾਨਪੁਰਾ, ਬੱਦੀ</li>
      <li>ਟੈਲੀਪਰਫਾਰਮਰ, ਚੰਡੀਗੜ੍ਹ</li>
      <li>ਸੋਨਾਲੀਕਾ, ਹੁਸ਼ਿਆਰਪੁਰ</li>
      <li>AS, ਉਸਾਰੀ</li>
      <li>ਦੀਪਕ ਇੰਟਰਨੈਸ਼ਨਲ, ਟੈਰੇਸ</li>
    </ul>



  </div><br>
  >>>>>>> Stashed changes
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <h2 class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      प्रशिक्षण एवं प्लेसमेंट सेल
</h2>
    <p>इस कॉलेज के प्रशिक्षण और प्लेसमेंट सेल का नेतृत्व एक वरिष्ठ संकाय सदस्य करता है जो प्लेसमेंट गतिविधियों का प्रबंधन करता है और विभिन्न औद्योगिक समूहों और अनुसंधान संगठनों के साथ संपर्क रखता है। संस्थान का सेल छात्रों को उनके अध्ययन के दौरान और संस्थान से निकलने के बाद भी केंद्रीय रूप से मदद करता है।</p>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <p class="card-title fs-3 fw-semibold">श्री सुकीरतपाल सिंह</p>
            <p class="card-text"><strong>
              पदनाम: </strong>व्याख्याता</p>
            <p class="card-text"><strong>
              भूमिका:</strong> प्रशिक्षण एवं प्लेसमेंट अधिकारी</p>
            <p class="card-text"><strong>संपर्क करें: </strong> 9779972700</p>
          </div>
          <div class="col-md-4 text-center">
            <img src="../../../../assets/images/faculty/sukirath_sir.png" class="img-fluid rounded-circle img" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Role</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mr. Sukeeratpal Singh</td>
      <td>
        Lecturer
      </td>
      <td>
        Training and Placement Officer
      </td>
      <td>
        9779972700
      </td>
    </tr>
  </tbody>
</table> -->
    <p>
      प्रशिक्षण और प्लेसमेंट सेल उद्यमिता शिविरों की व्यवस्था करके छात्रों को स्वरोजगार के लिए प्रेरित करता है और छात्रों को स्वरोजगार के लिए आवश्यक वित्त और संसाधन जुटाने के संबंध में मार्गदर्शन और परामर्श प्रदान करता है। इसकी उत्कृष्ट बुनियादी संरचना प्लेसमेंट प्रक्रिया के प्रत्येक चरण में प्री-प्लेसमेंट वार्ता, लिखित परीक्षा, समूह चर्चा और साक्षात्कार की व्यवस्था में पूर्ण सहायता प्रदान करती है। विभिन्न धाराओं के हमारे छात्रों को राष्ट्रीय और अंतर्राष्ट्रीय स्तर पर विभिन्न प्रतिष्ठित संगठनों में अच्छी तरह से स्थान दिया गया है, जैसा कि नीचे बताया गया है:
    </p>
    <p class="pt-4 fs-5 fw-semibold">कंप्यूटर साइंस इंजीनियरिंग प्लेसमेंट
    </p>
    <ul>
      <li> अनेद्य टेक्नोलॉजी एलएलपी, होशियारपुर</li>
      <li>
        फाइनेंस, गुरदासपुर</li>
      <li>
        इमीग्रेशन काउंसलर, दसुया</li>
      <li>
        जे जे मोटर, मुकेरियां</li>
      <li>
        पीएचपी, मुकेरियां</li>
      <li>
        मारुति सुजुकी, गुड़गांव</li>
      <li>सतनाम गैस एजेंसी, तलवाड़ा</li>
      <li>
        तकनीकी सहायता, साइबर कैफे, तलवाड़ा</li>
      <li>
        तकनीकी सहायता, मोहल्ली</li>
      <li>
        टेक्नो टेक्नोलॉजी, चंडीगढ़</li>
      <li>वेब डिजाइनिंग, मुकेरियां</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">
      इलेक्ट्रिकल इंजीनियरिंग प्लेसमेंट</p>
    <ul>
      <li>Centex फैब्रिक एक्सपोर्ट यूनिट, Ldh</li>
      <li>Luminous, गगरेट</li>
      <li>प्रीतिका कंपोनेंट प्रा. लिमिटेड, होशियारपुर</li>
      <li>
        सौर मंडल, चंडीगढ़</li>
      <li>स्वराज इंजन, मोहाली</li>
      <li>अंशिका इंटरप्राइजेज (टेरेस)</li>
      <li>
        दीपक बैटरीज़, टेरेस</li>
      <li>एस्सेल प्रोपैक लिमिटेड</li>
      <li>
        आ.ई.ई.ई, मोहाली</li>
      <li>
        Luminous, गगरेट</li>
      <li>प्लाज्मा इंडक्शन, लुधियाना
      </li>
      <li>
        लेखक की पहचान (हरियाणा)</li>
      <li>
        शीतल ब्रिज</li>
      <li>स्वराज,मोहाली</li>
      <li>
        अनोखा इलेक्ट्रिकल</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग प्लेसमेंट</p>
    <ul>
      <li>एस्सेल प्रोपैक लिमिटेड</li>
      <li>
        माइक्रोलिंक आईटी समाधान</li>
      <li>पेट्रोल पंप स्वचालन</li>
      <li>ल्यूमैक्स इंडस्ट्रीज लिमिटेड, प्लॉट नंबर 12, सेक्टर 5, बावल हरियाणा</li>
      <li>ट्राइफ़ेज़ टेक्नोलॉजी प्राइवेट लिमिटेड, मोहाली</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">मैकेनिकल इंजीनियरिंग प्लेसमेंट</p>
    <ul>
      <li>
        कमिंस इंडिया प्रा. लिमिटेड</li>
      <li>एस्सेल प्रोपैक लिमिटेड, बद्दी</li>
      <li>
        रीको ऑटोमोटिव लिमिटेड, भिवाड़ी</li>
      <li>सोनालिका प्रा. लिमिटेड, होशियारपुर</li>
      <li>
        एस्सेल प्रोपैक लिमिटेड</li>
      <li>सैनी हेवी इंडस्ट्री, रांची</li>
      <li>स्वराज,मोहाली</li>
      <li>महिंद्रा एंड महिंद्रा लिमिटेड,</li>
      <li>बद्दी अनाज मिल</li>
      <li>महिंद्रा एंड महिंद्रा लिमिटेड, मोहाली</li>
      <li>
        निप्पॉन स्टील लिमिटेड</li>
    </ul>

    <p class="pt-4 fs-5 fw-semibold">सिविल इंजीनियरिंग प्लेसमेंट</p>
    <ul>
      <li>ठेकेदार, मंडी</li>
      <li>आईईटी, पठानकोट
      </li>
      <li>
        ल्यूमिनस पावर, गगरेट</li>
      <li>
        शिव बिल्ड प्रा. लिमिटेड गुजरात (हरियाणा)</li>
      <li>साइट इंजीनियर, आईटीसी मानपुरा, बद्दी</li>
      <li>टेलीपरफॉर्मर, चंडीगढ़</li>
      <li>सोनालिका, होशियारपुरਰ</li>
      <li>एएस, निर्माण</li>
      <li>दीपक इंटरनेशनल, टेरेस</li>
    </ul>



  </div><br>
</div>