<div class="container">
  <h2 class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
    Training and Placement Cell</h2>
  <p>The training and placement cell of this college is headed by a senior faculty member manages placement activities
    and keeps liaison with various industrial groups and research organization. The cell of the institute centrally
    helps the student during their course of study as well as after their passing out from the Institute.</p>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <p class="card-title fs-3 fw-semibold">Mr. Sukeeratpal Singh</p>
          <p class="card-text"><strong>Designation:</strong> Lecturer</p>
          <p class="card-text"><strong>Role:</strong> Training and Placement Officer</p>
          <p class="card-text"><strong>Contact:</strong> 9779972700</p>
        </div>
        <div class="col-md-4 text-center">
          <img src="../../../../assets/images/faculty/sukirath_sir.png" class="img-fluid rounded-circle img" alt="" >
        </div>
      </div>
    </div>
  </div>
 <!-- <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
        <th>Role</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mr. Sukeeratpal Singh</td>
        <td>
          Lecturer
        </td>
        <td>
          Training and Placement Officer
        </td>
        <td>
          9779972700
        </td>
      </tr>
    </tbody>
  </table> -->
  <p>
    The training and placement cell motivates students for self employment by arranging entrepreneurship camps and
    provides guidance and counseling to the students regarding raising of finance and resources much needed for self
    employment . It’s excellent infra structure provides complete support at each and every stage of the placement
    process in arranging pre placement talks, written tests, group discussions and interviews. Our Students from
    different streams have been well placed in the various reputated organizations at national and international level
    as mention below:
  </p>
  <p class="pt-4 fs-5 fw-semibold">Computer Science Engineering Placements</p>
  <ul>
    <li>Anedya Technology LLP, Hoshiarpur</li>
    <li>Finance, Gurdaspur</li>
    <li>Immigration Counsler, Dasuya</li>
    <li>JJ Motor, Mukerian</li>
    <li>PHP, Mukerian</li>
    <li>Maruti Suzuki, Gurgaon</li>
    <li>Satnam Gas Agencey, Talwara</li>
    <li>Technical Support, Cyber Cafe, Talwara</li>
    <li>Technical Support, Mohalli</li>
    <li>Tecno Technology, Chandigarh</li>
    <li>Web Designing, Mukerian</li>
  </ul>

  <p class="pt-4 fs-5 fw-semibold">Electrical Engineering Placements</p>
  <ul>
    <li>Centex fabric export Unit, Ldh</li>
    <li>Luminous, Gagret</li>
    <li>Preetika Component Pvt. Ltd., Hoshiarpur</li>
    <li>Solar System, Chandigarh</li>
    <li>Swraj Engines, Mohali</li>
    <li>Anshika Enterprises (Terrace)</li>
    <li>Deepak Batteries, Terrace</li>
    <li>Essel Propack Ltd</li>
    <li>IEE, Mohali</li>
    <li>Luminous, Gagret</li>
    <li>Plasma Induction, Ludhiana</li>
    <li>Writer Identification (Haryana)</li>
    <li>Sheetal Bridge</li>
    <li>Swaraj, Mohali</li>
    <li>Unique Electrical</li>
  </ul>

  <p class="pt-4 fs-5 fw-semibold">Electronics and Communication Engineering Placements</p>
  <ul>
    <li>Essel Propack Ltd</li>
    <li>Microlink IT Solutions</li>
    <li>Petrol Pump Automation</li>
    <li>Lumax Industries Limited, Plot No. 12, Sector 5, Bawal Haryana</li>
    <li>Triphase Technology Pvt Ltd, Mohali</li>
  </ul>

  <p class="pt-4 fs-5 fw-semibold">Mechanical Engineering Placements</p>
  <ul>
    <li>Cummins India Pvt. Ltd.</li>
    <li>Essel Propack Ltd, Baddi</li>
    <li>Rico Automotive Ltd., Bhiwadi</li>
    <li>Sonalika Pvt. Ltd, Hoshiarpur</li>
    <li>Essel Propack Ltd</li>
    <li>Saini Heavy Industry, Ranchi</li>
    <li>Swaraj, Mohali</li>
    <li>Mahindra & Mahindra Ltd,</li>
    <li>Baddi Grain Mill</li>
    <li>Mahindra & Mahindra Ltd, Mohali</li>
    <li>Nippon Steel ltd</li>
  </ul>

  <p class="pt-4 fs-5 fw-semibold">Civil Engineering Placements</p>
  <ul>
    <li>Contractor, Mandi</li>
    <li>IET, Pathankot</li>
    <li>Luminous Power, Gagret</li>
    <li>Shiv Build Pvt. Ltd. Gujrat (Haryana)</li>
    <li>Site Engineer, ITC Manpura, Baddi</li>
    <li>Teleperformer, Chandigarh</li>
    <li>Sonalika, Hoshiarpur</li>
    <li>AS, Construction</li>
    <li>Deepak International, Terrace</li>
  </ul>



</div>