:host .btn-red {
  background-color: #b1040e;
  color: #fff;
}
:host .red-title {
  color: #b1040e;
}
.dark-mode .red-title{
  color: #fff;
}
.dark-mode{
  color: #fff;
  
}
.border-red{
border-color: #b1040e;
}
.img-cardd{
  max-width: 50%;
}
.dark-mode .card{
  background-color: #333;
  color: #fff;
  border-color: #fff;
}

.img {
  height: 500px !important;
}