<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            College Rules</div>
        <ol class="pt-3">
            <li>The attendance for the tests and tutorials conducted in the college is compulsory.</li>
            <li>The student having poor attendance and showing consistently poor performance in the test and tutorials
                shall not be permitted to appear for the university examination.</li>
            <li>It is imperative that the students strictly adhere to the day of opening and closing of each term during
                the academic year.</li>
            <li>The student should not cause any damage to the college property. The damage caused shall be compensated
                by the student immediately.</li>
            <li>The students should carry identity card with them regularly and it should be produced if demanded by the
                authority.</li>
            <li>Smoking, chewing of tobacco and other such elements are strictly prohibited in the college premises.
            </li>
            <li>The student found guilty by an act of misconduct or antisocial activities either in the college or
                outside shall be subjected to strict disciplinary action and may be expelled from the college.</li>
            <li>The student should read the notices displayed on the notice board regularly and college will not be
                responsible for the loss of any advantage due to negligence of reading notices on the part of the
                student.</li>
            <li>The college office should be informed in writing of any change in address of the students with immediate
                effect.</li>
            <li>The above rules of discipline are always subject to change, modification, addition, omission or
                alteration and shall be modified, whenever the Principal deems it fit and proper. The decision of the
                Principal shall be final and binding on the students.</li>
        </ol>
        <br>
    </div>
</div>