<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            College Rules</div>
        <div class="row">
            <div class="col-md-7">
                <ol class="pt-3">
                    <li>The attendance for the tests and tutorials conducted in the college is compulsory.</li>
                    <li>The student having poor attendance and showing consistently poor performance in the test and tutorials
                        shall not be permitted to appear for the university examination.</li>
                    <li>It is imperative that the students strictly adhere to the day of opening and closing of each term during
                        the academic year.</li>
                    <li>The student should not cause any damage to the college property. The damage caused shall be compensated
                        by the student immediately.</li>
                    <li>The students should carry identity card with them regularly and it should be produced if demanded by the
                        authority.</li>
                    <li>Smoking, chewing of tobacco and other such elements are strictly prohibited in the college premises.
                    </li>
                    <li>The student found guilty by an act of misconduct or antisocial activities either in the college or
                        outside shall be subjected to strict disciplinary action and may be expelled from the college.</li>
                    <li>The student should read the notices displayed on the notice board regularly and college will not be
                        responsible for the loss of any advantage due to negligence of reading notices on the part of the
                        student.</li>
                    <li>The college office should be informed in writing of any change in address of the students with immediate
                        effect.</li>
                    <li>The above rules of discipline are always subject to change, modification, addition, omission or
                        alteration and shall be modified, whenever the Principal deems it fit and proper. The decision of the
                        Principal shall be final and binding on the students.</li>
                </ol>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/used/web-use/rules.png" class="img-fluid" alt="">
            </div>
        </div>
        <br>
    </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
<div class="container">
    <div
        class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        ਕਾਲਜ ਦੇ ਨਿਯਮ</div>
    <div class="row">
        <div class="col-md-7">
            <ol class="pt-3">
                <li>ਕਾਲਜ ਵਿੱਚ ਕਰਵਾਏ ਜਾਣ ਵਾਲੇ ਟੈਸਟਾਂ ਅਤੇ ਟਿਊਟੋਰੀਅਲਾਂ ਲਈ ਹਾਜ਼ਰੀ ਲਾਜ਼ਮੀ ਹੈ।</li>
                <li>ਵਿਦਿਆਰਥੀ ਦੀ ਮਾੜੀ ਹਾਜ਼ਰੀ ਅਤੇ ਟੈਸਟ ਅਤੇ ਟਿਊਟੋਰਿਅਲ ਵਿੱਚ ਲਗਾਤਾਰ ਮਾੜੀ ਕਾਰਗੁਜ਼ਾਰੀ ਦਿਖਾਉਣਾ
                    ਯੂਨੀਵਰਸਿਟੀ ਦੇ ਇਮਤਿਹਾਨ ਲਈ ਹਾਜ਼ਰ ਹੋਣ ਦੀ ਇਜਾਜ਼ਤ ਨਹੀਂ ਦਿੱਤੀ ਜਾਵੇਗੀ।</li>
                <li>ਇਹ ਲਾਜ਼ਮੀ ਹੈ ਕਿ ਵਿਦਿਆਰਥੀ ਹਰ ਟਰਮ ਦੇ ਖੁੱਲਣ ਅਤੇ ਬੰਦ ਹੋਣ ਦੇ ਦਿਨ ਦੀ ਸਖਤੀ ਨਾਲ ਪਾਲਣਾ ਕਰਨ।
                    ਅਕਾਦਮਿਕ ਸਾਲ.</li>
                <li>ਵਿਦਿਆਰਥੀ ਨੂੰ ਕਾਲਜ ਦੀ ਜਾਇਦਾਦ ਨੂੰ ਕੋਈ ਨੁਕਸਾਨ ਨਹੀਂ ਪਹੁੰਚਾਉਣਾ ਚਾਹੀਦਾ। ਹੋਏ ਨੁਕਸਾਨ ਦੀ ਭਰਪਾਈ ਕੀਤੀ ਜਾਵੇਗੀ
                    ਵਿਦਿਆਰਥੀ ਦੁਆਰਾ ਤੁਰੰਤ.</li>
                <li>ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਆਪਣੇ ਨਾਲ ਸ਼ਨਾਖਤੀ ਕਾਰਡ ਨਿਯਮਤ ਤੌਰ 'ਤੇ ਰੱਖਣਾ ਚਾਹੀਦਾ ਹੈ ਅਤੇ ਜੇਕਰ ਮੰਗ ਕੀਤੀ ਜਾਵੇ ਤਾਂ ਇਹ ਪੇਸ਼ ਕੀਤਾ ਜਾਣਾ ਚਾਹੀਦਾ ਹੈ
                    ਅਧਿਕਾਰ</li>
                <li>ਕਾਲਜ ਦੇ ਅਹਾਤੇ ਵਿੱਚ ਸਿਗਰਟਨੋਸ਼ੀ, ਤੰਬਾਕੂ ਚਬਾਉਣ ਅਤੇ ਅਜਿਹੇ ਹੋਰ ਤੱਤਾਂ ਦੀ ਸਖ਼ਤ ਮਨਾਹੀ ਹੈ।
                </li>
                <li>ਵਿਦਿਆਰਥੀ ਨੂੰ ਕਾਲਜ ਵਿੱਚ ਕਿਸੇ ਦੁਰਵਿਹਾਰ ਜਾਂ ਸਮਾਜ ਵਿਰੋਧੀ ਗਤੀਵਿਧੀਆਂ ਦੇ ਕਾਰਨ ਦੋਸ਼ੀ ਪਾਇਆ ਗਿਆ
                    ਦੇ ਬਾਹਰ ਸਖ਼ਤ ਅਨੁਸ਼ਾਸਨੀ ਕਾਰਵਾਈ ਕੀਤੀ ਜਾਵੇਗੀ ਅਤੇ ਕਾਲਜ ਵਿੱਚੋਂ ਕੱਢਿਆ ਜਾ ਸਕਦਾ ਹੈ।</li>
                <li>ਵਿਦਿਆਰਥੀ ਨੂੰ ਨੋਟਿਸ ਬੋਰਡ 'ਤੇ ਪ੍ਰਦਰਸ਼ਿਤ ਨੋਟਿਸ ਨੂੰ ਨਿਯਮਿਤ ਤੌਰ 'ਤੇ ਪੜ੍ਹਨਾ ਚਾਹੀਦਾ ਹੈ ਅਤੇ ਕਾਲਜ ਨਹੀਂ ਹੋਵੇਗਾ
                    ਦੇ ਹਿੱਸੇ 'ਤੇ ਨੋਟਿਸ ਪੜ੍ਹਨ ਦੀ ਲਾਪਰਵਾਹੀ ਕਾਰਨ ਕਿਸੇ ਵੀ ਫਾਇਦੇ ਦੇ ਨੁਕਸਾਨ ਲਈ ਜ਼ਿੰਮੇਵਾਰ ਹੈ
                    ਵਿਦਿਆਰਥੀ।</li>
                <li>ਵਿਦਿਆਰਥੀਆਂ ਦੇ ਪਤੇ ਵਿੱਚ ਕਿਸੇ ਵੀ ਤਰ੍ਹਾਂ ਦੀ ਤਬਦੀਲੀ ਬਾਰੇ ਕਾਲਜ ਦਫ਼ਤਰ ਨੂੰ ਤੁਰੰਤ ਲਿਖਤੀ ਰੂਪ ਵਿੱਚ ਸੂਚਿਤ ਕੀਤਾ ਜਾਣਾ ਚਾਹੀਦਾ ਹੈ
                    ਪ੍ਰਭਾਵ.</li>
                <li>ਅਨੁਸ਼ਾਸਨ ਦੇ ਉਪਰੋਕਤ ਨਿਯਮ ਹਮੇਸ਼ਾ ਤਬਦੀਲੀ, ਸੋਧ, ਜੋੜ, ਭੁੱਲ ਜਾਂ ਦੇ ਅਧੀਨ ਹੁੰਦੇ ਹਨ
                    ਪਰਿਵਰਤਨ ਅਤੇ ਸੋਧਿਆ ਜਾਵੇਗਾ, ਜਦੋਂ ਵੀ ਪ੍ਰਿੰਸੀਪਲ ਇਸਨੂੰ ਢੁਕਵਾਂ ਅਤੇ ਉਚਿਤ ਸਮਝੇ। ਦਾ ਫੈਸਲਾ
                    ਪ੍ਰਿੰਸੀਪਲ ਅੰਤਿਮ ਹੋਵੇਗਾ ਅਤੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਪਾਬੰਦ ਹੋਵੇਗਾ।</li>
            </ol>
        </div>
        <div class="col-md-5">
            <img src="../../../../assets/images/used/web-use/rules.png" class="img-fluid" alt="">
        </div>
    </div>
    <br>
</div>
</div>