<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
      </div>
    </div>
  </div>
  <marquee direction="left" scrollamount="10"
    class="fixed-bottom fixed-bottom-div  text-center fixed-bottom"
    [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <p class="fs-3 pt-2"><span></span> 14th National Voters’ Day (NVD)
      celebrated on 25th January 2024 at S.A.S.S Govt Polytechnic
      College Talwara.
    </marquee>
    <app-main-area></app-main-area>
  </div>

  <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'"
    [style.font-size.px]="getTextSize()">
    <div class="hero d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-12 text-center mt-5">
          <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
        </div>
      </div>
    </div>
    <marquee direction="left" scrollamount="10"
      class="fixed-bottom fixed-bottom-div  text-center fixed-bottom"
      [ngClass]="{ 'd-none': showFixedBottomDiv }">
      <p class="fs-3 pt-2"><span></span> 14ਵਾਂ ਰਾਸ਼ਟਰੀ ਵੋਟਰ ਦਿਵਸ (NVD) 25 ਜਨਵਰੀ
        2024 ਨੂੰ S.A.S.S ਸਰਕਾਰੀ ਪੌਲੀਟੈਕਨਿਕ ਵਿਖੇ ਮਨਾਇਆ ਗਿਆ
        ਕਾਲਜ ਤਲਵਾੜਾ।
      </marquee>
      <app-main-area></app-main-area>
    </div>

    <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
      [style.font-size.px]="getTextSize()">
      <div class="hero d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-12 text-center mt-5">
            <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
          </div>
        </div>
      </div>
      <marquee direction="left" scrollamount="10"
        class="fixed-bottom fixed-bottom-div  text-center fixed-bottom"
        [ngClass]="{ 'd-none': showFixedBottomDiv }">
        <p class="fs-3 pt-2"><span></span> 25 जनवरी 2024 को एस.ए.एस.एस सरकारी
          पॉलिटेक्निक में 14वां राष्ट्रीय मतदाता दिवस (एनवीडी) मनाया गया
          कॉलेज तलवाड़ा|
        </marquee>
        <app-main-area></app-main-area>
      </div>
