<div class="dark" [class.dark-mode]="isDarkMode"
  *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Mechanical Engineering
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Major Singh</div>
            <p class="card-text">Designation: HOD (Mechanical Engineering
              Department)</p>
            <p class="card-text">Qualification: B.Tech.</p>
            <p class="card-text">Email: gpctalwara.me&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 8146586321</p> -->
          </div>
          <!-- You can add an image here if you have one for Mr. Major Singh -->
          <!---<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img" alt="Mr. Major Singh"></div>--->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Hitesh Bergal</div>
            <p class="card-text">Designation: Sr. Lecturer</p>
            <p class="card-text">Qualification: B.E.(Mechanical Engg.)</p>
            <p class="card-text">Email: gpctalwara.me&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 9417433471</p> -->
          </div>
          <!-- You can add an image here if you have one for Mr. Hitesh Bergal -->
          <!---<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img"
              alt="Mr. Hitesh Bergal"></div>--->
        </div>
      </div>
    </div><br>

  </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">ਸ੍ਰੀ ਮੇਜਰ ਸਿੰਘ</div>
            <p class="card-text">ਅਹੁਦਾ: HOD (ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ)</p>
            <p class="card-text">ਯੋਗਤਾ: ਬੀ.ਟੈਕ.</p>
            <p class="card-text">ਈਮੇਲ: gpctalwara.me&#64;gmail.com</p>
            <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 8146586321</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Major Singh -->
          <!---<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img" alt="Mr. Major Singh"></div>_-->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              ਸ੍ਰੀ ਹਿਤੇਸ਼ ਬਰਗਲ</div>
            <p class="card-text">ਅਹੁਦਾ: ਸੀਨੀਅਰ ਲੈਕਚਰਾਰ</p>
            <p class="card-text">
              ਯੋਗਤਾ: ਬੀ.ਈ. (ਮਕੈਨੀਕਲ ਇੰਜੀ.)</p>
            <p class="card-text">ਈਮੇਲ: gpctalwara.me&#64;gmail.com</p>
            <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 9417433471</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Hitesh Bergal -->
          <!----<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img"
              alt="Mr. Hitesh Bergal"></div>---->
        </div>
      </div>
    </div><br>

  </div>
</div>

<!----hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      मैकेनिकल इंजीनियरिंग
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">श्री मेजर सिंह</div>
            <p class="card-text">पदनाम: एचओडी (मैकेनिकल इंजीनियरिंग विभाग)</p>
            <p class="card-text">योग्यता: बी.टेक.</p>
            <p class="card-text">ईमेल: gpctalwara.me&#64;gmail.com</p>
            <p class="card-text">मोबाइल नंबर: 8146586321</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Major Singh -->
          <!-----<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img" alt="Mr. Major Singh"></div>--->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              श्री हितेश बर्गल</div>
            <p class="card-text">पदनाम: वरिष्ठ व्याख्याता</p>
            <p class="card-text">
              योग्यता: बी.ई. (मैकेनिकल इंजीनियरिंग)</p>
            <p class="card-text">ईमेल: gpctalwara.me&#64;gmail.com</p>
            <p class="card-text">मोबाइल नंबर: 9417433471</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Hitesh Bergal -->
          <!----<div
            class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img
              src="../../../../assets/images/faculty/faculty_placeholder.webp"
              class="img-fluid rounded-circle img"
              alt="Mr. Hitesh Bergal"></div>---->
        </div>
      </div>
    </div><br>

  </div>
</div>
