<div class="container">
    <div class="fw-bold fs-3 red-title py-3">
      DEPARTMENT OF MECHANICAL ENGINEERING
    </div>
        <div class="card  my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fs-4">Mr. Major Singh</div>
              <p class="card-text">Designation: HOD (Mechanical Engineering Department)</p>
              <p class="card-text">Qualification: B.Tech.</p>
              <p class="card-text">Email: gpctalwara.me&#64;gmail.com</p>
              <p class="card-text">Mobile No.: 8146586321</p>
            </div>
            <!-- You can add an image here if you have one for Mr. Major Singh -->
            <!-- Example: <div class="col-md-5"><img src="path/to/major_singh_image.jpg" class="img-fluid img" alt="Mr. Major Singh"></div> -->
          </div>
        </div>
      </div>
 
<div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Hitesh Bergal</div>
          <p class="card-text">Designation: Sr. Lecturer</p>
          <p class="card-text">Qualification: B.E.(Mechanical Engg.)</p>
          <p class="card-text">Email: gpctalwara.me&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 9417433471</p>
        </div>
        <!-- You can add an image here if you have one for Mr. Hitesh Bergal -->
        <!-- Example: <div class="col-md-5"><img src="path/to/hitesh_bergal_image.jpg" class="img-fluid img" alt="Mr. Hitesh Bergal"></div> -->
      </div>
    </div>
  </div>
   
</div>