<div class="container">
    <div  class="fw-bold fs-3 red-title py-3">
        DEPARTMENT OF CIVIL ENGINEERING
    </div>
    <p>
        MISSION
    </p>
    <p>
        The mission of the Civil Engineering Department is to impart quality Engineering Education to meet the
        Technological advances and Industrial requirements matching with Global Standards to make the students
        practically oriented, to enable them to handle the real life technical problems in future with confidence.
    </p>
    <p>
        VISION
    </p>
    <p>
        The vision of the Civil Engineering Department is to provide world clean technical education with the objective
        of molding the youth into enlightened citizens, who will work for the betterment of society.Our students are
        trained to develop a balanced personality and will prove to be an invaluable asset to an organization.
    </p>
    <p>
        QUALITY POLICY
    </p>
    <p>
        To impart and ensure value based Quality Education and mould the inherent talent of youth into skills required
        in the dynamic and highly competitive world of technology.This exposure will enable the students to enter their
        profession with confidence, live in a harmonious way and contribute to the productivity.
    </p>
    <div>
        <p>
            GOALS
        </p>
        <ul>
            <li> <i class="fa-regular fa-hand-point-right"></i> Produce disciplined creative and quality engineers.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i>  To educate students to their highest potential of intellectual achievement & personal growth.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i>  To provide every student with a strong conceptual foundation in the core areas of our field.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i>  To achieve academic excellence by innovating teaching methods & enhancing team work & analysis skills
                among students.</li>
            <li> <i class="fa-regular fa-hand-point-right"></i>  To make dept one of the best equipped departments in the region .</li>
            <li> <i class="fa-regular fa-hand-point-right"></i> Providing students with hands-on engineering experience through laboratory courses and project so that
                they can explore their areas of interest to the best.
            </li>
        </ul>
    </div>
</div>