<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
           Civil Engineering
        </div>
        <div class="py-3">
            <div class="row">

                <p class="fs-5 fw-semibold  red-title">
                    Mission
                </p>
                <p>
                    The mission of the Civil Engineering Department is to impart quality Engineering Education to
                    meet
                    the
                    Technological advances and Industrial requirements matching with Global Standards to make the
                    students
                    practically oriented, to enable them to handle the real life technical problems in future with
                    confidence.
                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">
                        Vission
                    </p>
                    <p>
                        The vision of the Civil Engineering Department is to provide world clean technical education
                        with
                        the
                        objective
                        of molding the youth into enlightened citizens, who will work for the betterment of society.Our
                        students
                        are
                        trained to develop a balanced personality and will prove to be an invaluable asset to an
                        organization.
                    </p>
                    <p class="fs-5 fw-semibold  red-title">
                        Quality Policy
                    </p>
                    <p>
                        To impart and ensure value based Quality Education and mould the inherent talent of youth into
                        skills
                        required
                        in the dynamic and highly competitive world of technology.This exposure will enable the students
                        to
                        enter
                        their
                        profession with confidence, live in a harmonious way and contribute to the productivity.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ce.webp" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">
                Goals
            </p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> Produce disciplined creative and quality
                    engineers.
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To educate students to their highest
                    potential
                    of
                    intellectual achievement & personal growth.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To provide every student with a strong
                    conceptual
                    foundation in the core areas of our field.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To achieve academic excellence by innovating
                    teaching methods & enhancing team work & analysis skills
                    among students.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To make dept one of the best equipped
                    departments in
                    the region .</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> Providing students with hands-on engineering
                    experience through laboratory courses and project so that
                    they can explore their areas of interest to the best.
                </li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>





<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਿਵਲ ਇੰਜਨੀਅਰਿੰਗ 
        </div>
        <div class="py-3">
            <div class="row">
                <p class="fs-5 fw-semibold  red-title">

                    ਮਿਸ਼ਨ
                </p>
                <p>
                    ਨੂੰ ਪੂਰਾ ਕਰਨ ਲਈ ਸਿਵਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਮਿਸ਼ਨ ਮਿਆਰੀ ਇੰਜੀਨੀਅਰਿੰਗ ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
                    ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਬਣਾਉਣ ਲਈ ਤਕਨੀਕੀ ਤਰੱਕੀ ਅਤੇ ਉਦਯੋਗਿਕ ਲੋੜਾਂ ਗਲੋਬਲ ਸਟੈਂਡਰਡ ਨਾਲ ਮੇਲ ਖਾਂਦੀਆਂ ਹਨ
                    ਅਮਲੀ ਤੌਰ 'ਤੇ ਅਧਾਰਤ, ਭਵਿੱਖ ਵਿੱਚ ਅਸਲ ਜੀਵਨ ਦੀਆਂ ਤਕਨੀਕੀ ਸਮੱਸਿਆਵਾਂ ਨੂੰ ਭਰੋਸੇ ਨਾਲ ਸੰਭਾਲਣ ਦੇ ਯੋਗ ਬਣਾਉਣ ਲਈ।
                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">

                        ਵਿਜ਼ਨ
                    </p>
                    <p>
                        ਸਿਵਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ ਦਾ ਦ੍ਰਿਸ਼ਟੀਕੋਣ ਵਿਸ਼ਵ ਪੱਧਰੀ ਤਕਨੀਕੀ ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
                        ਉਦੇਸ਼
                        ਨੌਜਵਾਨਾਂ ਨੂੰ ਗਿਆਨਵਾਨ ਨਾਗਰਿਕ ਬਣਾਉਣ ਲਈ, ਜੋ ਸਮਾਜ ਦੀ ਬਿਹਤਰੀ ਲਈ ਕੰਮ ਕਰਨਗੇ। ਸਾਡੇ ਵਿਦਿਆਰਥੀ ਹਨ
                        ਇੱਕ ਸੰਤੁਲਿਤ ਸ਼ਖਸੀਅਤ ਵਿਕਸਿਤ ਕਰਨ ਲਈ ਸਿਖਲਾਈ ਦਿੱਤੀ ਗਈ ਹੈ ਅਤੇ ਇੱਕ ਸੰਸਥਾ ਲਈ ਇੱਕ ਅਨਮੋਲ ਸੰਪਤੀ ਸਾਬਤ
                        ਹੋਵੇਗੀ।
                    </p>
                    <p class="fs-5 fw-semibold  red-title">
                        ਗੁਣਵੱਤਾ ਨੀਤੀ
                    </p>
                    <p>
                        ਮੁੱਲ ਅਧਾਰਤ ਗੁਣਵੱਤਾ ਸਿੱਖਿਆ ਪ੍ਰਦਾਨ ਕਰਨਾ ਅਤੇ ਯਕੀਨੀ ਬਣਾਉਣਾ ਅਤੇ ਨੌਜਵਾਨਾਂ ਦੀ ਅੰਦਰੂਨੀ ਪ੍ਰਤਿਭਾ ਨੂੰ ਹੁਨਰ
                        ਵਿੱਚ
                        ਢਾਲਣਾ
                        ਲੋੜੀਂਦਾ ਹੈ
                        ਤਕਨਾਲੋਜੀ ਦੀ ਗਤੀਸ਼ੀਲ ਅਤੇ ਉੱਚ ਮੁਕਾਬਲੇ ਵਾਲੀ ਦੁਨੀਆ ਵਿੱਚ। ਇਹ ਐਕਸਪੋਜਰ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਦਾਖਲ ਹੋਣ ਦੇ ਯੋਗ
                        ਬਣਾਏਗਾ
                        ਉਹਨਾਂ ਦੇ
                        ਆਤਮ-ਵਿਸ਼ਵਾਸ ਨਾਲ ਪੇਸ਼ੇ, ਇਕਸੁਰਤਾ ਨਾਲ ਜੀਓ ਅਤੇ ਉਤਪਾਦਕਤਾ ਵਿੱਚ ਯੋਗਦਾਨ ਪਾਓ।
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ce.webp" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">
                ਟੀਚੇ
            </p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਅਨੁਸ਼ਾਸਿਤ ਰਚਨਾਤਮਕ ਅਤੇ ਗੁਣਵੱਤਾ ਇੰਜੀਨੀਅਰ ਪੈਦਾ ਕਰੋ.
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਉਹਨਾਂ ਦੀ ਉੱਚਤਮ ਸੰਭਾਵਨਾਵਾਂ ਨੂੰ
                    ਸਿਖਿਅਤ ਕਰਨ ਲਈ
                    ਬੌਧਿਕ ਪ੍ਰਾਪਤੀ ਅਤੇ ਨਿੱਜੀ ਵਿਕਾਸ.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਹਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਇੱਕ ਮਜ਼ਬੂਤ ​​ਸੰਕਲਪ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
                    ਸਾਡੇ ਖੇਤਰ ਦੇ ਮੁੱਖ ਖੇਤਰਾਂ ਵਿੱਚ ਬੁਨਿਆਦ.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਨਵੀਨਤਾਕਾਰੀ ਦੁਆਰਾ ਅਕਾਦਮਿਕ ਉੱਤਮਤਾ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ
                    ਸਿਖਾਉਣ ਦੇ ਢੰਗ ਅਤੇ ਟੀਮ ਦੇ ਕੰਮ ਅਤੇ ਵਿਸ਼ਲੇਸ਼ਣ ਦੇ ਹੁਨਰ ਨੂੰ ਵਧਾਉਣਾ
                    ਵਿਦਿਆਰਥੀਆਂ ਵਿਚਕਾਰ।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿੱਚ ਸਭ ਤੋਂ ਵਧੀਆ ਲੈਸ ਵਿਭਾਗਾਂ ਵਿੱਚੋਂ ਇੱਕ ਵਿਭਾਗ
                    ਬਣਾਉਣ ਲਈ
                    ਖੇਤਰ .</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਹੈਂਡ-ਆਨ ਇੰਜੀਨੀਅਰਿੰਗ ਪ੍ਰਦਾਨ ਕਰਨਾ
                    ਪ੍ਰਯੋਗਸ਼ਾਲਾ ਦੇ ਕੋਰਸ ਅਤੇ ਪ੍ਰੋਜੈਕਟ ਦੁਆਰਾ ਅਨੁਭਵ ਕਰੋ ਤਾਂ ਜੋ
                    ਉਹ ਆਪਣੀ ਦਿਲਚਸਪੀ ਦੇ ਖੇਤਰਾਂ ਦੀ ਸਭ ਤੋਂ ਵਧੀਆ ਖੋਜ ਕਰ ਸਕਦੇ ਹਨ।
                </li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਪਿਛਲਾ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਅਗਲਾ</span>
            </button>
        </div>
    </div>
</div>




<!-----hindi------>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        
सिविल इंजीनियरिंग 
        </div>
        <div class="py-3">
            <div class="row">
                <p class="fs-5 fw-semibold  red-title">

                    उद्देश्य
                </p>
                <p>
                    सिविल इंजीनियरिंग विभाग का मिशन छात्रों को व्यावहारिक रूप से उन्मुख बनाने के लिए वैश्विक मानकों के साथ मेल खाने वाली तकनीकी प्रगति और औद्योगिक आवश्यकताओं को पूरा करने के लिए गुणवत्तापूर्ण इंजीनियरिंग शिक्षा प्रदान करना है, ताकि वे भविष्य में आत्मविश्वास के साथ वास्तविक जीवन की तकनीकी समस्याओं को संभालने में सक्षम हो सकें।
                </p>
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">

                        दृष्टि
                    </p>
                    <p>
                        सिविल इंजीनियरिंग विभाग का दृष्टिकोण युवाओं को प्रबुद्ध नागरिकों में ढालने के उद्देश्य से विश्व स्वच्छ तकनीकी शिक्षा प्रदान करना है, जो समाज की भलाई के लिए काम करेंगे। हमारे छात्रों को एक संतुलित व्यक्तित्व विकसित करने के लिए प्रशिक्षित किया जाता है और वे अमूल्य साबित होंगे किसी संगठन के लिए संपत्ति.
                    </p>
                    <p class="fs-5 fw-semibold  red-title">
                        गुणवत्ता नीति
                    </p>
                    <p>
                        मूल्य आधारित गुणवत्तापूर्ण शिक्षा प्रदान करना और सुनिश्चित करना और युवाओं की अंतर्निहित प्रतिभा को प्रौद्योगिकी की गतिशील और अत्यधिक प्रतिस्पर्धी दुनिया में आवश्यक कौशल में ढालना। यह प्रदर्शन छात्रों को आत्मविश्वास के साथ अपने पेशे में प्रवेश करने, सामंजस्यपूर्ण तरीके से रहने और योगदान करने में सक्षम बनाएगा। उत्पादकता.

                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/ce.webp" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">
                लक्ष्य

            </p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> अनुशासित रचनात्मक और गुणवत्तापूर्ण इंजीनियर तैयार करें।
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i> छात्रों को उनकी बौद्धिक उपलब्धि और व्यक्तिगत विकास की उच्चतम क्षमता के लिए शिक्षित करना।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i>प्रत्येक छात्र को हमारे क्षेत्र के मुख्य क्षेत्रों में एक मजबूत वैचारिक आधार प्रदान करना।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i>शिक्षण विधियों में नवाचार करके और छात्रों के बीच टीम वर्क और विश्लेषण कौशल को बढ़ाकर अकादमिक उत्कृष्टता प्राप्त करना।</li>
                <li> <i class="fa-regular fa-hand-point-right"></i>  विभाग को क्षेत्र में सर्वोत्तम सुसज्जित विभागों में से एक बनाना।
                </li>
                <li> <i class="fa-regular fa-hand-point-right"></i>छात्रों को प्रयोगशाला पाठ्यक्रमों और प्रोजेक्ट के माध्यम से व्यावहारिक इंजीनियरिंग अनुभव प्रदान करना ताकि वे अपनी रुचि के क्षेत्रों का सर्वोत्तम तरीके से पता लगा सकें।
                </li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पिछला</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पहला</span>
            </button>
        </div>
    </div>
</div>