<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="py-3">
            <div
                class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
                Our Alumi
            </div>
            <div class="py-3">
                <div class="row">
                    <div class="col-lg-4 py-2">
                        <div class="card">
                            <img src="../../../../assets/images/used/student-placed/ps1.jpg"
                                class=" img-fluid card-img-top" style="height: 300px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rishab Sharma</h5>
                                <div class="card-text">
                                    <p>
                                        <strong>Branch:</strong> Mechanical Engineering
                                    </p>
                                    <p>
                                        <strong>Batch:</strong> 2018-20
                                    </p>
                                    <p>
                                        <strong>Company:</strong> Mahindra and Mahindra, Mohali
                                    </p>
                                    <p>
                                        <strong>Profile:</strong> DAT
                                    </p>
                                    <p>
                                        <strong>Home City:</strong> Khanna
                                    </p>
                                </div>
                                <a href="#" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#ps1">See More</a>
                            </div>
                        </div>
                        <div class="modal fade modal-lg" id="ps1" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Rishab Sharma</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">

                                                I am Rishab Sharma. I always had a keen liking towards studying at a
                                                hilly area which is one of the reasons why I choose this college. This
                                                college was highly suggested to me by one of my close relatives. I have
                                                gained a lot of practical knowledge from here. The staff was very
                                                cooperative and hard working. The atmosphere was so calming and
                                                pleasant. Not only I gained theoretical and practical knowledge but
                                                also, I participated in curricular activities where I learnt what is
                                                teamwork and how to deal stress. For example, I was captain of the
                                                bhangra team at college, and we had the opportunity to perform at state
                                                level. After completing my diploma, I was placed at Mahindra and
                                                Mahindra, Mohali as a Diploma Engineering Trainee during placement
                                                drive. This was all because of my hard work and the support from my
                                                beloved teachers. During those years, I was mentally developed for the
                                                real world and gained all the required knowledge to be a part of
                                                automobile Industry. This college will surely bring you out with better
                                                version of you.
                                                 
                                            </div>
                                            <div class="col-md-4">
                                                <img src="../../../../assets/images/used/student-placed/ps1.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 py-2">
                        <div class="card">
                            <img src="../../../../assets/images/used/student-placed/ps2.jpg"
                                class=" img-fluid card-img-top" style="height: 300px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nitish Kumar</h5>
                                <div class="card-text">
                                    <p>
                                        <strong>Branch:</strong> Computer Science and Engineering
                                    </p>
                                    <p>
                                        <strong>Batch:</strong> 2018-21
                                    </p>
                                    <p>
                                        <strong>Company:</strong> Teleperformance Mohali
                                    </p>
                                    <p>
                                        <strong>Profile:</strong> Technical Support Engineer
                                    </p>
                                    <p>
                                        <strong>Home City:</strong> Talwara Township, Distt Hoshiarpur
                                    </p>
                                </div>
                                <a href="#" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#ps2">See More</a>
                            </div>
                        </div>
                        <div class="modal fade modal-lg" id="ps2" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel"> Nitish Kumar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                My name is Nitish Kumar belongs to Talwara. I was quite unclear about my
                                                career. At that time, I got admission in SASS GPC Talwara. I was nervous
                                                to go there however, it came out to a great place with incredible
                                                professors and collegiate. The teaching skills over here are amazing,
                                                the skill set and knowledge of the professors, I really admire.
                                                Alongside the study, I took part in co-curricular activities, I was in
                                                Bhangra Team, Participated in Poem Recitation, Buddy activities, many
                                                other things. The experience of 3 years made realize and make me
                                                understand various things which further helped in my personal as well as
                                                professional life such as dealing with different kind on people. Right
                                                now, I am working in a US based MNC due to the practical skills I have
                                                Gained during my time in college. At the end I crave to say (Practical +
                                                Theoretical + Ethical) work done by the collage is not only for us but
                                                for the Society.
                                                 
                                            </div>
                                            <div class="col-md-4">
                                                <img src="../../../../assets/images/used/student-placed/ps2.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 py-2">
                        <div class="card">
                            <img src="../../../../assets/images/used/student-placed/ps3.jpg"
                                class=" img-fluid card-img-top" style="height: 300px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Ritika Sharma</h5>
                                <div class="card-text">
                                    <p>
                                        <strong>Branch:</strong> Computer Science and Engineering
                                    </p>
                                    <p>
                                        <strong>Batch:</strong> 2018-21
                                    </p>
                                    <p>
                                        <strong>Company:</strong> Conneqt Business Solutions, Mohali
                                    </p>
                                    <p>
                                        <strong>Profile:</strong> Team Leader
                                    </p>
                                    <p>
                                        <strong>Home City:</strong> Vill Kartoli, Distt Hoshiarpur
                                    </p>
                                </div>
                                <a href="#" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#ps3">See More</a>
                            </div>
                        </div>
                        <div class="modal fade modal-lg" id="ps3" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Ritika Sharma</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">

                                                My name is Ritika Sharma. I am from a small village name Kartoli near
                                                Talwara. After I cleared my 12th, I got admission in S.A.S.S. Gov.
                                                Polytechnic College, Talwara in 2018 batch. The teachers over there have
                                                a positive vibe which make us believe in them and there way of study,
                                                which eventually leads to great results. While studying here, everyone
                                                encouraged me to take part in activities which usually took place at the
                                                college such as the Buddy Activities, etc. Moreover, I played for my
                                                college Badminton team. I would like to thank my collegiate, my tutors,
                                                my friend for giving me such a great learning experience here.
                                                Currently, I am working in Conneqt Business Solutions, Mohali as a Team
                                                Leader and all credit goes to my college who helped me with
                                                this.
                                                 
                                            </div>
                                            <div class="col-md-4">
                                                <img src="../../../../assets/images/used/student-placed/ps3.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 py-2">
                        <div class="card">
                            <img src="../../../../assets/images/used/student-placed/ps4.jpg"
                                class=" img-fluid card-img-top" style="height: 300px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Suresh Kumar</h5>
                                <div class="card-text">
                                    <p>
                                        <strong>Branch:</strong> Civil Engineering
                                    </p>
                                    <p>
                                        <strong>Batch:</strong> 2017-20
                                    </p>
                                    <p>
                                        <strong>Company:</strong> Ganesh Kartikey Construction Pvt Ltd, Amritsar
                                    </p>
                                    <p>
                                        <strong>Profile:</strong> Site Engineer
                                    </p>
                                    <p>
                                        <strong>Home City:</strong> Vill – Riyali, Distt Kangra
                                    </p>
                                </div>
                                <a href="#" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#ps4">See More</a>
                            </div>
                        </div>
                        <div class="modal fade modal-lg" id="ps4" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Suresh Kumar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                I have passed senior secondary school from Riyali and after that I did
                                                diploma from S. Amarjit Singh Sahi Government Polytechnic College,
                                                Talwara from 2017 - 2020 and I got to learn a lot of practical skill in
                                                this college and theoretically and atmosphere in the college was very
                                                nice staff and very special. Their method of teaching was very good, and
                                                bonding was very good, after passing out. As soon as my studies were
                                                completed, I sat in a placement dive organized in college and was placed
                                                in Ganesh Kartikey construction Pvt ltd Company, Amritsar. All the
                                                knowledge I gained during those years yielded a fruitful result.<br />
                                            </div>
                                            <div class="col-md-4">
                                                <img src="../../../../assets/images/used/student-placed/ps4.jpg"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 py-2">
                        <div class="card">
                            <img src="../../../../assets/images/used/student-placed/male.png"
                                class=" img-fluid card-img-top" style="height: 300px;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"> Sorab Kumar</h5>
                                <div class="card-text">
                                    <p>
                                        <strong>Father:</strong> Sh. Dinesh Kaushal
                                    </p>
                                    <p>
                                        <strong>Reg. no:</strong> 161856223095
                                    </p>

                                    <p>
                                        <strong>Branch:</strong> Computer Science and Engineering
                                    </p>
                                    <p>
                                        <strong>Batch:</strong> 2016-19
                                    </p>
                                    <p>
                                        <strong>Company:</strong> Tech Mahindra IT Park Chandigarh
                                    </p>
                                    <p>
                                        <strong>Profile:</strong> Customer Support
                                    </p>
                                </div>
                                <a href="#" class="btn btn-red" data-bs-toggle="modal" data-bs-target="#ps5">See More</a>
                            </div>
                        </div>
                        <div class="modal fade modal-lg" id="ps5" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="ps5">Sorab Kumar</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                I belong to economically backward area called Kandi. I was quite unclear
                                                about my professional life before joining S. Amarjit Singh Sahi Govt.
                                                Polytechnic College Talwara. My 3 year experience is more exciting and
                                                made me more passionate about my professional learning. The teaching is
                                                very good. The teachers make sure the concepts are well explained and
                                                give proper guidance to anyone who is facing any trouble.

                                            </div>
                                            <div class="col-md-4">
                                                <img src="../../../../assets/images/used/student-placed/male.png"
                                                    class="img-fluid" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>