<div class="dark" [class.dark-mode]="isDarkMode"
  *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter ">
    <div class="py-3">
      <div
        class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        Our Alumi
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">Rishab Sharma</div>
              <p class="card-text">Branch : Mechannical Engineering </p>
              <p class="card-text">Batch : 2018-21</p>
              <p class="card-text">
                Company and Profile : DAT/Mahindra and Mahindra, Mohali
              </p>
              <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
            </div>
            <div
              class="col-md-5 text-center d-flex align-items-center justify-content-center">
              <img src="../../../../assets/images/used/student-placed/male.webp"
                class=" img-fluid card-img-top" style="height: 300px;"
                alt="...">
            </div>
          </div>
          <a href="#" class="btn btn-red" data-bs-toggle="modal"
            data-bs-target="#ps1">See
            More</a>
        </div>
        <div class="modal fade modal-lg" id="ps1" tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalLabel">Rishab
                  Sharma</h1>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                I am Rishab Sharma. I always had a keen liking towards
                studying at a
                hilly area which is one of the reasons why I choose this
                college. This
                college was highly suggested to me by one of my close
                relatives. I have
                gained a lot of practical knowledge from here. The staff was
                very
                cooperative and hard working. The atmosphere was so calming
                and
                pleasant. Not only I gained theoretical and practical
                knowledge but
                also, I participated in curricular activities where I learnt
                what is
                teamwork and how to deal stress. For example, I was captain
                of the
                bhangra team at college, and we had the opportunity to
                perform at state
                level. After completing my diploma, I was placed at Mahindra
                and
                Mahindra, Mohali as a Diploma Engineering Trainee during
                placement
                drive. This was all because of my hard work and the support
                from my
                beloved teachers. During those years, I was mentally
                developed for the
                real world and gained all the required knowledge to be a
                part of
                automobile Industry. This college will surely bring you out
                with better
                version of you.
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
              data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">Nitish Kumar</div>
              <p class="card-text"> Branch: Computer Science and
                Engineering</p>
              <p class="card-text">Batch: 2018-21</p>
              <p class="card-text">Company and Profile: Technical Support
                Engineer/Teleperformance Mohali</p>
              <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
            </div>
            <div
              class="col-md-5 text-center d-flex align-items-center justify-content-center">
              <img
                src="../../../../assets/images/used/student-placed/male.webp"
                class=" img-fluid card-img-top" style="height: 300px;"
                alt="...">
            </div>
          </div>

          <a href="#" class="btn btn-red" data-bs-toggle="modal"
            data-bs-target="#ps2">See
            More</a>
        </div>
        <div class="modal fade modal-lg" id="ps2" tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalLabel"> Nitish
                  Kumar</h1>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">

                My name is Nitish Kumar belongs to Talwara. I was quite
                unclear about my
                career. At that time, I got admission in SASS GPC
                Talwara. I was nervous
                to go there however, it came out to a great place with
                incredible
                professors and collegiate. The teaching skills over here
                are amazing,
                the skill set and knowledge of the professors, I really
                admire.
                Alongside the study, I took part in co-curricular
                activities, I was in
                Bhangra Team, Participated in Poem Recitation, Buddy
                activities, many
                other things. The experience of 3 years made realize and
                make me
                understand various things which further helped in my
                personal as well as
                professional life such as dealing with different kind on
                people. Right
                now, I am working in a US based MNC due to the practical
                skills I have
                Gained during my time in college. At the end I crave to
                say (Practical +
                Theoretical + Ethical) work done by the collage is not
                only for us but
                for the Society.

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">Ritika Sharma</div>
              <p class="card-text"> Branch: Computer Science and
                Engineering</p>
              <p class="card-text">Batch: 2018-21</p>
              <p class="card-text">Company and Profile: Team Leader/Conneqt
                Business Solutions, Mohali</p>
              <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
            </div>
            <div
              class="col-md-5 text-center d-flex align-items-center justify-content-center">
              <img
                src="../../../../assets/images/used/student-placed/male.webp"
                class=" img-fluid card-img-top" style="height: 300px;"
                alt="...">
            </div>
          </div>
          <a href="#" class="btn btn-red" data-bs-toggle="modal"
            data-bs-target="#ps3">See
            More</a>
        </div>
        <div class="modal fade modal-lg" id="ps3" tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalLabel"> Ritika
                  Sharma</h1>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">

                My name is Ritika Sharma. I am from a small village name
                Kartoli near
                Talwara. After I cleared my 12th, I got admission in
                S.A.S.S. Gov.
                Polytechnic College, Talwara in 2018 batch. The teachers
                over there have
                a positive vibe which make us believe in them and there
                way of study,
                which eventually leads to great results. While studying
                here, everyone
                encouraged me to take part in activities which usually
                took place at the
                college such as the Buddy Activities, etc. Moreover, I
                played for my
                college Badminton team. I would like to thank my
                collegiate, my tutors,
                my friend for giving me such a great learning experience
                here.
                Currently, I am working in Conneqt Business Solutions,
                Mohali as a Team
                Leader and all credit goes to my college who helped me
                with
                this.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">Sorab Kumar</div>
              <p class="card-text"> Branch: Computer Science and Engineering</p>
              <p class="card-text">Batch: 2016-19</p>
              <p class="card-text">Company and Profile: Customer Support/Tech
                Mahindra IT Park Chandigarh</p>
              <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
            </div>
            <div
              class="col-md-5 text-center d-flex align-items-center justify-content-center">
              <img src="../../../../assets/images/used/student-placed/male.webp"
                class=" img-fluid card-img-top" style="height: 300px;"
                alt="...">
            </div>
          </div>
          <a href="#" class="btn btn-red" data-bs-toggle="modal"
            data-bs-target="#ps4">See
            More</a>
        </div>
        <div class="modal fade modal-lg" id="ps4" tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalLabel">Sorab Kumar</h1>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">

                I belong to economically backward area called Kandi. I
                was quite unclear
                about my professional life before joining S. Amarjit
                Singh Sahi Govt.
                Polytechnic College Talwara. My 3 year experience is
                more exciting and
                made me more passionate about my professional learning.
                The teaching is
                very good. The teachers make sure the concepts are well
                explained and
                give proper guidance to anyone who is facing any
                trouble.
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">Suresh Kumar</div>
              <p class="card-text"> Branch: Civil Engineering</p>
              <p class="card-text">Batch: 2017-20</p>
              <p class="card-text">Company and Profile: Site Engineer/ Ganesh
                Kartikey Construction Pvt
                Ltd, Amritsar</p>
              <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
            </div>
            <div
              class="col-md-5 text-center d-flex align-items-center justify-content-center">
              <img src="../../../../assets/images/used/student-placed/male.webp"
                class=" img-fluid card-img-top" style="height: 300px;"
                alt="...">
            </div>
          </div>
          <a href="#" class="btn btn-red" data-bs-toggle="modal"
            data-bs-target="#ps5">See
            More</a>
        </div>
        <div class="modal fade modal-lg" id="ps5" tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-4" id="exampleModalLabel"> Suresh
                  Kumar</h1>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                I have passed senior secondary school from Riyali and
                after that I did
                diploma from S. Amarjit Singh Sahi Government
                Polytechnic College,
                Talwara from 2017 - 2020 and I got to learn a lot of
                practical skill in
                this college and theoretically and atmosphere in the
                college was very
                nice staff and very special. Their method of teaching
                was very good, and
                bonding was very good, after passing out. As soon as my
                studies were
                completed, I sat in a placement dive organized in
                college and was placed
                in Ganesh Kartikey construction Pvt ltd Company,
                Amritsar. All the
                knowledge I gained during those years yielded a fruitful
                result.

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter ">
    <div class="py-3">
      <div
        class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        ਸਾਡੇ ਸਾਬਕਾ ਵਿਦਿਆਰਥੀ
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="card-title fw-semibold fs-4">ਰਿਸ਼ਬ ਸ਼ਰਮਾ</div>
              <p class="card-text"> ਬ੍ਰਾਂਚ: ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ</p>
              <p class="card-text">ਬੈਚ: 2018-21</p>
                <p class="card-text">
                  ਕੰਪਨੀ ਅਤੇ ਪ੍ਰੋਫਾਈਲ: DAT/ਮਹਿੰਦਰਾ ਐਂਡ ਮਹਿੰਦਰਾ, ਮੋਹਾਲੀ
                </p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps1">ਦੇਖੋ
              ਹੋਰ</a>
          </div>
          <div class="modal fade modal-lg" id="ps1" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel">ਰਿਸ਼ਬ
                    ਸ਼ਰਮਾ</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ਮੈਂ ਰਿਸ਼ਬ ਸ਼ਰਮਾ ਹਾਂ। ਮੈਨੂੰ ਹਮੇਸ਼ਾ ਲਈ ਇੱਕ ਡੂੰਘੀ ਪਸੰਦ ਸੀ
                  ਏ ਵਿੱਚ ਪੜ੍ਹ ਰਿਹਾ ਹੈ
                  ਪਹਾੜੀ ਖੇਤਰ ਜੋ ਇੱਕ ਕਾਰਨ ਹੈ ਕਿ ਮੈਂ ਇਸਨੂੰ ਕਿਉਂ ਚੁਣਦਾ ਹਾਂ
                  ਕਾਲਜ ਇਹ
                  ਮੇਰੇ ਇੱਕ ਨਜ਼ਦੀਕੀ ਦੁਆਰਾ ਮੈਨੂੰ ਕਾਲਜ ਦਾ ਬਹੁਤ ਜ਼ਿਆਦਾ ਸੁਝਾਅ ਦਿੱਤਾ
                  ਗਿਆ ਸੀ
                  ਰਿਸ਼ਤੇਦਾਰ ਮੇਰੇ ਕੋਲ ਹੈ
                  ਇੱਥੋਂ ਬਹੁਤ ਸਾਰਾ ਵਿਹਾਰਕ ਗਿਆਨ ਪ੍ਰਾਪਤ ਕੀਤਾ। ਸਟਾਫ ਸੀ
                  ਬਹੁਤ
                  ਸਹਿਯੋਗੀ ਅਤੇ ਮਿਹਨਤੀ। ਮਾਹੌਲ ਇੰਨਾ ਸ਼ਾਂਤ ਸੀ
                  ਅਤੇ
                  ਸੁਹਾਵਣਾ ਨਾ ਸਿਰਫ ਮੈਂ ਸਿਧਾਂਤਕ ਅਤੇ ਵਿਹਾਰਕ ਪ੍ਰਾਪਤ ਕੀਤਾ
                  ਗਿਆਨ ਪਰ
                  ਨਾਲ ਹੀ, ਮੈਂ ਪਾਠਕ੍ਰਮ ਦੀਆਂ ਗਤੀਵਿਧੀਆਂ ਵਿੱਚ ਹਿੱਸਾ ਲਿਆ ਜਿੱਥੇ ਮੈਂ
                  ਸਿੱਖਿਆ
                  ਕੀ ਹੈ
                  ਟੀਮ ਵਰਕ ਅਤੇ ਤਣਾਅ ਨਾਲ ਕਿਵੇਂ ਨਜਿੱਠਣਾ ਹੈ। ਉਦਾਹਰਨ ਲਈ, ਮੈਂ ਕਪਤਾਨ ਸੀ
                  ਦੀ
                  ਕਾਲਜ ਵਿੱਚ ਭੰਗੜਾ ਟੀਮ, ਅਤੇ ਸਾਨੂੰ ਮੌਕਾ ਮਿਲਿਆ
                  ਰਾਜ 'ਤੇ ਪ੍ਰਦਰਸ਼ਨ
                  ਪੱਧਰ। ਡਿਪਲੋਮਾ ਪੂਰਾ ਕਰਨ ਤੋਂ ਬਾਅਦ ਮੈਨੂੰ ਮਹਿੰਦਰਾ ਵਿਖੇ ਰੱਖ ਦਿੱਤਾ
                  ਗਿਆ
                  ਅਤੇ
                  ਮਹਿੰਦਰਾ, ਮੋਹਾਲੀ ਦੌਰਾਨ ਡਿਪਲੋਮਾ ਇੰਜੀਨੀਅਰਿੰਗ ਟਰੇਨੀ ਵਜੋਂ
                  ਪਲੇਸਮੈਂਟ
                  ਚਲਾਉਣਾ. ਇਹ ਸਭ ਮੇਰੀ ਮਿਹਨਤ ਅਤੇ ਸਹਿਯੋਗ ਸਦਕਾ ਹੋਇਆ ਹੈ
                  ਮੇਰੇ ਤੋਂ
                  ਪਿਆਰੇ ਅਧਿਆਪਕ. ਉਨ੍ਹਾਂ ਸਾਲਾਂ ਦੌਰਾਨ, ਮੈਂ ਮਾਨਸਿਕ ਤੌਰ 'ਤੇ ਸੀ
                  ਲਈ ਵਿਕਸਿਤ ਕੀਤਾ ਗਿਆ ਹੈ
                  ਅਸਲੀ ਸੰਸਾਰ ਅਤੇ ਇੱਕ ਬਣਨ ਲਈ ਸਾਰੇ ਲੋੜੀਂਦੇ ਗਿਆਨ ਪ੍ਰਾਪਤ ਕੀਤੇ
                  ਦਾ ਹਿੱਸਾ
                  ਆਟੋਮੋਬਾਈਲ ਉਦਯੋਗ. ਇਹ ਕਾਲਜ ਤੁਹਾਨੂੰ ਜ਼ਰੂਰ ਬਾਹਰ ਲਿਆਵੇਗਾ
                  ਬਿਹਤਰ ਨਾਲ
                  ਤੁਹਾਡੇ ਦਾ ਸੰਸਕਰਣ|
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">ਬੰਦ ਕਰੋ</button>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">ਨਿਤੀਸ਼ ਕੁਮਾਰ </div>
                <p class="card-text">ਸ਼ਾਖਾ: ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਅਤੇ
                  ਇੰਜੀਨੀਅਰਿੰਗ</p>
                <p class="card-text">ਬੈਚ: 2018-21</p>
                <p class="card-text">ਕੰਪਨੀ ਅਤੇ ਪ੍ਰੋਫਾਈਲ: ਤਕਨੀਕੀ ਸਹਾਇਤਾ
                  ਇੰਜੀਨੀਅਰ/ਟੈਲੀਪਰਫਾਰਮੈਂਸ ਮੋਹਾਲੀ</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>

            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps2">ਦੇਖੋ
              ਹੋਰ</a>
          </div>
          <div class="modal fade modal-lg" id="ps2" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> ਨਿਤੀਸ਼
                    ਕੁਮਾਰ</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  ਮੇਰਾ ਨਾਮ ਨਿਤੀਸ਼ ਕੁਮਾਰ ਤਲਵਾੜਾ ਦਾ ਹੈ। ਮੈਂ ਕਾਫ਼ੀ ਸੀ
                  ਮੇਰੇ ਬਾਰੇ ਅਸਪਸ਼ਟ
                  ਕੈਰੀਅਰ ਉਸ ਸਮੇਂ ਮੈਂ SASS GPC ਵਿੱਚ ਦਾਖਲਾ ਲੈ ਲਿਆ
                  ਤਲਵਾੜਾ। ਮੈਂ ਘਬਰਾ ਗਿਆ ਸੀ
                  ਪਰ ਉੱਥੇ ਜਾਣ ਲਈ, ਇਸ ਦੇ ਨਾਲ ਇੱਕ ਮਹਾਨ ਜਗ੍ਹਾ ਨੂੰ ਬਾਹਰ ਆਇਆ
                  ਸ਼ਾਨਦਾਰ
                  ਪ੍ਰੋਫੈਸਰ ਅਤੇ ਕਾਲਜੀਏਟ. ਇੱਥੇ ਸਿਖਾਉਣ ਦੇ ਹੁਨਰ
                  ਅਦਭੁਤ ਹਨ,
                  ਪ੍ਰੋਫੈਸਰਾਂ ਦਾ ਹੁਨਰ ਸੈੱਟ ਅਤੇ ਗਿਆਨ, ਮੈਂ ਸੱਚਮੁੱਚ
                  ਪ੍ਰਸ਼ੰਸਾ
                  ਪੜ੍ਹਾਈ ਦੇ ਨਾਲ-ਨਾਲ ਮੈਂ ਸਹਿ-ਪਾਠਕ੍ਰਮ ਵਿੱਚ ਭਾਗ ਲਿਆ
                  ਗਤੀਵਿਧੀਆਂ, ਮੈਂ ਵਿੱਚ ਸੀ
                  ਭੰਗੜਾ ਟੀਮ, ਕਵਿਤਾ ਉਚਾਰਨ ਵਿੱਚ ਭਾਗ ਲਿਆ, ਬੱਡੀ
                  ਗਤੀਵਿਧੀਆਂ, ਬਹੁਤ ਸਾਰੇ
                  ਹੋਰ ਸਭ ਕੁਝ. 3 ਸਾਲਾਂ ਦੇ ਤਜ਼ਰਬੇ ਨੇ ਸਾਕਾਰ ਕੀਤਾ ਅਤੇ
                  ਮੈਨੂੰ ਬਣਾਓ
                  ਵੱਖੋ ਵੱਖਰੀਆਂ ਚੀਜ਼ਾਂ ਨੂੰ ਸਮਝੋ ਜਿਨ੍ਹਾਂ ਨੇ ਮੇਰੀ ਹੋਰ ਮਦਦ ਕੀਤੀ
                  ਨਿੱਜੀ ਦੇ ਨਾਲ ਨਾਲ
                  ਪੇਸ਼ੇਵਰ ਜੀਵਨ ਜਿਵੇਂ ਕਿ ਵੱਖ-ਵੱਖ ਕਿਸਮਾਂ ਨਾਲ ਨਜਿੱਠਣਾ
                  ਲੋਕ। ਸੱਜਾ
                  ਹੁਣ, ਮੈਂ ਪ੍ਰੈਕਟੀਕਲ ਦੇ ਕਾਰਨ ਅਮਰੀਕਾ ਸਥਿਤ MNC ਵਿੱਚ ਕੰਮ ਕਰ ਰਿਹਾ ਹਾਂ
                  ਮੇਰੇ ਕੋਲ ਹੁਨਰ ਹਨ
                  ਕਾਲਜ ਵਿੱਚ ਮੇਰੇ ਸਮੇਂ ਦੌਰਾਨ ਪ੍ਰਾਪਤ ਕੀਤਾ। ਅੰਤ ਵਿੱਚ ਮੈਨੂੰ ਕਰਨ ਲਈ ਤਰਸਦਾ ਹੈ
                  ਕਹੋ (ਪ੍ਰੈਕਟੀਕਲ +
                  ਸਿਧਾਂਤਕ + ਨੈਤਿਕ) ਕੋਲਾਜ ਦੁਆਰਾ ਕੀਤਾ ਗਿਆ ਕੰਮ ਨਹੀਂ ਹੈ
                  ਸਿਰਫ ਸਾਡੇ ਲਈ ਪਰ
                  ਸੁਸਾਇਟੀ ਲਈ|

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">ਬੰਦ ਕਰੋ</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4"> ਰਿਤਿਕਾ ਸ਼ਰਮਾ</div>
                <p class="card-text"> ਸ਼ਾਖਾ: ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਅਤੇ
                  ਇੰਜੀਨੀਅਰਿੰਗ</p>
                <p class="card-text"> ਬੈਚ: 2018-21</p>
                <p class="card-text">ਕੰਪਨੀ ਅਤੇ ਪ੍ਰੋਫਾਈਲ: ਟੀਮ ਲੀਡਰ/ਕਨੈਕਟ
                  ਵਪਾਰਕ ਹੱਲ, ਮੋਹਾਲੀ</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps3">ਦੇਖੋ
              ਹੋਰ</a>
          </div>
          <div class="modal fade modal-lg" id="ps3" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> ਰਿਤਿਕਾ
                    ਸ਼ਰਮਾ</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  ਮੇਰਾ ਨਾਮ ਰਿਤਿਕਾ ਸ਼ਰਮਾ ਹੈ। ਮੈਂ ਇੱਕ ਛੋਟੇ ਜਿਹੇ ਪਿੰਡ ਦਾ ਹਾਂ
                  ਕਰਤੌਲੀ ਨੇੜੇ
                  ਤਲਵਾੜਾ। 12ਵੀਂ ਪਾਸ ਕਰਨ ਤੋਂ ਬਾਅਦ ਮੈਂ ਦਾਖਲਾ ਲੈ ਲਿਆ
                  ਐਸ.ਏ.ਐਸ.ਐਸ. ਸਰਕਾਰ
                  2018 ਬੈਚ ਵਿੱਚ ਪੋਲੀਟੈਕਨਿਕ ਕਾਲਜ, ਤਲਵਾੜਾ। ਅਧਿਆਪਕ
                  ਉੱਥੇ ਹੈ
                  ਇੱਕ ਸਕਾਰਾਤਮਕ ਮਾਹੌਲ ਜੋ ਸਾਨੂੰ ਉਹਨਾਂ ਵਿੱਚ ਅਤੇ ਉੱਥੇ ਵਿਸ਼ਵਾਸ਼ ਦਿਵਾਉਂਦਾ ਹੈ
                  ਅਧਿਐਨ ਦਾ ਤਰੀਕਾ,
                  ਜਿਸ ਦੇ ਫਲਸਰੂਪ ਬਹੁਤ ਵਧੀਆ ਨਤੀਜੇ ਨਿਕਲਦੇ ਹਨ। ਪੜ੍ਹਦੇ ਹੋਏ
                  ਇੱਥੇ, ਹਰ ਕੋਈ
                  ਮੈਨੂੰ ਉਹਨਾਂ ਗਤੀਵਿਧੀਆਂ ਵਿੱਚ ਹਿੱਸਾ ਲੈਣ ਲਈ ਉਤਸ਼ਾਹਿਤ ਕੀਤਾ ਜੋ ਆਮ ਤੌਰ 'ਤੇ
                  ਵਿਖੇ ਹੋਈ
                  ਕਾਲਜ ਜਿਵੇਂ ਕਿ ਬੱਡੀ ਗਤੀਵਿਧੀਆਂ, ਆਦਿ। ਇਸ ਤੋਂ ਇਲਾਵਾ, ਆਈ
                  ਮੇਰੇ ਲਈ ਖੇਡਿਆ
                  ਕਾਲਜ ਬੈਡਮਿੰਟਨ ਟੀਮ। ਮੈਂ ਆਪਣਾ ਧੰਨਵਾਦ ਕਰਨਾ ਚਾਹਾਂਗਾ
                  ਕਾਲਜੀਏਟ, ਮੇਰੇ ਅਧਿਆਪਕ,
                  ਮੈਨੂੰ ਇੰਨਾ ਵਧੀਆ ਸਿੱਖਣ ਦਾ ਤਜਰਬਾ ਦੇਣ ਲਈ ਮੇਰਾ ਦੋਸਤ
                  ਇਥੇ.
                  ਵਰਤਮਾਨ ਵਿੱਚ, ਮੈਂ ਕਨੈਕਟ ਵਪਾਰ ਹੱਲ ਵਿੱਚ ਕੰਮ ਕਰ ਰਿਹਾ ਹਾਂ,
                  ਮੋਹਾਲੀ ਬਤੌਰ ਟੀਮ
                  ਲੀਡਰ ਅਤੇ ਸਾਰਾ ਸਿਹਰਾ ਮੇਰੇ ਕਾਲਜ ਨੂੰ ਜਾਂਦਾ ਹੈ ਜਿਸ ਨੇ ਮੇਰੀ ਮਦਦ ਕੀਤੀ
                  ਨਾਲ
                  ਇਹ|
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">ਬੰਦ ਕਰੋ</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">ਸੋਰਬ ਕੁਮਾਰ</div>
                <p class="card-text">ਸ਼ਾਖਾ: ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਅਤੇ
                  ਇੰਜੀਨੀਅਰਿੰਗ</p>
                <p class="card-text">ਬੈਚ: 2016-19</p>
                <p class="card-text">ਕੰਪਨੀ ਅਤੇ ਪ੍ਰੋਫਾਈਲ: ਗਾਹਕ ਸਹਾਇਤਾ/ਤਕਨੀਕੀ
                  ਮਹਿੰਦਰਾ ਆਈਟੀ ਪਾਰਕ ਚੰਡੀਗੜ੍ਹ</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps4">ਦੇਖੋ
              ਹੋਰ</a>
          </div>
          <div class="modal fade modal-lg" id="ps4" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> ਸੋਰਾਬ ਕੁਮਾਰ</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  ਮੈਂ ਆਰਥਿਕ ਤੌਰ 'ਤੇ ਪਛੜੇ ਇਲਾਕੇ ਕੰਢੀ ਨਾਲ ਸਬੰਧ ਰੱਖਦਾ ਹਾਂ। ਆਈ
                  ਕਾਫ਼ੀ ਅਸਪਸ਼ਟ ਸੀ
                  ਅਮਰਜੀਤ ਨਾਲ ਜੁੜਨ ਤੋਂ ਪਹਿਲਾਂ ਮੇਰੀ ਪੇਸ਼ੇਵਰ ਜ਼ਿੰਦਗੀ ਬਾਰੇ
                  ਸਿੰਘ ਸਾਹੀ ਸਰਕਾਰ
                  ਪੋਲੀਟੈਕਨਿਕ ਕਾਲਜ ਤਲਵਾੜਾ। ਮੇਰਾ 3 ਸਾਲ ਦਾ ਤਜਰਬਾ ਹੈ
                  ਹੋਰ ਦਿਲਚਸਪ ਅਤੇ
                  ਮੈਨੂੰ ਮੇਰੀ ਪੇਸ਼ੇਵਰ ਸਿਖਲਾਈ ਬਾਰੇ ਵਧੇਰੇ ਭਾਵੁਕ ਬਣਾਇਆ।
                  ਸਿੱਖਿਆ ਹੈ
                  ਬਹੁਤ ਅੱਛਾ. ਅਧਿਆਪਕ ਇਹ ਸੁਨਿਸ਼ਚਿਤ ਕਰਦੇ ਹਨ ਕਿ ਸੰਕਲਪ ਚੰਗੀ ਤਰ੍ਹਾਂ ਹਨ
                  ਸਮਝਾਇਆ ਅਤੇ
                  ਕਿਸੇ ਵੀ ਵਿਅਕਤੀ ਨੂੰ ਸਹੀ ਮਾਰਗਦਰਸ਼ਨ ਦਿਓ ਜੋ ਕਿਸੇ ਦਾ ਸਾਹਮਣਾ ਕਰ ਰਿਹਾ ਹੈ
                  ਮੁਸੀਬਤ|
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">ਬੰਦ ਕਰੋ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">ਸੁਰੇਸ਼ ਕੁਮਾਰ</div>
                <p class="card-text">ਸ਼ਾਖਾ: ਸਿਵਲ ਇੰਜੀਨੀਅਰਿੰਗ</p>
                <p class="card-text">ਬੈਚ: 2017-20</p>
                <p class="card-text">ਕੰਪਨੀ ਅਤੇ ਪ੍ਰੋਫਾਈਲ: ਸਾਈਟ ਇੰਜੀਨੀਅਰ/ਗਣੇਸ਼
                  ਕਾਰਤੀਕੇ ਕੰਸਟਰਕਸ਼ਨ ਪ੍ਰਾ
                  ਲਿਮਟਿਡ, ਅੰਮ੍ਰਿਤਸਰ</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps5">ਦੇਖੋ
              ਹੋਰ</a>
          </div>
          <div class="modal fade modal-lg" id="ps5" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel">ਸੁਰੇਸ਼
                    ਕੁਮਾਰ</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ਮੈਂ ਸੀਨੀਅਰ ਸੈਕੰਡਰੀ ਸਕੂਲ ਰਿਆਲੀ ਤੋਂ ਪਾਸ ਕੀਤਾ ਹੈ ਅਤੇ
                  ਉਸ ਤੋਂ ਬਾਅਦ ਮੈਂ ਕੀਤਾ
                  ਸ.ਅਮਰਜੀਤ ਸਿੰਘ ਸਾਹੀ ਸਰਕਾਰ ਤੋਂ ਡਿਪਲੋਮਾ
                  ਪੌਲੀਟੈਕਨਿਕ ਕਾਲਜ,
                  2017 - 2020 ਤੱਕ ਤਲਵਾੜਾ ਅਤੇ ਮੈਨੂੰ ਬਹੁਤ ਕੁਝ ਸਿੱਖਣ ਨੂੰ ਮਿਲਿਆ
                  ਵਿੱਚ ਵਿਹਾਰਕ ਹੁਨਰ
                  ਇਸ ਕਾਲਜ ਅਤੇ ਸਿਧਾਂਤਕ ਤੌਰ 'ਤੇ ਅਤੇ ਮਾਹੌਲ ਵਿਚ
                  ਕਾਲਜ ਬਹੁਤ ਸੀ
                  ਵਧੀਆ ਸਟਾਫ ਅਤੇ ਬਹੁਤ ਖਾਸ. ਉਨ੍ਹਾਂ ਦਾ ਪੜ੍ਹਾਉਣ ਦਾ ਤਰੀਕਾ
                  ਬਹੁਤ ਵਧੀਆ ਸੀ, ਅਤੇ
                  ਬੰਧਨ ਬਹੁਤ ਵਧੀਆ ਸੀ, ਪਾਸ ਕਰਨ ਤੋਂ ਬਾਅਦ. ਜਿਵੇਂ ਹੀ ਮੇਰਾ
                  ਪੜ੍ਹਾਈ ਸਨ
                  ਪੂਰਾ ਹੋਇਆ, ਮੈਂ ਵਿੱਚ ਆਯੋਜਿਤ ਪਲੇਸਮੈਂਟ ਡਾਈਵ ਵਿੱਚ ਬੈਠ ਗਿਆ
                  ਕਾਲਜ ਅਤੇ ਰੱਖਿਆ ਗਿਆ ਸੀ
                  ਗਣੇਸ਼ ਕਾਰਤੀਕੇਯ ਕੰਸਟ੍ਰਕਸ਼ਨ ਪ੍ਰਾਈਵੇਟ ਲਿਮਿਟੇਡ ਕੰਪਨੀ ਵਿੱਚ,
                  ਅੰੰਮਿ੍ਤਸਰ. ਸਾਰੇ
                  ਉਨ੍ਹਾਂ ਸਾਲਾਂ ਦੌਰਾਨ ਜੋ ਗਿਆਨ ਮੈਂ ਹਾਸਲ ਕੀਤਾ, ਉਹ ਫਲਦਾਇਕ ਸਾਬਤ ਹੋਇਆ
                  ਨਤੀਜਾ|

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">ਬੰਦ ਕਰੋ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--hindi-->
  <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
    [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter ">
      <div class="py-3">
        <div
          class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
          हमारे पूर्व छात्र
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">रिषभ
                  शर्मा</div>
                <p class="card-text">शाखा: मैकेनिकल इंजीनियरिंग </p>
                <p class="card-text">बैच : 2018-21</p>
                <p class="card-text">
                  कंपनी और प्रोफाइल: डीएटी/महिंद्रा एंड महिंद्रा, मोहाली
                </p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps1">देखना
              अधिक</a>
          </div>
          <div class="modal fade modal-lg" id="ps1" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel">रिषभ
                    शर्मा</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  मैं ऋषभ शर्मा हूं. मुझे सदैव से ही इसके प्रति गहरी रुचि रही है
                  में अध्ययन कर रहा हूँ
                  पहाड़ी क्षेत्र यही एक कारण है कि मैंने इसे क्यों चुना
                  कॉलेज। यह
                  मेरे एक करीबी ने मुझे कॉलेज का अत्यधिक सुझाव दिया था
                  रिश्तेदार। मेरे पास है
                  यहाँ से बहुत सारा व्यवहारिक ज्ञान प्राप्त हुआ। स्टाफ था
                  बहुत
                  सहयोगी और मेहनती. माहौल बहुत शांत था
                  और
                  सुखद। न केवल मुझे सैद्धांतिक और व्यावहारिक ज्ञान प्राप्त हुआ
                  ज्ञान लेकिन
                  इसके अलावा, मैंने पाठ्यचर्या संबंधी गतिविधियों में भी भाग लिया जहां मैंने सीखा
                  क्या है
                  टीम वर्क और तनाव से कैसे निपटें। उदाहरण के लिए, मैं कप्तान था
                  की
                  कॉलेज में भांगड़ा टीम, और हमें इसका अवसर मिला
                  राज्य में प्रदर्शन करें
                  स्तर। अपना डिप्लोमा पूरा करने के बाद, मुझे महिंद्रा में नियुक्त किया गया
                  और
                  महिंद्रा, मोहाली के दौरान डिप्लोमा इंजीनियरिंग ट्रेनी के रूप में
                  प्लेसमेंट
                  गाड़ी चलाना। यह सब मेरी कड़ी मेहनत और समर्थन के कारण था
                  से मेरी
                  प्रिय शिक्षकों. उन वर्षों के दौरान, मैं मानसिक रूप से...
                  के लिए विकसित किया गया
                  वास्तविक दुनिया और एक बनने के लिए सभी आवश्यक ज्ञान प्राप्त किया
                  का हिस्सा
                  ऑटोमोबाइल उद्योग। यह कॉलेज निश्चित रूप से आपको बाहर लाएगा
                  बेहतर के साथ
                  आप का संस्करण|
                </div>

              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">बंद करें</button>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">नीतीश कुमार</div>
                <p class="card-text"> शाखा: कंप्यूटर विज्ञान और
                  इंजीनियरिंग</p>
                <p class="card-text">बैच: 2018-21</p>
                <p class="card-text">कंपनी और प्रोफाइल: तकनीकी सहायता
                  इंजीनियर/टेलीपरफॉर्मेंस मोहाली</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>

            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps2">देखना
              अधिक</a>
          </div>
          <div class="modal fade modal-lg" id="ps2" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> नीतीश
                    कुमार</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  मेरा नाम नीतीश कुमार है और मैं तलवाड़ा का रहने वाला हूं। मैं शांत था
                  मेरे बारे में अस्पष्ट
                  आजीविका। उस समय मुझे SASS GPC में प्रवेश मिल गया
                  तलवाड़ा. मैं घबरा गया था
                  हालाँकि, वहाँ जाने के लिए यह एक बेहतरीन जगह साबित हुई
                  अविश्वसनीय
                  प्रोफेसर और कॉलेजिएट। यहाँ पर शिक्षण कौशल
                  आश्चर्यजनक है,
                  प्रोफेसरों का कौशल सेट और ज्ञान, मैं वास्तव में
                  प्रशंसा करना।
                  पढ़ाई के साथ-साथ मैंने सह-पाठ्यक्रम में भी हिस्सा लिया
                  गतिविधियाँ, मैं अंदर था
                  भांगड़ा टीम, कविता पाठ में भाग लिया, बडी
                  गतिविधियाँ, अनेक
                  अन्य बातें। 3 साल के अनुभव ने एहसास कराया और
                  मुझे बनाओ
                  विभिन्न चीजों को समझें जिससे मुझे और मदद मिली
                  व्यक्तिगत भी
                  पेशेवर जीवन जैसे विभिन्न प्रकार के व्यवहार
                  लोग। सही
                  अब, मैं प्रैक्टिकल के कारण अमेरिका स्थित एक एमएनसी में काम कर रहा हूं
                  मेरे पास जो कौशल है
                  कॉलेज में अपने समय के दौरान प्राप्त किया। अंत में मुझे इसकी लालसा है
                  कहो (व्यावहारिक+
                  कोलाज द्वारा किया गया कार्य सैद्धान्तिक+नैतिक) नहीं है
                  केवल हमारे लिए लेकिन
                  समाज के लिए|

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">बंद करना</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">रितिका शर्मा</div>
                <p class="card-text"> शाखा: कंप्यूटर विज्ञान और
                  इंजीनियरिंग</p>
                <p class="card-text">बैच: 2018-21</p>
                <p class="card-text">कंपनी और प्रोफ़ाइल: टीम लीडर/कनेक्ट
                  बिजनेस सॉल्यूशंस, मोहाली</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps3">देखना
              अधिक</a>
          </div>
          <div class="modal fade modal-lg" id="ps3" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> रितिका
                    शर्मा</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  मेरा नाम रितिका शर्मा है. मैं एक छोटे से गांव से हूं
                  करटोली के पास
                  तलवाड़ा. 12वीं पास करने के बाद मुझे दाखिला मिल गया
                  एस.ए.एस.एस. गवर्नर
                  2018 बैच में पॉलिटेक्निक कॉलेज, तलवाड़ा। ये अध्यापक
                  वहाँ पर है
                  एक सकारात्मक ऊर्जा जो हमें उन पर विश्वास करने के लिए प्रेरित करती है
                  पढ़ाई का तरीका,
                  जो अंततः अच्छे परिणाम की ओर ले जाता है। अध्ययन करते समय
                  यहाँ, हर कोई
                  मुझे आमतौर पर होने वाली गतिविधियों में भाग लेने के लिए प्रोत्साहित किया
                  पर हुआ
                  कॉलेज जैसे बडी गतिविधियाँ, आदि। इसके अलावा, मैं
                  मेरे लिए खेला
                  कॉलेज बैडमिंटन टीम. मैं अपना धन्यवाद देना चाहूँगा
                  कॉलेजिएट, मेरे शिक्षक,
                  मुझे इतना अच्छा सीखने का अनुभव देने के लिए मेरे दोस्त
                  यहाँ।
                  वर्तमान में, मैं कनेक्ट बिजनेस सॉल्यूशंस में काम कर रहा हूं,
                  एक टीम के रूप में मोहाली
                  लीडर और सारा श्रेय मेरे कॉलेज को जाता है जिन्होंने मेरी मदद की
                  साथ
                  यह।
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">बंद करें</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">सोरब कुमार</div>
                <p class="card-text">शाखा: कंप्यूटर विज्ञान और
                  इंजीनियरिंग</p>
                <p class="card-text">बैच: 2016-19</p>
                <p class="card-text">कंपनी और प्रोफ़ाइल: ग्राहक सहायता/तकनीकी
                  महिंद्रा आईटी पार्क चंडीगढ़</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps4">देखना
              अधिक</a>
          </div>
          <div class="modal fade modal-lg" id="ps4" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> सोरब कुमार</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">

                  मैं आर्थिक रूप से पिछड़े इलाके कांडी से हूं। मैं
                  काफी अस्पष्ट था
                  एस अमरजीत से जुड़ने से पहले मेरे पेशेवर जीवन के बारे में
                  सिंह साही सरकार.
                  पॉलिटेक्निक कॉलेज तलवाड़ा। मेरा 3 साल का अनुभव है
                  अधिक रोमांचक और
                  इसने मुझे अपनी व्यावसायिक शिक्षा के प्रति और अधिक भावुक बना दिया।
                  शिक्षण है
                  बहुत अच्छा। शिक्षक यह सुनिश्चित करते हैं कि अवधारणाएँ अच्छी हों
                  समझाया और
                  जो भी किसी समस्या का सामना कर रहा हो उसे उचित मार्गदर्शन दें
                  मुश्किल।
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">बंद करें</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-7">
                <div class="card-title fw-semibold fs-4">सुरेश कुमार</div>
                <p class="card-text"> शाखा: सिविल इंजीनियरिंग</p>
                <p class="card-text">बैच: 2017-20</p>
                <p class="card-text">कंपनी और प्रोफ़ाइल: साइट इंजीनियर/गणेश
                  कार्तिकेय कंस्ट्रक्शन प्रा
                  लिमिटेड, अमृतसर</p>
                <!-- <p class="card-text">Mobile No.: 9501107354</p> -->
              </div>
              <div
                class="col-md-5 text-center d-flex align-items-center justify-content-center">
                <img
                  src="../../../../assets/images/used/student-placed/male.webp"
                  class=" img-fluid card-img-top" style="height: 300px;"
                  alt="...">
              </div>
            </div>
            <a href="#" class="btn btn-red" data-bs-toggle="modal"
              data-bs-target="#ps2">देखना
              अधिक</a>
          </div>
          <div class="modal fade modal-lg" id="ps2" tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-4" id="exampleModalLabel"> सुरेश
                    कुमार</h1>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  मैंने रियाली से सीनियर सेकेंडरी स्कूल पास किया है
                  उसके बाद मैंने किया
                  एस अमरजीत सिंह साही सरकार से डिप्लोमा
                  पॉलिटेक्निक कॉलेज,
                  2017 - 2020 तक तलवाड़ा और मुझे बहुत कुछ सीखने को मिला
                  व्यावहारिक कौशल
                  इस कॉलेज में सैद्धांतिक रूप से और माहौल है
                  कॉलेज बहुत था
                  अच्छा स्टाफ और बहुत खास। उनके पढ़ाने का तरीका
                  बहुत अच्छा था, और
                  पास आउट होने के बाद बॉन्डिंग बहुत अच्छी थी. जैसे ही मेरा
                  अध्ययन थे
                  पूरा होने पर, मैं आयोजित प्लेसमेंट डाइव में बैठ गया
                  कॉलेज और रखा गया था
                  गणेश कार्तिकेय कंस्ट्रक्शन प्राइवेट लिमिटेड कंपनी में,
                  अमृतसर. सभी
                  उन वर्षों के दौरान मैंने जो ज्ञान प्राप्त किया, उसका फल मिला
                  परिणाम।

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">बंद करना</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
