<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      College Gallary
    </div>
    <div class="py-3">
      <div class="text-center">
        <ul class="nav nav-tabs pt-3">
          <li class="nav-item" *ngFor="let data of imageData">
            <a class="nav-link red-link" [class.active]="activeTab === data.tab" (click)="changeTab(data.tab)"
              href="javascript:void(0)">{{ data.tab }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="row">
            <div class="col-md-4" *ngFor="let image of getImageList()">
              <div class="img-container">
                <img [src]="image" alt="{{ activeTab }} Image" class="img-thumbnail" (click)="openImageInNewTab(image)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      ਕਾਲਜ ਦੀਆਂ ਯਾਦਾਂ
    </div>
    <div class="py-3">
      <div class="text-center">
        <ul class="nav nav-tabs pt-3">
          <li class="nav-item" *ngFor="let data of imageData">
            <a class="nav-link red-link" [class.active]="activeTab === data.tab" (click)="changeTab(data.tab)"
              href="javascript:void(0)">{{ data.tab }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="row">
            <div class="col-md-3" *ngFor="let image of getImageList()">
              <div class="img-container">
                <img [src]="image" alt="{{ activeTab }} Image" class="img-thumbnail" (click)="openImageInNewTab(image)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      कॉलेज की यादें
    </div>
    <div class="py-3">
      <div class="text-center">
        <ul class="nav nav-tabs pt-3">
          <li class="nav-item" *ngFor="let data of imageData">
            <a class="nav-link red-link" [class.active]="activeTab === data.tab" (click)="changeTab(data.tab)"
              href="javascript:void(0)">{{ data.tab }}</a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="row">
            <div class="col-md-3" *ngFor="let image of getImageList()">
              <div class="img-container">
                <img [src]="image" alt="{{ activeTab }} Image" class="img-thumbnail" (click)="openImageInNewTab(image)">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
