<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Electronics & Communication Engineering</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          Electronics and Communication Engineering: Designs, builds, tests, and maintains electronic devices used in
          computers, IT, electrical systems, power grids, and communication. </p>
      </div>
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ece/class/ece.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">04
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Placed Student</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        Electronics & Communication Engineering in a Nutshell
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Handling and processing of signals:</span> Electronics and Communication
            Engineering focuses on transmitting and receiving information efficiently, playing a pivotal role in modern
            communication systems.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Creation and evaluation of electronic circuits:</span>This field involves
            designing circuits for various applications, ensuring they function effectively and reliably.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Miniaturization of electronic components:</span>Electronics and Communication
            Engineering delve into the design and fabrication of small-scale electronic devices and integrated circuits,
            enabling advancements in technology.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Handling digital information and coding theory: </span>Engineers in this field
            work on digital systems and develop efficient coding techniques, contributing to the processing and
            transmission of information in a digital format.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Transmission without physical connections:</span> Electronics and Communication
            Engineers specialize in developing wireless communication technologies, facilitating global connectivity
            through innovations like mobile communication and satellite systems.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              T.V engineering and Communication Lab</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ece/lab/23.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="my-3">Our college's TV Engineering and Communication Lab serves as a dynamic hub where
                students engage in practical experiments on television signal processing, transmission, and reception,
                gaining insights into the technical aspects that shape the broadcast industry.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Digital Electronics and Microprocessor Labs
            </div>
            <div class="col-md-7">
              <div class="my-3">Our college's Digital Electronics and Microprocessor Labs provide a hands-on environment
                where students experiment with electronic circuits, logic gates, and microcontroller-based projects,
                fostering a deep understanding of the foundational components powering the digital world.</div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ece/lab/24.webp" class="img-fluid shadow" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project and Computer Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ece/lab/22.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="my-3">Students in the Project Lab transform theoretical knowledge into practical solutions,
                while in the Computer Labs, they engage with cutting-edge technology, honing programming skills and
                exploring software development.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                Instrumentation And P.L.C Lab</div>
              <div class="my-3">The Instrumentation and P.L.C (Programmable Logic Controller) Lab at our college
                provides a hands-on platform for students to explore the principles of industrial automation, mastering
                the integration of sensors, actuators, and control systems.</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                Electrical Machine Lab</div>
              <div class="my-3">The Electrical Machine Lab at our college is a dynamic space where students engage in
                practical experiments to understand the principles and applications of electrical machines, including
                generators, motors, and transformers.</div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                Basic Electronics Lab</div>
              <div class="my-3">The Basic Electronics Lab at our college serves as a foundational space where students
                acquire hands-on experience in building and analyzing electronic circuits, laying the groundwork for a
                deeper understanding of electronic principles.</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/ece/lab/21.webp" class="img-fluid" alt="">
  </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ ਇਲੈਕਟ੍ਰਾਨਿਕ ਕੰਪੋਨੈਂਟਸ, ਏਕੀਕ੍ਰਿਤ ਸਰਕਟਾਂ ਅਤੇ ਬਾਰੇ ਹੈ
          ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਅਤੇ ਡਿਜ਼ਾਈਨ, ਫੈਬਰੀਕੇਟ, ਟੈਸਟ, ਰੱਖ-ਰਖਾਅ ਅਤੇ ਨਿਰਮਾਣ ਦੀ ਨਿਗਰਾਨੀ ਦੇ ਸ਼ਾਮਲ ਹਨ
          ਇਲੈਕਟ੍ਰਾਨਿਕ
          ਉਪਕਰਨ ਇੰਜਨੀਅਰਿੰਗ ਦੀ ਇਹ ਸ਼ਾਖਾ ਕੰਪਿਊਟਰ, ਸੂਚਨਾ ਤਕਨਾਲੋਜੀ, ਦੇ ਖੇਤਰ ਵਿੱਚ ਅਹਿਮ ਸਥਾਨ ਰੱਖਦੀ ਹੈ।
          ਇਲੈਕਟ੍ਰੀਕਲ, ਪਾਵਰ ਸਿਸਟਮ ਓਪਰੇਸ਼ਨ, ਸੰਚਾਰ ਪ੍ਰਣਾਲੀਆਂ ਆਦਿ।
        </p>
      </div>
    </div>

    <div class="fw-bold fs-2 red-title pt-3">
      ਯੋਗਤਾ ਪ੍ਰੋਫ਼ਾਈਲ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <ul>
          ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਟੈਸਟ ਕਰਨ ਲਈ.
          ਦਾ ਨਿਰਮਾਣ, ਟੈਸਟਿੰਗ ਅਤੇ ਰੱਖ-ਰਖਾਅ
          ਇਲੈਕਟ੍ਰਾਨਿਕ
          ਡਿਵਾਈਸਾਂ
          ਅਤੇ ਸਿਸਟਮ। ਉਸਾਰੀ ਨੂੰ ਸਮਝਣ ਲਈ,
          ਪਛਾਣ,
          ਇਲੈਕਟ੍ਰਾਨਿਕ ਦੀਆਂ ਵਿਸ਼ੇਸ਼ਤਾਵਾਂ, ਵਿਸ਼ੇਸ਼ਤਾਵਾਂ, ਗੁਣ, ਸੀਮਾਵਾਂ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨ
          ਭਾਗ ਅਤੇ
          ਸਮੱਗਰੀ.
          ਲਾਈਨਾਂ ਸੰਚਾਰ, ਆਡੀਓ ਅਤੇ ਸਮਝਣ ਲਈ
          ਵੀਡੀਓ
          ਸੰਚਾਰ, ਅਤੇ ਮਾਈਕ੍ਰੋਵੇਵ ਸੰਚਾਰ| </ul>
      </div>


      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        ਸੰਖੇਪ ਵਿੱਚ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਸਿਗਨਲਾਂ ਦੀ ਸੰਭਾਲ ਅਤੇ ਪ੍ਰਕਿਰਿਆ:</span> ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜਨੀਅਰਿੰਗ ਆਧੁਨਿਕ
            ਸੰਚਾਰ ਪ੍ਰਣਾਲੀਆਂ ਵਿੱਚ ਇੱਕ ਪ੍ਰਮੁੱਖ ਭੂਮਿਕਾ ਨਿਭਾਉਂਦੇ ਹੋਏ, ਕੁਸ਼ਲਤਾ ਨਾਲ ਜਾਣਕਾਰੀ ਨੂੰ ਸੰਚਾਰਿਤ ਕਰਨ ਅਤੇ ਪ੍ਰਾਪਤ ਕਰਨ 'ਤੇ
            ਕੇਂਦ੍ਰਿਤ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ ਦੀ ਰਚਨਾ ਅਤੇ ਮੁਲਾਂਕਣ:</span>ਇਸ ਖੇਤਰ ਵਿੱਚ ਵੱਖ-ਵੱਖ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ
            ਸਰਕਟਾਂ ਨੂੰ ਡਿਜ਼ਾਈਨ ਕਰਨਾ ਸ਼ਾਮਲ ਹੈ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਣਾ ਕਿ ਉਹ ਪ੍ਰਭਾਵਸ਼ਾਲੀ ਅਤੇ ਭਰੋਸੇਯੋਗ ਢੰਗ ਨਾਲ ਕੰਮ ਕਰਦੇ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਇਲੈਕਟ੍ਰਾਨਿਕ ਕੰਪੋਨੈਂਟਸ ਦਾ ਛੋਟਾਕਰਨ:</span>ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜਨੀਅਰਿੰਗ ਛੋਟੇ
            ਪੈਮਾਨੇ ਦੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਉਪਕਰਨਾਂ ਅਤੇ ਏਕੀਕ੍ਰਿਤ ਸਰਕਟਾਂ ਦੇ ਡਿਜ਼ਾਈਨ ਅਤੇ ਨਿਰਮਾਣ ਵਿੱਚ ਖੋਜ ਕਰਦਾ ਹੈ, ਤਕਨਾਲੋਜੀ ਵਿੱਚ
            ਤਰੱਕੀ ਨੂੰ ਸਮਰੱਥ ਬਣਾਉਂਦਾ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> ਡਿਜੀਟਲ ਜਾਣਕਾਰੀ ਅਤੇ ਕੋਡਿੰਗ ਥਿਊਰੀ ਨੂੰ ਸੰਭਾਲਣਾ: </span>ਇਸ ਖੇਤਰ ਵਿੱਚ ਇੰਜੀਨੀਅਰ ਡਿਜੀਟਲ
            ਪ੍ਰਣਾਲੀਆਂ 'ਤੇ ਕੰਮ ਕਰਦੇ ਹਨ ਅਤੇ ਕੁਸ਼ਲ ਕੋਡਿੰਗ ਤਕਨੀਕਾਂ ਵਿਕਸਿਤ ਕਰਦੇ ਹਨ, ਇੱਕ ਡਿਜੀਟਲ ਫਾਰਮੈਟ ਵਿੱਚ ਜਾਣਕਾਰੀ ਦੀ
            ਪ੍ਰਕਿਰਿਆ ਅਤੇ ਪ੍ਰਸਾਰਣ ਵਿੱਚ ਯੋਗਦਾਨ ਪਾਉਂਦੇ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> ਭੌਤਿਕ ਕਨੈਕਸ਼ਨਾਂ ਤੋਂ ਬਿਨਾਂ ਸੰਚਾਰ:</span> ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰ ਮੋਬਾਈਲ
            ਸੰਚਾਰ ਅਤੇ ਸੈਟੇਲਾਈਟ ਪ੍ਰਣਾਲੀਆਂ ਵਰਗੀਆਂ ਨਵੀਨਤਾਵਾਂ ਦੁਆਰਾ ਵਿਸ਼ਵਵਿਆਪੀ ਸੰਪਰਕ ਦੀ ਸਹੂਲਤ, ਵਾਇਰਲੈੱਸ ਸੰਚਾਰ ਤਕਨਾਲੋਜੀਆਂ ਨੂੰ
            ਵਿਕਸਤ ਕਰਨ ਵਿੱਚ ਮੁਹਾਰਤ ਰੱਖਦੇ ਹਨ।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        ਸਾਡੀਆਂ ਲੈਬਾਂ
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                ਟੀਵੀ ਇੰਜੀਨੀਅਰਿੰਗ ਅਤੇ ਸੰਚਾਰ ਲੈਬ</div>
              <div class="my-3">
                ਸਾਡੇ ਕਾਲਜ ਦੀ ਟੀਵੀ ਇੰਜੀਨੀਅਰਿੰਗ ਅਤੇ ਸੰਚਾਰ ਪ੍ਰਯੋਗਸ਼ਾਲਾ ਇੱਕ ਗਤੀਸ਼ੀਲ ਹੱਬ ਵਜੋਂ ਕੰਮ ਕਰਦੀ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ
                ਟੈਲੀਵਿਜ਼ਨ ਸਿਗਨਲ ਪ੍ਰੋਸੈਸਿੰਗ, ਪ੍ਰਸਾਰਣ ਅਤੇ ਰਿਸੈਪਸ਼ਨ 'ਤੇ ਵਿਹਾਰਕ ਪ੍ਰਯੋਗਾਂ ਵਿੱਚ ਸ਼ਾਮਲ ਹੁੰਦੇ ਹਨ, ਤਕਨੀਕੀ ਪਹਿਲੂਆਂ
                ਦੀ ਸਮਝ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ ਜੋ ਪ੍ਰਸਾਰਣ ਉਦਯੋਗ ਨੂੰ ਆਕਾਰ ਦਿੰਦੇ ਹਨ।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                ਡਿਜੀਟਲ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬ
              </div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਦੀਆਂ ਡਿਜੀਟਲ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬਸ ਇੱਕ ਹੱਥ-ਪੈਰ ਦਾ ਮਾਹੌਲ ਪ੍ਰਦਾਨ
                ਕਰਦੇ ਹਨ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ, ਲੌਜਿਕ ਗੇਟਾਂ, ਅਤੇ ਮਾਈਕ੍ਰੋਕੰਟਰੋਲਰ-ਅਧਾਰਿਤ ਪ੍ਰੋਜੈਕਟਾਂ ਨਾਲ ਪ੍ਰਯੋਗ
                ਕਰਦੇ ਹਨ, ਡਿਜੀਟਲ ਸੰਸਾਰ ਨੂੰ ਸ਼ਕਤੀ ਦੇਣ ਵਾਲੇ ਬੁਨਿਆਦੀ ਹਿੱਸਿਆਂ ਦੀ ਡੂੰਘੀ ਸਮਝ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੇ ਹਨ।</div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                ਪ੍ਰੋਜੈਕਟ ਅਤੇ ਕੰਪਿਊਟਰ ਲੈਬ</div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਪ੍ਰੋਜੈਕਟ ਲੈਬ ਇੱਕ ਸਹਿਯੋਗੀ ਥਾਂ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਵਿਹਾਰਕ
                ਹੱਲਾਂ ਵਿੱਚ ਬਦਲਦੇ ਹਨ, ਵਿਭਿੰਨ ਵਿਸ਼ਿਆਂ ਵਿੱਚ ਨਵੀਨਤਾ ਅਤੇ ਟੀਮ ਵਰਕ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੇ ਹਨ।

                ਕੰਪਿਊਟਰ ਲੈਬਾਂ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਅਤਿ-ਆਧੁਨਿਕ ਤਕਨਾਲੋਜੀ, ਪ੍ਰੋਗਰਾਮਿੰਗ ਹੁਨਰਾਂ ਨੂੰ ਮਾਨਤਾ ਦੇਣ ਅਤੇ ਸੌਫਟਵੇਅਰ
                ਡਿਵੈਲਪਮੈਂਟ ਦੀ ਖੋਜ ਕਰਦੇ ਹੋਏ, ਸਿੱਖਣ ਦੇ ਇੱਕ ਹੱਥ ਨਾਲ ਅਨੁਭਵ ਨੂੰ ਯਕੀਨੀ ਬਣਾਉਂਦੇ ਹਨ ਜੋ ਉਹਨਾਂ ਨੂੰ ਕੰਪਿਊਟਰ ਵਿਗਿਆਨ
                ਦੇ ਸਦਾ-ਵਿਕਸਿਤ ਲੈਂਡਸਕੇਪ ਲਈ ਤਿਆਰ ਕਰਦਾ ਹੈ।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                ਇੰਸਟਰੂਮੈਂਟੇਸ਼ਨ ਅਤੇ ਪੀ.ਐਲ.ਸੀ. ਲੈਬ</div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਇੰਸਟਰੂਮੈਂਟੇਸ਼ਨ ਅਤੇ P.L.C (ਪ੍ਰੋਗਰਾਮੇਬਲ ਲਾਜਿਕ ਕੰਟਰੋਲਰ) ਲੈਬ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ
                ਉਦਯੋਗਿਕ ਆਟੋਮੇਸ਼ਨ ਦੇ ਸਿਧਾਂਤਾਂ ਦੀ ਪੜਚੋਲ ਕਰਨ, ਸੈਂਸਰਾਂ, ਐਕਚੂਏਟਰਾਂ, ਅਤੇ ਨਿਯੰਤਰਣ ਪ੍ਰਣਾਲੀਆਂ ਦੇ ਏਕੀਕਰਣ ਵਿੱਚ
                ਮੁਹਾਰਤ ਹਾਸਲ ਕਰਨ ਲਈ ਇੱਕ ਹੈਂਡ-ਆਨ ਪਲੇਟਫਾਰਮ ਪ੍ਰਦਾਨ ਕਰਦੀ ਹੈ।</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                ਇਲੈਕਟ੍ਰੀਕਲ ਮਸ਼ੀਨ ਲੈਬ</div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਇਲੈਕਟ੍ਰੀਕਲ ਮਸ਼ੀਨ ਲੈਬ ਇੱਕ ਗਤੀਸ਼ੀਲ ਜਗ੍ਹਾ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਜਨਰੇਟਰ, ਮੋਟਰਾਂ
                ਅਤੇ ਟ੍ਰਾਂਸਫਾਰਮਰਾਂ ਸਮੇਤ ਇਲੈਕਟ੍ਰੀਕਲ ਮਸ਼ੀਨਾਂ ਦੇ ਸਿਧਾਂਤਾਂ ਅਤੇ ਐਪਲੀਕੇਸ਼ਨਾਂ ਨੂੰ ਸਮਝਣ ਲਈ ਵਿਹਾਰਕ ਪ੍ਰਯੋਗਾਂ ਵਿੱਚ
                ਸ਼ਾਮਲ ਹੁੰਦੇ ਹਨ।</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                ਬੇਸਿਕ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ</div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਬੇਸਿਕ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ ਇੱਕ ਬੁਨਿਆਦੀ ਜਗ੍ਹਾ ਦੇ ਤੌਰ 'ਤੇ ਕੰਮ ਕਰਦੀ ਹੈ ਜਿੱਥੇ
                ਵਿਦਿਆਰਥੀ ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਵਿਸ਼ਲੇਸ਼ਣ ਕਰਨ ਦਾ ਤਜਰਬਾ ਹਾਸਲ ਕਰਦੇ ਹਨ, ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਿਧਾਂਤਾਂ ਦੀ
                ਡੂੰਘੀ ਸਮਝ ਲਈ ਆਧਾਰ ਤਿਆਰ ਕਰਦੇ ਹਨ।</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
  </div>
</div>







<!---hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      इलेक्ट्रॉनिक्स एवं संचार इंजीनियरिंग</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग इलेक्ट्रॉनिक घटकों, एकीकृत सर्किट और के बारे में है
          माइक्रोप्रोसेसर और इसमें डिजाइन, निर्माण, परीक्षण, रखरखाव और निर्माण की निगरानी शामिल है
          इलेक्ट्रोनिक
          उपकरण। इंजीनियरिंग की यह शाखा कंप्यूटर, सूचना प्रौद्योगिकी के क्षेत्र में महत्वपूर्ण स्थान रखती है।
          विद्युत, विद्युत प्रणाली संचालन, संचार प्रणाली आदि।
        </p>
      </div>
    </div>

    <div class="fw-bold fs-2 red-title pt-3">
      योग्यता प्रोफ़ाइल</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <ul>
          इलेक्ट्रॉनिक सर्किट का निर्माण और परीक्षण करना।
          का विनिर्माण, परीक्षण और रखरखाव
          इलेक्ट्रोनिक
          उपकरण
          और सिस्टम। निर्माण को समझने के लिए,
          पहचान,
          इलेक्ट्रॉनिक की विशेषताएँ, विशिष्टताएँ, गुण, सीमाएँ और अनुप्रयोग
          घटक और
          सामग्री.
          लाइनों संचार, ऑडियो और को समझने के लिए
          वीडियो
          संचार, और माइक्रोवेव संचार।
        </ul>
      </div>


      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        संक्षेप में इलेक्ट्रॉनिक्स एवं संचार इंजीनियरिंग
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">सिग्नलों का प्रबंधन और प्रसंस्करण:</span> इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग
            आधुनिक संचार प्रणालियों में महत्वपूर्ण भूमिका निभाते हुए सूचना को कुशलतापूर्वक प्रसारित करने और प्राप्त करने
            पर केंद्रित है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">इलेक्ट्रॉनिक सर्किट का निर्माण और मूल्यांकन:</span>इस क्षेत्र में विभिन्न
            अनुप्रयोगों के लिए सर्किट डिजाइन करना शामिल है, यह सुनिश्चित करना कि वे प्रभावी ढंग से और विश्वसनीय रूप से
            कार्य करें।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">इलेक्ट्रॉनिक घटकों का लघुकरण:</span>इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग
            प्रौद्योगिकी में प्रगति को सक्षम करते हुए, छोटे पैमाने के इलेक्ट्रॉनिक उपकरणों और एकीकृत सर्किट के डिजाइन और
            निर्माण में गहराई से उतरती है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> डिजिटल जानकारी और कोडिंग सिद्धांत को संभालना: </span>इस क्षेत्र के इंजीनियर
            डिजिटल सिस्टम पर काम करते हैं और कुशल कोडिंग तकनीक विकसित करते हैं, जो डिजिटल प्रारूप में सूचना के
            प्रसंस्करण और प्रसारण में योगदान करते हैं।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> भौतिक कनेक्शन के बिना संचरण:</span>
            इलेक्ट्रॉनिक्स और संचार इंजीनियर वायरलेस संचार प्रौद्योगिकियों को विकसित करने, मोबाइल संचार और उपग्रह
            प्रणालियों जैसे नवाचारों के माध्यम से वैश्विक कनेक्टिविटी की सुविधा प्रदान करने में विशेषज्ञ हैं।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        हमारी लैब्स
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                टीवी इंजीनियरिंग और संचार प्रयोगशाला</div>
              <div class="my-3">हमारे कॉलेज की टीवी इंजीनियरिंग और संचार लैब एक गतिशील केंद्र के रूप में कार्य करती है
                जहां छात्र टेलीविजन सिग्नल प्रोसेसिंग, ट्रांसमिशन और रिसेप्शन पर व्यावहारिक प्रयोगों में संलग्न होते
                हैं, और प्रसारण उद्योग को आकार देने वाले तकनीकी पहलुओं में अंतर्दृष्टि प्राप्त करते हैं।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                डिजिटल इलेक्ट्रॉनिक्स और माइक्रोप्रोसेसर लैब्स
              </div>
              <div class="my-3">
                हमारे कॉलेज की डिजिटल इलेक्ट्रॉनिक्स और माइक्रोप्रोसेसर लैब्स एक व्यावहारिक वातावरण प्रदान करती हैं जहां
                छात्र इलेक्ट्रॉनिक सर्किट, लॉजिक गेट्स और माइक्रोकंट्रोलर-आधारित परियोजनाओं के साथ प्रयोग करते हैं,
                जिससे डिजिटल दुनिया को शक्ति देने वाले मूलभूत घटकों की गहरी समझ को बढ़ावा मिलता है।</div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                प्रोजेक्ट और कंप्यूटर लैब्स</div>
              <div class="my-3">हमारे कॉलेज में प्रोजेक्ट लैब एक सहयोगी स्थान है जहां छात्र सैद्धांतिक ज्ञान को
                व्यावहारिक समाधान में बदलते हैं, विभिन्न विषयों में नवाचार और टीम वर्क को बढ़ावा देते हैं।

                कंप्यूटर लैब्स में, छात्र अत्याधुनिक तकनीक से जुड़ते हैं, प्रोग्रामिंग कौशल को निखारते हैं और सॉफ्टवेयर
                विकास की खोज करते हैं, जिससे व्यावहारिक सीखने का अनुभव सुनिश्चित होता है जो उन्हें कंप्यूटर विज्ञान के
                लगातार विकसित होने वाले परिदृश्य के लिए तैयार करता है।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row my-3">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                इंस्ट्रुमेंटेशन और पी.एल.सी. लैब</div>
              <div class="my-3">हमारे कॉलेज की यह लैब छात्रों को औद्योगिक स्वचालन के सिद्धांतों का पता लगाने, सेंसर,
                एक्चुएटर्स और नियंत्रण प्रणालियों के एकीकरण में महारत हासिल करने के लिए एक व्यावहारिक मंच प्रदान करती
                है।</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                इलेक्ट्रिकल मशीन लैब</div>
              <div class="my-3">हमारे कॉलेज में इलेक्ट्रिकल मशीन लैब एक गतिशील स्थान है जहां छात्र जनरेटर, मोटर और
                ट्रांसफार्मर सहित विद्युत मशीनों के सिद्धांतों और अनुप्रयोगों को समझने के लिए व्यावहारिक प्रयोगों में
                संलग्न होते हैं।</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="fw-semibold fs-3">
                बेसिक इलेक्ट्रॉनिक्स लैब</div>
              <div class="my-3">हमारे कॉलेज में बेसिक इलेक्ट्रॉनिक्स लैब एक मूलभूत स्थान के रूप में कार्य करती है जहां
                छात्र इलेक्ट्रॉनिक सर्किट के निर्माण और विश्लेषण में व्यावहारिक अनुभव प्राप्त करते हैं, जिससे
                इलेक्ट्रॉनिक सिद्धांतों की गहरी समझ के लिए आधार तैयार होता है।</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
  </div>
</div>
