<div class="container">
    <div class="fw-bold fs-3 red-title py-3"> Electronics & Communication Engineering</div>
    <p>
        Electronics and Communication Engineering is about electronic components, integrated circuits and
        microprocessors and consists of design, fabricate, test, maintain and supervise the manufacture of electronic
        equipment. This branch Of Engineering has a key place in the field of computers, Information Technology,
        Electrical, power system operations, communication systems etc.
    </p>
    <p>
        Competency Profile
    </p>
    <ul>
        <li><i class="fa-regular fa-hand-point-right"></i> To fabricate and test electronic circuits</li>
        <li><i class="fa-regular fa-hand-point-right"></i> Manufacturing, testing and maintenance of electronic devices
            and systems.</li>
        <li><i class="fa-regular fa-hand-point-right"></i> To understand the construction, identification,
            characteristics, specifications, merits, limitations and applications of electronic components and materials
        </li>
        <li><i class="fa-regular fa-hand-point-right"></i> To understand lines communication, audio and video
            communication, and microwave communication</li>
    </ul>

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <td scope="col">SERIAL NO.</td>
                <td scope="col">NAME OF LAB</td>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">1.</td>
                <td>T.V ENGINEERING LAB</td>
            </tr>
            <tr>
                <td scope="row">2.</td>
                <td>COMMUNICATION LAB</td>
            </tr>
            <tr>
                <td scope="row">3.</td>
                <td>INSTRUMENTATION & P.L.C LAB</td>
            </tr>
            <tr>
                <td scope="row">4.</td>
                <td>DIGITAL ELECTRONICS AND MICROPROCESSOR LAB</td>
            </tr>
            <tr>
                <td scope="row">5.</td>
                <td>ELECTRICAL MACHINE LAB</td>
            </tr>
            <tr>
                <td scope="row">6.</td>
                <td>BASIC ELECTRONICS LAB</td>
            </tr>
            <tr>
                <td scope="row"> 7.</td>
                <td>COMPUTER LAB</td>
            </tr>
            <tr>
                <td scope="row">8.</td>
                <td>PROJECT LAB</td>
            </tr>
        </tbody>
    </table>
</div>