<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'en'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-3 red-title py-3">
            Scholarships
        </div>
        <div>
            <p>Chief Minister Scholarship Scheme</p>
            <ol>
                <li>This Scholarship Scheme shall be applicable to all the Govt. Institutions offerring Diploma courses.
                </li>
                <li>This scheme shall be applicable from the session 2017-18 onwards.</li>
                <li>Under this Scholarship scheme tuition fee waiver is to be given to the students on the basis of %age
                    of
                    marks secured in the qualifying examination as under:-</li>
            </ol>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Percentage in Qualifying Exam</th>
                    <th scope="col">Fees at the Time of Admission</th>
                    <th scope="col">Fee Payable After Six Months</th>
                    <th scope="col">Annual Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General, OBC and Others</td>
                    <td>90% and above</td>
                    <td>7150</td>
                    <td>0</td>
                    <td>7150</td>
                </tr>
                <tr>
                    <td>80% to less than 90%</td>
                    <td>80% to less than 90%</td>
                    <td>8250</td>
                    <td>1100</td>
                    <td>9350</td>
                </tr>
                <tr>
                    <td>70% to less than 80%</td>
                    <td>70% to less than 80%</td>
                    <td>9350</td>
                    <td>2200</td>
                    <td>11550</td>
                </tr>
                <tr>
                    <td>60% to less than 70%</td>
                    <td>60% to less than 70%</td>
                    <td>10450</td>
                    <td>3300</td>
                    <td>13750</td>
                </tr>
                <tr>
                    <td>Below 60%</td>
                    <td>Below 60%</td>
                    <td>18150</td>
                    <td>11000</td>
                    <td>29150</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>Post Matric Scholarship
            </p>
            <ul>
                <li> The students studying at post-matriculation level i.e. 1st semester diploma students can apply for
                    this
                    scholarship.
                </li>
                <li> The annual income of the family should be less than INR 2.50 Lakh.</li>
            </ul>
        </div>
        <div>
            <p>
                Tuition Fee Waiver (TFW) Scheme
            </p>
            <ul>
                <li>Children of those parents whose annual income is less than 8 lakh from all sources will only be
                    eligible
                    for this scheme.

                </li>
                <li> Under AICTE Tuition Fee Waiver (TFW) Scheme, seats up to a maximum of 5% of sanctioned intake per
                    course will be available.</li>
                <li>
                    Under fees waiver Scheme Tuition Fees of selected candidate is waived off student has to pay only
                    institutional development funds.</li>

            </ul>
        </div>
        <div>
            <p>
                Full and Half Freeship

            </p>
            <p>
                Full freeship would be provided to 5% of the students admitted to every semester/year of every course on
                the
                basis of merit. Individual students would continue to enjoy full freeship of he/she continuous to remain
                within top 5% of his/her class in each semester.
                Similarly, half freeship would be provided to 5% if the students in each course and each semester purely
                on
                merit basis. Freeship would be available vis-à-vis tuition fee only and the criteria for awarding
                freeship
                will be followed as under:
            </p>
        </div>
        <div>
            <p>
                Special Note Regarding Freeship: </p>
            <p>
                In a class of 30 students, one student is to be awarded full freeship and 2 students are to be awarded
                half
                freeship and in class of 15 students or less, one student will get full freeship and one student will
                get
                half freeship. In cases, where there are more than on claimant for full freeship/half-freeship, the
                amount
                shall be divided equally amongst the claimants.
            </p>
        </div>
        <div>
            <p>
                Security Refund:
            </p>
            <p>
                If a student does not claim the refund of security within a year after appearing in final semester/year
                or
                leaving the institution his security will be forfeited and will be deposited in student fund.
            </p>
        </div>
    </div>
</div>