<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Scholarships
        </div>
        <div class="pt-3 ">
            <p class="fw-bold fs-4 red-title pt-3">Chief Minister Scholarship Scheme</p>
            <ol>
                <li>This Scholarship Scheme shall be applicable to all the Govt. Institutions offerring Diploma courses.
                </li>
                <li>This scheme shall be applicable from the session 2017-18 onwards.</li>
                <li>Under this Scholarship scheme tuition fee waiver is to be given to the students on the basis of %age
                    of
                    marks secured in the qualifying examination as under:-</li>
            </ol>
        </div>
        <table class="table  table-hover border-danger border">
            <thead>
                <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Percentage in Qualifying Exam</th>
                    <th scope="col">Fees at the Time of Admission</th>
                    <th scope="col">Fee Payable After Six Months</th>
                    <th scope="col">Annual Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>General, OBC and Others</td>
                    <td>90% and above</td>
                    <td>7150</td>
                    <td>0</td>
                    <td>7150</td>
                </tr>
                <tr>
                    <td>80% to less than 90%</td>
                    <td>80% to less than 90%</td>
                    <td>8250</td>
                    <td>1100</td>
                    <td>9350</td>
                </tr>
                <tr>
                    <td>70% to less than 80%</td>
                    <td>70% to less than 80%</td>
                    <td>9350</td>
                    <td>2200</td>
                    <td>11550</td>
                </tr>
                <tr>
                    <td>60% to less than 70%</td>
                    <td>60% to less than 70%</td>
                    <td>10450</td>
                    <td>3300</td>
                    <td>13750</td>
                </tr>
                <tr>
                    <td>Below 60%</td>
                    <td>Below 60%</td>
                    <td>18150</td>
                    <td>11000</td>
                    <td>29150</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="fw-bold fs-4 red-title pt-3">Post Matric Scholarship
            </p>
            <ul>
                <li> The students studying at post-matriculation level i.e. 1st semester diploma students can apply for
                    this
                    scholarship.
                </li>
                <li> The annual income of the family should be less than INR 2.50 Lakh.</li>
            </ul>
        </div>
        <div>
            <p class="fw-bold fs-4 red-title pt-3">
                Tuition Fee Waiver (TFW) Scheme
            </p>
            <ul>
                <li>Children of those parents whose annual income is less than 8 lakh from all sources will only be
                    eligible
                    for this scheme.

                </li>
                <li> Under AICTE Tuition Fee Waiver (TFW) Scheme, seats up to a maximum of 5% of sanctioned intake per
                    course will be available.</li>
                <li>
                    Under fees waiver Scheme Tuition Fees of selected candidate is waived off student has to pay only
                    institutional development funds.</li>

            </ul>
        </div>
        <div>
            <p class="fw-bold fs-4 red-title pt-3">
                Full and Half Freeship

            </p>
            <p>
                Full freeship would be provided to 5% of the students admitted to every semester/year of every course on
                the
                basis of merit. Individual students would continue to enjoy full freeship of he/she continuous to remain
                within top 5% of his/her class in each semester.
                Similarly, half freeship would be provided to 5% if the students in each course and each semester purely
                on
                merit basis. Freeship would be available vis-à-vis tuition fee only and the criteria for awarding
                freeship
                will be followed as under:
            </p>
        </div>
        <div>
            <p class="fw-bold fs-4 red-title pt-3">
                Special Note Regarding Freeship </p>
            <p>
                In a class of 30 students, one student is to be awarded full freeship and 2 students are to be awarded
                half
                freeship and in class of 15 students or less, one student will get full freeship and one student will
                get
                half freeship. In cases, where there are more than on claimant for full freeship/half-freeship, the
                amount
                shall be divided equally amongst the claimants.
            </p>
        </div>
        <div>
            <p class="fw-bold fs-4 red-title pt-3">
                Security Refund
            </p>
            <p>
                If a student does not claim the refund of security within a year after appearing in final semester/year
                or
                leaving the institution his security will be forfeited and will be deposited in student fund.
            </p>
            <br>
        </div>
    </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
<div class="container">
    <div
        class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        ਵਜ਼ੀਫ਼ੇ
    </div>
    <div class="pt-3 ">
        <p class="fw-bold fs-4 red-title pt-3">ਮੁੱਖ ਮੰਤਰੀ ਵਜ਼ੀਫ਼ਾ ਯੋਜਨਾ
        </p>
        <ol>
            <li>ਇਹ ਸਕਾਲਰਸ਼ਿਪ ਸਕੀਮ ਸਾਰੀਆਂ ਸਰਕਾਰਾਂ 'ਤੇ ਲਾਗੂ ਹੋਵੇਗੀ। ਡਿਪਲੋਮਾ ਕੋਰਸਾਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਨ ਵਾਲੀਆਂ ਸੰਸਥਾਵਾਂ।
            </li>
            <li>ਇਹ ਸਕੀਮ ਸੈਸ਼ਨ 2017-18 ਤੋਂ ਬਾਅਦ ਲਾਗੂ ਹੋਵੇਗੀ।</li>
            <li>ਇਸ ਸਕਾਲਰਸ਼ਿਪ ਸਕੀਮ ਤਹਿਤ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ % ਉਮਰ ਦੇ ਆਧਾਰ 'ਤੇ ਟਿਊਸ਼ਨ ਫੀਸ ਦੀ ਛੋਟ ਦਿੱਤੀ ਜਾਣੀ ਹੈ।
                ਦੇ
                ਹੇਠ ਲਿਖੇ ਅਨੁਸਾਰ ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਵਿੱਚ ਪ੍ਰਾਪਤ ਅੰਕ:-</li>
        </ol>
    </div>
    <table class="table  table-hover border-danger border">
        <thead>
            <tr>
                <th scope="col">ਸ਼੍ਰੇਣੀ</th>
                <th scope="col">ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਵਿੱਚ ਪ੍ਰਤੀਸ਼ਤਤਾ
                </th>
                <th scope="col">ਦਾਖਲੇ ਦੇ ਸਮੇਂ ਫੀਸ</th>
                <th scope="col">ਫੀਸ ਛੇ ਮਹੀਨਿਆਂ ਬਾਅਦ ਭੁਗਤਾਨਯੋਗ ਹੈ</th>
                <th scope="col">ਸਲਾਨਾ ਫੀਸ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ਜਨਰਲ, ਓ.ਬੀ.ਸੀ. ਅਤੇ ਹੋਰ</td>
                <td>
                    90% ਅਤੇ ਵੱਧ</td>
                <td>7150</td>
                <td>0</td>
                <td>7150</td>
            </tr>
            <tr>
                <td>
                    80% ਤੋਂ 90% ਤੋਂ ਘੱਟ</td>
                <td>80% ਤੋਂ 90% ਤੋਂ ਘੱਟ</td>
                <td>8250</td>
                <td>1100</td>
                <td>9350</td>
            </tr>
            <tr>
                <td>70% ਤੋਂ 80% ਤੋਂ ਘੱਟ</td>
                <td>
                    70% ਤੋਂ 80% ਤੋਂ ਘੱਟ</td>
                <td>9350</td>
                <td>2200</td>
                <td>11550</td>
            </tr>
            <tr>
                <td>60% ਤੋਂ 70% ਤੋਂ ਘੱਟ</td>
                <td>
                    60% ਤੋਂ 70% ਤੋਂ ਘੱਟ</td>
                <td>10450</td>
                <td>3300</td>
                <td>13750</td>
            </tr>
            <tr>
                <td>60% ਤੋਂ ਘੱਟ</td>
                <td>
                    60% ਤੋਂ ਘੱਟ</td>
                <td>18150</td>
                <td>11000</td>
                <td>29150</td>
            </tr>
        </tbody>
    </table>
    <div>
        <p class="fw-bold fs-4 red-title pt-3">ਪੋਸਟ ਮੈਟ੍ਰਿਕ ਸਕਾਲਰਸ਼ਿਪ
        </p>
        <ul>
            <li> ਪੋਸਟ-ਮੈਟ੍ਰਿਕ ਪੱਧਰ 'ਤੇ ਪੜ੍ਹ ਰਹੇ ਵਿਦਿਆਰਥੀ ਭਾਵ ਪਹਿਲੇ ਸਮੈਸਟਰ ਦੇ ਡਿਪਲੋਮਾ ਦੇ ਵਿਦਿਆਰਥੀ ਅਪਲਾਈ ਕਰ ਸਕਦੇ ਹਨ।
                ਇਹ
                ਸਕਾਲਰਸ਼ਿਪ.
            </li>
            <li> ਪਰਿਵਾਰ ਦੀ ਸਾਲਾਨਾ ਆਮਦਨ 2.50 ਲੱਖ ਰੁਪਏ ਤੋਂ ਘੱਟ ਹੋਣੀ ਚਾਹੀਦੀ ਹੈ।</li>
        </ul>
    </div>
    <div>
        <p class="fw-bold fs-4 red-title pt-3">
            ਟਿਊਸ਼ਨ ਫੀਸ ਮੁਆਫੀ (TFW) ਸਕੀਮ
        </p>
        <ul>
            <li>ਉਨ੍ਹਾਂ ਮਾਪਿਆਂ ਦੇ ਬੱਚੇ ਹੀ ਹੋਣਗੇ ਜਿਨ੍ਹਾਂ ਦੀ ਸਾਲਾਨਾ ਆਮਦਨ ਸਾਰੇ ਸਰੋਤਾਂ ਤੋਂ 8 ਲੱਖ ਤੋਂ ਘੱਟ ਹੈ
                ਯੋਗ
                ਇਸ ਸਕੀਮ ਲਈ.

            </li>
            <li> AICTE ਟਿਊਸ਼ਨ ਫੀਸ ਮੁਆਫੀ (TFW) ਸਕੀਮ ਦੇ ਤਹਿਤ, ਪ੍ਰਤੀ ਮਨਜ਼ੂਰਸ਼ੁਦਾ ਦਾਖਲੇ ਦੇ ਵੱਧ ਤੋਂ ਵੱਧ 5% ਤੱਕ ਸੀਟਾਂ
                ਕੋਰਸ ਉਪਲਬਧ ਹੋਵੇਗਾ।</li>
            <li>
                ਫੀਸ ਮੁਆਫੀ ਸਕੀਮ ਅਧੀਨ ਚੁਣੇ ਗਏ ਉਮੀਦਵਾਰ ਦੀ ਟਿਊਸ਼ਨ ਫੀਸ ਮੁਆਫ ਕੀਤੀ ਜਾਂਦੀ ਹੈ ਵਿਦਿਆਰਥੀ ਨੂੰ ਹੀ ਅਦਾ ਕਰਨੀ ਪੈਂਦੀ ਹੈ
                ਸੰਸਥਾਗਤ ਵਿਕਾਸ ਫੰਡ</li>

        </ul>
    </div>
    <div>
        <p class="fw-bold fs-4 red-title pt-3">
            
ਪੂਰੀ ਅਤੇ ਅੱਧੀ ਫਰੀਸ਼ਿਪ

        </p>
        <p>
            ਹਰ ਕੋਰਸ ਦੇ ਹਰ ਸਮੈਸਟਰ/ਸਾਲ ਵਿੱਚ ਦਾਖਲਾ ਲੈਣ ਵਾਲੇ 5% ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਪੂਰੀ ਫ੍ਰੀਸ਼ਿਪ ਦਿੱਤੀ ਜਾਵੇਗੀ
            ਦੀ
            ਯੋਗਤਾ ਦੇ ਆਧਾਰ 'ਤੇ. ਵਿਅਕਤੀਗਤ ਵਿਦਿਆਰਥੀ ਲਗਾਤਾਰ ਬਣੇ ਰਹਿਣ ਦੀ ਪੂਰੀ ਫ੍ਰੀਸ਼ਿਪ ਦਾ ਆਨੰਦ ਲੈਂਦੇ ਰਹਿਣਗੇ
            ਹਰੇਕ ਸਮੈਸਟਰ ਵਿੱਚ ਉਸਦੀ/ਉਸਦੀ ਕਲਾਸ ਦੇ ਸਿਖਰਲੇ 5% ਦੇ ਅੰਦਰ।
            ਇਸੇ ਤਰ੍ਹਾਂ, ਜੇ ਵਿਦਿਆਰਥੀ ਹਰੇਕ ਕੋਰਸ ਅਤੇ ਹਰੇਕ ਸਮੈਸਟਰ ਵਿੱਚ ਸ਼ੁੱਧ ਰੂਪ ਵਿੱਚ ਹੁੰਦੇ ਹਨ ਤਾਂ 5% ਨੂੰ ਅੱਧੀ ਫਰੀਸ਼ਿਪ ਪ੍ਰਦਾਨ ਕੀਤੀ ਜਾਵੇਗੀ
            'ਤੇ
            ਯੋਗਤਾ ਦੇ ਆਧਾਰ 'ਤੇ. ਫ੍ਰੀਸ਼ਿਪ ਸਿਰਫ ਟਿਊਸ਼ਨ ਫੀਸ ਅਤੇ ਅਵਾਰਡ ਦੇਣ ਦੇ ਮਾਪਦੰਡ ਦੇ ਮੁਕਾਬਲੇ ਉਪਲਬਧ ਹੋਵੇਗੀ
            ਮੁਫ਼ਤ
            ਹੇਠ ਲਿਖੇ ਅਨੁਸਾਰ ਕੀਤਾ ਜਾਵੇਗਾ:
        </p>
    </div>
    <div>
        <p class="fw-bold fs-4 red-title pt-3">
            ਫਰੀਸ਼ਿਪ ਬਾਰੇ ਵਿਸ਼ੇਸ਼ ਨੋਟ </p>
        <p>
            30 ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਇੱਕ ਜਮਾਤ ਵਿੱਚ, ਇੱਕ ਵਿਦਿਆਰਥੀ ਨੂੰ ਪੂਰੀ ਫ੍ਰੀਸ਼ਿਪ ਦਿੱਤੀ ਜਾਣੀ ਹੈ ਅਤੇ 2 ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਸਨਮਾਨਿਤ ਕੀਤਾ ਜਾਣਾ ਹੈ।
            ਅੱਧੇ
            ਫ੍ਰੀਸ਼ਿਪ ਅਤੇ 15 ਜਾਂ ਇਸ ਤੋਂ ਘੱਟ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਕਲਾਸ ਵਿੱਚ, ਇੱਕ ਵਿਦਿਆਰਥੀ ਨੂੰ ਪੂਰੀ ਫ੍ਰੀਸ਼ਿਪ ਮਿਲੇਗੀ ਅਤੇ ਇੱਕ ਵਿਦਿਆਰਥੀ ਨੂੰ ਮਿਲੇਗਾ
            ਪ੍ਰਾਪਤ ਕਰੋ
            ਅੱਧੀ ਫਰੀਸ਼ਿਪ। ਅਜਿਹੇ ਮਾਮਲਿਆਂ ਵਿੱਚ, ਜਿੱਥੇ ਪੂਰੀ ਫ੍ਰੀਸ਼ਿਪ/ਅੱਧੀ-ਫ੍ਰੀਸ਼ਿਪ ਲਈ ਦਾਅਵੇਦਾਰ ਤੋਂ ਵੱਧ ਹਨ,
            ਦੀ ਰਕਮ
            ਦਾਅਵੇਦਾਰਾਂ ਵਿੱਚ ਬਰਾਬਰ ਵੰਡਿਆ ਜਾਵੇਗਾ।
        </p>
    </div>
    <div>
        <p class="fw-bold fs-4 red-title pt-3">
            ਸੁਰੱਖਿਆ ਰਿਫੰਡ
        </p>
        <p>
            ਜੇਕਰ ਕੋਈ ਵਿਦਿਆਰਥੀ ਅੰਤਿਮ ਸਮੈਸਟਰ/ਸਾਲ ਵਿੱਚ ਹਾਜ਼ਰ ਹੋਣ ਤੋਂ ਬਾਅਦ ਇੱਕ ਸਾਲ ਦੇ ਅੰਦਰ ਸੁਰੱਖਿਆ ਦੀ ਰਿਫੰਡ ਦਾ ਦਾਅਵਾ ਨਹੀਂ ਕਰਦਾ ਹੈ
            ਜਾਂ
            ਸੰਸਥਾ ਛੱਡਣ 'ਤੇ ਉਸਦੀ ਸੁਰੱਖਿਆ ਜ਼ਬਤ ਕਰ ਲਈ ਜਾਵੇਗੀ ਅਤੇ ਵਿਦਿਆਰਥੀ ਫੰਡ ਵਿੱਚ ਜਮ੍ਹਾ ਕਰ ਦਿੱਤੀ ਜਾਵੇਗੀ।
        </p>
        <br>
    </div>
</div>
