<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Mechanical Engineering
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          From robots to rockets, nanomachines to megaprojects, build the future with mechanical engineering: master
          design, analysis, and innovation to shape the world, one gear at a time
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/me/class/me.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        Mechanical Engineering in a Nutshell</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Focus on designing mechanical components and systems:</span>Mechanical
            Engineering at our college emphasizes the creation and optimization of machines, devices, and systems
            through a comprehensive understanding of mechanics and materials.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Hands-on learning experiences:</span>Through well-equipped labs and projects,
            students gain practical skills in manufacturing, thermodynamics, and fluid mechanics, ensuring they can
            apply theoretical knowledge to real-world engineering challenges.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Encouragement of creative problem-solving:</span> Our Mechanical Engineering
            program promotes innovation and research, empowering students to explore cutting-edge technologies,
            materials, and sustainable practices in the field.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Integration with other engineering disciplines:</span> Students benefit from a
            holistic education, integrating aspects of electrical, civil, and materials engineering to produce
            well-rounded mechanical engineers capable of addressing complex, interdisciplinary problems.
          </li>

        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Power Electronics Labs</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                Power electronics labs are essential for students in electronic engineering to gain practical experience
                with power conversion circuits and devices. The Caltech Power Electronics Lab conducts research on power
                conversion for energy storage, power transmission, and electric propulsion.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Digital and Microprocessor Lab </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                A Digital and Microprocessor Lab in Electronic Communication Engineering (ECE) is a practical space
                where students gain hands-on experience with the fundamental building blocks of digital systems and
                their control using microprocessors
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Basic Electronics Lab</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                A basic electronics lab in Electronics and Communication Engineering (ECE) provides students with their
                first hands-on experience with electronic components and circuits. This lab serves as a foundation for
                understanding the fundamental building blocks of electronic systems and their operation </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Communication Systems Lab</div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                At the Communication Systems Lab, we delve into the intricate world of telecommunications, exploring
                wireless communication, digital modulation techniques, and signal processing. Our mission is to equip
                individuals with the knowledge and skills needed to address real-world challenges in communication
                technology.
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Computer Workshop Lab</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/activites/30.jpg" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                At the Computer Workshop Lab, our mission is to provide students with hands-on experience and exposure
                to various computer hardware and software technologies. Through interactive workshops, projects, and
                demonstrations, we aim to cultivate a deeper understanding of computer systems and foster creativity and
                innovation among students.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/me/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>





<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
    <div class="py-3">
      <p>
        ਰੋਬੋਟ ਤੋਂ ਲੈ ਕੇ ਰਾਕੇਟ ਤੱਕ, ਨੈਨੋਮਸ਼ੀਨਾਂ ਤੋਂ ਲੈ ਕੇ ਮੈਗਾਪ੍ਰੋਜੈਕਟ ਤੱਕ, ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਨਾਲ ਭਵਿੱਖ ਬਣਾਓ: ਮਾਸਟਰ
        ਸੰਸਾਰ ਨੂੰ ਆਕਾਰ ਦੇਣ ਲਈ ਡਿਜ਼ਾਈਨ, ਵਿਸ਼ਲੇਸ਼ਣ ਅਤੇ ਨਵੀਨਤਾ, ਇੱਕ ਸਮੇਂ ਵਿੱਚ ਇੱਕ ਗੇਅਰ
    </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        ਸੰਖੇਪ ਵਿੱਚ ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਮਕੈਨੀਕਲ ਭਾਗਾਂ ਅਤੇ ਪ੍ਰਣਾਲੀਆਂ ਨੂੰ ਡਿਜ਼ਾਈਨ ਕਰਨ 'ਤੇ ਧਿਆਨ ਕੇਂਦਰਤ ਕਰੋ:</span>ਸਾਡੇ ਕਾਲਜ
            ਵਿੱਚ ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਮਕੈਨਿਕਸ ਅਤੇ ਸਮੱਗਰੀ ਦੀ ਵਿਆਪਕ ਸਮਝ ਦੁਆਰਾ ਮਸ਼ੀਨਾਂ, ਡਿਵਾਈਸਾਂ ਅਤੇ ਪ੍ਰਣਾਲੀਆਂ ਦੀ ਰਚਨਾ ਅਤੇ
            ਅਨੁਕੂਲਤਾ 'ਤੇ ਜ਼ੋਰ ਦਿੰਦੀ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਹੱਥੀਂ ਸਿੱਖਣ ਦੇ ਤਜ਼ਰਬੇ:</span>ਚੰਗੀ ਤਰ੍ਹਾਂ ਲੈਸ ਲੈਬਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਦੁਆਰਾ, ਵਿਦਿਆਰਥੀ
            ਨਿਰਮਾਣ, ਥਰਮੋਡਾਇਨਾਮਿਕਸ, ਅਤੇ ਤਰਲ ਮਕੈਨਿਕਸ ਵਿੱਚ ਵਿਹਾਰਕ ਹੁਨਰ ਹਾਸਲ ਕਰਦੇ ਹਨ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਂਦੇ ਹਨ ਕਿ ਉਹ ਅਸਲ-ਸੰਸਾਰ
            ਇੰਜੀਨੀਅਰਿੰਗ ਚੁਣੌਤੀਆਂ ਲਈ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਲਾਗੂ ਕਰ ਸਕਦੇ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਰਚਨਾਤਮਕ ਸਮੱਸਿਆ-ਹੱਲ ਕਰਨ ਲਈ ਉਤਸ਼ਾਹ:</span>ਸਾਡਾ ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪ੍ਰੋਗਰਾਮ ਨਵੀਨਤਾ
            ਅਤੇ ਖੋਜ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦਾ ਹੈ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਖੇਤਰ ਵਿੱਚ ਅਤਿ-ਆਧੁਨਿਕ ਤਕਨਾਲੋਜੀਆਂ, ਸਮੱਗਰੀਆਂ ਅਤੇ ਟਿਕਾਊ ਅਭਿਆਸਾਂ ਦੀ
            ਪੜਚੋਲ ਕਰਨ ਲਈ ਸ਼ਕਤੀ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਹੋਰ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਨਾਲ ਏਕੀਕਰਣ:</span>ਵਿਦਿਆਰਥੀ ਗੁੰਝਲਦਾਰ, ਅੰਤਰ-ਅਨੁਸ਼ਾਸਨੀ
            ਸਮੱਸਿਆਵਾਂ ਨੂੰ ਹੱਲ ਕਰਨ ਦੇ ਸਮਰੱਥ ਵਧੀਆ ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰ ਪੈਦਾ ਕਰਨ ਲਈ ਇਲੈਕਟ੍ਰੀਕਲ, ਸਿਵਲ, ਅਤੇ ਮਟੀਰੀਅਲ ਇੰਜਨੀਅਰਿੰਗ ਦੇ
            ਪਹਿਲੂਆਂ ਨੂੰ ਏਕੀਕ੍ਰਿਤ ਕਰਦੇ ਹੋਏ, ਸੰਪੂਰਨ ਸਿੱਖਿਆ ਤੋਂ ਲਾਭ ਉਠਾਉਂਦੇ ਹਨ।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        ਸਾਡੀਆਂ ਲੈਬਾਂ</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਪਾਵਰ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਲੈਬ</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਇੰਜਨੀਅਰਿੰਗ ਦੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਵਿਹਾਰਕ ਅਨੁਭਵ ਹਾਸਲ ਕਰਨ ਲਈ ਪਾਵਰ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬਾਂ ਜ਼ਰੂਰੀ ਹਨ
                ਪਾਵਰ ਪਰਿਵਰਤਨ ਸਰਕਟਾਂ ਅਤੇ ਡਿਵਾਈਸਾਂ ਨਾਲ। ਕੈਲਟੇਕ ਪਾਵਰ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ ਪਾਵਰ 'ਤੇ ਖੋਜ ਕਰਦੀ ਹੈ
                ਊਰਜਾ ਸਟੋਰੇਜ, ਪਾਵਰ ਟ੍ਰਾਂਸਮਿਸ਼ਨ, ਅਤੇ ਇਲੈਕਟ੍ਰਿਕ ਪ੍ਰੋਪਲਸ਼ਨ ਲਈ ਪਰਿਵਰਤਨ।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਡਿਜੀਟਲ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬ</div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਕਮਿਊਨੀਕੇਸ਼ਨ ਇੰਜੀਨੀਅਰਿੰਗ (ਈਸੀਈ) ਵਿੱਚ ਇੱਕ ਡਿਜੀਟਲ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬ ਇੱਕ ਵਿਹਾਰਕ ਥਾਂ ਹੈ
                ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਡਿਜੀਟਲ ਪ੍ਰਣਾਲੀਆਂ ਦੇ ਬੁਨਿਆਦੀ ਬਿਲਡਿੰਗ ਬਲਾਕਾਂ ਦੇ ਨਾਲ ਹੱਥੀਂ ਅਨੁਭਵ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ ਅਤੇ
                ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਉਹਨਾਂ ਦਾ ਨਿਯੰਤਰਣ|
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਬੇਸਿਕ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਐਂਡ ਕਮਿਊਨੀਕੇਸ਼ਨ ਇੰਜਨੀਅਰਿੰਗ (ਈਸੀਈ) ਵਿੱਚ ਇੱਕ ਬੁਨਿਆਦੀ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਉਹਨਾਂ ਦੇ ਨਾਲ ਪ੍ਰਦਾਨ ਕਰਦੀ ਹੈ
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਕੰਪੋਨੈਂਟਸ ਅਤੇ ਸਰਕਟਾਂ ਦੇ ਨਾਲ ਪਹਿਲਾ ਹੈਂਡ-ਆਨ ਅਨੁਭਵ। ਇਹ ਲੈਬ ਲਈ ਇੱਕ ਬੁਨਿਆਦ ਦੇ ਤੌਰ ਤੇ ਕੰਮ ਕਰਦਾ ਹੈ
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਪ੍ਰਣਾਲੀਆਂ ਅਤੇ ਉਹਨਾਂ ਦੇ ਸੰਚਾਲਨ  ਦੇ ਬੁਨਿਆਦੀ ਬਿਲਡਿੰਗ ਬਲਾਕਾਂ ਨੂੰ ਸਮਝਣਾ
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਸੰਚਾਰ ਸਿਸਟਮ ਲੈਬ</div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਕਮਿਊਨੀਕੇਸ਼ਨ ਸਿਸਟਮ ਲੈਬ ਵਿਖੇ, ਅਸੀਂ ਦੂਰਸੰਚਾਰ ਦੀ ਗੁੰਝਲਦਾਰ ਦੁਨੀਆਂ ਵਿੱਚ ਖੋਜ ਕਰਦੇ ਹਾਂ
                ਵਾਇਰਲੈੱਸ ਸੰਚਾਰ, ਡਿਜੀਟਲ ਮੋਡੂਲੇਸ਼ਨ ਤਕਨੀਕ, ਅਤੇ ਸਿਗਨਲ ਪ੍ਰੋਸੈਸਿੰਗ। ਸਾਡਾ ਮਿਸ਼ਨ ਲੈਸ ਕਰਨਾ ਹੈ
                ਸੰਚਾਰ ਵਿੱਚ ਅਸਲ-ਸੰਸਾਰ ਦੀਆਂ ਚੁਣੌਤੀਆਂ ਨੂੰ ਹੱਲ ਕਰਨ ਲਈ ਲੋੜੀਂਦੇ ਗਿਆਨ ਅਤੇ ਹੁਨਰ ਵਾਲੇ ਵਿਅਕਤੀ
                ਤਕਨਾਲੋਜੀ|
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਕੰਪਿਊਟਰ ਵਰਕਸ਼ਾਪ ਲੈਬ</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/activites/30.jpg" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਕੰਪਿਊਟਰ ਵਰਕਸ਼ਾਪ ਲੈਬ ਵਿਖੇ, ਸਾਡਾ ਉਦੇਸ਼ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਹੱਥੀਂ ਅਨੁਭਵ ਅਤੇ ਐਕਸਪੋਜ਼ਰ ਪ੍ਰਦਾਨ ਕਰਨਾ ਹੈ
                ਵੱਖ-ਵੱਖ ਕੰਪਿਊਟਰ ਹਾਰਡਵੇਅਰ ਅਤੇ ਸਾਫਟਵੇਅਰ ਤਕਨੀਕਾਂ ਲਈ। ਇੰਟਰਐਕਟਿਵ ਵਰਕਸ਼ਾਪਾਂ, ਪ੍ਰੋਜੈਕਟਾਂ, ਅਤੇ ਦੁਆਰਾ
                ਪ੍ਰਦਰਸ਼ਨਾਂ, ਸਾਡਾ ਉਦੇਸ਼ ਕੰਪਿਊਟਰ ਪ੍ਰਣਾਲੀਆਂ ਦੀ ਡੂੰਘੀ ਸਮਝ ਪੈਦਾ ਕਰਨਾ ਅਤੇ ਰਚਨਾਤਮਕਤਾ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਨਾ ਹੈ ਅਤੇ
                ਵਿਦਿਆਰਥੀਆਂ ਵਿੱਚ ਨਵੀਨਤਾ|
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/me/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>






<!----hindi-->

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      मैकेनिकल इंजीनियरिंग
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          रोबोट से रॉकेट तक, नैनोमशीन से मेगाप्रोजेक्ट तक, मैकेनिकल इंजीनियरिंग के साथ भविष्य का निर्माण करें: मास्टर
          दुनिया को आकार देने के लिए डिज़ाइन, विश्लेषण और नवाचार, एक समय में एक गियर
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        संक्षेप में मैकेनिकल इंजीनियरिंग</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">
              यांत्रिक घटकों और प्रणालियों को डिजाइन करने पर ध्यान दें:</span>हमारे कॉलेज में मैकेनिकल इंजीनियरिंग
            यांत्रिकी और सामग्रियों की व्यापक समझ के माध्यम से मशीनों, उपकरणों और प्रणालियों के निर्माण और अनुकूलन पर
            जोर देती है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">व्यावहारिक सीखने के अनुभव:</span>अच्छी तरह से सुसज्जित प्रयोगशालाओं और परियोजनाओं
            के माध्यम से, छात्र विनिर्माण, थर्मोडायनामिक्स और द्रव यांत्रिकी में व्यावहारिक कौशल हासिल करते हैं, जिससे
            यह सुनिश्चित होता है कि वे वास्तविक दुनिया की इंजीनियरिंग चुनौतियों पर सैद्धांतिक ज्ञान लागू कर सकते हैं।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">रचनात्मक समस्या-समाधान को प्रोत्साहन:</span>हमारा मैकेनिकल इंजीनियरिंग कार्यक्रम
            नवाचार और अनुसंधान को बढ़ावा देता है, छात्रों को क्षेत्र में अत्याधुनिक प्रौद्योगिकियों, सामग्रियों और टिकाऊ
            प्रथाओं का पता लगाने के लिए सशक्त बनाता है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">अन्य इंजीनियरिंग विषयों के साथ एकीकरण:</span>छात्रों को एक समग्र शिक्षा से लाभ
            होता है, जो जटिल, अंतःविषय समस्याओं को संबोधित करने में सक्षम अच्छी तरह से विकसित मैकेनिकल इंजीनियरों को
            तैयार करने के लिए इलेक्ट्रिकल, सिविल और सामग्री इंजीनियरिंग के पहलुओं को एकीकृत करता है।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        हमारी लैब्स</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              पावर इलेक्ट्रॉनिक्स लैब्स</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक इंजीनियरिंग के छात्रों के लिए व्यावहारिक अनुभव प्राप्त करने के लिए पावर इलेक्ट्रॉनिक्स लैब आवश्यक हैं
                बिजली रूपांतरण सर्किट और उपकरणों के साथ। कैल्टेक पावर इलेक्ट्रॉनिक्स लैब बिजली पर अनुसंधान करती है
                ऊर्जा भंडारण, विद्युत पारेषण और विद्युत प्रणोदन के लिए रूपांतरण।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              डिजिटल और माइक्रोप्रोसेसर लैब</div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक संचार इंजीनियरिंग (ईसीई) में एक डिजिटल और माइक्रोप्रोसेसर लैब एक व्यावहारिक स्थान है
                जहां छात्र डिजिटल सिस्टम के मूलभूत निर्माण खंडों के साथ व्यावहारिक अनुभव प्राप्त करते हैं
                माइक्रोप्रोसेसरों का उपयोग करके उनका नियंत्रण|
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              बेसिक इलेक्ट्रॉनिक्स लैब</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग (ईसीई) में एक बुनियादी इलेक्ट्रॉनिक्स प्रयोगशाला छात्रों को उनकी सुविधा प्रदान करती है
                इलेक्ट्रॉनिक घटकों और सर्किट के साथ पहला व्यावहारिक अनुभव। यह प्रयोगशाला एक आधार के रूप में कार्य करती है
                इलेक्ट्रॉनिक प्रणालियों के मूलभूत निर्माण खंडों और उनके संचालन को समझना </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              संचार प्रणाली प्रयोगशाला</div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                संचार प्रणाली लैब में, हम दूरसंचार की जटिल दुनिया में गहराई से उतरते हैं, अन्वेषण करते हैं
                वायरलेस संचार, डिजिटल मॉड्यूलेशन तकनीक और सिग्नल प्रोसेसिंग। हमारा मिशन सुसज्जित करना है
                संचार में वास्तविक दुनिया की चुनौतियों का समाधान करने के लिए आवश्यक ज्ञान और कौशल वाले व्यक्ति
                तकनीकी।
              </div>
            </div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              कंप्यूटर वर्कशॉप लैब</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/activites/30.jpg" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                कंप्यूटर वर्कशॉप लैब में, हमारा मिशन छात्रों को व्यावहारिक अनुभव और अनुभव प्रदान करना है
                विभिन्न कंप्यूटर हार्डवेयर और सॉफ्टवेयर प्रौद्योगिकियों के लिए। इंटरैक्टिव कार्यशालाओं, परियोजनाओं और के माध्यम से
                प्रदर्शनों के माध्यम से, हमारा उद्देश्य कंप्यूटर सिस्टम की गहरी समझ पैदा करना और रचनात्मकता को बढ़ावा देना है
                छात्रों के बीच नवाचार|
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/me/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>
