<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Supporting Staff
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Jaswinder Singh</div>
                        <p class="card-text">Designation: Junior Helper</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Jaswinder Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/jaswinder_singh_image.jpg" class="img-fluid img" alt="Sh. Jaswinder Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Krishan Lal</div>
                        <p class="card-text">Designation: Clerk</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Krishan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/krishan_lal_image.jpg" class="img-fluid img" alt="Sh. Krishan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Roshan Lal</div>
                        <p class="card-text">Designation: Lab Attendant</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Roshan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/roshan_lal_image.jpg" class="img-fluid img" alt="Sh. Roshan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Mukesh Kumar</div>
                        <p class="card-text">Designation: Lab Attendant</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Mukesh Kumar -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/mukesh_kumar_image.jpg" class="img-fluid img" alt="Sh. Mukesh Kumar"></div> -->
                </div>
            </div>
        </div>
        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Kuldeep Singh</div>
                        <p class="card-text">Designation: Lab Attendant</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh.Sandeep Singh</div>
                        <p class="card-text">Designation: Lab Attendant</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh.Sandeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/sandeep_singh_image.jpg" class="img-fluid img" alt="Sh.Sandeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Sh. Kuldeep Singh</div>
                        <p class="card-text">Designation: Sewadar</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div><br>
    </div>
</div>




<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਹਾਇਕ ਸਟਾਫ
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼. ਜਸਵਿੰਦਰ ਸਿੰਘ</div>
                        <p class="card-text">ਅਹੁਦਾ: ਜੂਨੀਅਰ ਸਹਾਇਕ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Jaswinder Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/jaswinder_singh_image.jpg" class="img-fluid img" alt="Sh. Jaswinder Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼. ਕ੍ਰਿਸ਼ਨ ਲਾਲ</div>
                        <p class="card-text">ਅਹੁਦਾ: ਕਲਰਕ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Krishan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/krishan_lal_image.jpg" class="img-fluid img" alt="Sh. Krishan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ਼. ਰੋਸ਼ਨ ਲਾਲ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਬ ਅਟੈਂਡੈਂਟ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Roshan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/roshan_lal_image.jpg" class="img-fluid img" alt="Sh. Roshan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ਼. ਮੁਕੇਸ਼ ਕੁਮਾਰ</div>
                        <p class="card-text">ਅਹੁਦਾ: ਲੈਬ ਅਟੈਂਡੈਂਟ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Mukesh Kumar -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/mukesh_kumar_image.jpg" class="img-fluid img" alt="Sh. Mukesh Kumar"></div> -->
                </div>
            </div>
        </div>
        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼. ਕੁਲਦੀਪ ਸਿੰਘ</div>
                        <p class="card-text">ਅਹੁਦਾ: ਲੈਬ ਅਟੈਂਡੈਂਟ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼ ਸੰਦੀਪ ਸਿੰਘ</div>
                        <p class="card-text">ਅਹੁਦਾ: ਲੈਬ ਅਟੈਂਡੈਂਟ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh.Sandeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/sandeep_singh_image.jpg" class="img-fluid img" alt="Sh.Sandeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ਼. ਕੁਲਦੀਪ ਸਿੰਘ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਸੇਵਾਦਾਰ</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div><br>
    </div>
</div>


<!---hindi---->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
           
सहायक कर्मचारी
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री. जसविंदर सिंह</div>
                        <p class="card-text">पदनाम: जूनियर हेल्पर</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Jaswinder Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/jaswinder_singh_image.jpg" class="img-fluid img" alt="Sh. Jaswinder Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री. कृष्ण लाल</div>
                        <p class="card-text">पदनाम: क्लर्क</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Krishan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/krishan_lal_image.jpg" class="img-fluid img" alt="Sh. Krishan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री. रोशन लाल</div>
                        <p class="card-text">
                            पदनाम: लैब अटेंडेंट</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Roshan Lal -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/roshan_lal_image.jpg" class="img-fluid img" alt="Sh. Roshan Lal"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री. मुकेश कुमार</div>
                        <p class="card-text">पदनाम: लैब अटेंडेंट</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Mukesh Kumar -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/mukesh_kumar_image.jpg" class="img-fluid img" alt="Sh. Mukesh Kumar"></div> -->
                </div>
            </div>
        </div>
        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री. कुलदीप सिंह</div>
                        <p class="card-text">पदनाम: लैब अटेंडेंट</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री संदीप सिंह</div>
                        <p class="card-text">पदनाम: लैब अटेंडेंट</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh.Sandeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/sandeep_singh_image.jpg" class="img-fluid img" alt="Sh.Sandeep Singh"></div> -->
                </div>
            </div>
        </div>

        <div class="card  my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री. कुलदीप सिंह</div>
                        <p class="card-text">
                            पद: सेवादार</p>
                    </div>
                    <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                    <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
                </div>
            </div>
        </div><br>
    </div>
</div>