<div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        Supporting Staff
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Jaswinder Singh</div>
                    <p class="card-text">Designation: Junior Helper</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Jaswinder Singh -->
                <!-- Example: <div class="col-md-5"><img src="path/to/jaswinder_singh_image.jpg" class="img-fluid img" alt="Sh. Jaswinder Singh"></div> -->
            </div>
        </div>
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Krishan Lal</div>
                    <p class="card-text">Designation: Clerk</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Krishan Lal -->
                <!-- Example: <div class="col-md-5"><img src="path/to/krishan_lal_image.jpg" class="img-fluid img" alt="Sh. Krishan Lal"></div> -->
            </div>
        </div>
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Roshan Lal</div>
                    <p class="card-text">Designation: Lab Attendant</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Roshan Lal -->
                <!-- Example: <div class="col-md-5"><img src="path/to/roshan_lal_image.jpg" class="img-fluid img" alt="Sh. Roshan Lal"></div> -->
            </div>
        </div>
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Mukesh Kumar</div>
                    <p class="card-text">Designation: Lab Attendant</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Mukesh Kumar -->
                <!-- Example: <div class="col-md-5"><img src="path/to/mukesh_kumar_image.jpg" class="img-fluid img" alt="Sh. Mukesh Kumar"></div> -->
            </div>
        </div>
    </div>
    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Kuldeep Singh</div>
                    <p class="card-text">Designation: Lab Attendant</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
            </div>
        </div>
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh.Sandeep Singh</div>
                    <p class="card-text">Designation: Lab Attendant</p>
                </div>
                <!-- You can add an image here if you have one for Sh.Sandeep Singh -->
                <!-- Example: <div class="col-md-5"><img src="path/to/sandeep_singh_image.jpg" class="img-fluid img" alt="Sh.Sandeep Singh"></div> -->
            </div>
        </div>
    </div>

    <div class="card  my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Sh. Kuldeep Singh</div>
                    <p class="card-text">Designation: Sewadar</p>
                </div>
                <!-- You can add an image here if you have one for Sh. Kuldeep Singh -->
                <!-- Example: <div class="col-md-5"><img src="path/to/kuldeep_singh_image.jpg" class="img-fluid img" alt="Sh. Kuldeep Singh"></div> -->
            </div>
        </div>
    </div>
</div>