<div
  style="height: 100vh; background-image: url(../../assets/images/used/college.jpg); background-size: cover; background-position: center;"
  class="position-relative w-100">
  <div class="position-absolute text-white d-flex flex-column align-items-start justify-content-center"
    style="top: 0; right: 0; bottom: 0; left: 0; background-color: rgb(59 47 47 / 48%);">
    <div class="container">
      <div class="col-md-6">
        <span style="color: #bbb;" class="text-uppercase">SubHeadline</span>
        <!-- on small screens remove display-4 -->
        <h1 class="mb-4 mt-2 display-4 fw-bold">SASS GOVERNMENT POLYTECHNIC COLLEGE <span style="color: #9B5DE5;">TALWARA</span>
        </h1>
        <p style="color: #bbb;">"Nothing is impossible, the word itself says 'i' m possible' !- Audrey Hepburn."</p>
        <div class="mt-5">
          <!-- hover background-color: white; color: black; -->
          <a href="#" class="btn px-5 py-3 text-white mt-3 mt-sm-0"
            style="border-radius: 30px; background-color: #9B5DE5;">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>