<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container-fluid text-center">
    <h1 class="display-4">Welcome to My App</h1>
    <p class="lead" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'en'" >This is an awesome Angular app with Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Officiis quas molestias incidunt sed aut voluptatibus alias nemo adipisci, soluta
      dolores voluptatum rem illum ratione minima impedit pariatur delectus nobis cupiditate vero! Perferendis, mollitia
      optio, atque dignissimos itaque beatae iure tempore soluta nam minima exercitationem temporibus repudiandae nulla
      natus similique, aliquam officiis quidem! Optio inventore praesentium facilis nobis officiis at iste atque nam
      perferendis ratione molestias fugit laborum autem sed neque expedita rem dolores, necessitatibus architecto
      repellendus odit! Iste perspiciatis, quasi sapiente expedita corrupti nisi facere consequatur optio, accusamus
      deleniti repellat molestias nostrum, itaque sunt fugiat odio aliquam. Libero molestiae et odio amet sequi
      architecto incidunt debitis, nostrum quisquam officiis, corrupti, rerum optio recusandae laborum quasi
      exercitationem magnam? Odio, reprehenderit consectetur. Sunt nemo optio est et! Dolor, incidunt cum! Quaerat,
      harum quod debitis veniam officia distinctio veritatis. Dignissimos officia ullam, facere sit architecto eaque
      dolorum omnis exercitationem adipisci similique, sapiente, corporis aliquam illo laboriosam veritatis eius et
      libero temporibus culpa laborum fugit? Dolorum inventore fugit, similique dignissimos explicabo aliquid
      voluptatibus odit ex debitis minus vel, minima deleniti, ullam laudantium dolore eligendi accusantium perspiciatis
      quis. lorem -600
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis et obcaecati quod beatae laborum molestias
      nesciunt commodi iusto repellat ducimus expedita id dolorum alias autem maiores est ex laudantium dolores
      doloribus, ratione, mollitia voluptate eius velit facilis? Tempora dignissimos praesentium molestiae nostrum error
      corrupti officiis iure et laboriosam laudantium voluptate asperiores, amet quasi, eos doloribus accusamus, atque
      possimus dolore cum adipisci nisi ut? Ratione exercitationem quia inventore odit pariatur impedit quidem libero
      beatae! Eaque explicabo, quidem perspiciatis nihil eius dolor magni debitis voluptatibus quam sapiente, dolores
      minima, labore harum doloremque possimus voluptates expedita distinctio odio adipisci aliquid et. Modi, suscipit
      itaque expedita laudantium deleniti autem reiciendis numquam veritatis quo ipsum fugiat sunt porro nisi corporis
      aliquam iure inventore optio fuga. Minus impedit repellendus alias dignissimos placeat quod inventore deleniti ab
      quisquam error omnis dolore in pariatur, reiciendis, voluptatibus rerum facere. Placeat quod molestias molestiae
      quis rerum, eligendi atque cupiditate eveniet accusamus repellendus tempore commodi. Veniam laboriosam amet
      deleniti porro nobis illo repudiandae corrupti esse nesciunt aliquam, in tenetur molestiae est adipisci quos
      harum! At provident labore harum, iure cum doloremque voluptate. Placeat quasi rerum debitis aliquam ab eius,
      optio illum magni natus exercitationem delectus inventore aspernatur, repudiandae a reprehenderit enim ratione
      obcaecati alias eos! Veniam quia asperiores, soluta est animi, aspernatur et labore praesentium itaque fuga velit?
      Nisi minus, sint neque modi nostrum exercitationem consequatur earum iure veritatis eligendi quam et quis totam,
      deserunt maiores adipisci itaque deleniti cupiditate mollitia dolorem vel aliquid! Placeat vero veritatis,
      mollitia nostrum libero ab doloremque aspernatur error quasi facere reiciendis iste doloribus obcaecati nesciunt
      fugit est porro eveniet quos perferendis a quibusdam numquam veniam iusto! Necessitatibus dolorem eos beatae a
      nihil minima libero doloribus tempore! Necessitatibus est ducimus, molestias adipisci eius quos ut pariatur fugit
      impedit praesentium alias, consequuntur cumque blanditiis. Provident quae, doloribus saepe quo a temporibus
      asperiores nesciunt nulla exercitationem at harum ad. Quisquam molestiae, vitae minima iusto iste tempora ullam
      voluptatum hic distinctio natus nobis, pariatur voluptatem deleniti autem in. Maxime, ratione. Quo eveniet
      accusantium perferendis nobis dolor. Repellat, tenetur? Laudantium natus modi at, facere voluptate, harum eius
      mollitia ipsum distinctio, ratione possimus praesentium quis. nice features!</p>
    <p *ngIf="getCurrentLanguage() === 'pa'">ਪੱਤਿਆਂ ਨਾਲ ਲੱਦ ਗਿਆ। ਸਿਆਲਾਂ ਵਿੱਚ ਪੱਤੇ ਝੜ ਜਾਂਦੇ। ਫਰਵਰੀ ਦੇ ਅਖੀਰ ਜਿਹੇ ਵਿੱਚ
      ਟਹਿਣੀਆਂ ’ਤੇ ਪਹਿਲਾਂ ਲਾਲ-ਲਾਲ ਪੱਤੇ ਫੁੱਟਦੇ, ਫਿਰ ਗੂੜ੍ਹੇ ਹਰੇ ਹੋ ਜਾਂਦੇ। ਫਿਰ ਲਾਲ-ਸੂਹੇ ਫੁੱਲ ਖਿੜ੍ਹਦੇ। ਇੰਜ ਜਾਪਦਾ ਜਿਵੇਂ ਕਿਸੇ
      ਮੁਟਿਆਰ ਨੇ ਹਰੇ ਰੰਗ ਦੀ ਫੁਲਕਾਰੀ ’ਤੇ ਲਾਲ-ਲਾਲ ਬੂਟੀਆਂ ਦੀ ਕਢਾਈ ਕੀਤੀ ਹੋਵੇ। ਫਿਰ ਅਨਾਰ ਲੱਗਣ ਲੱਗ ਪਏ। ਅਨਾਰ ਪਾਟ ਜਾਂਦੇ ਤਾਂ ਪਤਨੀ
      ਖੱਟੇ-ਮਿੱਠੇ ਦਾਣੇ ਕੱਢ ਕੇ ਬਾਟੀ ਭਰ ਲੈਂਦੀ। ਸਾਰਾ ਟੱਬਰ ਖਾਂਦਾ।
      ਨਿੱਕੀਆਂ-ਨਿੱਕੀਆਂ ਚਿੜੀਆਂ ਅਨਾਰ ’ਤੇ ਬੈਠੀਆਂ ਅੰਮ੍ਰਿਤ ਵੇਲੇ ਚੀਂ-ਚੀਂ ਕਰਨ ਲੱਗਦੀਆਂ ਤਾਂ ਸਾਨੂੰ ਜਾਗਣ ਲਈ ਅਲਾਰਮ ਦੀ ਲੋੜ ਨਾ ਪੈਂਦੀ।
      ਇੱਕ ਦਿਨ ਪਿਛਲੇ ਮੁਹੱਲੇ ’ਚੋਂ ਇੱਕ ਗੁਆਂਢਣ ਘਰ ਵੇਖਣ ਆਈ। ਖੁੱਲ੍ਹਾ-ਡੁੱਲ੍ਹਾ ਘਰ ਵੇਖ ਕੇ ਖ਼ੁਸ਼ ਹੋਈ, ਪਰ ਅਨਾਰ ਵੱਲ ਵੇਖ ਕੇ ਪਤਨੀ ਨੂੰ
      ਕਹਿਣ ਲੱਗੀ, ‘‘ਅਨਾਰ ਘਰ ’ਚ ਲਾਇਆ ਮਾੜਾ ਹੁੰਦੈ। ਜਿਵੇਂ ਅਨਾਰ ਪਾਟ ਜਾਂਦੈ, ਉਵੇਂ ਘਰ ਪਾਟ ਜਾਂਦੈ… ਆਪਣੇ ਮੁਹੱਲੇ ’ਚ ਵੇਖਿਆ ਨਈਂ ਬਿਮਲਾ
      ਦਾ ਕੀ ਹਾਲ ਹੋਇਆ… ਅਨਾਰ ਲਾ ਰੱਖਿਆ ਸੀ… ਵਿਹੜੇ ਵਿੱਚ। ਪਹਿਲਾਂ ਘਰਵਾਲਾ ਮੁੱਕ ਗਿਆ। ਕੁੜੀ ਵਿਆਹੀ ਤਾਂ ਸਹੁਰਿਆਂ ਛੱਡ ਦਿੱਤੀ। ਘਰੇ ਬੈਠੀ ਐ
      ਹੁਣ। ਵੱਡਾ ਮੁੰਡਾ ਵਿਆਹਿਆ ਤਾਂ ਘਰ ਵਿੱਚ ਕਲੇਸ਼ ਰਹਿਣ ਲੱਗਾ। ਨੂੰਹ-ਸੱਸ ਦੀ ਕਦੇ ਨਾ ਬਣੀ। ਹਾਰ ਕੇ ਮੁੰਡਾ ਘਰਵਾਲੀ ਨੂੰ ਲੈ ਕੇ
      ਜੁੱਲੀ-ਤਪੜਾ ਚੁੱਕ ਕੇ ਸਹੁਰੀਂ ਰਹਿਣ ਲੱਗ ਪਿਆ। ਸਾਰਾ ਘਰ ਖੱਖਰ-ਭੱਖਰ ਹੋ ਗਿਆ।’’ ਉਹ ਤਾਂ ਆਖ ਕੇ ਚਲੀ ਗਈ। ਮੇਰੀ ਪਤਨੀ ਨੇ ਉਸੇ ਦਿਨ ਤੋਂ
      ਅਨਾਰ ਪੁੱਟ ਦੇਣ ਦੀ ਰੱਟ ਲਾ ਦਿੱਤੀ। ਬਥੇਰਾ ਸਮਝਾਇਆ ਕਿ ਇਹੋ ਜਿਹਾ ਕੁਝ ਤਾਂ ਸਾਰੇ ਘਰਾਂ ਵਿੱਚ ਹੀ ਹੁੰਦਾ ਹੈ, ਇਹਦੇ ’ਚ ਅਨਾਰ ਦਾ ਕੀ
      ਦੋਸ਼? ਪਰ ਉਹ ਪੇਕੇ ਘਰ ਵਿੱਚ ਪਿਛਲੇ ਕੁਝ ਸਾਲਾਂ ਵਿੱਚ ਉਪਰਥਲੀ ਹੋਈਆਂ ਮੌਤਾਂ ਕਰਕੇ, ਆਪਣੀ ਪਿੱਠ ਵਿੱਚ ਕਈ ਸਾਲਾਂ ਤੋਂ ਲਗਾਤਾਰ ਹੋ ਰਹੇ
      ਦਰਦ ਕਾਰਨ ਤੇ ਸਰੀਰ ਦੇ ਰਹਿੰਦੇ ਜਾਣ ’ਤੇ ਅਨਾਰ ਦਾ ਵਹਿਮ ਕਰਨ ਲੱਗ ਪਈ। ਜਦੋਂ ਬਹੁਤੀ ਹੀ ਜ਼ਿੱਦ ਕਰਨ ਲੱਗੀ ਤਾਂ ਹਾਰ ਕੇ ਇੱਕ ਦਿਨ ਬੁਝੇ
      ਮਨ ਨਾਲ ਕੁਹਾੜੀ ਨਾਲ ਵੱਢ ਦਿੱਤਾ ਉਹ ਸੁਹਣੇ ਫੁੱਲਾਂ, ਪੱਤਿਆਂ ਤੇ ਫਲਾਂ ਨਾਲ ਲੱਦਿਆ ਅਨਾਰ!
      ਇੱਕ ਡੇਕ ਸੀ ਚਾਰਦੀਵਾਰੀ ਦੇ ਨਾਲ। ਆਪੇ ਹੀ ਕਿਧਰੇ ਬੀਜ ਫੁੱਟ ਆਇਆ ਸੀ। ਉਸ ਨੂੰ ਪਾਣੀ ਦਿੰਦਾ ਰਿਹਾ। ਹੌਲੀ-ਹੌਲੀ ਡੇਕ ਵੱਡੀ ਹੁੰਦੀ ਗਈ।
      ਦੋ-ਢਾਈ ਸਾਲਾਂ ਬਾਅਦ ਪੂਰੀ ਛਤਰੀ ਬਣ ਗਈ। ਉਸ ਉੱਪਰ ਵੀ ਪੰਛੀ ਚੜ੍ਹ-ਚੋਲ੍ਹੜ ਪਾਉਂਦੇ, ਟਹਿਣੀਆਂ ਹਵਾ ਨਾਲ ਹਿਲਦੀਆਂ। ਮੈਂ ਉਸ ਦੀ ਛਾਵੇਂ
      ਪਿਆ ਪੱਤਿਆਂ ਨੂੰ ਝੂਮਦੇ, ਪੰਛੀਆਂ ਨੂੰ ਕਲੋਲਾਂ ਕਰਦੇ ਵੇਖਦਾ ਤਾਂ ਮਨ ਹੁਲਾਸ ਵਿੱਚ ਆ ਜਾਂਦਾ। ਸ਼ੁਕਰ ਕਰਦਾ ਕਿ ਪਰਮਾਤਮਾ ਨੇ ਮੈਨੂੰ
      ਖੁੱਲ੍ਹਾ-ਡੁੱਲ੍ਹਾ ਘਰ ਦਿੱਤਾ ਫੁੱਲਾਂ, ਬੂਟਿਆਂ ਵਾਲਾ। ਬਦੋਬਦੀ ਦੁਸ਼ਿਅੰਤ ਕੁਮਾਰ ਦੀਆਂ ਸਤਰਾਂ ਗੁਣਗੁਣਾਉਣ ਨੂੰ ਜੀਅ ਕਰਦਾ:
      ਜੀਏਂ ਤੋਂ ਅਪਨੇ ਬਗੀਚੇ ਮੇਂ ਗੁਲਮੋਹਰ ਕੇ ਤਲੇ
      ਮਰੇਂ ਤੋਂ ਗ਼ੈਰ ਕੀ ਗਲੀਓਂ ਮੇਂ ਗੁਲਮੋਹਰ ਕੇ ਲੀਏ!
      ਇੱਕ ਦਿਨ ਪਰਲੀ ਗਲੀ ਵਿੱਚੋਂ ਇੱਕ ਹੋਰ ਗੁਆਂਢਣ ਪਤਨੀ ਕੋਲ ਆਈ। ਗੱਲਾਂ-ਗੱਲਾਂ ਵਿੱਚ ਕਹਿਣ ਲੱਗੀ, ‘‘ਆਹ ਡੇਕ ਕਾਹਦੇ ਪਿੱਛੇ ਲਾਈ ਐ?’’
      ਪਤਨੀ ਨੇ ਕਿਹਾ, ‘‘ਕਿਉਂ? ਡੇਕ ਨਾਲ ਕੀ ਹੁੰਦੈ?’’
      ‘‘ਲੈ! ਤੂੰ ਕਹਾਵਤ ਨ੍ਹੀਂ ਸੁਣੀ। ਜੀਹਦੇ ਘਰੇ ਡੇਕ, ਉਹਨੂੰ ਕਦੇ ਨਾ ਆਵੇ ਟੇਕ। ਭੈਣੇ! ਸਾਡੇ ਘਰ ਲਾਈ ਸੀ ਡੇਕ। ਘਰ ’ਚੋਂ ਜ਼ਹਿਮਤ ਨਾ ਮੁੱਕਿਆ
      ਕਰੇ, ਨਾ ਮੁੱਕਿਆ ਕਰੇ ਕਲੇਸ਼। ਮੌਤਾਂ ਤੇ ਬੀਮਾਰੀਆਂ ਨੇ ਲੈ ਲਿਆ ਸਾਨੂੰ। ਉੱਪਰੋਂ ਜ਼ਮੀਨ-ਜਾਇਦਾਦ ਦੇ ਮੁਕੱਦਮੇ। ਹਾਰ ਕੇ ਵੱਢ ਦਿੱਤੀ ਡੇਕ!’’
      ਉਹ ਤਾਂ ਆਖ ਕੇ ਚਲੀ ਗਈ, ਪਰ ਹੁਣ ਮੇਰੀ ਪਤਨੀ ਨੇ ਡੇਕ ਵੱਢਣ ਦੀ ਰੱਟ ਫੜ ਲਈ। ਕਈ ਦਿਨ ਟਾਲ-ਮਟੋਲ ਕਰਦਾ ਰਿਹਾ, ਕੀ ਪਤਾ ਹੈ ਭੁੱਲ ਜਾਵੇ। ਪਰ
      ਜਦੋਂ ਬਹਿੰਦੇ ਉੱਠਦੇ ਜ਼ਿਆਦਾ ਹੀ ਅਕਾਉਣ ਲੱਗੀ ਤਾਂ ਸੋਚਿਆ: ‘ਮਨਾਂ ਏਸ ਨੇਕਬਖ਼ਤ ਨੂੰ ਗੁੱਸੇ ਕਰਕੇ ਕਿੰਨੇ ਕੁ ਦਿਨ ਨਿਕਲਣਗੇ? ਢਿੱਲੀ-ਮੱਠੀ
      ਹੁੰਦੀ ਹੋਈ ਵੀ ਸਾਰੇ ਟੱਬਰ ਦੀ ਇੰਨੀ ਸੇਵਾ ਕਰਦੀ ਐੇ… ਵਹਿਮ ਦਾ ਕੀ ਇਲਾਜ?’ ਘਰ ਦੇ ਜੀਅ ਦੀ ਤਸੱਲੀ ਅੱਗੇ ਡੇਕ ਦਾ ਪੱਲੜਾ ਹੌਲਾ ਪੈ ਗਿਆ।
      ਇੱਕ ਦਿਨ ਸਵੇਰੇ ਉੱਠਦਿਆਂ ਹੀ ਕਸੀਸ ਜਿਹੀ ਵੱਟ ਕੇ ਚਲਾ ਦਿੱਤਾ ਕੁਹਾੜਾ। ਜਾਲੀ ਵਾਲੇ ਦਰਵਾਜ਼ੇ ਪਿੱਛੇ ਖੜ੍ਹਾ ਛੇਵੀਂ ਵਿੱਚ ਪੜ੍ਹਦਾ ਬੜਾ ਹੀ
      ਸੰਵੇਦਨਸ਼ੀਲ ਪੋਤਰਾ ਕੁਰਲਾ ਰਿਹਾ ਸੀ, ‘‘ਪਾਪਾ ਨਾ ਵੱਢੋ ਟ੍ਰੀ ਨੂੰ। ਪਲੀਜ਼ ਸੇਵ ਦਿ ਟ੍ਰੀਜ਼।</p>
    <button class="btn btn-primary btn-lg">Get Started</button>
  </div>
</div>
<!-- some-other.component.html -->
<div>
  <p>English Content</p>

</div>