<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Right to Information Act</div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-7">
                    <ol class="pt-3">
                        <li class="fs-5 fw-semibold red-title">
                            The particulars of its Organization,functions and duties:</li>

                    </ol>


                    <p class="fs-5 fw-semibold ">
                        Principal
                    </p>
                    <p>
                        Academic and administrative management of the institution.
                        Providing academic and administrative leadership.
                        Promotion of industry institution collaboration and industry oriented Research and Development.
                        Monitoring and evaluation of academic activities in the institution.
                        Public relations and interaction with community.
                        Organising and coordinating consultancy services.
                        Participating in policy and system planning at State.
                        Regional and National levels for development of Technician Education.
                        Promoting and coordinating continuing education activities.
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/info.png" class="img-fluid" alt="">
                </div>
                <p class="fs-5 fw-semibold ">
                    Head of the Department
                </p>
                <p>
                    Providing leadership in teaching of Diploma and Post Diploma courses.
                    Organising R & D work in industrial problems and projects.
                    Departmental administration
                    Assisting in the administration of the institution
                    Publication of technical papers.
                    Curriculum development and development of resource materials.
                    Innovations in technician education and evaluation
                    Continuing education activities
                    Public relations and interaction with the community.
                    Student counseling and student interaction.
                </p>
                <p class="fs-5 fw-semibold ">
                    Senior Lecturer
                </p>
                <p>
                    Teaching Diploma courses and Post Diploma Courses(Lecturer and tutorials) -Design and developing of
                    Laboratory instructions
                    Students assessment and evaluation
                    Innovation in instruction
                    Developing resource materials and assisting in curriculum development
                    R&D work on Industrial problem and projects and assisting in extension to community Continuing
                    education
                    activities.
                </p>
                <p class="fs-5 fw-semibold ">
                    Lecturer
                </p>
                <p>
                    Teaching Diploma courses including Lecturer and tutorials
                    Planning and implementation of instruction in Laboratory
                    Students assessment and evaluation
                    Developing resource materials
                    assisting in extension to community
                    Co-curricular and extra curricular activities
                    Student counseling.

                </p>
                <p class="fs-5 fw-semibold ">
                    Workshop Superintendent
                </p>
                <p>
                    Planning scheduling, organising coordinating and monitoring workshop training sessions and tasks of
                    the
                    polytechnic.
                    Plan, deliver and evaluate theoretical and workshop instructions.
                    Design, develop and test instructional material and task for skill training
                    Plan and organize staff development programm for workshop staff
                    Procurement and storage of raw materials, tools instruments
                    Guide students in the performance of practical task and skills exercises and evaluate their
                    performance
                    Procurement, erection/ installation and commissioning of plant and equipment of the workshop

                </p>
                <p class="fs-5 fw-semibold ">
                    Foreman Instructor
                </p>
                <p>
                    Erection/ installation/commissioning of plant and equipment
                    Procurement/storage, accounting of raw-materials, tools and instruments
                    Planning, scheduling, organising coordinating and monitoring workshop instructions and tasks
                    Arranging for the issue of the raw-materials, tools and equipments for workshops jobs
                    Plan, deliver and evaluate theoretical and workshop instructions.
                    Guide students in the performance of practical task and skill exercises and evaluate their
                    performance
                    Arrange for preventive and breakdown maintenance
                    Assist students and faculty members in the fabrication of their project work
                    Participate in professional development activities
                    Assist the workshop superintendent in certain functions as and when necessary
                    Any other assignment function in the interest of the institute
                </p>
                <p class="fs-5 fw-semibold ">
                    Workshop Instructor
                </p>
                <p>
                    Procurement storage/accounting of raw-material, tools and instruments
                    Issue of materials/tools/equipment for shop
                    Plan, deliver and evaluate shop instructions
                    Guide students in the performance of practical task and skill exercises and evaluate their
                    performance
                    Inculcate safety procedures and safety practices among students
                    Operation and maintenance of tools and equipments including preventive and breakdown maintenance
                    Assist students and faculty members in the fabrication of their projects
                    Any other assignment function in the interest of the institute

                </p>
                <p class="fs-5 fw-semibold ">
                    Laboratory Technician Assistant
                </p>
                <p>
                    Arranges materials, samples, demonstrations, instruments, tools and equipment required for
                    laboratory/field/shopwork.
                    Receives stores and issue materials, samples, specimens, instruments, tools and equipment required
                    for
                    laboratory/field/shopwork
                    Prepares samples/specimen/circuits etc. for attesting
                    Maintains the instruments, tools and equipments in working condition
                    Assist students and faculty members in their projects
                    Checks equipments, connection etc. before students operate them
                </p>
                <p class="fs-5 fw-semibold ">
                    Laboratory Attendant
                </p>
                <p>
                    The Laboratory attendent shall be responsible to the concerned Laboratory technician/assistant
                    Cleaning and arranging of apparatus, tools, equipment and accessories
                    Assisting Laboratory technician/assistant in preparation of samples, arranging of demonstration,
                    maintenance
                    of Laboratories, receipt and issue of tools and materials

                </p>
                <p class="fs-5 fw-semibold ">
                    The Librarian
                </p>
                <p>
                    General Administration
                    Budgeting
                    Book selection and acquisition
                    Planning and developing the library
                    Orienting the users towards effective utilization of library services
                    Supervising of cataloguing and indexing

                </p>
                <p class="fs-5 fw-semibold">
                    Library Assistance
                </p>
                <p>
                    Cataloguing and classification of books and periodicals
                    Issuing and receiving of books, restoring of books and periodicals
                    Arrangement of non-book materials
                </p>
                <p class="fs-5 fw-semibold red-title">
                    2. The Powers and duties of its officers and employees.
                    II) Powers and Duties of officers and employees<br>
                    <i class="fa-regular fa-hand-point-right"></i> Cases to be disposed at the level of
                    Minister-In-Charge Legal And Legislative
                    Matters(Annexure-II) :

                </p>
                <p>Proposals relating to Ordinances, Acts, rules and Regulations including amendments.
                    Annual administration Reports.
                    Work relating to Assembling and Parliament Question except replies to Question of Lok Sabha where
                    Information to be given is merely formal in nature.
                    Assurance/Promises made by Ministers on the Floor of the House.
                    Approval of periodical reports to be sent to Vidhan Sabha Committee.
                </p>
                <p class="fs-5 fw-semibold ">
                    Library Assistance
                </p>
                <ul class="pt-3 list">
                    <li>Appointments of Category A offices (of the rank of Deputy Directors & above, plus principals and
                        Heads of Department of Polytechnics) by promotion.</li>
                    <li> Deputation and training abroad of Category A and B officers.</li>
                    <li>Initial appointments of Category A officers of the rank of Deputy Directors & above, plus
                        Principals and Heads of Department of Polytechnics) on the recommendations of the Punjab Public
                        Service Commission.</li>
                    <li>All cases including service matters and transfers of category A officers (relating to Deputy
                        Directors and above Principals and Heads of Departments regarding completion/ extension of
                        probation period, dispensing with their services during probation period. Confirmation,
                        Promotion, Seniority cases, disciplinary cases involving suspensions and revocation, major and
                        minor penalty, cut in pension, efficiency bar, gratuity, acceptance of resignation.</li>
                    <li> All cases of compulsory/ premature retirement of Category A officers of the rank of Deputy
                        Directors& above, plus Principals and Heads of Department of Polytechnics.</li>
                    <li>Finalisation of Annual/ Five-Years Plans of the Department.</li>
                    <li>Disposing of policy matters relating to the affairs of P.T.U. 11</li>
                    <li>Finalisation of policy relating to the cadre strength of all categories of officers/officials in
                        consultation with F.D. and Personnel Department.</li>
                    <li>Entrusting cases to the Department of Vigilance, Police, Courts and ordering Departmental
                        enquiries of category A Officers of rank of Deputy Directors& above, plus Principals and Heads
                        of Department of Polytechnics.</li>
                    <li>Refusal of LPR of Category A officers of the rank of Deputy Directors & above, plus Principals
                        and Heads of Department of Polytechnics.</li>
                    <li>Appeals filed by Category A officers of the rank of Deputy Directors & above, plus Principals
                        and Heads of Department of Polytechnics.</li>
                    <li>Framing/Amendment of all service rules and fixation of cadre strength of each category of
                        service.</li>
                    <li>Transfers and Postings of Category A officers of the rank of Deputy Directors & above, plus
                        Principals and Heads of Department of Polytechnics.</li>
                    <li>Revision of pay, grant of special pay and personal pay of Category A officers of the rank of
                        Deputy Directors & above, plus Principals and Heads of Department of Polytechnics.</li>
                    <li>Appointment on deputation and training of officers within and outside India in respect of
                        Category A
                        officers of the rank of Deputy Directors & above, plus Principals and Heads of Department of
                        Polytechnics.</li>
                    <li>Initial appointment on adhoc basis and extension in adhoc appointment of Category A officers of
                        the
                        rank of Deputy Directors & above, plus Principals and Heads of Department of Polytechnics.</li>
                    <li>Requisitions to be placed with Punjab Public Service Commission for the filling up of Category A
                        (of
                        the rank of Deputy Directors & above, plus Principals and Heads of Department of Polytechnics)
                        posts
                        and references to be made to it where policy issues is involved.</li>
                    <li>Modification in the scope of Plan/ Non-Plan schemes after fund has been earmarked by
                        F.D/Planning
                        Department.</li>

                </ul>
                <p class="fs-5 fw-semibold">
                    Financial Matters
                </p>
                <ul class="pt-3 list">
                    <li>Advances from the State Contingency Fund.</li>
                    <li> Cases relating to the recommendations of PAC/Estimates Committees when ripe for final decision.
                    </li>

                </ul>
                <p class="fs-5 fw-semibold ">
                    General
                </p>
                <ul class="pt-3 list">
                    <li>References required to be sent to the Government of India/Governor/Council of Ministers.</li>
                    <li> Opening of I.T.Is/Polytechnics/Engineering Colleges in the Private Sector.</li>
                    <li>Cases involving relaxation of Rules as per provisions of the particular set of Rules.</li>
                </ul>
                <p class="fs-5 fw-semibold red-title">
                    <i class="fa-regular fa-hand-point-right"></i> Cases to be disposed at the level of Principal
                    Secretary to tht government of Punjab, Department
                    of Technical Education and Industrial Training.
                </p>
                <ol class="pt-3">
                    <li>Tour Programme of Director, Technical Education and Industrial Training.</li>
                    <li> Appeals against orders of Director Technical Education and Industrial Education and review of
                        orders of special Secretary Technical Education.</li>
                    <li>Refusal of LPR of all kinds of service matters and transfers cases of officers of category A not
                        included in Annexure-II and Category B and Category officers.</li>
                    <li>Appointment/Extension in adhoc appointment of Category B and Category officers/officials.</li>
                    <li>Appointment, promotion seniority, disciplinary cases involving suspension and major/ minor
                        penalties cut in pension compulsory/premature retirements of Category A Officers not included in
                        Annexure II and Category B Officers.</li>
                    <li>Entrusting of cases of the Department vigilance, police/ courts of Category A officers not
                        Inclded in Annexure II and Category B Officers.
                    </li>
                    <li> Appeals filed by Category A Officers not included in Annexure II and Category B Officers.</li>
                    <li>Extension/confirmation of probation period dispensing with services during probation period,
                        clearance stoppage of efficiency, bar</li>
                </ol>
                <p class="fs-5 fw-semibold ">
                    Financial Powers
                </p>
                <ul class="pt-3 list">
                    <li>To sanction non-recurring expenditure not otherwise provided for in this rule (other t than
                        expenditure on installation of new telephone)</li>
                    <li>To sanction contingent expenditure of a recurring expenditure up to Rs. 18000/- per annum</li>
                    <li>To sanction payment of demurrage warfare charges out of contingencies up to Rs. 5000/-</li>
                    <li>To sanction payment of rent for houses or land for other land residential purposes i.e. for
                        ordinary
                        office accommodation etc. up to Rs. 5000/- per mensal.</li>
                    <li>To sanction local purchases of Indian manufacture where no rate contrasts of the controller of
                        Stores Punjab exists up to Rs. 800/- in each case.</li>
                    <li>To sanction direct purchases of stores from the local market after exhausting all the approved
                        sources of supply and rate contract arranged by the controller of store Punjab</li>
                    <li>To sanction the purchase of Ferro chemicals up to limit of Rs. 1500/- a year for each Ferro
                        Printing
                        Office.</li>
                    <li>To declare the sale and disposal of stores of stock surplus or unserviceable etc. in deptt. Up
                        to
                        Rs. 10000/-</li>
                    <li>To sanction the writing off of losses, stores etc. up to Rs. 10000/-</li>
                    <li>To sanction the grant non-refundable advance from G.P.Fund to Gazetted and Non-Gazetted
                        employees of
                        the Deptt.</li>
                    <li>To grant/permit a Govt. employees to receive honorarium</li>
                    <li>To sanction the reimbursement of medical charges of gazetted/Non-gazetted employees of the
                        deptt.
                    </li>
                    <li>To asset of entries in the services of books of gazetted/non-gazetted employees</li>
                    <li>To sanction loans and advances to employees of the Deptt</li>
                    <li>To sanction grant of annual increment to employees of the Directorate</li>
                    <li>To sanction Grant of local conveyance allowance</li>
                    <li>To sanction expenditure on service postage stamps for use in Govt. Offices & Institutes</li>
                    <li>To sanction expenditure in connection with the controlling authority as defined in Punjab Law
                        Deptt.
                        Manual</li>
                    <li>To sanction expenditure in emergent cases on account of binding work executed locally</li>
                    <li>To sanction the hiring of type writers of approved patterns for use in their offices and offices
                        subordinate them</li>
                    <li>To sanction expenditure on the supply of electrical energy consumed in Govt.
                        Offices/Institutions.
                    </li>
                    <li>To sanction the grant of temporary advance from G.P. Funds to gazetted and non-gazetted
                        employees of
                        the deptt.</li>
                </ul>
                <p class="fs-5 fw-semibold red-title">
                    <i class="fa-regular fa-hand-point-right"></i> Cases to be disposed at the level of Additional
                    Director, Department of Technical Training
                    (Technical Education Wing), PUNJAB.
                </p>
                <p class="fs-8">The following powers are delegated to the Additional Director (I) (Technical education
                    wing)</p>
                <ul class="pt-3 list">
                    <li>To sanction leave travel concession</li>
                    <li>To sanction remuneration to the employees dealing with student fund at the rate prescribed by
                        the Government and norms laid down by it</li>
                    <li>To sanction leave encasement after retirement</li>
                    <li>To grant extension in the contractual appointments</li>
                    <li>To grant DCRG to retirees</li>
                    <li>To grant ACP to non-gazetted staff of Director and field</li>
                    <li>To grant leave to all gazetted staff of subordinate officers, all gazetted and non-gazetted
                        staff of Directorate.</li>
                    <li>To grant casual leave for Heads of the Deptt</li>
                    <li>To grant permission to acquire higher education, to attend part time classes for higher
                        education</li>
                    <li>To issue experience certificate</li>
                    <li>To grant permission for concessional bus passes to students of Polytechnikc and Engineering
                        Colleges</li>
                    <li>To grant permission for adhoc appointment in aided Polytechnics</li>
                    <li>To sanction non-recurring expenditure not other-wise provided for this rule (other than
                        expenditure on installation of new Telephones.)</li>
                </ul>
                <p class="fs-5 fw-semibold red-title">
                    <i class="fa-regular fa-hand-point-right"></i> Cases to be disposed at the level of Additional
                    Director, Department of Technical Training
                    (Technical Education Wing), PUNJAB.
                </p>
                <p class="fs-8">The following powers are delegated to the Additional Director (I)
                    (Technical education wing)
                </p>
                <ul class="pt-3 list">
                    <li>Approval to make notifications under section 4 and 6 for acquisition of land for To sanction
                        casual
                        leave of subordinate Officers/Officials</li>
                    <li>To grant the funds under I.R.G. schemes</li>
                    <li>To grant the finance approval up to Rs. 5000/- from the funds of All India Council for Technical
                        Education and Engineering Colleges</li>
                    <li>D.D.O. powers to use the funds of Engg. College Cell</li>
                    <li>To check the implementation of the norms of A.I.C.T.E./P.C.I. in the Institutes.</li>
                    <li>PAGE NO. 13</li>
                    <li>Pension, gratuity, acceptance of registration of Category A officers not included in Annexure II
                        and
                        Category B Officers</li>
                    <li>5. Ordering of departmental enquiries of category A Officers not included in Annexure II and
                        Categories B officers.</li>
                    <li>Land Acquisition final notification under section 6 of land Acquisition Act</li>
                    <li>Requisition to be placed with Punjab Public Service Commission for the filling up of Category A
                        Officers not included in Annexure I and category B posts</li>
                    <li>Purchase of staff carsI</li>
                    <li>Disposing of matters relating to Punjab State Board of Technical Education</li>
                    <li>All miscellaneous matters not specified otherwise</li>
                    <li>Sanction to file appeals, applications and legal defence in court cases</li>
                    <li>Disposing of all routine matters relating to Punjab Technical University</li>
                    <li>Clearance of efficiency bar, gratuity and completion of probation period of Category A Officers
                        and
                        Category B officers where there are no adverentries</li>
                    <li>Appointment on deputation to Central/ State Govt. Corporations, Training of officers / Officials
                        within India of A category officers not included in Annexure II and all other categories of
                        officers/officials.</li>
                    <li>Forwarding of application for employment outside the state of Punjab (within India) in respect
                        of
                        category B and category C officials.</li>
                    <li>Travelling beyond jurisdiction within India fixation of pay, loans advance and honorarium for
                        both
                        category A and category B officers.</li>
                    <li>Appeals filed by category C officials against orders of D.T.E</li>
                    <li>Continuance of temporary posts in consultation with finance department.</li>
                    <li>All matters relating to category A officers not included in Annexure II and category B,C,D
                        officials.</li>
                    <li>All cases of creation/abolition of posts of category C and category D employees on the advice of
                        finance Department</li>
                    <li>Cases to be referred to finance Department for individual schemes and post approved as part of
                        plan
                        private parties/ Government, Semi-Government, Corporation/ Organisation</li>
                </ul>


            </div>
        </div>
    </div>
</div>