:host .red-title {
  color: #b1040e;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: Set backdrop color */
  display: flex;
  flex-direction: column;
  z-index: 999; /* Ensure spinner is above content */
}

.loading-center {
  justify-content: center;
  align-items: center;
}
