<div class="dark" [class.dark-mode]="isDarkMode"
  *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      Press Clips
    </div>
    <div class="py-3">
      <div id="carouselExampleFade" class="carousel slide carousel-fade"
        data-bs-ride="carousel" [attr.data-interval]="4000">
        <div class="carousel-inner">
          <div *ngFor="let clip of clips; let i = index" class="carousel-item"
            [class.active]="i === 0">
            <img
              [src]="'../../../../assets/images/used/pressclips/' + clip.src + '.jpg'"
              class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ clip.title }}</h5>
              <p>{{ clip.description }}</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button"
          data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
          data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      ਕਲਿੱਪ ਦਬਾਓ
    </div>
    <div class="py-3">
      <div id="carouselExampleFade" class="carousel slide carousel-fade"
        data-bs-ride="carousel" [attr.data-interval]="4000">
        <div class="carousel-inner">
          <div *ngFor="let clip of clips; let i = index" class="carousel-item"
            [class.active]="i === 0">
            <img
              [src]="'../../../../assets/images/used/pressclips/' + clip.src + '.jpg'"
              class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ clip.title }}</h5>
              <p>{{ clip.description }}</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">ਪਿਛਲਾ</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">
          ਅਗਲਾ</span>
      </button>
    </div>
  </div>
</div>
</div>

<!--hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div
      class="fw-bold fs-1 red-title border-bottom border-danger border-2 pt-3 border-bottom border-danger border-2">
      क्लिप्स दबाएँ
    </div>
    <div class="py-3">
      <div id="carouselExampleFade" class="carousel slide carousel-fade"
        data-bs-ride="carousel" [attr.data-interval]="4000">
        <div class="carousel-inner">
          <div *ngFor="let clip of clips; let i = index" class="carousel-item"
            [class.active]="i === 0">
            <img
              [src]="'../../../../assets/images/used/pressclips/' + clip.src + '.jpg'"
              class="d-block w-100 img-fluid" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ clip.title }}</h5>
              <p>{{ clip.description }}</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">पहला</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">
          अगला</span>
      </button>
    </div>
  </div>
</div>
