:host .btn-red {
  background-color: #b1040e;
  color: #fff;
}
:host .red-title {
  color: #b1040e;
}
.dark-mode .red-title{
  color: #fff;
}
.dark-mode{
  color: #fff;
  
}
.border-red{
border-color: #b1040e;
}
.img{
  max-width: 70%;
}
.dark-mode .card{
  background-color: #333;
  color: #fff;
  border-color: #fff;
}
.dark-mode .border-danger{
  border-color: #fff !important;
}