<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Computer Science Engineering</div>
        <div class="fs-4 lh-lg fw-lighter text-center">
            <div class="py-3">
                In-demand CS Engineering! Modern world runs on computers, and our department equips you with top-notch
                software & hardware labs, Wi-Fi included. Ready to code the future?
            </div>
            <div class="mb-5">
                <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="my-3">
                <div class="border-bottom border-top border-danger py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-semibold red-title fs-2">
                Computer Science Engineering in a Nutshell</div>
            <div class="text-start my-3">
                <ul>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Hardware & Software
                            Mastery:</span> Understand computer workings, peripherals, operating systems, and software
                        installation.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Architecture &
                            Microprocessors:</span> Grasp microprocessor architecture, interfacing techniques, and
                        interrupts.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> System & Programming
                            Savvy:</span> Build computers, design algorithms, code in high-level and assembly languages,
                        master system software and popular applications.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Data & Networks:
                        </span> Comprehend databases, relational database management systems, network concepts, data
                        structures, and programming techniques.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Hardware & Software
                            Mastery:</span> Understand computer workings, peripherals, operating systems, and software
                        installation.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Web & Trends:</span>
                        Utilize web technologies, understand LAN and WAN networks, create local area networks, stay
                        updated on IT trends.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Applied Sciences &
                            Design: </span>
                        Apply scientific principles and mathematics for development, understand web page design.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">Hardware & Networking
                            Practice: </span>
                        Get hands-on with computer hardware and networking systems.
                    </li>
                </ul>
            </div>
            <div class="fw-semibold red-title fs-2 my-3">
                Our Labs</div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                Project Labs</div>
                            <div class="my-3">
                                A project lab in a college computer science department is a dedicated space where
                                students work
                                on hands-on projects, typically as part of a course or program. These projects can be
                                individual
                                or group-based and involve various aspects of computer science
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                RDBMS and Programming Labs</div>
                            <div class="my-3">
                                Both RDBMS and Programming labs offer valuable learning experiences for students
                                pursuing careers in computer science, IT, and related fields. RDBMS labs equip students
                                with data management skills, while Programming labs hone their software development
                                abilities.
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                Project Labs</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                Project Labs</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                Project Labs</div>
                            <div class="my-3"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
    </div>
</div>

<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">

    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀਨੀਅਰਿੰਗ
        </div>
        <p>
            ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀ. ਅਜੋਕੇ ਸਮੇਂ ਵਿੱਚ ਬਹੁਤ ਹੀ ਮੰਗ ਵਾਲਾ ਕੋਰਸ ਹੈ, ਜਿਵੇਂ ਕਿ ਵਰਤਮਾਨ ਦੇ ਸਾਰੇ ਕੰਮ ਹਨ
            ਪੀੜ੍ਹੀ
            ਹੈ
            ਕੰਪਿਊਟਰ 'ਤੇ ਨਿਰਭਰ. ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜਨੀਅਰ ਵਿਭਾਗ ਕੋਲ ਵੱਖ-ਵੱਖ ਸਾਫਟਵੇਅਰ ਅਤੇ ਹਾਰਡਵੇਅਰ ਲੈਬਾਂ ਹਨ
            ਕਾਫ਼ੀ
            ਵਾਈ-ਫਾਈ ਕਨੈਕਟੀਵਿਟੀ ਵਾਲਾ ਬੁਨਿਆਦੀ ਢਾਂਚਾ।
        </p>
        <p class="fs-5 fw-semibold  red-title">
            ਯੋਗਤਾ ਪ੍ਰੋਫ਼ਾਈਲ
        </p>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਪਿਊਟਰ ਦੇ ਕੰਮ ਬਾਰੇ ਗਿਆਨ,
                        ਪੈਰੀਫਿਰਲ</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਮਕਾਜ ਦੀ ਸਮਝ ਅਤੇ
                        ਦਾ ਪ੍ਰਸ਼ਾਸਨ
                        ਵੱਖ-ਵੱਖ ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਮੇਤ ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਇੰਸਟਾਲ ਕਰਨ ਦੀ ਸਮਰੱਥਾ
                        ਲੋਡ ਹੋ ਰਿਹਾ ਹੈ
                        ਸਾਫਟਵੇਅਰ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਦੇ ਆਰਕੀਟੈਕਚਰ ਨੂੰ ਸਮਝਣਾ,
                        ਇੰਟਰਫੇਸਿੰਗ
                        ਤਕਨੀਕਾਂ ਅਤੇ ਰੁਕਾਵਟਾਂ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਆਰਕੀਟੈਕਚਰ ਬਾਰੇ ਗਿਆਨ ਅਤੇ
                        ਸੰਗਠਨ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਿਸਟਮ ਸੌਫਟਵੇਅਰ ਦੀ ਸਮਝ ਅਤੇ ਯੋਗਤਾ
                        ਵਰਤੋ
                        ਐਪਲੀਕੇਸ਼ਨ ਸਾਫਟਵੇਅਰ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i>
                        ਕੰਪਿਊਟਰਾਂ ਨੂੰ ਅਸੈਂਬਲ ਕਰਨ ਦੀ ਸਮਰੱਥਾ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਐਲਗੋਰਿਦਮ ਅਤੇ ਡਾਟਾ ਪ੍ਰਵਾਹ ਵਿਕਸਿਤ ਕਰਨ ਵਿੱਚ ਹੁਨਰ
                        ਚਿੱਤਰ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i>
                        ਕੰਪਿਊਟਰ ਪ੍ਰੋਗਰਾਮਾਂ ਨੂੰ ਉੱਚ ਪੱਧਰ 'ਤੇ ਲਿਖਣ ਦੀ ਸਮਰੱਥਾ
                        ਪੱਧਰ
                        ਭਾਸ਼ਾਵਾਂ
                        ਅਤੇ ਅਸੈਂਬਲੀ ਭਾਸ਼ਾ ਵਿੱਚ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਓਪਰੇਟਿੰਗ ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਦੀ ਯੋਗਤਾ ਅਤੇ
                        ਪ੍ਰਸਿੱਧ
                        ਸਾਫਟਵੇਅਰ
                        ਪੈਕੇਜ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਡਾਟਾਬੇਸ ਦੀ ਸਮਝ ਅਤੇ ਦਾ ਗਿਆਨ
                        ਸੰਬੰਧਤ
                        ਡਾਟਾਬੇਸ ਪ੍ਰਬੰਧਨ ਸਿਸਟਮ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਨੈੱਟਵਰਕਿੰਗ ਦੀ ਧਾਰਨਾ ਨੂੰ ਸਮਝਣਾ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਡਾਟਾ ਬਣਤਰ ਅਤੇ ਪ੍ਰੋਗਰਾਮਿੰਗ ਦਾ ਗਿਆਨ
                        ਤਕਨੀਕਾਂ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਵੈੱਬ ਤਕਨਾਲੋਜੀਆਂ ਅਤੇ ਉਹਨਾਂ ਦਾ ਗਿਆਨ
                        ਵਿੱਚ ਐਪਲੀਕੇਸ਼ਨ
                        ਵੱਖ-ਵੱਖ ਖੇਤਰ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਨੈੱਟਵਰਕ ਤਕਨਾਲੋਜੀ ਦੀ ਧਾਰਨਾ ਨੂੰ ਸਮਝਣਾ
                        LAN ਅਤੇ
                        ਵੈਨ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਲੋਕਲ ਏਰੀਆ ਨੈੱਟਵਰਕ ਸਥਾਪਿਤ ਕਰੋ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਜਾਣਕਾਰੀ ਵਿੱਚ ਮੌਜੂਦਾ ਰੁਝਾਨਾਂ ਦਾ ਗਿਆਨ
                        ਤਕਨਾਲੋਜੀ.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਵੈੱਬ ਪੇਜ ਡਿਜ਼ਾਈਨਿੰਗ ਨੂੰ ਸਮਝਣਾ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਮੇਤ ਕੰਪਿਊਟਰ ਹਾਰਡਵੇਅਰ ਦਾ ਅਭਿਆਸ
                        ਨੈੱਟਵਰਕਿੰਗ
                        ਸਿਸਟਮ।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਅਪਲਾਈਡ ਸਾਇੰਸਜ਼ ਦੇ ਸਿਧਾਂਤ ਨੂੰ ਸਮਝਣਾ
                        ਅਤੇ
                        ਵਿਗਿਆਨਕ ਸੁਭਾਅ ਦੇ ਵਿਕਾਸ ਲਈ ਗਣਿਤ। </li>
                </ul>
            </div>
            <div class="col-md-4 align-self-center">
                <img src="../../../../assets/images/used/web-use/cse.webp" class="img-fluid" alt="">
            </div>
        </div>
        <table class="table table-hover border-danger text-center border">
            <thead>
                <tr>
                    <th scope="col"> ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">
                        ਲੈਬ ਦਾ ਨਾਮ </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>
                        ਪ੍ਰੋਜੈਕਟ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>BIT ਲੈਬ </td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td> RDBMS ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>
                        ਪ੍ਰੋਗਰਾਮਿੰਗ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>ਸੰਚਾਰ ਸਿਸਟਮ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>ਵਰਕਸ਼ਾਪ ਲੈਬ</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਪਿਛਲਾ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਅਗਲਾ</span>
            </button>
        </div>
    </div>
</div>


<!--hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">

    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            कंप्यूटर साइंस इंजीनियरिंग
        </div>
        <p>
            कंप्यूटर साइंस इंजीनियरिंग वर्तमान समय में एक बहुत ही मांग वाला कोर्स है, क्योंकि वर्तमान पीढ़ी का सारा काम
            कंप्यूटर पर निर्भर है। कंप्यूटर साइंस इंजीनियरिंग विभाग में वाई-फाई कनेक्टिविटी के साथ पर्याप्त बुनियादी
            ढांचे के साथ विभिन्न सॉफ्टवेयर और हार्डवेयर प्रयोगशालाएं हैं।
        </p>
        <p class="fs-5 fw-semibold  red-title">
            योग्यता प्रोफ़ाइल
        </p>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><i class="fa-regular fa-hand-point-right"></i> कंप्यूटर, बाह्य उपकरणों के कामकाज के बारे में
                        ज्ञान।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> विभिन्न ऑपरेटिंग सिस्टम के कामकाज और प्रशासन की
                        समझ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> सॉफ्टवेयर लोड करने सहित कंप्यूटर सिस्टम स्थापित
                        करने की क्षमता।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> माइक्रोप्रोसेसर की वास्तुकला, इंटरफेसिंग तकनीक और
                        इंटरप्ट को समझना।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> कंप्यूटर सिस्टम आर्किटेक्चर और संगठन के बारे में
                        ज्ञान।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> सिस्टम सॉफ्टवेयर की समझ और एप्लिकेशन सॉफ्टवेयर का
                        उपयोग करने की क्षमता।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i>
                        कंप्यूटर को असेंबल करने की क्षमता</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> एल्गोरिदम और डेटा प्रवाह आरेख विकसित करने में
                        कौशल।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i>
                        उच्च स्तरीय भाषाओं और असेंबली भाषा में कंप्यूटर प्रोग्राम लिखने की क्षमता।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ऑपरेटिंग कंप्यूटर सिस्टम और लोकप्रिय सॉफ्टवेयर
                        पैकेजों की योग्यता।
                    <li><i class="fa-regular fa-hand-point-right"></i> डेटाबेस की समझ और संबंधपरक डेटाबेस प्रबंधन
                        प्रणाली का ज्ञान।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> नेटवर्किंग की अवधारणा को समझना.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> डेटा संरचनाओं और प्रोग्रामिंग तकनीकों का ज्ञान।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> वेब प्रौद्योगिकियों और विभिन्न क्षेत्रों में उनके
                        अनुप्रयोगों का ज्ञान।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> नेटवर्क प्रौद्योगिकी LAN और WAN की अवधारणा को
                        समझना
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i>स्थानीय क्षेत्र नेटवर्क स्थापित करें.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> सूचना प्रौद्योगिकी में वर्तमान रुझानों का ज्ञान।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> वेब पेज डिजाइनिंग को समझना।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> नेटवर्किंग सिस्टम सहित कंप्यूटर हार्डवेयर का
                        अभ्यास।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> वैज्ञानिक सोच विकसित करने के लिए अनुप्रयुक्त
                        विज्ञान और गणित के सिद्धांत को समझना। </li>
                </ul>
            </div>
            <div class="col-md-4 align-self-center">
                <img src="../../../../assets/images/used/web-use/cse.webp" class="img-fluid" alt="">
            </div>
        </div>
        <table class="table table-hover border-danger text-center border">
            <thead>
                <tr>
                    <th scope="col">क्रम संख्या</th>
                    <th scope="col">
                        प्रयोगशाला का नाम </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>
                        प्रोजेक्ट लैब</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>बिट लैब </td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td>आरडीबीएमएस लैब</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>
                        प्रोग्रामिंग लैब</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>संचार प्रणाली प्रयोगशाला</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>कार्यशाला प्रयोगशाला</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">पिछला</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">अगला</span>
            </button>
        </div>
    </div>
</div>