<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Computer Science Engineering
        </div>
        <p>
            Computer Science Engg is a very demanding course in present times, as all the work of the present
            generation
            is
            dependent on computers. Computer Science Engg department has various software & hardware labs with
            adequate
            infrastructure with wi-fi connectivity.
        </p>
        <p class="fs-5 fw-semibold  red-title">
            Competency Profile
        </p>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><i class="fa-regular fa-hand-point-right"></i> Knowledge about working of computers ,
                        peripherals .</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding of the functioning and
                        administration of
                        various operating system.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Ability of installing computer system including
                        loading
                        software.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding architecture of Microprocessor,
                        Interfacing
                        techniques and Interrupts.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Knowledge about Computer System architecture and
                        Organization.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding of System software and Ability to
                        use
                        Application Software.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Ability of Assembling the Computers .</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Skills in developing algorithms and data flows
                        diagram.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Ability of writing computer programs in high
                        level
                        languages
                        and in assembly language.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> competency of operating computers system and
                        popular
                        software
                        packages. </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding of databases and knowledge of
                        relational
                        database Management system.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding the concept of Networking.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> knowledge of data structures and programming
                        techniques.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> knowledge of web technologies and their
                        applications in
                        various areas.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding the concept of network technology
                        LAN and
                        WAN
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Establish Local area networks.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Knowledge of Current trends in Information
                        Technology.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding the Web page Designing.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Practice of Computer Hardware including
                        Networking
                        Systems.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> Understanding the principle of Applied Sciences
                        and
                        Mathematics for developing Scientific temper. </li>
                </ul>
            </div>
            <div class="col-md-4 align-self-center">
                <img src="../../../../assets/images/used/web-use/cse.png" class="img-fluid" alt="">
            </div>
        </div>
        <table class="table table-hover border-danger text-center border">
            <thead>
                <tr>
                    <th scope="col"> Serial NO</th>
                    <th scope="col"> NAME OF LAB </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>PROJECT LAB</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>BIT LAB </td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td> RDBMS LAB</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>PROGRAMMING LAB</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>COMMUNICATION SYSTEM LAB</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>WORKSHOP LAB</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">

    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀਨੀਅਰਿੰਗ
        </div>
        <p>
            ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀ. ਅਜੋਕੇ ਸਮੇਂ ਵਿੱਚ ਬਹੁਤ ਹੀ ਮੰਗ ਵਾਲਾ ਕੋਰਸ ਹੈ, ਜਿਵੇਂ ਕਿ ਵਰਤਮਾਨ ਦੇ ਸਾਰੇ ਕੰਮ ਹਨ
            ਪੀੜ੍ਹੀ
            ਹੈ
            ਕੰਪਿਊਟਰ 'ਤੇ ਨਿਰਭਰ. ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜਨੀਅਰ ਵਿਭਾਗ ਕੋਲ ਵੱਖ-ਵੱਖ ਸਾਫਟਵੇਅਰ ਅਤੇ ਹਾਰਡਵੇਅਰ ਲੈਬਾਂ ਹਨ
            ਕਾਫ਼ੀ
            ਵਾਈ-ਫਾਈ ਕਨੈਕਟੀਵਿਟੀ ਵਾਲਾ ਬੁਨਿਆਦੀ ਢਾਂਚਾ।
        </p>
        <p class="fs-5 fw-semibold  red-title">
            ਯੋਗਤਾ ਪ੍ਰੋਫ਼ਾਈਲ
        </p>
        <div class="row">
            <div class="col-md-8">
                <ul>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਪਿਊਟਰ ਦੇ ਕੰਮ ਬਾਰੇ ਗਿਆਨ,
                        ਪੈਰੀਫਿਰਲ</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਮਕਾਜ ਦੀ ਸਮਝ ਅਤੇ
                        ਦਾ ਪ੍ਰਸ਼ਾਸਨ
                        ਵੱਖ-ਵੱਖ ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਮੇਤ ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਇੰਸਟਾਲ ਕਰਨ ਦੀ ਸਮਰੱਥਾ
                        ਲੋਡ ਹੋ ਰਿਹਾ ਹੈ
                        ਸਾਫਟਵੇਅਰ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਦੇ ਆਰਕੀਟੈਕਚਰ ਨੂੰ ਸਮਝਣਾ,
                        ਇੰਟਰਫੇਸਿੰਗ
                        ਤਕਨੀਕਾਂ ਅਤੇ ਰੁਕਾਵਟਾਂ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਆਰਕੀਟੈਕਚਰ ਬਾਰੇ ਗਿਆਨ ਅਤੇ
                        ਸੰਗਠਨ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਿਸਟਮ ਸੌਫਟਵੇਅਰ ਦੀ ਸਮਝ ਅਤੇ ਯੋਗਤਾ
                        ਵਰਤੋ
                        ਐਪਲੀਕੇਸ਼ਨ ਸਾਫਟਵੇਅਰ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> 
                        ਕੰਪਿਊਟਰਾਂ ਨੂੰ ਅਸੈਂਬਲ ਕਰਨ ਦੀ ਸਮਰੱਥਾ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਐਲਗੋਰਿਦਮ ਅਤੇ ਡਾਟਾ ਪ੍ਰਵਾਹ ਵਿਕਸਿਤ ਕਰਨ ਵਿੱਚ ਹੁਨਰ
                        ਚਿੱਤਰ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> 
                        ਕੰਪਿਊਟਰ ਪ੍ਰੋਗਰਾਮਾਂ ਨੂੰ ਉੱਚ ਪੱਧਰ 'ਤੇ ਲਿਖਣ ਦੀ ਸਮਰੱਥਾ
                                                ਪੱਧਰ
                                                ਭਾਸ਼ਾਵਾਂ
                                                ਅਤੇ ਅਸੈਂਬਲੀ ਭਾਸ਼ਾ ਵਿੱਚ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਓਪਰੇਟਿੰਗ ਕੰਪਿਊਟਰ ਸਿਸਟਮ ਦੀ ਯੋਗਤਾ ਅਤੇ
                        ਪ੍ਰਸਿੱਧ
                        ਸਾਫਟਵੇਅਰ
                        ਪੈਕੇਜ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਡਾਟਾਬੇਸ ਦੀ ਸਮਝ ਅਤੇ ਦਾ ਗਿਆਨ
                        ਸੰਬੰਧਤ
                        ਡਾਟਾਬੇਸ ਪ੍ਰਬੰਧਨ ਸਿਸਟਮ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਨੈੱਟਵਰਕਿੰਗ ਦੀ ਧਾਰਨਾ ਨੂੰ ਸਮਝਣਾ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਡਾਟਾ ਬਣਤਰ ਅਤੇ ਪ੍ਰੋਗਰਾਮਿੰਗ ਦਾ ਗਿਆਨ
                        ਤਕਨੀਕਾਂ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਵੈੱਬ ਤਕਨਾਲੋਜੀਆਂ ਅਤੇ ਉਹਨਾਂ ਦਾ ਗਿਆਨ
                        ਵਿੱਚ ਐਪਲੀਕੇਸ਼ਨ
                        ਵੱਖ-ਵੱਖ ਖੇਤਰ.</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਨੈੱਟਵਰਕ ਤਕਨਾਲੋਜੀ ਦੀ ਧਾਰਨਾ ਨੂੰ ਸਮਝਣਾ
                        LAN ਅਤੇ
                        ਵੈਨ
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਲੋਕਲ ਏਰੀਆ ਨੈੱਟਵਰਕ ਸਥਾਪਿਤ ਕਰੋ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਜਾਣਕਾਰੀ ਵਿੱਚ ਮੌਜੂਦਾ ਰੁਝਾਨਾਂ ਦਾ ਗਿਆਨ
                        ਤਕਨਾਲੋਜੀ.
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਵੈੱਬ ਪੇਜ ਡਿਜ਼ਾਈਨਿੰਗ ਨੂੰ ਸਮਝਣਾ।</li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਸਮੇਤ ਕੰਪਿਊਟਰ ਹਾਰਡਵੇਅਰ ਦਾ ਅਭਿਆਸ
                        ਨੈੱਟਵਰਕਿੰਗ
                        ਸਿਸਟਮ।
                    </li>
                    <li><i class="fa-regular fa-hand-point-right"></i> ਅਪਲਾਈਡ ਸਾਇੰਸਜ਼ ਦੇ ਸਿਧਾਂਤ ਨੂੰ ਸਮਝਣਾ
                        ਅਤੇ
                        ਵਿਗਿਆਨਕ ਸੁਭਾਅ ਦੇ ਵਿਕਾਸ ਲਈ ਗਣਿਤ। </li>
                </ul>
            </div>
            <div class="col-md-4 align-self-center">
                <img src="../../../../assets/images/used/web-use/cse.png" class="img-fluid" alt="">
            </div>
        </div>
        <table class="table table-hover border-danger text-center border">
            <thead>
                <tr>
                    <th scope="col"> ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col"> 
                        ਲੈਬ ਦਾ ਨਾਮ </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>
                        ਪ੍ਰੋਜੈਕਟ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>BIT ਲੈਬ </td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td> RDBMS ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>
                        ਪ੍ਰੋਗਰਾਮਿੰਗ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>ਸੰਚਾਰ ਸਿਸਟਮ ਲੈਬ</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>ਵਰਕਸ਼ਾਪ ਲੈਬ</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਪਿਛਲਾ</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ਅਗਲਾ</span>
            </button>
        </div>
    </div>
</div>