<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Computer Science Engineering
        </div>
        <p>
            Computer Science Engg is a very demanding course in present times, as all the work of the present generation
            is
            dependent on computers. Computer Science Engg department has various software & hardware labs with adequate
            infrastructure with wi-fi connectivity.
        </p>

        <p>
            Competency Profile
        </p>
        <ul>
            <li><i class="fa-regular fa-hand-point-right"></i> Knowledge about working of computers , peripherals .</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding of the functioning and administration of
                various operating system.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Ability of installing computer system including loading
                software.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding architecture of Microprocessor, Interfacing
                techniques and Interrupts.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Knowledge about Computer System architecture and
                Organization.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding of System software and Ability to use
                Application Software.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Ability of Assembling the Computers .</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Skills in developing algorithms and data flows diagram.
            </li>
            <li><i class="fa-regular fa-hand-point-right"></i> Ability of writing computer programs in high level
                languages
                and in assembly language.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> competency of operating computers system and popular
                software
                packages. </li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding of databases and knowledge of relational
                database Management system.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding the concept of Networking.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> knowledge of data structures and programming techniques.
            </li>
            <li><i class="fa-regular fa-hand-point-right"></i> knowledge of web technologies and their applications in
                various areas.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding the concept of network technology LAN and
                WAN
            </li>
            <li><i class="fa-regular fa-hand-point-right"></i> Establish Local area networks.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Knowledge of Current trends in Information Technology.
            </li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding the Web page Designing.</li>
            <li><i class="fa-regular fa-hand-point-right"></i> Practice of Computer Hardware including Networking
                Systems.
            </li>
            <li><i class="fa-regular fa-hand-point-right"></i> Understanding the principle of Applied Sciences and
                Mathematics for developing Scientific temper. </li>
        </ul>


        <table class="table table-hover border-danger text-center border">
            <thead>
                <tr>
                    <th scope="col"> Serial NO</th>
                    <th scope="col"> NAME OF LAB </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1.</th>
                    <td>PROJECT LAB</td>
                </tr>
                <tr>
                    <th scope="row">2.</th>
                    <td>BIT LAB </td>
                </tr>
                <tr>
                    <th scope="row">3.</th>
                    <td> RDBMS LAB</td>
                </tr>
                <tr>
                    <th scope="row">4.</th>
                    <td>PROGRAMMING LAB</td>
                </tr>
                <tr>
                    <th scope="row">5.</th>
                    <td>COMMUNICATION SYSTEM LAB</td>
                </tr>
                <tr>
                    <th scope="row">6.</th>
                    <td>WORKSHOP LAB</td>
                </tr>
            </tbody>

        </table>
        <br>
    </div>
</div>
<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">

    ghghghghghghghghghghghghghghghghghghghghghxf
</div>