<div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        DEPARTMENT OF ELECTRONICS AND COMMUNICATION ENGINEERING
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Mr. Harsukhpreet Singh</div>
                    <p class="card-text">Designation: Lecturer</p>
                    <p class="card-text">Qualification: Pursuing Ph.D</p>
                    <p class="card-text">Email: harsukhpreet&#64;gmail.com</p>
                    <p class="card-text">Mobile No.: 7696889004</p>
                </div>
                <div class="col-md-5"><img src="path/to/harsukhpreet_image.jpg" class="img-fluid img"
                        alt="Harsukhpreet Singh"></div>
            </div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <div class="card-title fs-4">Smt. Pradeep Kaur</div>
                    <p class="card-text">Designation: Lecturer</p>
                    <p class="card-text">Qualification: M.Tech(ECE)</p>
                    <!-- Example: <p class="card-text">Email: pradeep.kaur@example.com</p> -->
                    <p class="card-text">Mobile No.: 6284141877</p>
                </div>
                <div class="col-md-5"><img src="path/to/pradeep_kaur_image.jpg" class="img-fluid img"
                        alt="Smt. Pradeep Kaur"></div>
            </div>
        </div>
    </div>
</div>