<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
           Electronics & Comunnication Engineering
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Harsukhpreet Singh</div>
                        <p class="card-text">Designation: Lecturer</p>
                        <p class="card-text">Qualification: Pursuing Ph.D</p>
                        <p class="card-text">Email: harsukhpreet&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 7696889004</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Harsukhpreet Singh"></div>
                </div>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Smt. Pradeep Kaur</div>
                        <p class="card-text">Designation: Lecturer</p>
                        <p class="card-text">Qualification: M.Tech(ECE)</p>
                        <!-- Example: <p class="card-text">Email: pradeep.kaur@example.com</p> -->
                        <p class="card-text">Mobile No.: 6284141877</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/female_faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Smt. Pradeep Kaur"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>



<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜਨੀਅਰਿੰਗ 
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ਼੍ਰੀ ਹਰਸੁਖਪ੍ਰੀਤ ਸਿੰਘ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">ਯੋਗਤਾ: ਪੀਐਚ.ਡੀ</p>
                        <p class="card-text">ਈਮੇਲ: harsukhpreet&#64;gmail.com</p>
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 7696889004</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Harsukhpreet Singh"></div>
                </div>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ਼੍ਰੀਮਤੀ ਪ੍ਰਦੀਪ ਕੌਰ</div>
                        <p class="card-text">
                            ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
                        <p class="card-text">
                            ਯੋਗਤਾ: M.Tech (ECE)</p>
                        <!-- Example: <p class="card-text">Email: pradeep.kaur@example.com</p> -->
                        <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 6284141877</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/female_faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Smt. Pradeep Kaur"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>


<!--hindi-->

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग 
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री हरसुखप्रीत सिंह</div>
                        <p class="card-text">
                            पदनाम: व्याख्याता</p>
                        <p class="card-text">योग्यता: ਪੀਐਚ.ਡੀ</p>
                        <p class="card-text">ईमेल: harsukhpreet&#64;gmail.com</p>
                        <p class="card-text">मोबाइल नंबर:  7696889004</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Harsukhpreet Singh"></div>
                </div>
            </div>
        </div>
        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्रीमती प्रदीप कौर</div>
                        <p class="card-text">
                            पदनाम: व्याख्याता</p>
                        <p class="card-text">
                            योग्यता: M.Tech (ECE)</p>
                        <!-- Example: <p class="card-text">Email: pradeep.kaur@example.com</p> -->
                        <p class="card-text">मोबाइल नंबर:  6284141877</p>
                    </div>
                    <div class="col-md-5 text-center mt-0"> <img src="../../../../assets/images/faculty/female_faculty_placeholder.webp" class="img-fluid rounded-circle img"
                            alt="Smt. Pradeep Kaur"></div>
                </div>
            </div>
        </div><br>
    </div>
</div>