<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Download Admission Form</div>
    <div class="py-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="https://eakadamik.in/psbte_2022/" target="_blank"
            class="text-decoration-none text-black fw-semibold"><i class="fa-regular fa-hand-point-right"></i> Online
            Registration Portal</a>
        </li>

        <li class="list-group-item">
          <a href="../../../assets/images/used/useful-link/Admission_Form 2023.pdf" target="_blank"
            class="text-decoration-none text-black fw-semibold"><i class="fa-regular fa-hand-point-right"></i> Download
            Admission Form for First Year
            (Regular)</a>
        </li>

        <li class="list-group-item">
          <a href="../../../assets/images/used/useful-link/Admission form 2023 LEET.pdf" target="_blank"
            class="text-decoration-none text-black fw-semibold"><i class="fa-regular fa-hand-point-right"></i> Download
            Admission Form for Second Year (LEET)</a>
        </li>
      </ul>
      <p class="pt-3 text-black">E-mail: <a href="mailto:gpctalwara@gmail.com"
          class="text-decoration-none red-title fw-semibold">gpctalwara&#64;gmail.com</a></p>
    </div>
  </div>
</div>