<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngFor="let row of formLayoutInstance.layout" class="form-row">
    <div *ngFor="let field of row.row" class="form-field">

      <!-- Input, Textarea, Select -->
      <mat-form-field *ngIf="field.type === 'input' || field.type === 'textarea' || field.type === 'select'"
      appearance="fill"
      class="full-width"
      [hideRequiredMarker]="field.hideRequiredMarker"
      [floatLabel]="field.floatLabel"
      >
        <mat-label>{{field.placeholder}}</mat-label>
        <input *ngIf="field.type === 'input'"
        matInput
        [formControlName]="field.name"
        [readonly]="field.readonly"
        >
        <textarea *ngIf="field.type === 'textarea'" matInput [formControlName]="field.name"></textarea>
        <mat-select *ngIf="field.type === 'select'" [formControlName]="field.name">
          <mat-option *ngFor="let option of field.options" [value]="option.value">{{option.label}}</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">
          {{field.placeholder}} is required
        </mat-error>
      </mat-form-field>

      <!-- Radio Group -->
      <div *ngIf="field.type === 'radio'" class="radio-group">
        <mat-radio-group [formControlName]="field.name">
          <mat-label>{{field.placeholder}}</mat-label>
          <mat-radio-button *ngFor="let option of field.options" [value]="option.value">{{option.label}}</mat-radio-button>
        </mat-radio-group>
        <!-- Handling error outside mat-form-field for radio buttons -->
        <mat-error *ngIf="formGroup.get(field.name)?.errors?.['required'] && formGroup.get(field.name)?.touched">
          {{field.placeholder}} is required
        </mat-error>
      </div>

      <!-- Checkboxes (Multiple) -->
      <div *ngIf="field.type === 'checkbox'">
        <label>{{field.placeholder}}</label>
        <!-- Use the "formArrayName" directive for binding FormArray within FormGroup -->
        <div formArrayName="{{field.name}}" class="checkbox-group">
          <mat-checkbox *ngFor="let option of field.options; let i = index" [formControlName]="i">{{option.label}}</mat-checkbox>
        </div>
        <!-- Handling error for the entire checkbox group -->
        <mat-error *ngIf="formGroup.get(field.name)?.invalid && formGroup.get(field.name)?.touched">
          At least one {{field.placeholder}} option is required
        </mat-error>
      </div>

    </div>
  </div>
  <button mat-raised-button color="primary" type="submit">Submit</button>
</form>
