<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Courses Offered</div>
        <div class="course pt-3">
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="col">Serial No.</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Sanctioned intake</th>
                        <th scope="col">Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Civil Engineering</td>
                        <td>54</td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Electrical Engineering</td>
                        <td>54</td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Mechanical Engineering</td>
                        <td>54</td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Electronics & Communication Engineering</td>
                        <td>54</td>
                        <td>3 Year</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Computer Science Engineering</td>
                        <td>54</td>
                        <td>3 Year</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">Eligibility Criteria</p>
            <p>The Candidates having passed the Matriculation examination are eligible to seek admission in the
                polytechnic.
                Counselling and seat allotment of Punjab Polytechnic Admission will be based on aggregate marks of
                Maths,
                Science and English in Class 10 exam;</p>
            <p class="fw-semibold">Counselling - Document Checklist</p>
            <div class="row">
                <div class="col-md-7">

                    <ol class="list-group list-group-numbered mt-3">
                        <li class="list-group-item">Marks Sheet of Qualifying Examination</li>
                        <li class="list-group-item">Character Certificate</li>
                        <li class="list-group-item">Matriculation Certificates as proof of Date of Birth</li>
                        <li class="list-group-item">Proof of Residence/Domicile Certificate</li>
                        <li class="list-group-item">Category Certificate</li>
                        <li class="list-group-item">Income Certificate, if admitted under Tuition Fee waiver seat /
                            Reserved
                            Category
                        </li>
                        <li class="list-group-item">Two recent passport size photographs</li>
                    </ol>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/course.webp"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">Leet Entry</p>
            <p>10 percent of total seats are reserved for Lateral entry students in second year of Diploma.</p>
            <p>Vacant seats of first year Diplima Course are filled through LEET.</p>

        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">Eligibility:</p>
            <ol type="a">
                <li>
                    10+2 Examination with Physics/ Mathematics/ Chemistry/ Computer Science/ Electronics/ Information
                    Technology/ Biology/ Informatics Practice/ Biotechnology/ Technical Vocational subject/ Agriculture/
                    Engineering Graphics/ Business Studies/ Entrepreneurship
                    <div>OR</div>
                    10th along with 2 years ITI shall be eligible for admission to Second Year Diploma Courses of in ANY
                    branch of Engineering and Technology
                </li>
                <li>
                    Provided however if seats remained vacant then the same will be filled on the basis of merit as per
                    the
                    below mention eligibility criteria :
                </li>
            </ol>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">Curriculum</p>
            <div>
                <p> For Curriculum please refer to:</p>
                <ul class="text-danger">
                    <li><a href="http://www.punjabteched.com" class="text-danger">http://www.punjabteched.com</a></li>
                    <li> <a href="http://www.punjabteched.net" class="text-danger"> http://www.punjabteched.net</a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            
ਕੋਰਸ ਪੇਸ਼ ਕੀਤੇ ਗਏ</div>
        <div class="course pt-3">
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="col">
                            ਸੀਰੀਅਲ ਨੰ.</th>
                        <th scope="col">ਕੋਰਸ ਦਾ ਨਾਮ</th>
                        <th scope="col">ਪ੍ਰਵਾਨਿਤ ਦਾਖਲੇ</th>
                        <th scope="col">ਮਿਆਦ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            ਸਿਵਲ ਇੰਜੀਨਿਅਰੀ</td>
                        <td>54</td>
                        <td>3 ਸਾਲ</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>ਇਲੈਕਟ੍ਰਿਕਲ ਇੰਜਿਨੀਰਿੰਗ</td>
                        <td>54</td>
                        <td>3 ਸਾਲ</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            ਜੰਤਰਿਕ ਇੰਜੀਨਿਅਰੀ</td>
                        <td>54</td>
                        <td>3 ਸਾਲ</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ</td>
                        <td>54</td>
                        <td>3 ਸਾਲ</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀਨੀਅਰਿੰਗ</td>
                        <td>54</td>
                        <td>3 ਸਾਲ</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">ਯੋਗਤਾ ਮਾਪਦੰਡ</p>
            <p>ਮੈਟ੍ਰਿਕ ਦੀ ਪ੍ਰੀਖਿਆ ਪਾਸ ਕਰਨ ਵਾਲੇ ਉਮੀਦਵਾਰ ਦਾਖਲਾ ਲੈਣ ਦੇ ਯੋਗ ਹਨ
                ਪੌਲੀਟੈਕਨਿਕ
                ਪੰਜਾਬ ਪੌਲੀਟੈਕਨਿਕ ਦਾਖਲੇ ਦੀ ਕਾਊਂਸਲਿੰਗ ਅਤੇ ਸੀਟ ਅਲਾਟਮੈਂਟ ਕੁੱਲ ਅੰਕਾਂ ਦੇ ਆਧਾਰ 'ਤੇ ਹੋਵੇਗੀ।
                ਗਣਿਤ,
                10ਵੀਂ ਜਮਾਤ ਦੀ ਪ੍ਰੀਖਿਆ ਵਿੱਚ ਵਿਗਿਆਨ ਅਤੇ ਅੰਗਰੇਜ਼ੀ;</p>
            <p class="fw-semibold">ਕਾਉਂਸਲਿੰਗ - ਦਸਤਾਵੇਜ਼ ਚੈੱਕਲਿਸਟ</p>
            <div class="row">
                <div class="col-md-7">

                    <ol class="list-group list-group-numbered mt-3">
                        <li class="list-group-item">ਯੋਗਤਾ ਪ੍ਰੀਖਿਆ ਦੀ ਅੰਕ ਸ਼ੀਟ</li>
                        <li class="list-group-item">
                            ਚਰਿੱਤਰ ਸਰਟੀਫਿਕੇਟ</li>
                        <li class="list-group-item">ਜਨਮ ਮਿਤੀ ਦੇ ਸਬੂਤ ਵਜੋਂ ਮੈਟ੍ਰਿਕ ਸਰਟੀਫਿਕੇਟ</li>
                        <li class="list-group-item">ਰਿਹਾਇਸ਼/ਨਿਵਾਸ ਪ੍ਰਮਾਣ-ਪੱਤਰ ਦਾ ਸਬੂਤ</li>
                        <li class="list-group-item">ਸ਼੍ਰੇਣੀ ਸਰਟੀਫਿਕੇਟ</li>
                        <li class="list-group-item">ਆਮਦਨੀ ਸਰਟੀਫਿਕੇਟ, ਜੇਕਰ ਟਿਊਸ਼ਨ ਫੀਸ ਮੁਆਫੀ ਸੀਟ ਦੇ ਤਹਿਤ ਦਾਖਲਾ ਲਿਆ ਗਿਆ ਹੈ /
                            ਰਾਖਵਾਂ
                            ਸ਼੍ਰੇਣੀ
                        </li>
                        <li class="list-group-item">ਦੋ ਤਾਜ਼ਾ ਪਾਸਪੋਰਟ ਆਕਾਰ ਦੀਆਂ ਫੋਟੋਆਂ</li>
                    </ol>
                </div>
                <div class="col-md-5">
                    <img src="https://img.freepik.com/free-vector/college-project-concept-illustration_114360-10211.jpg?w=900&t=st=1703681802~exp=1703682402~hmac=833d6b68fbcf009f2093658790c172881483ae87be781e90f3fd37e4eb136dd4"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">ਲੀਟ ਐਂਟਰੀ</p>
            <p>ਡਿਪਲੋਮਾ ਦੇ ਦੂਜੇ ਸਾਲ ਵਿੱਚ ਲੇਟਰਲ ਐਂਟਰੀ ਵਾਲੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਕੁੱਲ ਸੀਟਾਂ ਦਾ 10 ਪ੍ਰਤੀਸ਼ਤ ਰਾਖਵਾਂ ਹੈ।</p>
            <p>ਪਹਿਲੇ ਸਾਲ ਦੇ ਡਿਪਲੀਮਾ ਕੋਰਸ ਦੀਆਂ ਖਾਲੀ ਸੀਟਾਂ LEET ਰਾਹੀਂ ਭਰੀਆਂ ਜਾਂਦੀਆਂ ਹਨ।</p>

        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">
                ਯੋਗਤਾ:</p>
            <ol type="a">
                <li>
                    ਭੌਤਿਕ ਵਿਗਿਆਨ/ ਗਣਿਤ/ ਰਸਾਇਣ ਵਿਗਿਆਨ/ ਕੰਪਿਊਟਰ ਵਿਗਿਆਨ/ ਇਲੈਕਟ੍ਰਾਨਿਕਸ/ ਜਾਣਕਾਰੀ ਨਾਲ 10+2 ਦੀ ਪ੍ਰੀਖਿਆ
                    ਟੈਕਨਾਲੋਜੀ/ਬਾਇਓਲੋਜੀ/ਇਨਫਰਮੈਟਿਕਸ ਪ੍ਰੈਕਟਿਸ/ਬਾਇਓਟੈਕਨਾਲੋਜੀ/ਤਕਨੀਕੀ ਵੋਕੇਸ਼ਨਲ ਵਿਸ਼ਾ/ਖੇਤੀਬਾੜੀ/
                    ਇੰਜੀਨੀਅਰਿੰਗ ਗ੍ਰਾਫਿਕਸ/ਬਿਜ਼ਨਸ ਸਟੱਡੀਜ਼/ਉਦਮਤਾ
                    <div>ਜਾਂ</div>
                    10ਵੀਂ ਦੇ ਨਾਲ 2 ਸਾਲਾਂ ਦੀ ITI ਕਿਸੇ ਵੀ ਵਿੱਚ ਦੂਜੇ ਸਾਲ ਦੇ ਡਿਪਲੋਮਾ ਕੋਰਸਾਂ ਵਿੱਚ ਦਾਖਲੇ ਲਈ ਯੋਗ ਹੋਵੇਗੀ
                    ਇੰਜੀਨੀਅਰਿੰਗ ਅਤੇ ਤਕਨਾਲੋਜੀ ਦੀ ਸ਼ਾਖਾ
                </li>
                <li>
                    ਬਸ਼ਰਤੇ ਜੇਕਰ ਸੀਟਾਂ ਖਾਲੀ ਰਹਿੰਦੀਆਂ ਹਨ ਤਾਂ ਉਹਨਾਂ ਨੂੰ ਯੋਗਤਾ ਦੇ ਆਧਾਰ 'ਤੇ ਭਰਿਆ ਜਾਵੇਗਾ
                    ਦੀ
                    ਹੇਠਾਂ ਯੋਗਤਾ ਮਾਪਦੰਡ ਦਾ ਜ਼ਿਕਰ ਕੀਤਾ ਗਿਆ ਹੈ:
                </li>
            </ol>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">ਪਾਠਕ੍ਰਮ</p>
            <div>
                <p>
                    ਪਾਠਕ੍ਰਮ ਲਈ ਕਿਰਪਾ ਕਰਕੇ ਵੇਖੋ:</p>
                <ul class="text-danger">
                    <li><a href="http://www.punjabteched.com" class="text-danger">http://www.punjabteched.com</a></li>
                    <li> <a href="http://www.punjabteched.net" class="text-danger"> http://www.punjabteched.net</a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>


<!---hindi--->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            
            पाठ्यक्रम की पेशकश </div>
        <div class="course pt-3">
            <table class="table table-hover border-danger border">
                <thead>
                    <tr>
                        <th scope="col">
                            क्रम संख्या</th>
                        <th scope="col">पाठ्यक्रम का नाम </th>
                        <th scope="col">स्वीकृत सेवन</th>
                        <th scope="col">अवधि</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            सिविल इंजीनियरिंग </td>
                        <td>54</td>
                        <td>3 वर्ष</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>इलेक्ट्रिकल इंजीनियरिंग</td>
                        <td>54</td>
                        <td>3 वर्ष</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>
                            मैकेनिकल इंजीनियरिंग </td>
                        <td>54</td>
                        <td>3 वर्ष</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>इलेक्ट्रॉनिक्स एवं संचार इंजीनियरिंग</td>
                        <td>54</td>
                        <td>3 वर्ष</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>कम्प्यूटर साइंस इंजीनियरिंग </td>
                        <td>54</td>
                        <td>3 वर्ष</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">पात्रता मापदंड</p>
            <p>मैट्रिक परीक्षा उत्तीर्ण करने वाले उम्मीदवार पॉलिटेक्निक में प्रवेश पाने के पात्र हैं। पंजाब पॉलिटेक्निक प्रवेश की काउंसलिंग और सीट आवंटन कक्षा 10 की परीक्षा में गणित, विज्ञान और अंग्रेजी के कुल अंकों के आधार पर होगा;</p>
            <p class="fw-semibold">परामर्श - दस्तावेज़ जाँच सूची</p>
            <div class="row">
                <div class="col-md-7">

                    <ol class="list-group list-group-numbered mt-3">
                        <li class="list-group-item">
                            योग्यता परीक्षा की अंकतालिका</li>
                        <li class="list-group-item">
                            चरित्र प्रमाण पत्र</li>
                        <li class="list-group-item">जन्म तिथि के प्रमाण के रूप में मैट्रिकुलेशन प्रमाणपत्र</li>
                        <li class="list-group-item">निवास का प्रमाण/अधिवास प्रमाण पत्र</li>
                        <li class="list-group-item">श्रेणी प्रमाणपत्र</li>
                        <li class="list-group-item">आय प्रमाण पत्र, यदि ट्यूशन शुल्क माफी सीट / आरक्षित श्रेणी के तहत प्रवेश दिया गया हो
                        </li>
                        <li class="list-group-item">दो हालिया पासपोर्ट आकार के फोटो</li>
                    </ol>
                </div>
                <div class="col-md-5">
                    <img src="https://img.freepik.com/free-vector/college-project-concept-illustration_114360-10211.jpg?w=900&t=st=1703681802~exp=1703682402~hmac=833d6b68fbcf009f2093658790c172881483ae87be781e90f3fd37e4eb136dd4"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">लीट प्रवेश</p>
            <p>डिप्लोमा के दूसरे वर्ष में कुल सीटों का 10 प्रतिशत लेटरल एंट्री छात्रों के लिए आरक्षित है।</p>
            <p>डिप्लोमा पाठ्यक्रम के प्रथम वर्ष की रिक्त सीटें LEET के माध्यम से भरी जाती हैं।</p>

        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">
                पात्रता:</p>
            <ol type="a">
                <li>
                    भौतिकी/गणित/रसायन विज्ञान/कंप्यूटर विज्ञान/इलेक्ट्रॉनिक्स/सूचना प्रौद्योगिकी/जीव विज्ञान/सूचना विज्ञान अभ्यास/जैव प्रौद्योगिकी/तकनीकी व्यावसायिक विषय/कृषि/इंजीनियरिंग ग्राफिक्स/व्यावसायिक अध्ययन/उद्यमिता के साथ 10+2 परीक्षा
                    <div>या</div>
                    इंजीनियरिंग और प्रौद्योगिकी की किसी भी शाखा में द्वितीय वर्ष के डिप्लोमा पाठ्यक्रमों में प्रवेश के लिए 10वीं के साथ 2 साल की आईटीआई पात्र होगी।
                    
                </li>
                <li>
                    बशर्ते कि यदि सीटें खाली रह जाती हैं तो उन्हें नीचे उल्लिखित पात्रता मानदंडों के अनुसार योग्यता के आधार पर भरा जाएगा:
                </li>
            </ol>
        </div>
        <div class="pt-3">
            <p class="fs-5 fw-semibold  red-title">पाठ्यक्रम</p>
            <div>
                <p>
                    पाठ्यक्रम के लिए कृपया देखें:</p>
                <ul class="text-danger">
                    <li><a href="http://www.punjabteched.com" class="text-danger">http://www.punjabteched.com</a></li>
                    <li> <a href="http://www.punjabteched.net" class="text-danger"> http://www.punjabteched.net</a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>