<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'en'" [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h1 class="text-white fw-bold ">Welcome to Our Website</h1>
      </div>
    </div>
  </div>
  <!-- Fixed bottom div -->
  <div class="fixed-bottom fixed-bottom-div p-2 text-center fixed-bottom" [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <a href="" class="text-decoration-none scrolpy">This is a fixed-bottom di <i class="fa-solid fa-caret-down"></i></a>
  </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'pa'" [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <h1 class="text-white fw-bold ">Welcome to Our Website</h1>
      </div>
    </div>
  </div>
  <!-- Fixed bottom div -->
  <div class="fixed-bottom fixed-bottom-div p-2 text-center fixed-bottom" [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <a href="" class="text-decoration-none scrolpy">This is a fixed-bottom di <i class="fa-solid fa-caret-down"></i></a>

  </div>
</div>