<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'" [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
      </div>
    </div>
  </div>
  <!-- Fixed bottom div -->
  <div class="fixed-bottom fixed-bottom-div  text-center fixed-bottom" [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <marquee>
      <p class="fs-3 pt-2">Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum
        dolor Lorem ipsum dolor Lorem ipsum dolor!</p>
    </marquee>
  </div>
  <app-main-area></app-main-area>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
      </div>
    </div>
  </div>
  <!-- Fixed bottom div -->
  <div class="fixed-bottom fixed-bottom-div text-center fixed-bottom" [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <p class="fw-semibold fs-5 pt-1">GPC ਤਲਵਾੜਾ ਦੀ ਪੜਚੋਲ ਕਰੋ <i class="fa-solid fa-caret-down"></i></p>
  </div>
  <app-main-area></app-main-area>

</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="hero d-flex align-items-center justify-content-center">
    <div class="row">
      <div class="col-12 text-center mt-5">
        <!-- <h1 class="text-white fw-bold " [ngClass]="{ 'd-none': showtitle }">SASS GPC Talwara</h1> -->
      </div>
    </div>
  </div>
  <!-- Fixed bottom div -->
  <div class="fixed-bottom fixed-bottom-div text-center fixed-bottom" [ngClass]="{ 'd-none': showFixedBottomDiv }">
    <p class="fw-semibold fs-5 pt-1">जीपीसी तलवाड़ा का अन्वेषण करें <i class="fa-solid fa-caret-down"></i></p>
  </div>
  <app-main-area></app-main-area>
</div>