<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Electrical Engineering
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          Power Up Your Future: Master electrical engineering to spark innovation, from smart grids to renewable energy
          and intelligent machines. Design the electrifying world of tomorrow.
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ee/class/ee.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> Electrical Engineering in a Nutshell</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold"> Fundamental concepts in electrical systems:</span> Electrical Engineering at our
            college emphasizes a solid foundation in principles such as circuit analysis, electromagnetism, and power
            systems.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Practical skills development:</span> The program ensures hands-on application
            through labs and projects, allowing students to translate theoretical knowledge into real-world solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Emphasis on sustainable practices:</span> Our electrical engineering curriculum
            integrates renewable energy systems, preparing students to address global energy challenges with innovative
            and sustainable solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Keeping pace with technological advancements:</span>Students engage with
            cutting-edge technologies, including smart grids, IoT, and automation, ensuring they are equipped for the
            evolving landscape of electrical engineering.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Integration with other engineering disciplines:</span>Electrical Engineering
            students collaborate across disciplines, fostering a holistic approach to problem-solving and preparing them
            for diverse career paths in technology and innovation.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              RDBMS and Programming Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Both RDBMS and Programming labs offer valuable learning
                experiences for students
                pursuing careers in computer science, IT, and related fields.
                RDBMS labs equip students
                with data management skills, while Programming labs hone their
                software development
                abilities.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Within the walls of a college computer science project lab,
                theory sheds its textbook veneer and transforms into tangible
                solutions. Students collaborate in this dedicated space, fueled
                by passion and diverse perspectives, to tackle hands-on projects
                - solo or team-based - that delve into various aspects of the
                field. They aren't just learning computer science; they're
                living it, navigating real-world challenges and pushing the
                boundaries of technology.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/ee/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਇਲੈਕਟ੍ਰਿਕਲ ਇੰਜਿਨੀਰਿੰਗ
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
        ਆਪਣੇ ਭਵਿੱਖ ਨੂੰ ਮਜ਼ਬੂਤ ​​ਕਰੋ: ਸਮਾਰਟ ਗਰਿੱਡ ਤੋਂ ਨਵਿਆਉਣਯੋਗ ਊਰਜਾ ਤੱਕ, ਨਵੀਨਤਾ ਨੂੰ ਚਮਕਾਉਣ ਲਈ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿੱਚ ਮਾਸਟਰ ਕਰੋ
          ਅਤੇ ਬੁੱਧੀਮਾਨ ਮਸ਼ੀਨਾਂ। ਕੱਲ੍ਹ ਦੀ ਬਿਜਲੀ ਦੀ ਦੁਨੀਆ ਨੂੰ ਡਿਜ਼ਾਈਨ ਕਰੋ।
          </p>
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ee/class/ee.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> ਇੱਕ ਸੰਖੇਪ ਵਿੱਚ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਬਿਜਲਈ ਪ੍ਰਣਾਲੀਆਂ ਵਿੱਚ ਬੁਨਿਆਦੀ ਧਾਰਨਾਵਾਂ:</span> ਸਾਡੇ ਵਿਖੇ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ
            ਕਾਲਜ ਸਰਕਟ ਵਿਸ਼ਲੇਸ਼ਣ, ਇਲੈਕਟ੍ਰੋਮੈਗਨੈਟਿਜ਼ਮ, ਅਤੇ ਸ਼ਕਤੀ ਵਰਗੇ ਸਿਧਾਂਤਾਂ ਵਿੱਚ ਇੱਕ ਠੋਸ ਬੁਨਿਆਦ 'ਤੇ ਜ਼ੋਰ ਦਿੰਦਾ ਹੈ
            ਸਿਸਟਮ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">
              ਵਿਹਾਰਕ ਹੁਨਰ ਵਿਕਾਸ:</span> ਪ੍ਰੋਗਰਾਮ ਹੱਥਾਂ ਨਾਲ ਐਪਲੀਕੇਸ਼ਨ ਨੂੰ ਯਕੀਨੀ ਬਣਾਉਂਦਾ ਹੈ
                          ਪ੍ਰਯੋਗਸ਼ਾਲਾਵਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਰਾਹੀਂ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਸਿਧਾਂਤਕ ਗਿਆਨ ਦਾ ਅਸਲ-ਸੰਸਾਰ ਹੱਲਾਂ ਵਿੱਚ ਅਨੁਵਾਦ ਕਰਨ ਦੀ ਇਜਾਜ਼ਤ ਦਿੰਦਾ ਹੈ।
                        </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">
              ਟਿਕਾਊ ਅਭਿਆਸਾਂ 'ਤੇ ਜ਼ੋਰ:</span> ਸਾਡਾ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪਾਠਕ੍ਰਮ
                          ਨਵਿਆਉਣਯੋਗ ਊਰਜਾ ਪ੍ਰਣਾਲੀਆਂ ਨੂੰ ਏਕੀਕ੍ਰਿਤ ਕਰਦਾ ਹੈ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਨਵੀਨਤਾਕਾਰੀ ਨਾਲ ਵਿਸ਼ਵ ਊਰਜਾ ਚੁਣੌਤੀਆਂ ਨੂੰ ਹੱਲ ਕਰਨ ਲਈ ਤਿਆਰ ਕਰਦਾ ਹੈ
                          ਅਤੇ ਟਿਕਾਊ ਹੱਲ।
                        </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਤਕਨੀਕੀ ਤਰੱਕੀ ਦੇ ਨਾਲ ਰਫਤਾਰ ਜਾਰੀ ਰੱਖਣਾ:</span>ਵਿਦਿਆਰਥੀ ਇਸ ਨਾਲ ਜੁੜਦੇ ਹਨ
            ਸਮਾਰਟ ਗਰਿੱਡ, ਆਈਓਟੀ, ਅਤੇ ਆਟੋਮੇਸ਼ਨ ਸਮੇਤ ਅਤਿ-ਆਧੁਨਿਕ ਤਕਨਾਲੋਜੀਆਂ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਂਦੀਆਂ ਹਨ ਕਿ ਉਹ ਇਸ ਲਈ ਲੈਸ ਹਨ।
            ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਦਾ ਵਿਕਾਸਸ਼ੀਲ ਲੈਂਡਸਕੇਪ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">ਹੋਰ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਨਾਲ ਏਕੀਕਰਣ:</span>ਇਲੈਕਟ੍ਰਿਕਲ ਇੰਜੀਨੀਅਰਿੰਗ
            ਵਿਦਿਆਰਥੀ ਅਨੁਸ਼ਾਸਨ ਵਿੱਚ ਸਹਿਯੋਗ ਕਰਦੇ ਹਨ, ਸਮੱਸਿਆ-ਹੱਲ ਕਰਨ ਅਤੇ ਉਹਨਾਂ ਨੂੰ ਤਿਆਰ ਕਰਨ ਲਈ ਇੱਕ ਸੰਪੂਰਨ ਪਹੁੰਚ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੇ ਹਨ
            ਤਕਨਾਲੋਜੀ ਅਤੇ ਨਵੀਨਤਾ ਵਿੱਚ ਵਿਭਿੰਨ ਕੈਰੀਅਰ ਮਾਰਗਾਂ ਲਈ।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਪ੍ਰੋਜੈਕਟ ਲੈਬਾਂ</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                ਕਾਲਜ ਦੇ ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਵਿਭਾਗ ਵਿੱਚ ਇੱਕ ਪ੍ਰੋਜੈਕਟ ਲੈਬ ਹੈ
                ਸਮਰਪਿਤ ਸਪੇਸ ਜਿੱਥੇ
                ਵਿਦਿਆਰਥੀ ਕੰਮ ਕਰਦੇ ਹਨ
                ਹੈਂਡ-ਆਨ ਪ੍ਰੋਜੈਕਟਾਂ 'ਤੇ, ਖਾਸ ਤੌਰ 'ਤੇ ਕੋਰਸ ਜਾਂ ਪ੍ਰੋਗਰਾਮ ਦੇ ਹਿੱਸੇ ਵਜੋਂ।
                ਇਹ ਪ੍ਰੋਜੈਕਟ ਹੋ ਸਕਦੇ ਹਨ
                ਵਿਅਕਤੀਗਤ
                ਜਾਂ ਸਮੂਹ-ਆਧਾਰਿਤ ਅਤੇ ਕੰਪਿਊਟਰ ਵਿਗਿਆਨ ਦੇ ਵੱਖ-ਵੱਖ ਪਹਿਲੂਆਂ ਨੂੰ ਸ਼ਾਮਲ ਕਰਦਾ ਹੈ
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              RDBMS ਅਤੇ ਪ੍ਰੋਗਰਾਮਿੰਗ ਲੈਬ</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                RDBMS ਅਤੇ ਪ੍ਰੋਗਰਾਮਿੰਗ ਲੈਬਾਂ ਦੋਵੇਂ ਕੀਮਤੀ ਸਿੱਖਣ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਦੀਆਂ ਹਨ
                ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਅਨੁਭਵ
                ਕੰਪਿਊਟਰ ਵਿਗਿਆਨ, ਆਈ.ਟੀ. ਅਤੇ ਸੰਬੰਧਿਤ ਖੇਤਰਾਂ ਵਿੱਚ ਕਰੀਅਰ ਬਣਾਉਣਾ।
                RDBMS ਲੈਬਾਂ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਲੈਸ ਕਰਦੀਆਂ ਹਨ
                ਡਾਟਾ ਪ੍ਰਬੰਧਨ ਹੁਨਰ ਦੇ ਨਾਲ, ਜਦੋਂ ਕਿ ਪ੍ਰੋਗਰਾਮਿੰਗ ਲੈਬਾਂ ਉਹਨਾਂ ਨੂੰ ਨਿਖਾਰਦੀਆਂ ਹਨ
                ਸਾਫਟਵੇਅਰ ਵਿਕਾਸ
                ਯੋਗਤਾਵਾਂ|
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Within the walls of a college computer science project lab,
                theory sheds its textbook veneer and transforms into tangible
                solutions. Students collaborate in this dedicated space, fueled
                by passion and diverse perspectives, to tackle hands-on projects
                - solo or team-based - that delve into various aspects of the
                field. They aren't just learning computer science; they're
                living it, navigating real-world challenges and pushing the
                boundaries of technology.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/ee/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>

<!----hindi---->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Electrical Engineering
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          Power Up Your Future: Master electrical engineering to spark innovation, from smart grids to renewable energy
          and intelligent machines. Design the electrifying world of tomorrow.
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ee/class/ee.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2"> Electrical Engineering in a Nutshell</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold"> Fundamental concepts in electrical systems:</span> Electrical Engineering at our
            college emphasizes a solid foundation in principles such as circuit analysis, electromagnetism, and power
            systems.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Practical skills development:</span> The program ensures hands-on application
            through labs and projects, allowing students to translate theoretical knowledge into real-world solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Emphasis on sustainable practices:</span> Our electrical engineering curriculum
            integrates renewable energy systems, preparing students to address global energy challenges with innovative
            and sustainable solutions.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Keeping pace with technological advancements:</span>Students engage with
            cutting-edge technologies, including smart grids, IoT, and automation, ensuring they are equipped for the
            evolving landscape of electrical engineering.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right">
            </i>
            <span class="fw-semibold">Integration with other engineering disciplines:</span>Electrical Engineering
            students collaborate across disciplines, fostering a holistic approach to problem-solving and preparing them
            for diverse career paths in technology and innovation.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              RDBMS and Programming Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Both RDBMS and Programming labs offer valuable learning
                experiences for students
                pursuing careers in computer science, IT, and related fields.
                RDBMS labs equip students
                with data management skills, while Programming labs hone their
                software development
                abilities.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                A project lab in a college computer science department is a
                dedicated space where
                students work
                on hands-on projects, typically as part of a course or program.
                These projects can be
                individual
                or group-based and involve various aspects of computer science
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Project Labs</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                Within the walls of a college computer science project lab,
                theory sheds its textbook veneer and transforms into tangible
                solutions. Students collaborate in this dedicated space, fueled
                by passion and diverse perspectives, to tackle hands-on projects
                - solo or team-based - that delve into various aspects of the
                field. They aren't just learning computer science; they're
                living it, navigating real-world challenges and pushing the
                boundaries of technology.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/ee/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/ee/lab/1.webp" class="img-fluid" alt="">
  </div>
</div>
