<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Applied Science
        </div>
        <div class="fs-4 lh-lg fw-lighter text-center">
            <div class="py-3">
                <p>Applied science is a discipline of science that applies scientific knowledge to develop more
                    practical applications, including inventions and other technological advancements.</p>
            </div>
            <div class="mb-5">
                <img src="../../../../assets/images/used/department/as/class/as (1).webp" class="img-fluid shadow" alt="">
            </div>
            <div class="my-3">
                <div class="border-bottom border-top border-danger py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-semibold red-title fs-2">
                Applied Science in a Nutshell</div>
            <div class="text-start my-3">
                <ul>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            Integration of various scientific disciplines:
                        </span>
                        Applied Science employs knowledge from diverse fields to address real-world problems, offering
                        holistic solutions.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            Emphasis on real-world implementation:
                        </span>
                        Applied Science focuses on translating theoretical concepts into practical solutions, driving
                        technological advancements and innovations.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            Targeted problem identification and resolution:
                        </span>
                        Applied Science thrives on identifying specific challenges and developing tailored strategies,
                        showcasing its problem-solving orientation.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            Alignment with industrial needs:
                        </span>
                        Applied Science caters to the demands of industries, ensuring its findings and innovations have
                        direct applications and contribute to economic development.
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            Continuous evolution and adaptability:
                        </span>
                        Applied Science embraces innovation, constantly evolving to meet the dynamic demands of society,
                        technology, and the environment.
                    </li>
                </ul>
            </div>
            <div class="fw-semibold red-title fs-2 my-3">
                Our Labs</div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="fw-semibold fs-3">
                            Physics and Chemistry Lab</div>
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/department/as/lab/5.webp" class="img-fluid shadow" alt="">
                        </div>
                        <div class="col-md-7">
                            <div class="my-3">
                                At our college's physics and chemistry labs, students collaborate in cutting-edge
                                research projects, utilizing state-of-the-art equipment to delve into the realms of
                                quantum mechanics and advanced chemical synthesis, fostering a passion for discovery and
                                innovation. </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="fw-semibold fs-3">
                            English Communication Lab
                        </div>
                        <div class="col-md-7">
                            <div class="my-3">
                                In the English Communication Lab at our college, students refine their language
                                proficiency through interactive sessions, enhancing both spoken and written
                                communication skills crucial for effective academic and professional engagement.
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/department/as/lab/2.webp" class="img-fluid shadow"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <img src="../../../../assets/images/used/department/as/lab/1.webp" class="img-fluid" alt="">
      </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਅਪਲਾਈਡ ਸਾਇੰਸ
        </div>
        <div class="fs-4 lh-lg fw-lighter text-center">
            <div class="py-3">
                <p>ਉਪਯੁਕਤ ਵਿਗਿਆਨ ਵਿਗਿਆਨ ਦਾ ਇੱਕ ਅਨੁਸ਼ਾਸਨ ਹੈ ਜੋ ਵਿਗਿਆਨਕ ਗਿਆਨ ਨੂੰ ਵਧੇਰੇ ਵਿਹਾਰਕ ਵਿਕਸਿਤ ਕਰਨ ਲਈ ਲਾਗੂ ਕਰਦਾ ਹੈ
                    ਐਪਲੀਕੇਸ਼ਨਾਂ, ਕਾਢਾਂ ਅਤੇ ਹੋਰ ਤਕਨੀਕੀ ਤਰੱਕੀਆਂ ਸਮੇਤ.</p>
            </div>
            <div class="mb-5">
                <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="my-3">
                <div class="border-bottom border-top border-danger py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-semibold red-title fs-2">
                ਸੰਖੇਪ ਵਿੱਚ ਲਾਗੂ ਵਿਗਿਆਨ</div>
            <div class="text-start my-3">
                <ul>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            ਵੱਖ-ਵੱਖ ਵਿਗਿਆਨਕ ਵਿਸ਼ਿਆਂ ਦਾ ਏਕੀਕਰਨ:
                        </span>
                        ਲਾਗੂ ਵਿਗਿਆਨ ਅਸਲ-ਸੰਸਾਰ ਦੀਆਂ ਸਮੱਸਿਆਵਾਂ ਨੂੰ ਹੱਲ ਕਰਨ ਅਤੇ ਸੰਪੂਰਨ ਹੱਲ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ ਵਿਭਿੰਨ ਖੇਤਰਾਂ ਦੇ
                        ਗਿਆਨ ਦੀ ਵਰਤੋਂ ਕਰਦਾ ਹੈ।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            ਅਸਲ-ਸੰਸਾਰ ਲਾਗੂ ਕਰਨ 'ਤੇ ਜ਼ੋਰ:
                        </span>
                        ਲਾਗੂ ਵਿਗਿਆਨ ਸਿਧਾਂਤਕ ਸੰਕਲਪਾਂ ਨੂੰ ਵਿਹਾਰਕ ਹੱਲਾਂ ਵਿੱਚ ਅਨੁਵਾਦ ਕਰਨ, ਤਕਨੀਕੀ ਤਰੱਕੀ ਅਤੇ ਨਵੀਨਤਾਵਾਂ ਨੂੰ
                        ਚਲਾਉਣ 'ਤੇ ਕੇਂਦ੍ਰਤ ਕਰਦਾ ਹੈ।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            ਨਿਸ਼ਾਨਾ ਸਮੱਸਿਆ ਦੀ ਪਛਾਣ ਅਤੇ ਹੱਲ:
                        </span>
                        ਅਪਲਾਈਡ ਸਾਇੰਸ ਖਾਸ ਚੁਣੌਤੀਆਂ ਦੀ ਪਛਾਣ ਕਰਨ ਅਤੇ ਅਨੁਕੂਲਿਤ ਰਣਨੀਤੀਆਂ ਵਿਕਸਿਤ ਕਰਨ 'ਤੇ ਕੇਂਦ੍ਰਤ ਕਰਦਾ ਹੈ, ਇਸਦੀ
                        ਸਮੱਸਿਆ-ਹੱਲ ਕਰਨ ਦੀ ਸਥਿਤੀ ਦਾ ਪ੍ਰਦਰਸ਼ਨ ਕਰਦਾ ਹੈ।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            ਉਦਯੋਗਿਕ ਲੋੜਾਂ ਦੇ ਨਾਲ ਇਕਸਾਰਤਾ:
                        </span>
                        ਉਪਯੁਕਤ ਵਿਗਿਆਨ ਉਦਯੋਗਾਂ ਦੀਆਂ ਮੰਗਾਂ ਨੂੰ ਪੂਰਾ ਕਰਦਾ ਹੈ, ਇਹ ਸੁਨਿਸ਼ਚਿਤ ਕਰਦਾ ਹੈ ਕਿ ਇਸ ਦੀਆਂ ਖੋਜਾਂ ਅਤੇ
                        ਨਵੀਨਤਾਵਾਂ ਦਾ ਸਿੱਧਾ ਉਪਯੋਗ ਹੈ ਅਤੇ ਆਰਥਿਕ ਵਿਕਾਸ ਵਿੱਚ ਯੋਗਦਾਨ ਪਾਉਂਦਾ ਹੈ।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            ਨਿਰੰਤਰ ਵਿਕਾਸ ਅਤੇ ਅਨੁਕੂਲਤਾ:
                        </span>
                        ਅਪਲਾਈਡ ਸਾਇੰਸ ਨਵੀਨਤਾ ਨੂੰ ਅਪਣਾਉਂਦੀ ਹੈ, ਸਮਾਜ, ਤਕਨਾਲੋਜੀ ਅਤੇ ਵਾਤਾਵਰਣ ਦੀਆਂ ਗਤੀਸ਼ੀਲ ਮੰਗਾਂ ਨੂੰ ਪੂਰਾ ਕਰਨ
                        ਲਈ ਨਿਰੰਤਰ ਵਿਕਾਸ ਕਰਦੀ ਹੈ।
                    </li>
                </ul>
            </div>
            <div class="fw-semibold red-title fs-2 my-3">
                ਸਾਡੀਆਂ ਲੈਬਾਂ</div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                ਭੌਤਿਕ ਵਿਗਿਆਨ ਅਤੇ ਰਸਾਇਣ ਵਿਗਿਆਨ ਲੈਬ</div>
                            <div class="my-3">
                                ਸਾਡੇ ਕਾਲਜ ਦੀਆਂ ਭੌਤਿਕ ਵਿਗਿਆਨ ਅਤੇ ਰਸਾਇਣ ਵਿਗਿਆਨ ਪ੍ਰਯੋਗਸ਼ਾਲਾਵਾਂ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਖੋਜ ਅਤੇ
                                ਨਵੀਨਤਾ ਲਈ ਜਨੂੰਨ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੇ ਹੋਏ, ਕੁਆਂਟਮ ਮਕੈਨਿਕਸ ਅਤੇ ਉੱਨਤ ਰਸਾਇਣਕ ਸੰਸ਼ਲੇਸ਼ਣ ਦੇ
                                ਖੇਤਰਾਂ ਵਿੱਚ ਜਾਣ ਲਈ ਅਤਿ-ਆਧੁਨਿਕ ਉਪਕਰਨਾਂ ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹੋਏ, ਅਤਿ-ਆਧੁਨਿਕ ਖੋਜ ਪ੍ਰੋਜੈਕਟਾਂ ਵਿੱਚ
                                ਸਹਿਯੋਗ ਕਰਦੇ ਹਨ। </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                ਅੰਗਰੇਜ਼ੀ ਸੰਚਾਰ ਲੈਬ
                            </div>
                            <div class="my-3">
                                ਸਾਡੇ ਕਾਲਜ ਦੀ ਇੰਗਲਿਸ਼ ਕਮਿਊਨੀਕੇਸ਼ਨ ਲੈਬ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਪ੍ਰਭਾਵੀ ਅਕਾਦਮਿਕ ਅਤੇ ਪੇਸ਼ੇਵਰ ਰੁਝੇਵੇਂ
                                ਲਈ ਮਹੱਤਵਪੂਰਨ ਬੋਲਣ ਅਤੇ ਲਿਖਤੀ ਸੰਚਾਰ ਹੁਨਰਾਂ ਨੂੰ ਵਧਾਉਂਦੇ ਹੋਏ, ਇੰਟਰਐਕਟਿਵ ਸੈਸ਼ਨਾਂ ਰਾਹੀਂ ਆਪਣੀ
                                ਭਾਸ਼ਾ ਦੀ ਮੁਹਾਰਤ ਨੂੰ ਸੁਧਾਰਦੇ ਹਨ।
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                ਪ੍ਰੋਜੈਕਟ ਲੈਬਾਂ</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                ਪ੍ਰੋਜੈਕਟ ਲੈਬਾਂ</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                ਪ੍ਰੋਜੈਕਟ ਲੈਬਾਂ</div>
                            <div class="my-3"></div>

                        </div>
                    </div>
                </div>
                <div class="">
                    <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!----hindi---->

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            व्यावहारिक विज्ञान
        </div>
        <div class="fs-4 lh-lg fw-lighter text-center">
            <div class="py-3">
                <p>व्यावहारिक विज्ञान विज्ञान का एक अनुशासन है जो अधिक व्यावहारिक विकास के लिए वैज्ञानिक ज्ञान को लागू
                    करता है
                    आविष्कार और अन्य तकनीकी प्रगति सहित अनुप्रयोग।</p>
            </div>
            <div class="mb-5">
                <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="my-3">
                <div class="border-bottom border-top border-danger py-3">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="fw-semibold">2,304
                            </div>
                            <div>
                                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fw-semibold red-title fs-2">
                संक्षेप में व्यावहारिक विज्ञान
            </div>
            <div class="text-start my-3">
                <ul>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            विभिन्न वैज्ञानिक विषयों का एकीकरण:
                        </span>
                        व्यावहारिक विज्ञान वास्तविक दुनिया की समस्याओं को हल करने और समग्र समाधान प्रदान करने के लिए
                        विविध क्षेत्रों के ज्ञान का उपयोग करता है।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            वास्तविक दुनिया के अनुप्रयोग पर जोर:
                        </span>
                        व्यावहारिक विज्ञान सैद्धांतिक अवधारणाओं को व्यावहारिक समाधानों में अनुवाद करने, तकनीकी प्रगति और
                        नवाचारों को आगे बढ़ाने पर केंद्रित है।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            लक्ष्य समस्या की पहचान और समाधान:
                        </span>
                        एप्लाइड साइंस विशिष्ट चुनौतियों की पहचान करने और अनुकूली रणनीतियों को विकसित करने, अपनी
                        समस्या-समाधान अभिविन्यास को प्रदर्शित करने पर केंद्रित है।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            उद्योग की आवश्यकताओं के साथ संरेखण:
                        </span>
                        व्यावहारिक विज्ञान उद्योगों की मांगों को पूरा करता है, यह सुनिश्चित करता है कि इसकी खोजों और
                        नवाचारों का सीधा अनुप्रयोग हो और आर्थिक विकास में योगदान हो।
                    </li>
                    <li>
                        <i class="fa-regular fa-hand-point-right"></i>
                        <span class="fw-semibold">
                            सतत विकास और अनुकूलन:
                        </span>
                        व्यावहारिक विज्ञान नवाचार को अपनाता है, समाज, प्रौद्योगिकी और पर्यावरण की गतिशील मांगों को पूरा
                        करने के लिए लगातार विकसित हो रहा है।
                    </li>
                </ul>
            </div>
            <div class="fw-semibold red-title fs-2 my-3">
                हमारी लैब्स</div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                भौतिकी और रसायन विज्ञान प्रयोगशाला</div>
                            <div class="my-3">
                                हमारे कॉलेज की भौतिकी और रसायन विज्ञान प्रयोगशालाओं में, छात्र अत्याधुनिक अनुसंधान
                                परियोजनाओं में सहयोग करते हैं, क्वांटम यांत्रिकी और उन्नत रासायनिक संश्लेषण के क्षेत्र
                                में जाने के लिए अत्याधुनिक उपकरणों का उपयोग करते हैं, जिससे खोज और नवाचार के लिए जुनून
                                पैदा होता है। </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card my-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="fw-semibold fs-3">
                                अंग्रेजी संचार प्रयोगशाला
                            </div>
                            <div class="my-3">
                                हमारे कॉलेज में अंग्रेजी संचार प्रयोगशाला में, छात्र इंटरैक्टिव सत्रों के माध्यम से अपनी
                                भाषा दक्षता को निखारते हैं, जिससे प्रभावी शैक्षणिक और व्यावसायिक जुड़ाव के लिए
                                महत्वपूर्ण मौखिक और लिखित संचार कौशल में वृद्धि होती है।
                            </div>
                        </div>
                        <div class="col-md-5">
                            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                प्रोजेक्ट लैब्स</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                प्रोजेक्ट लैब्स</div>
                            <div class="my-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="fw-semibold fs-3">
                                प्रोजेक्ट लैब्स</div>
                            <div class="my-3"></div>

                        </div>
                    </div>
                </div>
                <div class="">
                    <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
                </div>
            </div>
