<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'en'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-3 red-title py-3">Fees</div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Sr. No</th>
                    <th scope="col"> Details</th>
                    <th scope="col">Amount (in rs)</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th>1.</th>
                    <td>
                        <span class="fw-bold">Board charges</span> <br>
                        Registration charges (one-time) **
                    </td>
                    <td>500</td>
                </tr>
                <tr>
                    <th>2.</th>
                    <td>
                        <span class="fw-bold">Collection on behalf of institute</span> <br>
                        Tution fees (half yearly)
                    </td>
                    <td>11000</td>
                </tr>
                <tr>
                    <th>3.</th>
                    <td>Refundable security (one-time)</td>
                    <td>500</td>
                </tr>
                <tr>
                    <th>4.</th>
                    <td>Development fund (yearly)</td>
                    <td>3650</td>
                </tr>
                <tr>
                    <th>5.</th>
                    <td>Student activity fund (yearly)</td>
                    <td>2235</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Student activity fund (one-time)</td>
                    <td>265</td>
                </tr>
                <tr>
                    <td></td>
                    <th>Grand Total</th>
                    <td>18150</td>
                </tr>
            </tbody>
        </table>
        <div>
            <p class="pt-3">The students of SC/ST category of Punjab shall pay only Rs 1133/- at the time of admission,
                subject to the
                condition that family annual income is less than Rs. 2.5 lakh.<br>
            </p>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Refundable Security</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Registration Charges</td>
                        <td>500</td>
                    </tr>
                    <tr>
                        <td>Refundable Security of Student <br>activities related fund</td>
                        <td>133</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>
                Such students shall not pay any other semester fee at the institute through out the duration of the
                course,
                but
                are required to pay the examination charges from time to time.
            </p>
        </div>
        <div>
            <p>student activity related fund</p>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>a)</td>
                        <td>Student fund</td>
                        <td>665/- PA</td>
                    </tr>
                    <tr>
                        <td>b)</td>
                        <td>Annual/culture fund</td>
                        <td>67/- PA</td>
                    </tr>
                    <tr>
                        <td>c)</td>
                        <td>Audio Visual</td>
                        <td>67/- PA</td>
                    </tr>
                    <tr>
                        <td>d)</td>
                        <td>Common Room/club</td>
                        <td>67/- PA</td>
                    </tr>
                    <tr>
                        <td>e)</td>
                        <td>Library fund</td>
                        <td>133/- PA</td>
                    </tr>
                    <tr>
                        <td>f)</td>
                        <td>Magzine charges</td>
                        <td>33/- PA</td>
                    </tr>
                    <tr>
                        <td>g)</td>
                        <td>NCC/NSS</td>
                        <td>33/- PA</td>
                    </tr>
                    <tr>
                        <td>h)</td>
                        <td>Cycle/scooter charges</td>
                        <td>133/- PA</td>
                    </tr>
                    <tr>
                        <td>i)</td>
                        <td>Medical fund</td>
                        <td>67/- PA</td>
                    </tr>
                    <tr>
                        <td>j)</td>
                        <td>Drawing Board</td>
                        <td>133/- PA</td>
                    </tr>
                    <tr>
                        <td>k)</td>
                        <td>General maintenance</td>
                        <td>667/- PA</td>
                    </tr>
                    <tr>
                        <td>l)</td>
                        <td>Recreation</td>
                        <td>68/- PA</td>
                    </tr>
                    <tr>
                        <td>m)</td>
                        <td>Student chapter</td>
                        <td>35/- PA</td>
                    </tr>
                    <tr>
                        <td>n)</td>
                        <td>Stationery Charges</td>
                        <td>67/- PA</td>
                    </tr>
                    <tr>
                        <th>1.</th>
                        <th>Toatal (a to n)</th>
                        <th>2235/- PA</th>
                    </tr>
                    <tr>
                        <td>o)</td>
                        <td>Valedictory fund</td>
                        <td>66/- one-time</td>
                    </tr>
                    <tr>
                        <td>p)</td>
                        <td>Identity Card</td>
                        <td>66/- one-time</td>
                    </tr>
                    <tr>
                        <td>q)</td>
                        <td>Refubdable security</td>
                        <td>133/- one-time</td>
                    </tr>
                    <tr>
                        <th>2.</th>
                        <th>Total (o to q)</th>
                        <th>265/- one-time </th>
                    </tr>
                    <tr>
                        <th>3.</th>
                        <th>Grand Total</th>
                        <th>2500/-</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>