<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <!-- <div class="container my-5">
    <div class="fw-bold text-center ">
      <h1 class="fw-bold fs-1"> Campus More</h1>
      <p class="fs-3"> Stories about people, research, and innovation across the Farm</p>
      <div class="row " >
        <div class="col">
          <div class="card ">
            <img src="../../../../assets/images/used/web-use/ce.webp" class="card-img-top" alt="m">
            <div class="card-body">
              <h5 class="card-title red-title fs-3 ">SCIENCE & TECHNOLOGY</h5>
              <p class="card-text fs-6">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../../../assets/images/used/web-use/ce.webp" class="card-img-top" alt="m">
            <div class="card-body">
              <h5 class="card-title red-title fs-3 ">SCIENCE & TECHNOLOGY</h5>
              <p class="card-text fs-6">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-70">
            <img src="../../../../assets/images/used/web-use/ce.webp" class="card-img-top" alt="m">
            <div class="card-body">
              <h5 class="card-title red-title fs-3">SCIENCE & TECHNOLOGY</h5>
              <p class="card-text fs-6">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="row">
        <div class="col-md-4">
          <div class="card ">
          <img src="your_image_url.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body ">
            <h5 class="card-title">science & TECHNOLOGY</h5>
            <p class="card-text">Some example text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div></div>
        <div class="col-md-4"><div class="card ">
          <img src="your_image_url.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title h-70">science & TECHNOLOGY</h5>
            <p class="card-text">Some example text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div></div>
        <div class="col-md-4"><div class="card">
          <img src="your_image_url.jpg" class="card-img-top" alt="Card Image">
          <div class="card-body">
            <h5 class="card-title h-70">science & TECHNOLOGY</h5>
            <p class="card-text">Some example text. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div></div>
      </div>


    </div>
  </div>
  <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2 my-3">
    {{ selectedNews.heading}}
  </div>
  <div class="row">
    <div class="col-md-6 d-flex flex-column my-2">
      <div class="card flex-grow-1">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12 my-2">
          <div class="card h-50">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../../../assets/images/used/activites/1.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-2">
          <div class="card h-50">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../../../assets/images/used/activites/1.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-2">
          <div class="card h-50">
            <div class="card-body">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../../../assets/images/used/activites/1.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-9">
                  <h5 class="card-title">Card title</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <!-- <div class="row">
    <div class="col-md-8 py-2" *ngIf="selectedNews">
      <img [src]="selectedNews.imagePath" class="card-img-top img-fluid" alt="m">
      <h5 class="">{{ selectedNews.title }}</h5>
      <p class="">{{ selectedNews.description }}</p>
      <a *ngIf="selectedNews.link" [href]="selectedNews.link" class="btn btn-red">{{ selectedNews.link_explore}}</a>
    </div>
    <div class="col-md-4 py-2 d-none d-md-flex flex-column">
      <div class="card my-4 flex-grow-1" *ngFor="let news of newsList" (click)="selectNews(news)">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img [src]="news.imagePath" class="img-fluid" height="99px" max-width="117%"  alt="m">
            </div>
            <div class="col-md-8">
              <button class="nav-link text-start fs-5 red-title fw-semibold"> {{ news.title }}</button>
              <button class="nav-link text-start"> {{ news.description }}</button>
              <button target="_blank" class="nav-link" *ngIf="news.link">Read More../../../../assets/images/used/classes/15.webp</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
 <div class="container">
  <div class="row">
    <div class="fs-1 red-title py-3 fw-semibold text-center">
      latest news and events
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<!---punjabi--->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">

  <div class="row">
    <div class="fs-1 red-title py-3 fw-semibold text-center">
      ਤਾਜ਼ਾ ਖ਼ਬਰਾਂ ਅਤੇ ਘਟਨਾਵਾਂ
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">ਕਾਰਡ ਦਾ ਸਿਰਲੇਖ</h5>
          <p class="card-text">ਇਹ ਵਾਧੂ ਲਈ ਕੁਦਰਤੀ ਲੀਡ-ਇਨ ਦੇ ਰੂਪ ਵਿੱਚ ਹੇਠਾਂ ਸਹਾਇਕ ਟੈਕਸਟ ਦੇ ਨਾਲ ਇੱਕ ਵਿਸ਼ਾਲ ਕਾਰਡ ਹੈ
            ਸਮੱਗਰੀ| ਇਹ ਸਮੱਗਰੀ ਥੋੜੀ ਲੰਬੀ ਹੈ।</p>
          <p class="card-text"><small>ਆਖਰੀ ਵਾਰ 3 ਮਿੰਟ ਪਹਿਲਾਂ ਅੱਪਡੇਟ ਕੀਤਾ ਗਿਆ</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">ਕਾਰਡ ਦੇ ਸਿਰਲੇਖ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਕਾਰਡ ਦੇ ਵੱਡੇ ਹਿੱਸੇ ਨੂੰ ਬਣਾਉਣ ਲਈ ਕੁਝ ਤੇਜ਼ ਉਦਾਹਰਨ ਟੈਕਸਟ
            ਸਮੱਗਰੀ|</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">ਕਾਰਡ ਦੇ ਸਿਰਲੇਖ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਕਾਰਡ ਦੇ ਵੱਡੇ ਹਿੱਸੇ ਨੂੰ ਬਣਾਉਣ ਲਈ ਕੁਝ ਤੇਜ਼ ਉਦਾਹਰਨ ਟੈਕਸਟ
            ਸਮੱਗਰੀ|</p>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">ਕਾਰਡ ਦੇ ਸਿਰਲੇਖ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਕਾਰਡ ਦੇ ਵੱਡੇ ਹਿੱਸੇ ਨੂੰ ਬਣਾਉਣ ਲਈ ਕੁਝ ਤੇਜ਼ ਉਦਾਹਰਨ ਟੈਕਸਟ
            ਸਮੱਗਰੀ|</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">ਕਾਰਡ ਦੇ ਸਿਰਲੇਖ ਨੂੰ ਬਣਾਉਣ ਅਤੇ ਕਾਰਡ ਦੇ ਵੱਡੇ ਹਿੱਸੇ ਨੂੰ ਬਣਾਉਣ ਲਈ ਕੁਝ ਤੇਜ਼ ਉਦਾਹਰਨ ਟੈਕਸਟ
            ਸਮੱਗਰੀ|</p>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">ਕਾਰਡ ਦਾ ਸਿਰਲੇਖ</h5>
          <p class="card-text">ਇਹ ਵਾਧੂ ਲਈ ਕੁਦਰਤੀ ਲੀਡ-ਇਨ ਦੇ ਰੂਪ ਵਿੱਚ ਹੇਠਾਂ ਸਹਾਇਕ ਟੈਕਸਟ ਦੇ ਨਾਲ ਇੱਕ ਵਿਸ਼ਾਲ ਕਾਰਡ ਹੈ
            ਸਮੱਗਰੀ| ਇਹ ਸਮੱਗਰੀ ਥੋੜੀ ਲੰਬੀ ਹੈ।</p>
          <p class="card-text"><small>ਆਖਰੀ ਵਾਰ 3 ਮਿੰਟ ਪਹਿਲਾਂ ਅੱਪਡੇਟ ਕੀਤਾ ਗਿਆ</small></p>
        </div>
      </div>
    </div>
</div>

<!-----hindi----->
<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
  [style.font-size.px]="getTextSize()">
  <div class="row">
    <div class="fs-1 red-title py-3 fw-semibold text-center">
      नवीनतम समाचार और घटनाएँ
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">कार्ड का शीर्षक</h5>
          <p class="card-text">यह एक बड़ा कार्ड है जिसमें अतिरिक्त सामग्री के लिए स्वाभाविक रूप से नीचे सहायक पाठ है
            सामग्री | यह सामग्री थोड़ी लंबी है|</p>
          <p class="card-text"><small>अंतिम बार 3 मिनट पहले अपडेट किया गया</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">कार्ड का शीर्षक और कार्ड का मुख्य भाग बनाने के लिए कुछ त्वरित उदाहरण पाठ
            सामग्री |</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">कार्ड का शीर्षक और कार्ड का मुख्य भाग बनाने के लिए कुछ त्वरित उदाहरण पाठ
            सामग्री |</p>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">कार्ड का शीर्षक और कार्ड का मुख्य भाग बनाने के लिए कुछ त्वरित उदाहरण पाठ
            सामग्री |</p>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="height: 290px">
      <div class="card">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img-top mx-auto" style="height: 172px;"
          alt="...">
        <div class="card-body">
          <p class="card-text">कार्ड का शीर्षक और कार्ड का मुख्य भाग बनाने के लिए कुछ त्वरित उदाहरण पाठ
            सामग्री |</p>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="height: 290px">
      <div class="card h-50 text-dark flex-grow-1">
        <img src="../../../../assets/images/used/building/1.webp" class="card-img" style="height: 278px;" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">कार्ड का शीर्षक</h5>
          <p class="card-text">यह एक बड़ा कार्ड है जिसमें अतिरिक्त सामग्री के लिए स्वाभाविक रूप से नीचे सहायक पाठ है
            सामग्री | यह सामग्री थोड़ी लंबी है|</p>
          <p class="card-text"><small>अंतिम बार 3 मिनट पहले अपडेट किया गया</small></p>
        </div>
      </div>
    </div>
