<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2">
    Latest News And Events
  </div>

  <div class="row">
    <div class="col-md-8 py-2" *ngIf="selectedNews">

      <img [src]="selectedNews.imagePath" class="card-img-top img-fluid" alt="...">
      <h5 class="">{{ selectedNews.title }}</h5>
      <p class="">{{ selectedNews.description }}</p>
      <a *ngIf="selectedNews.link" [href]="selectedNews.link" class="btn btn-red">{{ selectedNews.link_explore}}</a>
    </div>


    <div class="col-md-4 py-2 d-none d-md-flex flex-column">

      <div class="card my-4 flex-grow-1" *ngFor="let news of newsList" (click)="selectNews(news)">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img [src]="news.imagePath" class="img-fluid" height="50" width="140%" alt="...">

            </div>
            <div class="col-md-8">
              <button class="nav-link text-start fs-5 red-title fw-semibold"> {{ news.title }}</button>
              <button target="_blank" class="nav-link" *ngIf="news.link">Read More...</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">

  <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2">
    {{selectedNews.heading_punjabi}}
  </div>

  <div class="row">
    <div class="col-md-8 py-2" *ngIf="selectedNews">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <img [src]="selectedNews.imagePath" class="card-img-top img-fluid" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ selectedNews.punjabi_title }}</h5>
              <p class="card-text">{{ selectedNews.first_punjabi_description }}</p>
              <a *ngIf="selectedNews.link" [href]="selectedNews.link" class="btn btn-red">{{
                selectedNews.first_punjabi_link_explore}}</a>
            </div>
            div
          </div>

        </div>
      </div>

      <div class="col-md-4 py-2 d-none d-md-flex flex-column">
        <div class="card">
          <div class="card-body">
            <div class="card my-4 flex-grow-1" *ngFor="let news of newsList" (click)="selectNews(news)">
              <div class="card-body">
                <button class="nav-link text-start fs-5 red-title fw-semibold"><img [src]="news.imagePath"
                    class="img-fluid" height="50" width="50" alt="..."> {{ news.punjabi_title }}</button>
                <button target="_blank" class="nav-link" *ngIf="news.link">ਹੋਰ ਪੜ੍ਹੋ...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-----hindi----->
  <div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
    [style.font-size.px]="getTextSize()">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2">
      {{ selectedNews.heading_hindi}}
    </div>

    <div class="row">
      <div class="col-md-8 py-2" *ngIf="selectedNews">
        <div class="card">
          <img [src]="selectedNews.imagePath" class="card-img-top img-fluid" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ selectedNews.first_hindi_title }}</h5>
            <p class="card-text">{{ selectedNews.first_hindi_description }}</p>
            <a *ngIf="selectedNews.link" [href]="selectedNews.link" class="btn btn-red">{{
              selectedNews.first_hindi_link_explore}}</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 py-2 d-none d-md-flex flex-column">
        <div class="card">
          <div class="card-body">
            <div class="card my-4 flex-grow-1" *ngFor="let news of newsList" (click)="selectNews(news)">
              <div class="card-body">
                <button class="nav-link text-start fs-5 red-title fw-semibold"><img [src]="news.imagePath"
                    class="img-fluid" height="50" width="50" alt="..."> {{ news.hindi_title }}</button>
                <button target="_blank" class="nav-link" *ngIf="news.link">और पढ़ें...</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>