<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content>
<app-form-creation [formConfig] = "data.formConfig"
                  [formTypeOf]= "data.typeOfForm"
                  [formData] = "data.formConfigData"
                  [setValueBoolean]="true"
                  [getValues]="getFormValues"
                  (formValue)="getData($event)">
</app-form-creation>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <!--[mat-dialog-close] is used to send data outside the Dialog  -->
  <button mat-button cdkFocusInitial (click)="test()">Install</button>
</mat-dialog-actions>
