<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Buddy Program</div>
        <div class="py-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-title fs-4 fw-semibold">Punjab Government Scheme to Remove Drug Addiction</p>
                            <div class="card-text fs-5">
                                <div>
                                    <span class="fw-semibold"> Nodal Officer:</span> Sh. Sukhwinder Singh
                                </div>
                                <div>
                                    <span class="fw-semibold">Phone: </span> +91-7986301984
                                </div>
                                <div> <span class="fw-semibold"> Email:</span> gpctalwara&#64;gmail.com</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/images/used/useful-link/buddy.png" alt="Scheme Image"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਬੱਡੀ ਪ੍ਰੋਗਰਾਮ</div>
        <div class="py-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p class="card-title fs-4 fw-semibold">ਪੰਜਾਬ ਸਰਕਾਰ ਵੱਲੋਂ ਨਸ਼ਾ ਖਤਮ ਕਰਨ ਦੀ ਸਕੀਮ</p>
                            <div class="card-text fs-5">
                                <div>
                                    <span class="fw-semibold"> ਨੋਡਲ ਅਫਸਰ:</span> 
                                    ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ
                                </div>
                                <div>
                                    <span class="fw-semibold">ਫ਼ੋਨ: </span> +91-7986301984
                                </div>
                                <div> <span class="fw-semibold"> 
                                    ਈ - ਮੇਲ:</span> gpctalwara&#64;gmail.com</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="../../../assets/images/used/useful-link/buddy.png" alt="Scheme Image"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>