<div class="container mt-5">
    <div>Buddy Program</div>
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <h5 class="card-title">Punjab Government Scheme to Remove Drug Addiction</h5>
                    <p class="card-text">
                        Nodal Officer: Sh. Sukhwinder Singh<br>
                        Phone: +91-7986301984<br>
                        Email: <a href="mailto:gpctalwara@gmail.com">gpctalwara&#64;gmail.com</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="path/to/your/image.jpg" alt="Scheme Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>