<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3">
      Electronics & Communication Engineering</div>
      <div class="border-bottom border-danger border-2  border-bottom border-danger border-2 pt-3"></div>

    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          Electronics and Communication Engineering: Designs, builds, tests, and maintains electronic devices used in
          computers, IT, electrical systems, power grids, and communication. </p>
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ece/class/ece.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">04
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Placed Student</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        Electronics & Communication Engineering in a Nutshell
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Handling and processing of signals:</span> Electronics and Communication
            Engineering focuses on transmitting and receiving information efficiently, playing a pivotal role in modern
            communication systems.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Creation and evaluation of electronic circuits:</span>This field involves
            designing circuits for various applications, ensuring they function effectively and reliably.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">Miniaturization of electronic components:</span>Electronics and Communication
            Engineering delve into the design and fabrication of small-scale electronic devices and integrated circuits,
            enabling advancements in technology.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Handling digital information and coding theory: </span>Engineers in this field
            work on digital systems and develop efficient coding techniques, contributing to the processing and
            transmission of information in a digital format.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> Transmission without physical connections:</span> Electronics and Communication
            Engineers specialize in developing wireless communication technologies, facilitating global connectivity
            through innovations like mobile communication and satellite systems.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Power Electronics Labs</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/batch_18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                Power electronics labs are essential for students in electronic engineering to gain practical experience
                with power conversion circuitsm and devices. The Caltech Power Electronics Lab conducts research on power
                conversion for energy storage, power transmission, and electric propulsion.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Digital and Microprocessor Lab </div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                A Digital and Microprocessor Lab in Electronic Communication Engineering (ECE) is a practical space
                where students gain hands-on experience with the fundamental building blocks of digital systems and
                their control using microprocessors.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Basic Electronics Lab</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                A basic electronics lab in Electronics and Communication Engineering (ECE) provides students with their
                first hands-on experience with electronic components and circuits. This lab serves as a foundation for
                understanding the fundamental building blocks of electronic systems and their operation </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Electronic Devices And Circuit  Lab</div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                In the Electronic Devices and Circuit Lab, students gain practical experience in analyzing and designing
                circuits using a variety of active devices, including transistors, diodes, and integrated circuits.
                Through a series of guided experiments and projects, students learn to build amplifiers, power supplies,
                oscillators, and more, gaining insight into their behavior and practical applications. </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <img src="../../../../assets/images/used/activites/3.jpg" class="img-fluid" alt="">
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜਨੀਅਰਿੰਗ: ਇਸ ਵਿੱਚ ਵਰਤੇ ਜਾਣ ਵਾਲੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਯੰਤਰਾਂ ਨੂੰ ਡਿਜ਼ਾਈਨ, ਬਿਲਡ, ਟੈਸਟ ਅਤੇ ਰੱਖ-ਰਖਾਅ
          ਕੰਪਿਊਟਰ, IT, ਇਲੈਕਟ੍ਰੀਕਲ ਸਿਸਟਮ, ਪਾਵਰ ਗਰਿੱਡ, ਅਤੇ ਸੰਚਾਰ। </p>
      </div>
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ece/class/ece.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">04
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark">ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark">ਰੱਖਿਆ ਵਿਦਿਆਰਥੀ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        ਸੰਖੇਪ ਵਿੱਚ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ ਇੰਜੀਨੀਅਰਿੰਗ
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਸਿਗਨਲਾਂ ਦੀ ਸੰਭਾਲ ਅਤੇ ਪ੍ਰਕਿਰਿਆ:</span> ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ
            ਇੰਜੀਨੀਅਰਿੰਗ ਆਧੁਨਿਕ ਵਿੱਚ ਇੱਕ ਮਹੱਤਵਪੂਰਨ ਭੂਮਿਕਾ ਨਿਭਾਉਂਦੇ ਹੋਏ, ਕੁਸ਼ਲਤਾ ਨਾਲ ਜਾਣਕਾਰੀ ਨੂੰ ਸੰਚਾਰਿਤ ਕਰਨ ਅਤੇ ਪ੍ਰਾਪਤ ਕਰਨ 'ਤੇ ਕੇਂਦ੍ਰਤ ਹੈ
            ਸੰਚਾਰ ਸਿਸਟਮ|
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ ਦੀ ਰਚਨਾ ਅਤੇ ਮੁਲਾਂਕਣ:</span>ਇਸ ਖੇਤਰ ਵਿੱਚ ਸ਼ਾਮਲ ਹੈ
            ਵੱਖ-ਵੱਖ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਸਰਕਟਾਂ ਨੂੰ ਡਿਜ਼ਾਈਨ ਕਰਨਾ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਣਾ ਕਿ ਉਹ ਪ੍ਰਭਾਵਸ਼ਾਲੀ ਅਤੇ ਭਰੋਸੇਯੋਗ ਢੰਗ ਨਾਲ ਕੰਮ ਕਰਦੇ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">ਇਲੈਕਟ੍ਰਾਨਿਕ ਕੰਪੋਨੈਂਟਸ ਦਾ ਛੋਟਾਕਰਨ:</span>ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਅਤੇ ਸੰਚਾਰ
            ਇੰਜਨੀਅਰਿੰਗ ਛੋਟੇ ਪੈਮਾਨੇ ਦੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਉਪਕਰਣਾਂ ਅਤੇ ਏਕੀਕ੍ਰਿਤ ਸਰਕਟਾਂ ਦੇ ਡਿਜ਼ਾਈਨ ਅਤੇ ਨਿਰਮਾਣ ਵਿੱਚ ਖੋਜ ਕਰਦੀ ਹੈ,
            ਤਕਨਾਲੋਜੀ ਵਿੱਚ ਤਰੱਕੀ ਨੂੰ ਸਮਰੱਥ ਬਣਾਉਣਾ|
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> ਡਿਜੀਟਲ ਜਾਣਕਾਰੀ ਅਤੇ ਕੋਡਿੰਗ ਥਿਊਰੀ ਨੂੰ ਸੰਭਾਲਣਾ: </span>ਇਸ ਖੇਤਰ ਵਿੱਚ ਇੰਜੀਨੀਅਰ
            ਡਿਜੀਟਲ ਪ੍ਰਣਾਲੀਆਂ 'ਤੇ ਕੰਮ ਕਰੋ ਅਤੇ ਕੁਸ਼ਲ ਕੋਡਿੰਗ ਤਕਨੀਕਾਂ ਵਿਕਸਿਤ ਕਰੋ, ਪ੍ਰੋਸੈਸਿੰਗ ਵਿੱਚ ਯੋਗਦਾਨ ਪਾਓ ਅਤੇ
            ਇੱਕ ਡਿਜੀਟਲ ਫਾਰਮੈਟ ਵਿੱਚ ਜਾਣਕਾਰੀ ਦਾ ਸੰਚਾਰ|
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> ਭੌਤਿਕ ਕਨੈਕਸ਼ਨਾਂ ਤੋਂ ਬਿਨਾਂ ਸੰਚਾਰ:</span> ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਅਤੇ ਸੰਚਾਰ
            ਇੰਜੀਨੀਅਰ ਬੇਤਾਰ ਸੰਚਾਰ ਤਕਨਾਲੋਜੀਆਂ ਨੂੰ ਵਿਕਸਤ ਕਰਨ ਵਿੱਚ ਮੁਹਾਰਤ ਰੱਖਦੇ ਹਨ, ਗਲੋਬਲ ਕਨੈਕਟੀਵਿਟੀ ਦੀ ਸਹੂਲਤ ਦਿੰਦੇ ਹਨ
            ਮੋਬਾਈਲ ਸੰਚਾਰ ਅਤੇ ਸੈਟੇਲਾਈਟ ਪ੍ਰਣਾਲੀਆਂ ਵਰਗੀਆਂ ਨਵੀਨਤਾਵਾਂ ਰਾਹੀਂ।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        ਸਾਡੀਆਂ ਲੈਬਾਂ</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਪਾਵਰ ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਲੈਬ</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/batch_18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਇੰਜਨੀਅਰਿੰਗ ਦੇ ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਵਿਹਾਰਕ ਅਨੁਭਵ ਹਾਸਲ ਕਰਨ ਲਈ ਪਾਵਰ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬਾਂ ਜ਼ਰੂਰੀ ਹਨ
                ਪਾਵਰ ਪਰਿਵਰਤਨ ਸਰਕਟ ਅਤੇ ਡਿਵਾਈਸਾਂ ਦੇ ਨਾਲ| ਕੈਲਟੇਕ ਪਾਵਰ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ ਪਾਵਰ 'ਤੇ ਖੋਜ ਕਰਦੀ ਹੈ
                ਊਰਜਾ ਸਟੋਰੇਜ, ਪਾਵਰ ਟ੍ਰਾਂਸਮਿਸ਼ਨ, ਅਤੇ ਇਲੈਕਟ੍ਰਿਕ ਪ੍ਰੋਪਲਸ਼ਨ ਲਈ ਪਰਿਵਰਤਨ।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਡਿਜੀਟਲ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬ</div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਕਮਿਊਨੀਕੇਸ਼ਨ ਇੰਜੀਨੀਅਰਿੰਗ (ਈਸੀਈ) ਵਿੱਚ ਇੱਕ ਡਿਜੀਟਲ ਅਤੇ ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਲੈਬ ਇੱਕ ਵਿਹਾਰਕ ਥਾਂ ਹੈ
                ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਡਿਜੀਟਲ ਪ੍ਰਣਾਲੀਆਂ ਦੇ ਬੁਨਿਆਦੀ ਬਿਲਡਿੰਗ ਬਲਾਕਾਂ ਦੇ ਨਾਲ ਹੱਥੀਂ ਅਨੁਭਵ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ ਅਤੇ
                ਮਾਈਕ੍ਰੋਪ੍ਰੋਸੈਸਰ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਉਹਨਾਂ ਦਾ ਨਿਯੰਤਰਣ|
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਬੇਸਿਕ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕਸ ਐਂਡ ਕਮਿਊਨੀਕੇਸ਼ਨ ਇੰਜਨੀਅਰਿੰਗ (ਈਸੀਈ) ਵਿੱਚ ਇੱਕ ਬੁਨਿਆਦੀ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਲੈਬ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਉਹਨਾਂ ਦੇ ਨਾਲ ਪ੍ਰਦਾਨ ਕਰਦੀ ਹੈ
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਕੰਪੋਨੈਂਟਸ ਅਤੇ ਸਰਕਟਾਂ ਦੇ ਨਾਲ ਪਹਿਲਾ ਹੈਂਡ-ਆਨ ਅਨੁਭਵ। ਇਹ ਲੈਬ ਲਈ ਇੱਕ ਬੁਨਿਆਦ ਦੇ ਤੌਰ ਤੇ ਕੰਮ ਕਰਦਾ ਹੈ
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਪ੍ਰਣਾਲੀਆਂ ਅਤੇ ਉਹਨਾਂ ਦੇ ਸੰਚਾਲਨ  ਦੇ ਬੁਨਿਆਦੀ ਬਿਲਡਿੰਗ ਬਲਾਕਾਂ ਨੂੰ ਸਮਝਣਾ
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              ਇਲੈਕਟ੍ਰਾਨਿਕ ਉਪਕਰਨ ਅਤੇ ਸਰਕਟ ਲੈਬ</div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                ਇਲੈਕਟ੍ਰਾਨਿਕ ਡਿਵਾਈਸਾਂ ਅਤੇ ਸਰਕਟ ਲੈਬ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਵਿਸ਼ਲੇਸ਼ਣ ਅਤੇ ਡਿਜ਼ਾਈਨਿੰਗ ਵਿੱਚ ਵਿਹਾਰਕ ਅਨੁਭਵ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ
                ਟਰਾਂਜਿਸਟਰ, ਡਾਇਡ ਅਤੇ ਏਕੀਕ੍ਰਿਤ ਸਰਕਟਾਂ ਸਮੇਤ ਕਈ ਤਰ੍ਹਾਂ ਦੇ ਕਿਰਿਆਸ਼ੀਲ ਉਪਕਰਣਾਂ ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹੋਏ ਸਰਕਟ।
                ਨਿਰਦੇਸ਼ਿਤ ਪ੍ਰਯੋਗਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਦੀ ਇੱਕ ਲੜੀ ਦੇ ਜ਼ਰੀਏ, ਵਿਦਿਆਰਥੀ ਐਂਪਲੀਫਾਇਰ, ਬਿਜਲੀ ਸਪਲਾਈ, ਬਣਾਉਣਾ ਸਿੱਖਦੇ ਹਨ।
                ਔਸਿਲੇਟਰ, ਅਤੇ ਹੋਰ, ਉਹਨਾਂ ਦੇ ਵਿਵਹਾਰ ਅਤੇ ਵਿਹਾਰਕ ਕਾਰਜਾਂ ਦੀ ਸਮਝ ਪ੍ਰਾਪਤ ਕਰਨਾ। </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <img src="../../../../assets/images/used/activites/3.jpg" class="img-fluid" alt="">
</div>



<!---hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      इलेक्ट्रॉनिक्स एवं संचार इंजीनियरिंग</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग: इसमें प्रयुक्त इलेक्ट्रॉनिक उपकरणों का डिज़ाइन, निर्माण, परीक्षण और रखरखाव करता है
          कंप्यूटर, आईटी, इलेक्ट्रिकल सिस्टम, पावर ग्रिड और संचार। </p>
      </div>
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ece/class/ece.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">04
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> रखा गया छात्र</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        संक्षेप में इलेक्ट्रॉनिक्स एवं संचार इंजीनियरिंग
      </div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">सिग्नलों की हैंडलिंग और प्रसंस्करण:</span> इलेक्ट्रॉनिक्स और संचार
            इंजीनियरिंग आधुनिक में महत्वपूर्ण भूमिका निभाते हुए सूचना को कुशलतापूर्वक प्रसारित करने और प्राप्त करने पर केंद्रित है
            संचार प्रणाली।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">इलेक्ट्रॉनिक सर्किट का निर्माण और मूल्यांकन:</span>इस क्षेत्र में शामिल है
            विभिन्न अनुप्रयोगों के लिए सर्किट डिजाइन करना, यह सुनिश्चित करना कि वे प्रभावी ढंग से और विश्वसनीय रूप से कार्य करें।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold">इलेक्ट्रॉनिक घटकों का लघुकरण:</span>इलेक्ट्रॉनिक्स और संचार
            इंजीनियरिंग छोटे पैमाने के इलेक्ट्रॉनिक उपकरणों और एकीकृत सर्किट के डिजाइन और निर्माण में गहराई से उतरती है,
            प्रौद्योगिकी में प्रगति को सक्षम करना।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> डिजिटल जानकारी और कोडिंग सिद्धांत को संभालना: </span>इस क्षेत्र के इंजीनियर
            डिजिटल सिस्टम पर काम करें और कुशल कोडिंग तकनीक विकसित करें, प्रसंस्करण में योगदान दें और
            डिजिटल प्रारूप में सूचना का प्रसारण।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i>
            <span class="fw-semibold"> भौतिक कनेक्शन के बिना ट्रांसमिशन: इलेक्ट्रॉनिक्स और संचार
              इंजीनियर वैश्विक कनेक्टिविटी को सुविधाजनक बनाने, वायरलेस संचार प्रौद्योगिकियों को विकसित करने में विशेषज्ञ हैं
              मोबाइल संचार और उपग्रह प्रणालियों जैसे नवाचारों के माध्यम से।
          </span>
          </li>
          </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        हमारी लैब्स</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              पावर इलेक्ट्रॉनिक्स लैब्स</div>
            <div class="col-lg-5">
              <img src="../../../../assets/images/used/department/cse/lab/batch_18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-lg-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक इंजीनियरिंग के छात्रों के लिए व्यावहारिक अनुभव प्राप्त करने के लिए पावर इलेक्ट्रॉनिक्स लैब आवश्यक हैं
                बिजली रूपांतरण सर्किट और उपकरणों के साथ। कैल्टेक पावर इलेक्ट्रॉनिक्स लैब बिजली पर अनुसंधान करती है
                ऊर्जा भंडारण, विद्युत पारेषण और विद्युत प्रणोदन के लिए रूपांतरण।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              डिजिटल और माइक्रोप्रोसेसर लैब</div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक संचार इंजीनियरिंग (ईसीई) में एक डिजिटल और माइक्रोप्रोसेसर लैब एक व्यावहारिक स्थान है
                जहां छात्र डिजिटल सिस्टम के मूलभूत निर्माण खंडों के साथ व्यावहारिक अनुभव प्राप्त करते हैं
                माइक्रोप्रोसेसरों का उपयोग करके उनका नियंत्रण।
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              बेसिक इलेक्ट्रॉनिक्स लैब</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक्स और संचार इंजीनियरिंग (ईसीई) में एक बुनियादी इलेक्ट्रॉनिक्स प्रयोगशाला छात्रों को उनकी सुविधा प्रदान करती है
                इलेक्ट्रॉनिक घटकों और सर्किट के साथ पहला व्यावहारिक अनुभव। यह प्रयोगशाला एक आधार के रूप में कार्य करती है
                इलेक्ट्रॉनिक प्रणालियों के मूलभूत निर्माण खंडों और उनके संचालन को समझना </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              इलेक्ट्रॉनिक उपकरण और सर्किट लैब</div>
            <div class="col-md-7">
              <div class="my-3 fs-4">
                इलेक्ट्रॉनिक उपकरणों और सर्किट लैब में, छात्रों को विश्लेषण और डिजाइनिंग में व्यावहारिक अनुभव प्राप्त होता है
                ट्रांजिस्टर, डायोड और एकीकृत सर्किट सहित विभिन्न सक्रिय उपकरणों का उपयोग करने वाले सर्किट।
                निर्देशित प्रयोगों और परियोजनाओं की एक श्रृंखला के माध्यम से, छात्र एम्पलीफायर, बिजली आपूर्ति, बनाना सीखते हैं।
                ऑसिलेटर, और भी बहुत कुछ, उनके व्यवहार और व्यावहारिक अनुप्रयोगों में अंतर्दृष्टि प्राप्त कर रहे हैं। </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
  <img src="../../../../assets/images/used/activites/3.jpg" class="img-fluid" alt="">
</div>
