<div class="container">
    <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      DEPARTMENT OF WORKSHOP
    </div>
    
<div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Ashok Kumar</div>
          <p class="card-text">Designation: Workshop Instructor</p>
          <p class="card-text">Qualification: Craft Training Instructor (CTI)</p>
          <p class="card-text">Email: ak3742210&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 9417202438</p>
        </div>
      <div class="col-md-5"><img src="../../../../assets/images/used/workkshop-faculty.jpg" class="img-fluid img" alt="Mr. Ashok Kumar"></div> -->
      </div>
    </div>
  </div>
</div>