<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Computer Science & Engineering
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Chander Shekhar</div>
                        <p class="card-text">Designation: HOD (Computer Engineering Department)</p>
                        <p class="card-text">Qualification: M.Tech.(CSE)</p>
                        <p class="card-text">Email: gpctalwara&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 9501107354</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Sukhwinder Singh</div>
                        <p class="card-text">Qualification: M.Tech.(CSE)</p>
                        <p class="card-text">Email: sukh1.baghoria&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 9501648500</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Sukhwinder Singh"></div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Rajan Sahota</div>
                        <p class="card-text">Qualification: M.Tech.(CSE)</p>
                        <p class="card-text">Email: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 7986522492</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Rajan Sahota">
                    </div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">Mr. Ketan Khullar</div>
                        <p class="card-text">Qualification: M.Tech.(CSE)</p>
                        <p class="card-text">Email: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">Mobile No.: 9779920730</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid  rounded-circle img" alt="Ketan Khullar">
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਇੰਜੀਨੀਅਰਿੰਗ
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">ਸ੍ਰੀ ਚੰਦਰ ਸ਼ੇਖਰ</div>
                        <p class="card-text">ਅਹੁਦਾ: HOD (ਕੰਪਿਊਟਰ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ)</p>
                        <p class="card-text">
                            ਯੋਗਤਾ: M.Tech (CSE)</p>
                        <p class="card-text">ਈਮੇਲ: gpctalwara&#64;gmail.com</p>
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 9501107354</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ਼੍ਰੀ ਸੁਖਵਿੰਦਰ ਸਿੰਘ</div>
                        <p class="card-text">ਯੋਗਤਾ: M.Tech (CSE)</p>
                        <p class="card-text">ਈਮੇਲ: sukh1.baghoria&#64;gmail.com</p>
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 9501648500</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid  rounded-circle img" alt="Sukhwinder Singh"></div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ੍ਰੀ ਰਾਜਨ ਸਹੋਤਾ</div>
                        <p class="card-text">
                            ਯੋਗਤਾ: M.Tech (CSE)</p>
                        <p class="card-text">ਈਮੇਲ: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 7986522492</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"><img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid  rounded-circle img" alt="Rajan Sahota">
                    </div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            ਸ੍ਰੀ ਕੇਤਨ ਖੁੱਲਰ</div>
                        <p class="card-text">ਯੋਗਤਾ: M.Tech (CSE)</p>
                        <p class="card-text">ਈਮੇਲ: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">
                            ਮੋਬਾਈਲ ਨੰ: 9779920730</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Ketan Khullar">
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>



<!---hindi--->

<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            कंप्यूटर साइंस इंजीनियरिंग
        </div>

        <div class="card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">श्री चन्द्रशेखर जी</div>
                        <p class="card-text">पदनाम: एचओडी (कंप्यूटर इंजीनियरिंग विभाग)</p>
                        <p class="card-text">
                            योग्यता: M.Tech (CSE)</p>
                        <p class="card-text">ईमेल: gpctalwara&#64;gmail.com</p>
                        <p class="card-text">
                            मोबाइल नंबर: 9501107354</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center">
                        <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="">
                    </div>
                </div>

            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री. सुखविंदर सिंह</div>
                        <p class="card-text">योग्यता: M.Tech (CSE)</p>
                        <p class="card-text">ईमेल: sukh1.baghoria&#64;gmail.com</p>
                        <p class="card-text">
                            मोबाइल नंबर: 9501648500</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Sukhwinder Singh"></div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री. राजन सहोता</div>
                        <p class="card-text">
                            योग्यता: M.Tech (CSE)</p>
                        <p class="card-text">ईमेल: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">
                            मोबाइल नंबर: 7986522492</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Rajan Sahota">
                    </div>

                </div>
            </div>
        </div>

        <div class="card card my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-7">
                        <div class="card-title fs-4">
                            श्री. केतन खुल्लर</div>
                        <p class="card-text">योग्यता: M.Tech (CSE)</p>
                        <p class="card-text">ईमेल: gpctalwara.cse&#64;gmail.com</p>
                        <p class="card-text">

                            मोबाइल नंबर: 9779920730</p>
                    </div>
                    <div class="col-md-5 text-center d-flex align-items-center justify-content-center"> <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Ketan Khullar">
                    </div>
                </div>
            </div>
        </div><br>
    </div>
</div>