<div class="container">
  <div class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
    DEPARTMENT OF ELECTRICAL ENGINEERING
  </div>
  <div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Rajesh Kumar Jassi</div>
          <p class="card-text">Designation: HOD (Electrical Engineering Department)</p>
          <p class="card-text">Qualification: B.Tech.</p>
          <p class="card-text">Email: gpctalwara.ee&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 8437700626</p>
        </div>
        <!-- You can add an image here if you have one for Mr. Rajesh Kumar Jassi -->
        <!-- Example: <div class="col-md-5"><img src="path/to/rajesh_kumar_jassi_image.jpg" class="img-fluid img" alt="Mr. Rajesh Kumar Jassi"></div> -->
      </div>
    </div>
  </div>

  <div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Sukeeratpal Singh</div>
          <p class="card-text">Designation: Lecturer</p>
          <p class="card-text">Qualification: M.E.(Instrumentation & Control System)</p>
          <p class="card-text">Email: sukeerats&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 9779972700</p>
          <p class="card-text">Officiating: Training & Placement Officer and Library Incharge</p>
          <p class="card-text">Courses: 1. Fundamental of Python<br>2. Computer Application in Electrical Engineering
          </p>
        </div>
        <!-- You can add an image here if you have one for Mr. Sukeeratpal Singh -->
        <!-- Example: <div class="col-md-5"><img src="path/to/sukeeratpal_singh_image.jpg" class="img-fluid img" alt="Mr. Sukeeratpal Singh"></div> -->
      </div>
    </div>
  </div>
  <div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Sharandeep Singh</div>
          <p class="card-text">Designation: Lecturer</p>
          <p class="card-text">Qualification: M.E.(Power System)</p>
          <p class="card-text">Email: deepsharan51&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 8054678211</p>
        </div>
        <!-- You can add an image here if you have one for Mr. Sharandeep Singh -->
        <!-- Example: <div class="col-md-5"><img src="path/to/sharandeep_singh_image.jpg" class="img-fluid img" alt="Mr. Sharandeep Singh"></div> -->
      </div>
    </div>
  </div>
  <div class="card  my-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-7">
          <div class="card-title fs-4">Mr. Rahul Kumar</div>
          <p class="card-text">Designation: Lecturer</p>
          <p class="card-text">Qualification: B.Tech.(EE)</p>
          <p class="card-text">Email: gpctalwara.ee&#64;gmail.com</p>
          <p class="card-text">Mobile No.: 9501876331</p>
        </div>
        <!-- You can add an image here if you have one for Mr. Rahul Kumar -->
        <!-- Example: <div class="col-md-5"><img src="path/to/rahul_kumar_image.jpg" class="img-fluid img" alt="Mr. Rahul Kumar"></div> -->
      </div>
    </div>
  </div>
</div>