<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            DEPARTMENT OF MECHANICAL ENGINEERING
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-8">
                    <p class="fs-5 fw-semibold  red-title">
                        Mission
                    </p>
                    <p>
                        The mission of the Mechanical Department is to become a centre of technological excellence.
                    </p>
                    <p class="fs-5 fw-semibold  red-title">
                        Vision
                    </p>
                    <p>

                        To provide world clean technical education with the objective of molding the youth into
                        enlightened
                        citizens,
                        who will work for the betterment of society.
                    </p>
                    <p class="fs-5 fw-semibold  red-title">
                        Quality Policy
                    </p>
                    <p>
                        To impart and ensure value based Quality Education and mould the inherent talent of youth into
                        skills
                        required
                        in the dynamic and highly competitive world of technology.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/images/used/web-use/me.png" class="img-fluid" alt="">
                </div>
            </div>
            <p class="fs-5 fw-semibold  red-title">
                Goals
            </p>
            <ul>
                <li> <i class="fa-regular fa-hand-point-right"></i> To be a leader in the field of technical education.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To further strengthen the infrastructure</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To make efficient use of computers and internet in the teaching learning process.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To strengthen research & development cell.</li>
                <li> <i class="fa-regular fa-hand-point-right"></i> To inculcate human values with ultimate objective of moldings the youth to work for the
                    betterment of
                    mankind.</li>
            </ul>
        </div>
    </div>
    <div class="py-3">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../../assets/images/used/labs/01.jpg" class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100 img" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../../assets/images/used/labs/29.jpg" class="d-block w-100 img" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>