<div class="dark" [class.dark-mode]="isDarkMode"
  *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div
      class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Mechanical Engineering
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <p>
          From robots to rockets, nanomachines to megaprojects, build the future
          with mechanical engineering: master
          design, analysis, and innovation to shape the world, one gear at a
          time
        </div>
        <div class="mb-5">
          <img src="../../../../assets/images/used/department/me/class/me.webp"
            class="img-fluid shadow" alt>
        </div>
        <div class="my-3">
          <div class="border-bottom border-top border-danger py-3">
            <div class="row">
              <div class="col-md-4">
                <div class="fw-semibold">2,304
                </div>
                <div>
                  <a href class="text-decoration-none text-dark"> Faculty
                    members</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="fw-semibold">2,304
                </div>
                <div>
                  <a href class="text-decoration-none text-dark"> Faculty
                    members</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="fw-semibold">2,304
                </div>
                <div>
                  <a href class="text-decoration-none text-dark"> Faculty
                    members</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fw-semibold red-title fs-2">
          Mechanical Engineering in a Nutshell</div>
        <div class="text-start my-3">
          <ul>
            <li>
              <i class="fa-regular fa-hand-point-right"></i>
              <span class="fw-semibold"> Focus on designing mechanical
                components and systems:</span>Mechanical
              Engineering at our college emphasizes the creation and
              optimization of machines, devices, and systems
              through a comprehensive understanding of mechanics and materials.
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i>
              <span class="fw-semibold">Hands-on learning
                experiences:</span>Through well-equipped labs and projects,
              students gain practical skills in manufacturing, thermodynamics,
              and fluid mechanics, ensuring they can
              apply theoretical knowledge to real-world engineering challenges.
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i>
              <span class="fw-semibold">Encouragement of creative
                problem-solving:</span> Our Mechanical Engineering
              program promotes innovation and research, empowering students to
              explore cutting-edge technologies,
              materials, and sustainable practices in the field.
            </li>
            <li>
              <i class="fa-regular fa-hand-point-right"></i>
              <span class="fw-semibold"> Integration with other engineering
                disciplines:</span> Students benefit from a
              holistic education, integrating aspects of electrical, civil, and
              materials engineering to produce
              well-rounded mechanical engineers capable of addressing complex,
              interdisciplinary problems.
            </li>

          </ul>
        </div>
        <div class="fw-semibold red-title fs-2 my-3">
          Our Labs</div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Survey Lab</div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/18.webp"
                  class="img-fluid shadow" alt>
              </div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  A survey lab in engineering serves as a practical training
                  ground where students gain hands-on experience with the tools
                  and techniques used in land surveying and data collection.
                  This crucial component of many engineering disciplines equips
                  future professionals with the ability to accurately measure,
                  map, and analyze the physical environment, forming the
                  essential groundwork for various projects.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Public Health Engineering Lab </div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  A public health engineering lab serves as a practical space
                  where students translate classroom knowledge into hands-on
                  experience tackling real-world challenges in public health
                  protection. Through diverse experiments and projects, future
                  engineers delve into various aspects of water supply,
                  sanitation, environmental health, and other crucial areas to
                  ensure healthy communities.
                </div>
              </div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/15.webp"
                  class="img-fluid shadow" alt>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Concrete lab</div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/13.webp"
                  class="img-fluid shadow" alt>
              </div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  A concrete lab in civil engineering delves into the hands-on
                  exploration of concrete, the most widely used construction
                  material globally. Students gain practical experience with its
                  properties, testing methods, and behavior, preparing them for
                  future roles in designing, constructing, and maintaining
                  concrete structures.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Electrical lab</div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  An electrical lab serves as a hands-on learning environment
                  where students delve into the fascinating world of
                  electricity. Through experimentation with various circuits,
                  components, and instruments, future engineers and scientists
                  gain invaluable practical skills and solidify their
                  understanding of electrical principles.

                </div>
              </div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/12.webp"
                  class="img-fluid shadow" alt>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Fluid Mechanics Lab</div>
              <div class="col-md-5">
                <img src="../../../../assets/images/used/activites/30.jpg"
                  class="img-fluid shadow" alt>
              </div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  The fluid mechanics lab in mechanical engineering serves as a
                  gateway to the mesmerizing world of fluids, both at rest and
                  in motion. This hands-on haven empowers students to transcend
                  the realm of theoretical knowledge and dive directly into the
                  dynamic world of liquids and gases. Through a diverse array of
                  experiments, measurements, and intriguing apparatus, the lab
                  becomes a living textbook, fostering a deeper understanding
                  and igniting a passion for this fundamental engineering
                  subject.

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Thermodynamics lab</div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  In engineering, a thermodynamics lab serves as a practical
                  learning space where students delve into the principles of
                  energy conversion and transformation, solidifying their
                  theoretical understanding through hands-on experience. This
                  immersive environment equips future engineers with crucial
                  skills and insights into various energy-related applications
                  across different engineering disciplines.

                </div>
              </div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/12.webp"
                  class="img-fluid shadow" alt>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Foundary lab</div>
              <div class="col-md-5">
                <img src="../../../../assets/images/used/activites/30.jpg"
                  class="img-fluid shadow" alt>
              </div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  In the realm of engineering, a foundry lab transforms into a
                  captivating space where students delve into the captivating
                  world of metal casting. It's more than just pouring molten
                  metal; it's a hands-on exploration of the entire casting
                  process, from pattern making to finished product, equipping
                  future engineers with invaluable practical skills and a deeper
                  appreciation for this versatile manufacturing technique.

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-3">
          <div class="card-body">
            <div class="row">
              <div class="fw-semibold fs-3">
                Refrigeration and Air conditioning (RAC) lab</div>
              <div class="col-md-7">
                <div class="my-3 fs-5">
                  In the realm of mechanical engineering, the refrigeration and
                  air conditioning (RAC) lab serves as a practical training
                  ground for students to explore the fascinating world of
                  thermal comfort and food preservation. It transcends
                  theoretical learning by providing hands-on experience with
                  various components, systems, and concepts, equipping future
                  engineers with valuable skills and a deeper understanding of
                  this crucial field.

                </div>
              </div>
              <div class="col-md-5">
                <img
                  src="../../../../assets/images/used/department/cse/lab/12.webp"
                  class="img-fluid shadow" alt>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class>
      <img src="../../../../assets/images/used/department/me/lab/1.webp"
        class="img-fluid" alt>
    </div>
  </div>

  <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
      <div
        class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
        ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ
      </div>
      <div class="fs-4 lh-lg fw-lighter text-center">
        <div class="py-3">
          <p>
            ਰੋਬੋਟ ਤੋਂ ਲੈ ਕੇ ਰਾਕੇਟ ਤੱਕ, ਨੈਨੋਮਸ਼ੀਨਾਂ ਤੋਂ ਲੈ ਕੇ ਮੈਗਾਪ੍ਰੋਜੈਕਟ ਤੱਕ,
            ਭਵਿੱਖ ਦਾ ਨਿਰਮਾਣ ਕਰੋ
            ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਦੇ ਨਾਲ: ਮਾਸਟਰ
            ਸੰਸਾਰ ਨੂੰ ਆਕਾਰ ਦੇਣ ਲਈ ਡਿਜ਼ਾਈਨ, ਵਿਸ਼ਲੇਸ਼ਣ, ਅਤੇ ਨਵੀਨਤਾ, ਇੱਕ ਗੇਅਰ 'ਤੇ
            ਸਮਾਂ
          </div>
          <div class="mb-5">
            <img
              src="../../../../assets/images/used/department/me/class/me.webp"
              class="img-fluid shadow" alt>
          </div>
          <div class="my-3">
            <div class="border-bottom border-top border-danger py-3">
              <div class="row">
                <div class="col-md-4">
                  <div class="fw-semibold">2,304
                  </div>
                  <div>
                    <a href class="text-decoration-none text-dark"> ਫੈਕਲਟੀ
                      ਮੈਂਬਰ</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="fw-semibold">2,304
                  </div>
                  <div>
                    <a href class="text-decoration-none text-dark"> ਫੈਕਲਟੀ
                      ਮੈਂਬਰ</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="fw-semibold">2,304
                  </div>
                  <div>
                    <a href class="text-decoration-none text-dark"> ਫੈਕਲਟੀ
                      ਮੈਂਬਰ</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fw-semibold red-title fs-2">
            ਸੰਖੇਪ ਵਿੱਚ ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ</div>
          <div class="text-start my-3">
            <ul>
              <li>
                <i class="fa-regular fa-hand-point-right"></i>
                <span class="fw-semibold">ਮਕੈਨੀਕਲ ਭਾਗਾਂ ਅਤੇ ਪ੍ਰਣਾਲੀਆਂ ਨੂੰ
                  ਡਿਜ਼ਾਈਨ
                  ਕਰਨ 'ਤੇ ਧਿਆਨ ਕੇਂਦਰਤ ਕਰੋ:</span>ਸਾਡੇ ਕਾਲਜ
                ਵਿੱਚ ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਮਕੈਨਿਕਸ ਅਤੇ ਸਮੱਗਰੀ ਦੀ ਵਿਆਪਕ ਸਮਝ ਦੁਆਰਾ
                ਮਸ਼ੀਨਾਂ, ਡਿਵਾਈਸਾਂ ਅਤੇ ਪ੍ਰਣਾਲੀਆਂ ਦੀ ਰਚਨਾ ਅਤੇ
                ਅਨੁਕੂਲਤਾ 'ਤੇ ਜ਼ੋਰ ਦਿੰਦੀ ਹੈ।
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i>
                <span class="fw-semibold">ਹੱਥੀਂ ਸਿੱਖਣ ਦੇ ਤਜ਼ਰਬੇ:</span>ਚੰਗੀ
                ਤਰ੍ਹਾਂ
                ਲੈਸ ਲੈਬਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਦੁਆਰਾ, ਵਿਦਿਆਰਥੀ
                ਨਿਰਮਾਣ, ਥਰਮੋਡਾਇਨਾਮਿਕਸ, ਅਤੇ ਤਰਲ ਮਕੈਨਿਕਸ ਵਿੱਚ ਵਿਹਾਰਕ ਹੁਨਰ ਹਾਸਲ
                ਕਰਦੇ
                ਹਨ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਂਦੇ ਹਨ ਕਿ ਉਹ ਅਸਲ-ਸੰਸਾਰ
                ਇੰਜੀਨੀਅਰਿੰਗ ਚੁਣੌਤੀਆਂ ਲਈ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਲਾਗੂ ਕਰ ਸਕਦੇ ਹਨ।
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i>
                <span class="fw-semibold">ਰਚਨਾਤਮਕ ਸਮੱਸਿਆ-ਹੱਲ ਕਰਨ ਲਈ
                  ਉਤਸ਼ਾਹ:</span>ਸਾਡਾ ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਪ੍ਰੋਗਰਾਮ ਨਵੀਨਤਾ
                ਅਤੇ ਖੋਜ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦਾ ਹੈ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਖੇਤਰ ਵਿੱਚ
                ਅਤਿ-ਆਧੁਨਿਕ
                ਤਕਨਾਲੋਜੀਆਂ, ਸਮੱਗਰੀਆਂ ਅਤੇ ਟਿਕਾਊ ਅਭਿਆਸਾਂ ਦੀ
                ਪੜਚੋਲ ਕਰਨ ਲਈ ਸ਼ਕਤੀ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ।
              </li>
              <li>
                <i class="fa-regular fa-hand-point-right"></i>
                <span class="fw-semibold">ਹੋਰ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਨਾਲ
                  ਏਕੀਕਰਣ:</span>ਵਿਦਿਆਰਥੀ ਗੁੰਝਲਦਾਰ, ਅੰਤਰ-ਅਨੁਸ਼ਾਸਨੀ
                ਸਮੱਸਿਆਵਾਂ ਨੂੰ ਹੱਲ ਕਰਨ ਦੇ ਸਮਰੱਥ ਵਧੀਆ ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰ ਪੈਦਾ ਕਰਨ ਲਈ
                ਇਲੈਕਟ੍ਰੀਕਲ, ਸਿਵਲ, ਅਤੇ ਮਟੀਰੀਅਲ ਇੰਜਨੀਅਰਿੰਗ ਦੇ
                ਪਹਿਲੂਆਂ ਨੂੰ ਏਕੀਕ੍ਰਿਤ ਕਰਦੇ ਹੋਏ, ਸੰਪੂਰਨ ਸਿੱਖਿਆ ਤੋਂ ਲਾਭ ਉਠਾਉਂਦੇ ਹਨ।
              </li>
            </ul>
          </div>
          <div class="fw-semibold red-title fs-2 my-3">
            ਸਾਡੀਆਂ ਲੈਬਾਂ</div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਸਰਵੇਖਣ ਲੈਬ</div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/18.webp"
                    class="img-fluid shadow" alt>
                </div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਇੰਜਨੀਅਰਿੰਗ ਵਿੱਚ ਇੱਕ ਸਰਵੇਖਣ ਲੈਬ ਇੱਕ ਵਿਹਾਰਕ ਸਿਖਲਾਈ ਦੇ ਤੌਰ ਤੇ ਕੰਮ ਕਰਦੀ ਹੈ
                    ਮੈਦਾਨ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਔਜ਼ਾਰਾਂ ਨਾਲ ਹੱਥੀਂ ਅਨੁਭਵ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ
                    ਅਤੇ ਜ਼ਮੀਨੀ ਸਰਵੇਖਣ ਅਤੇ ਡਾਟਾ ਇਕੱਠਾ ਕਰਨ ਵਿੱਚ ਵਰਤੀਆਂ ਜਾਂਦੀਆਂ ਤਕਨੀਕਾਂ।
                    ਬਹੁਤ ਸਾਰੇ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਦਾ ਇਹ ਮਹੱਤਵਪੂਰਣ ਹਿੱਸਾ ਤਿਆਰ ਕਰਦਾ ਹੈ
                    ਸਹੀ ਮਾਪਣ ਦੀ ਯੋਗਤਾ ਵਾਲੇ ਭਵਿੱਖ ਦੇ ਪੇਸ਼ੇਵਰ,
                    ਨਕਸ਼ਾ, ਅਤੇ ਭੌਤਿਕ ਵਾਤਾਵਰਣ ਦਾ ਵਿਸ਼ਲੇਸ਼ਣ ਕਰਦੇ ਹੋਏ, ਬਣਾਉਂਦੇ ਹਨ
                    ਵੱਖ-ਵੱਖ ਪ੍ਰੋਜੈਕਟਾਂ ਲਈ ਜ਼ਰੂਰੀ ਆਧਾਰ|</div>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਪਬਲਿਕ ਹੈਲਥ ਇੰਜੀਨੀਅਰਿੰਗ ਲੈਬ </div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਇੱਕ ਜਨਤਕ ਸਿਹਤ ਇੰਜਨੀਅਰਿੰਗ ਲੈਬ ਇੱਕ ਵਿਹਾਰਕ ਥਾਂ ਵਜੋਂ ਕੰਮ ਕਰਦੀ ਹੈ
                    ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਕਲਾਸਰੂਮ ਦੇ ਗਿਆਨ ਦਾ ਹੈਂਡ-ਆਨ ਵਿੱਚ ਅਨੁਵਾਦ ਕਰਦੇ ਹਨ
                    ਜਨਤਕ ਸਿਹਤ ਵਿੱਚ ਅਸਲ-ਸੰਸਾਰ ਦੀਆਂ ਚੁਣੌਤੀਆਂ ਨਾਲ ਨਜਿੱਠਣ ਦਾ ਅਨੁਭਵ
                    ਸੁਰੱਖਿਆ ਵਿਭਿੰਨ ਪ੍ਰਯੋਗਾਂ ਅਤੇ ਪ੍ਰੋਜੈਕਟਾਂ ਦੁਆਰਾ, ਭਵਿੱਖ
                    ਇੰਜੀਨੀਅਰ ਜਲ ਸਪਲਾਈ ਦੇ ਵੱਖ-ਵੱਖ ਪਹਿਲੂਆਂ ਦੀ ਖੋਜ ਕਰਦੇ ਹਨ,
                    ਸਵੱਛਤਾ, ਵਾਤਾਵਰਣ ਦੀ ਸਿਹਤ, ਅਤੇ ਹੋਰ ਮਹੱਤਵਪੂਰਨ ਖੇਤਰਾਂ ਲਈ
                    ਸਿਹਤਮੰਦ ਭਾਈਚਾਰਿਆਂ ਨੂੰ ਯਕੀਨੀ ਬਣਾਉਣਾ।
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/15.webp"
                    class="img-fluid shadow" alt>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਕੰਕਰੀਟ ਲੈਬ</div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/13.webp"
                    class="img-fluid shadow" alt>
                </div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਸਿਵਲ ਇੰਜਨੀਅਰਿੰਗ ਵਿੱਚ ਇੱਕ ਕੰਕਰੀਟ ਲੈਬ ਹੈਂਡ-ਆਨ ਵਿੱਚ ਖੋਜ ਕਰਦੀ ਹੈ
                    ਕੰਕਰੀਟ ਦੀ ਖੋਜ, ਸਭ ਤੋਂ ਵੱਧ ਵਰਤੀ ਜਾਂਦੀ ਉਸਾਰੀ
                    ਵਿਸ਼ਵ ਪੱਧਰ 'ਤੇ ਸਮੱਗਰੀ. ਵਿਦਿਆਰਥੀ ਇਸ ਦੇ ਨਾਲ ਵਿਹਾਰਕ ਅਨੁਭਵ ਪ੍ਰਾਪਤ ਕਰਦੇ ਹਨ
                    ਵਿਸ਼ੇਸ਼ਤਾਵਾਂ, ਟੈਸਟਿੰਗ ਵਿਧੀਆਂ, ਅਤੇ ਵਿਵਹਾਰ, ਉਹਨਾਂ ਲਈ ਤਿਆਰ ਕਰਨਾ
                    ਡਿਜ਼ਾਈਨਿੰਗ, ਨਿਰਮਾਣ ਅਤੇ ਰੱਖ-ਰਖਾਅ ਵਿੱਚ ਭਵਿੱਖ ਦੀਆਂ ਭੂਮਿਕਾਵਾਂ
                    ਕੰਕਰੀਟ ਬਣਤਰ|
                   </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਇਲੈਕਟ੍ਰੀਕਲ ਲੈਬ</div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਇੱਕ ਬਿਜਲਈ ਪ੍ਰਯੋਗਸ਼ਾਲਾ ਇੱਕ ਹੈਂਡ-ਆਨ ਸਿੱਖਣ ਦੇ ਵਾਤਾਵਰਣ ਵਜੋਂ ਕੰਮ ਕਰਦੀ ਹੈ
                  ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਦੀ ਮਨਮੋਹਕ ਦੁਨੀਆ ਵਿੱਚ ਡੂੰਘਾਈ ਕਰਦੇ ਹਨ
                  ਬਿਜਲੀ ਵੱਖ-ਵੱਖ ਸਰਕਟਾਂ ਦੇ ਨਾਲ ਪ੍ਰਯੋਗਾਂ ਦੁਆਰਾ,
                  ਭਾਗ, ਅਤੇ ਯੰਤਰ, ਭਵਿੱਖ ਦੇ ਇੰਜੀਨੀਅਰ ਅਤੇ ਵਿਗਿਆਨੀ
                  ਅਨਮੋਲ ਵਿਹਾਰਕ ਹੁਨਰ ਪ੍ਰਾਪਤ ਕਰੋ ਅਤੇ ਉਹਨਾਂ ਨੂੰ ਮਜ਼ਬੂਤ ​​ਕਰੋ
                  ਬਿਜਲੀ ਦੇ ਸਿਧਾਂਤਾਂ ਦੀ ਸਮਝ|
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/12.webp"
                    class="img-fluid shadow" alt>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਤਰਲ ਮਕੈਨਿਕਸ ਲੈਬ</div>
                <div class="col-md-5">
                  <img src="../../../../assets/images/used/activites/30.jpg"
                    class="img-fluid shadow" alt>
                </div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਮਕੈਨੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿੱਚ ਤਰਲ ਮਕੈਨਿਕਸ ਲੈਬ ਏ
                    ਤਰਲ ਪਦਾਰਥਾਂ ਦੀ ਮਨਮੋਹਕ ਦੁਨੀਆ ਦਾ ਗੇਟਵੇ, ਆਰਾਮ ਅਤੇ ਦੋਵਾਂ ਵਿੱਚ
                    ਮੋਸ਼ਨ ਵਿੱਚ ਇਹ ਹੈਂਡ-ਆਨ ਹੈਵਨ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਪਾਰ ਕਰਨ ਦੀ ਸ਼ਕਤੀ ਪ੍ਰਦਾਨ ਕਰਦਾ ਹੈ
                    ਸਿਧਾਂਤਕ ਗਿਆਨ ਦੇ ਖੇਤਰ ਅਤੇ ਸਿੱਧੇ ਵਿੱਚ ਡੁਬਕੀ
                    ਤਰਲ ਅਤੇ ਗੈਸਾਂ ਦੀ ਗਤੀਸ਼ੀਲ ਸੰਸਾਰ. ਦੀ ਇੱਕ ਵਿਭਿੰਨ ਐਰੇ ਦੁਆਰਾ
                    ਪ੍ਰਯੋਗ, ਮਾਪ, ਅਤੇ ਦਿਲਚਸਪ ਉਪਕਰਣ, ਪ੍ਰਯੋਗਸ਼ਾਲਾ
                    ਇੱਕ ਜੀਵਤ ਪਾਠ ਪੁਸਤਕ ਬਣ ਜਾਂਦੀ ਹੈ, ਇੱਕ ਡੂੰਘੀ ਸਮਝ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੀ ਹੈ
                    ਅਤੇ ਇਸ ਬੁਨਿਆਦੀ ਇੰਜੀਨੀਅਰਿੰਗ ਲਈ ਇੱਕ ਜਨੂੰਨ ਨੂੰ ਜਗਾਉਣਾ
                    ਵਿਸ਼ਾ|
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਥਰਮੋਡਾਇਨਾਮਿਕਸ ਲੈਬ</div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਇੰਜੀਨੀਅਰਿੰਗ ਵਿੱਚ, ਇੱਕ ਥਰਮੋਡਾਇਨਾਮਿਕਸ ਲੈਬ ਇੱਕ ਪ੍ਰੈਕਟੀਕਲ ਵਜੋਂ ਕੰਮ ਕਰਦੀ ਹੈ
                    ਸਿੱਖਣ ਦੀ ਜਗ੍ਹਾ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਦੇ ਸਿਧਾਂਤਾਂ ਦੀ ਖੋਜ ਕਰਦੇ ਹਨ
                    ਊਰਜਾ ਪਰਿਵਰਤਨ ਅਤੇ ਪਰਿਵਰਤਨ, ਉਹਨਾਂ ਨੂੰ ਮਜ਼ਬੂਤ ​​ਕਰਨਾ
                    ਹੱਥ-ਤੇ ਅਨੁਭਵ ਦੁਆਰਾ ਸਿਧਾਂਤਕ ਸਮਝ. ਇਹ
                    ਇਮਰਸਿਵ ਵਾਤਾਵਰਣ ਭਵਿੱਖ ਦੇ ਇੰਜੀਨੀਅਰਾਂ ਨੂੰ ਮਹੱਤਵਪੂਰਨ ਨਾਲ ਲੈਸ ਕਰਦਾ ਹੈ
                    ਵੱਖ-ਵੱਖ ਊਰਜਾ-ਸਬੰਧਤ ਐਪਲੀਕੇਸ਼ਨਾਂ ਵਿੱਚ ਹੁਨਰ ਅਤੇ ਸੂਝ
                    ਵੱਖ-ਵੱਖ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਸ਼ਿਆਂ ਵਿੱਚ|

                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/12.webp"
                    class="img-fluid shadow" alt>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਫਾਊਂਡਰੀ ਲੈਬ</div>
                <div class="col-md-5">
                  <img src="../../../../assets/images/used/activites/30.jpg"
                    class="img-fluid shadow" alt>
                </div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਇੰਜੀਨੀਅਰਿੰਗ ਦੇ ਖੇਤਰ ਵਿੱਚ, ਇੱਕ ਫਾਊਂਡਰੀ ਲੈਬ ਇੱਕ ਵਿੱਚ ਬਦਲ ਜਾਂਦੀ ਹੈ
                    ਮਨਮੋਹਕ ਸਪੇਸ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਮਨਮੋਹਕ ਵਿੱਚ ਛਾ ਜਾਂਦੇ ਹਨ
                    ਮੈਟਲ ਕਾਸਟਿੰਗ ਦੀ ਦੁਨੀਆ. ਇਹ ਸਿਰਫ ਪਿਘਲੇ ਹੋਏ ਡੋਲ੍ਹਣ ਤੋਂ ਵੱਧ ਹੈ
                    ਧਾਤ; ਇਹ ਪੂਰੀ ਕਾਸਟਿੰਗ ਦੀ ਇੱਕ ਹੱਥ-ਤੇ ਖੋਜ ਹੈ
                    ਪ੍ਰਕਿਰਿਆ, ਪੈਟਰਨ ਬਣਾਉਣ ਤੋਂ ਲੈ ਕੇ ਤਿਆਰ ਉਤਪਾਦ ਤੱਕ, ਲੈਸ ਕਰਨਾ
                    ਕੀਮਤੀ ਵਿਹਾਰਕ ਹੁਨਰ ਅਤੇ ਡੂੰਘੇ ਨਾਲ ਭਵਿੱਖ ਦੇ ਇੰਜੀਨੀਅਰ
                    ਇਸ ਬਹੁਮੁਖੀ ਨਿਰਮਾਣ ਤਕਨੀਕ ਲਈ ਪ੍ਰਸ਼ੰਸਾ|

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card my-3">
            <div class="card-body">
              <div class="row">
                <div class="fw-semibold fs-3">
                  ਰੈਫ੍ਰਿਜਰੇਸ਼ਨ ਅਤੇ ਏਅਰ ਕੰਡੀਸ਼ਨਿੰਗ (ਆਰਏਸੀ) ਲੈਬ</div>
                <div class="col-md-7">
                  <div class="my-3 fs-5">
                    ਮੈਕੇਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਦੇ ਖੇਤਰ ਵਿੱਚ, ਪ੍ਰਸੀਤਨ ਅਤੇ
                    ਏਅਰ ਕੰਡੀਸ਼ਨਿੰਗ (ਆਰਏਸੀ) ਦੀ ਵਰਤੋਂ ਇੱਕ ਅਭਿਆਸ ਸਿਖਲਾਈ ਦੇ ਰੂਪ ਵਿੱਚ ਕਾਰਜਸ਼ਾਲਾ ਕਰਦੀ ਹੈ
                    ਵਿਦਿਆਰਥੀਆਂ ਲਈ ਆਕਰਸ਼ਕ ਵਿਸ਼ਵ ਦਾ ਪਤਾ ਲਗਾਉਣ ਦਾ ਮੈਦਾਨ
                    ਥਰਮਲ ਆਰਾਮ ਅਤੇ ਭੋਜਨ ਸੁਰੱਖਿਆ। ਇਹ ਅਤਿਕ੍ਰਮਣ ਕਰਦਾ ਹੈ
                    ਅਭਿਆਸ ਅਨੁਭਵ ਪ੍ਰਦਾਨ ਕਰਕੇ ਸਿਧਾਂਤਕ ਸਿੱਖਿਆ
                    ਭਵਿੱਖ ਨੂੰ ਤਿਆਰ ਕਰਨ ਵਾਲੇ ਵੱਖ-ਵੱਖ ਤੱਤ, ਪ੍ਰਣਾਲੀਆਂ ਅਤੇ ਬਦਲਾਓ
                    ਮੁੱਲਵਾਨ ਹੁਨਰ ਅਤੇ ਗਹਿਰੀ ਸਮਝਦਾਰ ਇੰਜੀਨੀਅਰ
                    ਇਹ ਮਹੱਤਵਪੂਰਨ ਖੇਤਰ|
                  </div>
                </div>
                <div class="col-md-5">
                  <img
                    src="../../../../assets/images/used/department/cse/lab/12.webp"
                    class="img-fluid shadow" alt>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class>
        <img src="../../../../assets/images/used/department/me/lab/1.webp"
          class="img-fluid" alt>
      </div>
    </div>

    <!----hindi-->

    <div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'"
      [style.font-size.px]="getTextSize()">
      <div class="container">
        <div
          class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
          मैकेनिकल इंजीनियरिंग
        </div>
        <div class="fs-4 lh-lg fw-lighter text-center">
          <div class="py-3">
            <p>
              रोबोट से लेकर रॉकेट तक, नैनोमशीन से लेकर मेगाप्रोजेक्ट तक, भविष्य
              का निर्माण करें
              मैकेनिकल इंजीनियरिंग के साथ: मास्टर
              दुनिया को आकार देने के लिए डिज़ाइन, विश्लेषण और नवाचार, एक गियर पर
              समय|
            </div>
            <div class="mb-5">
              <img
                src="../../../../assets/images/used/department/me/class/me.webp"
                class="img-fluid shadow" alt>
            </div>
            <div class="my-3">
              <div class="border-bottom border-top border-danger py-3">
                <div class="row">
                  <div class="col-md-4">
                    <div class="fw-semibold">2,304
                    </div>
                    <div>
                      <a href class="text-decoration-none text-dark">
                        विश्वविद्यालय
                        के विभाग के सदस्य</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="fw-semibold">2,304
                    </div>
                    <div>
                      <a href class="text-decoration-none text-dark">
                        विश्वविद्यालय
                        के विभाग के सदस्य</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="fw-semibold">2,304
                    </div>
                    <div>
                      <a href class="text-decoration-none text-dark">
                        विश्वविद्यालय
                        के विभाग के सदस्य</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="fw-semibold red-title fs-2">
              संक्षेप में मैकेनिकल इंजीनियरिंग</div>
            <div class="text-start my-3">
              <ul>
                <li>
                  <i class="fa-regular fa-hand-point-right"></i>
                  <span class="fw-semibold">
                    यांत्रिक घटकों और प्रणालियों को डिजाइन करने पर ध्यान
                    दें:</span>हमारे कॉलेज में मैकेनिकल इंजीनियरिंग
                  यांत्रिकी और सामग्रियों की व्यापक समझ के माध्यम से मशीनों,
                  उपकरणों
                  और प्रणालियों के निर्माण और अनुकूलन पर
                  जोर देती है।
                </li>
                <li>
                  <i class="fa-regular fa-hand-point-right"></i>
                  <span class="fw-semibold">व्यावहारिक सीखने के
                    अनुभव:</span>अच्छी
                  तरह से सुसज्जित प्रयोगशालाओं और परियोजनाओं
                  के माध्यम से, छात्र विनिर्माण, थर्मोडायनामिक्स और द्रव
                  यांत्रिकी
                  में व्यावहारिक कौशल हासिल करते हैं, जिससे
                  यह सुनिश्चित होता है कि वे वास्तविक दुनिया की इंजीनियरिंग
                  चुनौतियों पर सैद्धांतिक ज्ञान लागू कर सकते हैं।
                </li>
                <li>
                  <i class="fa-regular fa-hand-point-right"></i>
                  <span class="fw-semibold">रचनात्मक समस्या-समाधान को
                    प्रोत्साहन:</span>हमारा मैकेनिकल इंजीनियरिंग कार्यक्रम
                  नवाचार और अनुसंधान को बढ़ावा देता है, छात्रों को क्षेत्र में
                  अत्याधुनिक प्रौद्योगिकियों, सामग्रियों और टिकाऊ
                  प्रथाओं का पता लगाने के लिए सशक्त बनाता है।
                </li>
                <li>
                  <i class="fa-regular fa-hand-point-right"></i>
                  <span class="fw-semibold">अन्य इंजीनियरिंग विषयों के साथ
                    एकीकरण:</span>छात्रों को एक समग्र शिक्षा से लाभ
                  होता है, जो जटिल, अंतःविषय समस्याओं को संबोधित करने में सक्षम
                  अच्छी तरह से विकसित मैकेनिकल इंजीनियरों को
                  तैयार करने के लिए इलेक्ट्रिकल, सिविल और सामग्री इंजीनियरिंग के
                  पहलुओं को एकीकृत करता है।
                </li>
              </ul>
            </div>
            <div class="fw-semibold red-title fs-2 my-3">
              हमारी लैब्स</div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    सर्वेक्षण प्रयोगशाला</div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/18.webp"
                      class="img-fluid shadow" alt>
                  </div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      इंजीनियरिंग में एक सर्वेक्षण प्रयोगशाला व्यावहारिक प्रशिक्षण के रूप में कार्य करती है
                      वह मैदान जहां छात्र उपकरणों के साथ व्यावहारिक अनुभव प्राप्त करते हैं
                      और भूमि सर्वेक्षण और डेटा संग्रह में उपयोग की जाने वाली तकनीकें।
                      कई इंजीनियरिंग विषयों का यह महत्वपूर्ण घटक सुसज्जित है
                      सटीक माप करने की क्षमता वाले भावी पेशेवर,
                      मानचित्र बनाएं, और भौतिक वातावरण का विश्लेषण करें, जिससे इसका निर्माण हो सके
                      विभिन्न परियोजनाओं के लिए आवश्यक आधारभूत कार्य।</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    सार्वजनिक स्वास्थ्य अभियांत्रिकी प्रयोगशाला </div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      एक सार्वजनिक स्वास्थ्य इंजीनियरिंग प्रयोगशाला एक व्यावहारिक स्थान के रूप में कार्य करती है
                      जहां छात्र कक्षा के ज्ञान को व्यावहारिक रूप में परिवर्तित करते हैं
                      सार्वजनिक स्वास्थ्य में वास्तविक दुनिया की चुनौतियों से निपटने का अनुभव
                      सुरक्षा। विविध प्रयोगों और परियोजनाओं के माध्यम से, भविष्य
                      इंजीनियर जल आपूर्ति के विभिन्न पहलुओं की जांच करते हैं,
                      स्वच्छता, पर्यावरणीय स्वास्थ्य और अन्य महत्वपूर्ण क्षेत्र
                      स्वस्थ समुदायों को सुनिश्चित करें।
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/15.webp"
                      class="img-fluid shadow" alt>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    कंक्रीट प्रयोगशाला</div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/13.webp"
                      class="img-fluid shadow" alt>
                  </div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      सिविल इंजीनियरिंग में एक ठोस प्रयोगशाला व्यवहारिक पहलुओं पर प्रकाश डालती है
                  कंक्रीट की खोज, सबसे व्यापक रूप से उपयोग किया जाने वाला निर्माण
                  विश्व स्तर पर सामग्री। इससे विद्यार्थियों को व्यावहारिक अनुभव प्राप्त होता है
                  गुण, परीक्षण विधियाँ और व्यवहार, उन्हें तैयार करना
                  डिजाइनिंग, निर्माण और रखरखाव में भविष्य की भूमिकाएँ
                  ठोस संरचनाएँ|</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    विद्युत प्रयोगशाला</div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      एक विद्युत प्रयोगशाला व्यावहारिक सीखने के माहौल के रूप में कार्य करती है
                      जहां छात्र आकर्षक दुनिया में उतरते हैं
                      बिजली. विभिन्न सर्किटों के साथ प्रयोग के माध्यम से,
                      घटक, और उपकरण, भविष्य के इंजीनियर और वैज्ञानिक
                      अमूल्य व्यावहारिक कौशल हासिल करें और उन्हें मजबूत करें
                      विद्युत सिद्धांतों की समझ|
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/12.webp"
                      class="img-fluid shadow" alt>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    द्रव यांत्रिकी प्रयोगशाला</div>
                  <div class="col-md-5">
                    <img src="../../../../assets/images/used/activites/30.jpg"
                      class="img-fluid shadow" alt>
                  </div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      मैकेनिकल इंजीनियरिंग में द्रव यांत्रिकी प्रयोगशाला एक के रूप में कार्य करती है
                      तरल पदार्थों की मंत्रमुग्ध कर देने वाली दुनिया का प्रवेश द्वार, आराम और विश्राम दोनों में
                      गति में। यह व्यावहारिक आश्रय छात्रों को आगे बढ़ने का अधिकार देता है
                      सैद्धांतिक ज्ञान के दायरे में और सीधे गोता लगाएँ
                      तरल पदार्थ और गैसों की गतिशील दुनिया। की एक विविध श्रृंखला के माध्यम से
                      प्रयोग, माप और दिलचस्प उपकरण, प्रयोगशाला
                      यह एक जीवंत पाठ्यपुस्तक बन जाती है, जो गहरी समझ को बढ़ावा देती है
                      और इस मौलिक इंजीनियरिंग के प्रति जुनून जगाना
                      विषय।
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    थर्मोडायनामिक्स प्रयोगशाला</div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      इंजीनियरिंग में, थर्मोडायनामिक्स प्रयोगशाला एक व्यावहारिक के रूप में कार्य करती है
                      सीखने का स्थान जहां छात्र सिद्धांतों को गहराई से समझते हैं
                      ऊर्जा रूपांतरण और परिवर्तन, उन्हें ठोस बनाना
                      व्यावहारिक अनुभव के माध्यम से सैद्धांतिक समझ। यह
                      इमर्सिव वातावरण भविष्य के इंजीनियरों को महत्वपूर्ण चीजों से सुसज्जित करता है
                      विभिन्न ऊर्जा-संबंधित अनुप्रयोगों में कौशल और अंतर्दृष्टि
                      विभिन्न इंजीनियरिंग विषयों में।

                    </div>
                  </div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/12.webp"
                      class="img-fluid shadow" alt>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    फाउंड्री लैब</div>
                  <div class="col-md-5">
                    <img src="../../../../assets/images/used/activites/30.jpg"
                      class="img-fluid shadow" alt>
                  </div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      इंजीनियरिंग के क्षेत्र में, एक फाउंड्री प्रयोगशाला एक में बदल जाती है
                      मनोरम स्थान जहाँ छात्र मनोरम में तल्लीन होते हैं
                      धातु ढलाई की दुनिया। यह सिर्फ पिघला हुआ डालने से कहीं अधिक है
                      धातु; यह संपूर्ण कास्टिंग का व्यावहारिक अन्वेषण है
                      प्रक्रिया, पैटर्न बनाने से लेकर तैयार उत्पाद, उपकरण तक
                      अमूल्य व्यावहारिक कौशल और गहराई वाले भावी इंजीनियर
                      इस बहुमुखी विनिर्माण तकनीक की सराहना।

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-3">
              <div class="card-body">
                <div class="row">
                  <div class="fw-semibold fs-3">
                    रेफ्रिजरेशन और एयर कंडीशनिंग (आरएसी) प्रयोगशाला</div>
                  <div class="col-md-7">
                    <div class="my-3 fs-5">
                      मैकेनिकल इंजीनियरिंग के क्षेत्र में, प्रशीतन और
                      एयर कंडीशनिंग (आरएसी) प्रयोगशाला एक व्यावहारिक प्रशिक्षण के रूप में कार्य करती है
                      छात्रों के लिए आकर्षक दुनिया का पता लगाने का मैदान
                      थर्मल आराम और खाद्य संरक्षण। यह अतिक्रमण करता है
                      व्यावहारिक अनुभव प्रदान करके सैद्धांतिक शिक्षा
                      भविष्य को सुसज्जित करने वाले विभिन्न घटक, प्रणालियाँ और अवधारणाएँ
                      मूल्यवान कौशल और गहरी समझ वाले इंजीनियर
                      यह महत्वपूर्ण क्षेत्र|

                    </div>
                  </div>
                  <div class="col-md-5">
                    <img
                      src="../../../../assets/images/used/department/cse/lab/12.webp"
                      class="img-fluid shadow" alt>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class>
          <img src="../../../../assets/images/used/department/me/lab/1.webp"
            class="img-fluid" alt>
        </div>
      </div>
