<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            DEPARTMENT OF MECHANICAL ENGINEERING
        </div>
        <p>
            MISSION
        </p>
        <p>
            The mission of the Mechanical Department is to become a centre of technological excellence.
        </p>
        <p>
            VISION
        </p>
        <p>

            To provide world clean technical education with the objective of molding the youth into enlightened
            citizens,
            who will work for the betterment of society.
        </p>
        <p>
            QUALITY POLICY
        </p>
        <p>
            To impart and ensure value based Quality Education and mould the inherent talent of youth into skills
            required
            in the dynamic and highly competitive world of technology.
        </p>
        <p>
            GOALS
        </p>
        <ul>
            <li> To be a leader in the field of technical education.</li>
            <li> To further strengthen the infrastructure</li>
            <li>To make efficient use of computers and internet in the teaching learning process.</li>
            <li> To strengthen research & development cell.</li>
            <li> To inculcate human values with ultimate objective of moldings the youth to work for the betterment of
                mankind.</li>
        </ul>
    </div><br>
</div>