<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Admission Helpline
        </div>

        <div class="py-3">
            <div>
                <p><span class="fw-semibold"> Admission Coordinator (2022-23):</span>+91-9501107354 or 9501648500</p>
                <p><span class="fw-semibold">E-mail:</span>gpctalwara&#64;gmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="../../../assets/images/used/useful-link/helpline1.webp"
                        class="img-fluid" alt=""></div>
                <div class="col-md-6">
                    <img src="../../../assets/images/used/useful-link/helpline2.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">

            ਦਾਖਲਾ ਹੈਲਪਲਾਈਨ
        </div>

        <div class="py-3">
            <div>
                <p><span class="fw-semibold"> ਦਾਖਲਾ ਕੋਆਰਡੀਨੇਟਰ (2022-23):</span>+91-9501107354 or 9501648500</p>
                <p><span class="fw-semibold">ਈ - ਮੇਲ:</span>gpctalwara&#64;gmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="../../../assets/images/used/useful-link/helpline1.webp"
                        class="img-fluid" alt=""></div>
                <div class="col-md-6">
                    <img src="../../../assets/images/used/useful-link/helpline2.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">

            प्रवेश हेल्पलाइन
        </div>

        <div class="py-3">
            <div>
                <p><span class="fw-semibold"> प्रवेश समन्वयक (2022-23):</span> +91-9501107354 या 9501648500</p>
                <p><span class="fw-semibold">
                        ईमेल:</span>gpctalwara&#64;gmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="../../../assets/images/used/useful-link/helpline1.webp"
                        class="img-fluid" alt=""></div>
                <div class="col-md-6">
                    <img src="../../../assets/images/used/useful-link/helpline2.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
