<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Admission Helpline
        </div>

        <div class="py-3">
            <div>
                <p><span class="fw-semibold"> Admission Coordinator (2022-23):</span>+91-9501107354 or 9501648500</p>
                <p><span class="fw-semibold">E-mail:</span>gpctalwara&#64;gmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="../../../assets/images/used/useful-link/helpline1.jpg" class="img-fluid"
                        alt=""></div>
                <div class="col-md-6">
                    <img src="../../../assets/images/used/useful-link/helpline2.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</div>