<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
       Electrical Engineering
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Rajesh Kumar Jassi</div>
            <p class="card-text">Designation: HOD (Electrical Engineering Department)</p>
            <p class="card-text">Qualification: B.Tech.</p>
            <p class="card-text">Email: gpctalwara.ee&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 8437700626</p> -->
          </div>
          <!-- You can add an image here if you have one for Mr. Rajesh Kumar Jassi -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rajesh Kumar Jassi">
          </div>--->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Sukeeratpal Singh</div>
            <p class="card-text">Designation: Lecturer</p>
            <p class="card-text">Qualification: M.E.(Instrumentation & Control System)</p>
            <p class="card-text">Email: sukeerats&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 9779972700</p> -->
            <p class="card-text">Officiating: Training & Placement Officer and Library Incharge</p>
            <p class="card-text">Courses: 1. Fundamental of Python<br>2. Computer Application in Electrical Engineering
            </p>
          </div>
          <!----<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/sukirath_sir.webp"
              class="img-fluid rounded-circle img " alt="Mr. Sukeeratpal Singh">
            </div>---->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Sharandeep Singh</div>
            <p class="card-text">Designation: Lecturer</p>
            <p class="card-text">Qualification: M.E.(Power System)</p>
            <p class="card-text">Email: deepsharan51&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 8054678211</p> -->
          </div>
          <!-- You can add an image here if you have one for Mr. Sharandeep Singh -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Sharandeep Singh">
          </div>--->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">Mr. Rahul Kumar</div>
            <p class="card-text">Designation: Lecturer</p>
            <p class="card-text">Qualification: B.Tech.(EE)</p>
            <p class="card-text">Email: gpctalwara.ee&#64;gmail.com</p>
            <!-- <p class="card-text">Mobile No.: 9501876331</p> -->
          </div>
          <!-- You can add an image here if you have one for Mr. Rahul Kumar -->
          <!--<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rahul Kumar">
          </div>-->
        </div>
      </div>
    </div><br>
  </div>
</div>




<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">

      ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜਨੀਅਰਿੰਗ
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              ਸ਼੍ਰੀ ਰਾਜੇਸ਼ ਕੁਮਾਰ ਜੱਸੀ</div>
            <p class="card-text">
              ਅਹੁਦਾ: HOD (ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿਭਾਗ)</p>
            <p class="card-text">
              ਯੋਗਤਾ: ਬੀ.ਟੈਕ.</p>
            <p class="card-text">
              ਈਮੇਲ: gpctalwara.ee&#64;gmail.com</p>
            <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 8437700626</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Rajesh Kumar Jassi -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rajesh Kumar Jassi">
          </div>-->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              ਸ੍ਰੀ ਸੁਕੀਰਤਪਾਲ ਸਿੰਘ</div>
            <p class="card-text">
              ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
            <p class="card-text">
              ਯੋਗਤਾ: M.E. (ਇੰਸਟਰੂਮੈਂਟੇਸ਼ਨ ਐਂਡ ਕੰਟਰੋਲ ਸਿਸਟਮ)</p>
            <p class="card-text">ਈਮੇਲ: sukeerats&#64;gmail.com</p>
            <p class="card-text">ਮੋਬਾਈਲ ਨੰ: 9779972700</p>
            <p class="card-text">
              ਕਾਰਜਕਾਰੀ: ਸਿਖਲਾਈ ਅਤੇ ਪਲੇਸਮੈਂਟ ਅਫਸਰ ਅਤੇ ਲਾਇਬ੍ਰੇਰੀ ਇੰਚਾਰਜ</p>
            <p class="card-text">ਕੋਰਸ: 1. ਪਾਈਥਨ ਦੇ ਬੁਨਿਆਦੀ<br>2. ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀਨੀਅਰਿੰਗ ਵਿੱਚ ਕੰਪਿਊਟਰ ਐਪਲੀਕੇਸ਼ਨ
            </p>
          </div>
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/sukirath_sir.webp"
              class="img-fluid rounded-circle img " alt="Mr. Sukeeratpal Singh">
            </div>--->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              ਸ਼ਰਨਦੀਪ ਸਿੰਘ</div>
            <p class="card-text">ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
            <p class="card-text">ਯੋਗਤਾ: ਐਮ.ਈ. (ਪਾਵਰ ਸਿਸਟਮ)</p>
            <p class="card-text">ਈਮੇਲ: deepsharan51&#64;gmail.com</p>
            <p class="card-text">
              ਮੋਬਾਈਲ ਨੰ: 8054678211</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Sharandeep Singh -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Sharandeep Singh">
          </div>--->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              ਸ੍ਰੀ ਰਾਹੁਲ ਕੁਮਾਰ</div>
            <p class="card-text">ਅਹੁਦਾ: ਲੈਕਚਰਾਰ</p>
            <p class="card-text">
              ਯੋਗਤਾ: ਬੀ.ਟੈਕ (ਈ.ਈ.)</p>
            <p class="card-text">ਈਮੇਲ: gpctalwara.ee&#64;gmail.com</p>
            <p class="card-text">
              ਮੋਬਾਈਲ ਨੰ: 9501876331</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Rahul Kumar -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rahul Kumar">
          </div>--->
        </div>
      </div>
    </div><br>
  </div>
</div>


<!---hindi--->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container fs-4 lh-lg fw-lighter">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      इलेक्ट्रिकल इंजीनियरिंग
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              श्री राजेश कुमार जस्सी</div>
            <p class="card-text">
              पदनाम: एचओडी (इलेक्ट्रिकल इंजीनियरिंग विभाग)
            </p>
            <p class="card-text">
              योग्यता: बी.टेक.</p>
            <p class="card-text">
              ईमेल: gpctalwara.ee&#64;gmail.com</p>
            <p class="card-text">मोबाइल नंबर: 8437700626</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Rajesh Kumar Jassi -->
          <!---<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rajesh Kumar Jassi">
          </div>--->
        </div>
      </div>
    </div>

    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              श्री सुकीरतपाल सिंह</div>
            <p class="card-text">
              पदनाम: व्याख्याता</p>
            <p class="card-text">
              योग्यता: M.E. (इंस्ट्रूमेंटेशन एंड कंट्रोल सिस्टम)</p>
            <p class="card-text">ईमेल: sukeerats&#64;gmail.com</p>
            <p class="card-text">
              मोबाइल नंबर: 9779972700</p>
            <p class="card-text">
              कार्यवाहक: प्रशिक्षण एवं प्लेसमेंट अधिकारी और पुस्तकालय प्रभारी</p>
            <p class="card-text">पाठ्यक्रम: 1. पायथन के मौलिक<br>
              2. इलेक्ट्रिकल इंजीनियरिंग में कंप्यूटर अनुप्रयोग
            </p>
          </div>
          <!----<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/sukirath_sir.webp"
              class="img-fluid rounded-circle img " alt="Mr. Sukeeratpal Singh">
            </div>---->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              श्री शरणदीप सिंह</div>
            <p class="card-text">पदनाम: व्याख्याता</p>
            <p class="card-text">योग्यता: एम.ई. (पावर सिस्टम)</p>
            <p class="card-text">ईमेल: deepsharan51&#64;gmail.com</p>
            <p class="card-text">
              मोबाइल नंबर: 8054678211</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Sharandeep Singh -->
          <!----<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Sharandeep Singh">
          </div>---->
        </div>
      </div>
    </div>
    <div class="card  my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="card-title fw-semibold fs-4">
              श्री राहुल कुमार</div>
            <p class="card-text">पदनाम: व्याख्याता</p>
            <p class="card-text">

              योग्यता: बी.टेक.(ईई)</p>
            <p class="card-text">ईमेल: gpctalwara.ee&#64;gmail.com</p>
            <p class="card-text">
              मोबाइल नंबर:  9501876331</p>
          </div>
          <!-- You can add an image here if you have one for Mr. Rahul Kumar -->
          <!----<div class="col-md-5 text-center d-flex align-items-center justify-content-center">
            <img src="../../../../assets/images/faculty/faculty_placeholder.webp" class="img-fluid rounded-circle img" alt="Mr. Rahul Kumar">
          </div>---->
        </div>
      </div>
    </div><br>
  </div>
</div>
