<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">Our Committees</div>
        <div class="fw-bold fs-4 red-title py-3">Grievance Redressal Committee</div>
        <table class="table border-danger border">
            <thead class="text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Rajesh Kumar (Principal)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Dharam Singh (HOD Civil Engineering)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Smt. Tina Kathpal (Lecturer Chemistry)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sh. Rahul Kumar (Lecturer Electrical)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sh. Kabya (Student of Computer Science)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-4 red-title py-3">Internal Complaint Committee</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Chander Shekhar (HOD Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Smt. Tina Kathpal (Lecturer Chemistry)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sh. Harsukhpreet Singh (Lecturer E.C.E.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sh. Rohan Lal (Lab Assistant)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sh. Davinder Kumar (Advocate)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Sh. Pooja Kumari (Student)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Sh. Amandeep Kaur (Student)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Sh. Simarn Sandal (Student)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-4 red-title py-3">SC/ST Committee</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Hitesh Bergal (Sr. Lecturer Mech. Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-4 red-title py-3">Media Cell</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sh. Rajan Sahota (Lecturer Computer Engg.)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>

        <!-- Innovation Cell/Club -->
        <div class="fw-bold fs-4 red-title py-3 mt-5">Innovation Cell/Club</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sh. Manjit Singh (Lecturer Physics)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>

        <!-- Intellectual Property Right Cell -->
        <div class="fw-bold fs-4 red-title py-3 mt-5">Intellectual Property Right Cell</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sh. Sukeeratpal Singh (Lecturer Electrical Engg.)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
        <!-- Internal Quality Assurance Cell -->
        <div class="fw-bold fs-4 red-title py-3">Internal Quality Assurance Cell</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Major Singh (Head Mechanical Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Sh. Harsukhpreet Singh (Lecturer Electronics & Comm. Engg.)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>

        <!-- Anti Ragging Squad -->
        <div class="fw-bold fs-4 red-title py-3 mt-5">Anti Ragging Squad</div>
        <table class="table border-danger border text-center">
            <thead class="text-center">
                <tr>
                    <th scope="col">Serial NO</th>
                    <th scope="col">NAME</th>
                    <th scope="col">DESIGNATION</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>Sh. Hitesh Bergal (Sr. Lecturer Mech. Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Sh. Sukeeratpal Singh (Lecturer Electrical Engg.)</td>
                    <td>Member</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Sh. Ashok Kumar (Workshop Instructor)</td>
                    <td>Member</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    rygggggggggggggggggggdk;
</div>