<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2">
            Our Committees</div>
        <div class="py-3">
            <div class="fw-bold fs-3 red-title py-3">Grievance Redressal Committee</div>
            <table class="table border-danger border table-hover">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Rajesh Kumar (Principal)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Dharam Singh (HOD Civil Engineering)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Smt. Tina Kathpal (Lecturer Chemistry)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Sh. Rahul Kumar (Lecturer Electrical)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sh. Kabya (Student of Computer Science)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
            <div class="fw-bold fs-3 red-title py-3">Internal Complaint Committee</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Chander Shekhar (HOD Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Smt. Tina Kathpal (Lecturer Chemistry)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sh. Harsukhpreet Singh (Lecturer E.C.E.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Sh. Rohan Lal (Lab Assistant)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sh. Davinder Kumar (Advocate)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Sh. Pooja Kumari (Student)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Sh. Amandeep Kaur (Student)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Sh. Simarn Sandal (Student)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
            <div class="fw-bold fs-3 red-title py-3">SC/ST Committee</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Hitesh Bergal (Sr. Lecturer Mech. Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
            <div class="fw-bold fs-3 red-title py-3">Media Cell</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sh. Rajan Sahota (Lecturer Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>

            <!-- Innovation Cell/Club -->
            <div class="fw-bold fs-3 red-title py-3 mt-5">Innovation Cell/Club</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sh. Manjit Singh (Lecturer Physics)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>

            <!-- Intellectual Property Right Cell -->
            <div class="fw-bold fs-3 red-title py-3 mt-5">Intellectual Property Right Cell</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sh. Sukeeratpal Singh (Lecturer Electrical Engg.)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
            <!-- Internal Quality Assurance Cell -->
            <div class="fw-bold fs-3 red-title py-3">Internal Quality Assurance Cell</div>
            <table class="table border-danger border table-hover">
                <thead class=" text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Major Singh (Head Mechanical Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Sh. Sukhwinder Singh (Lecturer English)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sh. Gurjit Kumar (Lecturer Civil Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Sh. Harsukhpreet Singh (Lecturer Electronics & Comm. Engg.)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>

            <!-- Anti Ragging Squad -->
            <div class="fw-bold fs-3 red-title py-3 mt-5">Anti Ragging Squad</div>
            <table class="table border-danger border table-hover text-center">
                <thead class="text-center">
                    <tr>
                        <th scope="col">Serial NO</th>
                        <th scope="col">NAME</th>
                        <th scope="col">DESIGNATION</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr>
                        <th scope="row">1</th>
                        <td>Sh. Hitesh Bergal (Sr. Lecturer Mech. Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Sh. Chander Shekhar (Head Computer Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Smt. Teena Kathpal (Lecturer Chemistry)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Sh. Sukeeratpal Singh (Lecturer Electrical Engg.)</td>
                        <td>Member</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Sh. Ashok Kumar (Workshop Instructor)</td>
                        <td>Member</td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਾਡੀਆਂ ਕਮੇਟੀਆਂ</div>
            <div class="py-3">
        <div class="fw-bold fs-3 red-title py-3">
            ਸ਼ਿਕਾਇਤ ਨਿਵਾਰਣ ਕਮੇਟੀ</div>
        <table class="table border-danger border">
            <thead class="text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>ਸ਼. ਰਾਜੇਸ਼ ਕੁਮਾਰ (ਪ੍ਰਿੰਸੀਪਲ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਧਰਮ ਸਿੰਘ (ਐਚਓਡੀ ਸਿਵਲ ਇੰਜਨੀਅਰਿੰਗ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼੍ਰੀਮਤੀ ਟੀਨਾ ਕਾਠਪਾਲ (ਲੈਕਚਰਾਰ ਕੈਮਿਸਟਰੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>ਸ਼. ਰਾਹੁਲ ਕੁਮਾਰ (ਲੈਕਚਰਾਰ ਇਲੈਕਟ੍ਰੀਕਲ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ਸ਼. ਕਾਬਿਆ (ਕੰਪਿਊਟਰ ਸਾਇੰਸ ਦਾ ਵਿਦਿਆਰਥੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">
            ਅੰਦਰੂਨੀ ਸ਼ਿਕਾਇਤ ਕਮੇਟੀ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਐਚਓਡੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼੍ਰੀਮਤੀ ਟੀਨਾ ਕਾਠਪਾਲ (ਲੈਕਚਰਾਰ ਕੈਮਿਸਟਰੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼. ਹਰਸੁਖਪ੍ਰੀਤ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਈ.ਸੀ.ਈ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>ਸ਼. ਰੋਹਨ ਲਾਲ (ਲੈਬ ਅਸਿਸਟੈਂਟ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ਸ਼. ਦਵਿੰਦਰ ਕੁਮਾਰ (ਐਡਵੋਕੇਟ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>ਸ਼. ਪੂਜਾ ਕੁਮਾਰੀ (ਵਿਦਿਆਰਥੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>ਸ਼. ਅਮਨਦੀਪ ਕੌਰ (ਵਿਦਿਆਰਥੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>ਸ਼. ਸਿਮਰਨ ਸੰਦਲ (ਵਿਦਿਆਰਥੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">ਐਸਸੀ/ਐਸਟੀ ਕਮੇਟੀ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਮੁਖੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਹਿਤੇਸ਼ ਬਰਗਲ (ਸੀਨੀਅਰ ਲੈਕਚਰਾਰ ਮਕ. ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼੍ਰੀਮਤੀ ਟੀਨਾ ਕਾਠਪਾਲ (ਲੈਕਚਰਾਰ ਕੈਮਿਸਟਰੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>ਸ਼. ਗੁਰਜੀਤ ਕੁਮਾਰ (ਲੈਕਚਰਾਰ ਸਿਵਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਅੰਗਰੇਜ਼ੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">ਮੀਡੀਆ ਸੈੱਲ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਮੁਖੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਅੰਗਰੇਜ਼ੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼. ਰਾਜਨ ਸਹੋਤਾ (ਲੈਕਚਰਾਰ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>

        <!-- Innovation Cell/Club -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">ਇਨੋਵੇਸ਼ਨ ਸੈੱਲ/ਕਲੱਬ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        ਸ਼. ਗੁਰਜੀਤ ਕੁਮਾਰ (ਲੈਕਚਰਾਰ ਸਿਵਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਅੰਗਰੇਜ਼ੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼. ਮਨਜੀਤ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਫਿਜ਼ਿਕਸ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>

        <!-- Intellectual Property Right Cell -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">ਬੌਧਿਕ ਸੰਪੱਤੀ ਅਧਿਕਾਰ ਸੈੱਲ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ
                    </th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">
                        ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਮੁਖੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਅੰਗਰੇਜ਼ੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼. ਸੁਕੀਰਤਪਾਲ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>
        <!-- Internal Quality Assurance Cell -->
        <div class="fw-bold fs-3 red-title py-3">ਅੰਦਰੂਨੀ ਕੁਆਲਿਟੀ ਅਸ਼ੋਰੈਂਸ ਸੈੱਲ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">ਨਾਮ</th>
                    <th scope="col">
                        ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਮੁਖੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        ਸ਼. ਮੇਜਰ ਸਿੰਘ (ਹੈੱਡ ਮਕੈਨੀਕਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼. ਸੁਖਵਿੰਦਰ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਅੰਗਰੇਜ਼ੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        ਸ਼੍ਰੀਮਤੀ ਟੀਨਾ ਕਾਠਪਾਲ (ਲੈਕਚਰਾਰ ਕੈਮਿਸਟਰੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ਸ਼. ਗੁਰਜੀਤ ਕੁਮਾਰ (ਲੈਕਚਰਾਰ ਸਿਵਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>ਸ਼. ਹਰਸੁਖਪ੍ਰੀਤ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਐਂਡ ਕਮ. ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>

        <!-- Anti Ragging Squad -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">ਐਂਟੀ ਰੈਗਿੰਗ ਸਕੁਐਡ</div>
        <table class="table border-danger border text-center">
            <thead class="text-center">
                <tr>
                    <th scope="col">ਸੀਰੀਅਲ ਨੰ</th>
                    <th scope="col">
                        ਨਾਮ</th>
                    <th scope="col">
                        ਅਹੁਦਾ</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>ਸ਼. ਹਿਤੇਸ਼ ਬਰਗਲ (ਸੀਨੀਅਰ ਲੈਕਚਰਾਰ ਮਕ. ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>ਸ਼. ਚੰਦਰ ਸ਼ੇਖਰ (ਮੁਖੀ ਕੰਪਿਊਟਰ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ਸ਼੍ਰੀਮਤੀ ਟੀਨਾ ਕਾਠਪਾਲ (ਲੈਕਚਰਾਰ ਕੈਮਿਸਟਰੀ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>ਸ਼. ਸੁਕੀਰਤਪਾਲ ਸਿੰਘ (ਲੈਕਚਰਾਰ ਇਲੈਕਟ੍ਰੀਕਲ ਇੰਜੀ.)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>ਸ਼. ਅਸ਼ੋਕ ਕੁਮਾਰ (ਵਰਕਸ਼ਾਪ ਇੰਸਟ੍ਰਕਟਰ)</td>
                    <td>ਮੈਂਬਰ</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
</div>

<!--hindi-->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container fs-4 lh-lg fw-lighter">
        <div
            class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            हमारी समितियाँ</div>
        <div class="fw-bold fs-3 red-title py-3">

            शिकायत निवारण समिति</div>
        <table class="table border-danger border">
            <thead class="text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>श्री राजेश कुमार (प्रधान)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री.धर्म सिंह (एचओडी सिविल इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्रीमती टीना कठपाल (व्याख्याता रसायन विज्ञान) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>श्री. राहुल कुमार (प्रवक्ता इलेक्ट्रिकल)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>श्री. काब्या (कंप्यूटर साइंस का छात्र)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">
            आंतरिक शिकायत समिति</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>श्री. चन्द्र शेखर (एचओडी कंप्यूटर इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्रीमती टीना कठपाल (व्याख्याता रसायन विज्ञान) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्री. हरसुखप्रीत सिंह (व्याख्याता ई.सी.ई.) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>श्री. रोहन लाल (लैब सहायक)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>श्री. दविंदर कुमार (एडवोकेट)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>श्री.पूजा कुमारी (छात्रा)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>श्री. अमनदीप कौर (छात्र) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>श्री. सिमरन सैंडल (छात्र)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">एससी/एसटी समिति</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>श्री. चन्द्र शेखर (प्रमुख कंप्यूटर इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री. हितेश बर्गल (सीनियर लेक्चरर मेक. इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्रीमती टीना कठपाल (व्याख्याता रसायन विज्ञान) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>श्री. गुरजीत कुमार (व्याख्याता सिविल इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>श्री. सुखविंदर सिंह (व्याख्याता अंग्रेजी)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="fw-bold fs-3 red-title py-3">मीडिया सेल</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        श्री. चन्द्र शेखर (प्रमुख कंप्यूटर इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री. सुखविंदर सिंह (व्याख्याता अंग्रेजी)<</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्री. राजन सहोता (व्याख्याता कंप्यूटर इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Innovation Cell/Club -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">इनोवेशन सेल/क्लब</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        श्री. गुरजीत कुमार (व्याख्याता सिविल इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री. सुखविंदर सिंह (व्याख्याता अंग्रेजी) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्री. मंजीत सिंह (व्याख्याता भौतिकी)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Intellectual Property Right Cell -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">बौद्धिक संपदा अधिकार प्रकोष्ठ</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या
                    </th>
                    <th scope="col">नाम </th>
                    <th scope="col">
                        पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        श्री. चन्द्र शेखर (प्रमुख कंप्यूटर इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री. सुखविंदर सिंह (व्याख्याता अंग्रेजी) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्री. सुकीरतपाल सिंह (व्याख्याता इलेक्ट्रिकल इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Internal Quality Assurance Cell -->
        <div class="fw-bold fs-3 red-title py-3">आंतरिक गुणवत्ता आश्वासन कक्ष</div>
        <table class="table border-danger border">
            <thead class=" text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">नाम </th>
                    <th scope="col">
                        पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>श्री. चन्द्र शेखर (प्रमुख कंप्यूटर इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        श्री. मेजर सिंह (प्रमुख मैकेनिकल इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्री. सुखविंदर सिंह (व्याख्याता अंग्रेजी) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>
                        श्रीमती टीना कठपाल (व्याख्याता रसायन विज्ञान)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>श्री. गुरजीत कुमार (व्याख्याता सिविल इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>श्री. ਹ हरसुखप्रीत सिंह (व्याख्याता इलेक्ट्रॉनिक्स एवं कॉम इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Anti Ragging Squad -->
        <div class="fw-bold fs-3 red-title py-3 mt-5">
एंटी रैगिंग स्क्वाड</div>
        <table class="table border-danger border text-center">
            <thead class="text-center">
                <tr>
                    <th scope="col">
                        क्रम संख्या</th>
                    <th scope="col">
                        नाम </th>
                    <th scope="col">
                        पदनाम</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <th scope="row">1</th>
                    <td>श्री. हितेश बर्गल (सीनियर लेक्चरर मेक. इंजीनियरिंग)</td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>श्री. चन्द्र शेखर (प्रमुख कंप्यूटर इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>श्रीमती टीना कठपाल (व्याख्याता रसायन विज्ञान) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>श्री. सुकीरतपाल सिंह (व्याख्याता इलेक्ट्रिकल इंजीनियरिंग) </td>
                    <td>सदस्य
                    </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>श्री. अशोक कुमार (कार्यशाला प्रशिक्षक)</td>
                    <td>सदस्य
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>
