<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Message from Principal</div>
        <div class="row py-3">
            <div class="col-md-7 fw-semibold" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="500">
                <p class="pb-2"> "The Whole Purpose of the education is to Turn Mirrors Into Window."</p>
                Government Polytechnic College Talwara is not only a temple of learning but a builder of character,
                human
                hearts and mind, moulding and making, shaping and forming thousands of youth who pass through its
                portals,
                fashioning them into worthy happy and patriotic citizens of beloved motherland. The College has enormous
                potential to help the students to meet the challenges of life. The type of education, which Government
                Polytechnic College Talwara strives to Promote, aims to develop in its students ,an awareness of their
                rights and duties as members of the family.
                <p class="text-end pt-3">Sh. Rajesh Kumar</p>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/faculty/principle.png" class="img-fluid img-thumbnail rounded">
            </div>
        </div>
    </div>
</div>