<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2">
            Message from Principal</div>
        <div class="text-center">
            <img src="../../../../assets/images/faculty/principle.webp"
                class="img-fluid img-thumbnail rounded shadow my-3">
            <div class="fs-4 lh-lg fw-lighter py-3">
                <p class="pb-2 fw-semibold"> <q>The Whole Purpose of the education is to Turn Mirrors Into Window.</q></p>
                Government Polytechnic College Talwara is more than an academic institution; it's a crucible for
                character and competence. With a mission to turn mirrors into windows, the college aims to broaden
                perspectives and equip students with the skills and values needed to thrive in life.

                This temple of learning is dedicated to shaping not just minds but also hearts, molding individuals into
                patriotic citizens. By promoting a holistic approach to education, the institution goes beyond imparting
                technical knowledge, emphasizing the development of a strong sense of awareness about rights and duties
                within the societal framework.

                The college's commitment to excellence extends to character development, ensuring that students graduate
                not only as skilled professionals but as responsible and compassionate members of the community. Through
                various initiatives and extracurricular activities, it fosters social consciousness, nurturing
                individuals who understand their role in the larger familial and societal context.

                Government Polytechnic College Talwara envisions its students as contributors to the progress of the
                nation. By instilling values, ethics, and resilience, it prepares them to face the challenges of a
                dynamic world. The college's holistic curriculum and emphasis on community outreach create an
                environment where education transcends theoretical knowledge, becoming a force for positive change in
                the lives of individuals and the society at large.
                <p class="text-end pt-3 fw-semibold">Sh. Rajesh Kumar</p>
            </div>
        </div>
    </div>
</div>
<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2">
        Message from Principal</div>
    <div class="text-center">
        <img src="../../../../assets/images/faculty/principle.webp"
            class="img-fluid img-thumbnail rounded shadow my-3">
        <div class="fs-4 lh-lg fw-lighter py-3">
            <p class="pb-2 fw-semibold"> <q>The Whole Purpose of the education is to Turn Mirrors Into Window.</q></p>
            Government Polytechnic College Talwara is more than an academic institution; it's a crucible for
            character and competence. With a mission to turn mirrors into windows, the college aims to broaden
            perspectives and equip students with the skills and values needed to thrive in life.

            This temple of learning is dedicated to shaping not just minds but also hearts, molding individuals into
            patriotic citizens. By promoting a holistic approach to education, the institution goes beyond imparting
            technical knowledge, emphasizing the development of a strong sense of awareness about rights and duties
            within the societal framework.

            The college's commitment to excellence extends to character development, ensuring that students graduate
            not only as skilled professionals but as responsible and compassionate members of the community. Through
            various initiatives and extracurricular activities, it fosters social consciousness, nurturing
            individuals who understand their role in the larger familial and societal context.

            Government Polytechnic College Talwara envisions its students as contributors to the progress of the
            nation. By instilling values, ethics, and resilience, it prepares them to face the challenges of a
            dynamic world. The college's holistic curriculum and emphasis on community outreach create an
            environment where education transcends theoretical knowledge, becoming a force for positive change in
            the lives of individuals and the society at large.
            <p class="text-end pt-3 fw-semibold">Sh. Rajesh Kumar</p>
        </div>
    </div>
</div>
</div>


<!-- hindi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2">
        Message from Principal</div>
    <div class="text-center">
        <img src="../../../../assets/images/faculty/principle.webp"
            class="img-fluid img-thumbnail rounded shadow my-3">
        <div class="fs-4 lh-lg fw-lighter py-3">
            <p class="pb-2 fw-semibold"> <q>The Whole Purpose of the education is to Turn Mirrors Into Window.</q></p>
            Government Polytechnic College Talwara is more than an academic institution; it's a crucible for
            character and competence. With a mission to turn mirrors into windows, the college aims to broaden
            perspectives and equip students with the skills and values needed to thrive in life.

            This temple of learning is dedicated to shaping not just minds but also hearts, molding individuals into
            patriotic citizens. By promoting a holistic approach to education, the institution goes beyond imparting
            technical knowledge, emphasizing the development of a strong sense of awareness about rights and duties
            within the societal framework.

            The college's commitment to excellence extends to character development, ensuring that students graduate
            not only as skilled professionals but as responsible and compassionate members of the community. Through
            various initiatives and extracurricular activities, it fosters social consciousness, nurturing
            individuals who understand their role in the larger familial and societal context.

            Government Polytechnic College Talwara envisions its students as contributors to the progress of the
            nation. By instilling values, ethics, and resilience, it prepares them to face the challenges of a
            dynamic world. The college's holistic curriculum and emphasis on community outreach create an
            environment where education transcends theoretical knowledge, becoming a force for positive change in
            the lives of individuals and the society at large.
            <p class="text-end pt-3 fw-semibold">Sh. Rajesh Kumar</p>
        </div>
    </div>
</div>
</div>
