<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2">
            Message from Principal</div>
        <div class="row py-3">
            <div class="col-md-7 fw-semibold" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="500">
                <p class="pb-2"> "The Whole Purpose of the education is to Turn Mirrors Into Window."</p>
                Government Polytechnic College Talwara is not only a temple of learning but a builder of character,
                human
                hearts and mind, moulding and making, shaping and forming thousands of youth who pass through its
                portals,
                fashioning them into worthy happy and patriotic citizens of beloved motherland. The College has enormous
                potential to help the students to meet the challenges of life. The type of education, which Government
                Polytechnic College Talwara strives to Promote, aims to develop in its students ,an awareness of their
                rights and duties as members of the family.
                <p class="text-end pt-3">Sh. Rajesh Kumar</p>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/faculty/principle.png" class="img-fluid img-thumbnail rounded">
            </div>
        </div>
    </div>
</div>


<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">

            ਪ੍ਰਿੰਸੀਪਲ ਦਾ ਸੁਨੇਹਾ</div>
        <div class="row py-3">
            <div class="col-md-7 fw-semibold" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="500">
                <p class="pb-2"> "
                    ਸਿੱਖਿਆ ਦਾ ਪੂਰਾ ਉਦੇਸ਼ ਸ਼ੀਸ਼ੇ ਨੂੰ ਵਿੰਡੋ ਵਿੱਚ ਬਦਲਣਾ ਹੈ।"</p>
                ਸਰਕਾਰੀ ਪੋਲੀਟੈਕਨਿਕ ਕਾਲਜ ਤਲਵਾੜਾ ਕੇਵਲ ਵਿੱਦਿਆ ਦਾ ਮੰਦਰ ਹੀ ਨਹੀਂ ਸਗੋਂ ਚਰਿੱਤਰ ਦਾ ਨਿਰਮਾਤਾ ਹੈ।
                ਮਨੁੱਖ
                ਦਿਲ ਅਤੇ ਦਿਮਾਗ, ਢਾਲਣਾ ਅਤੇ ਬਣਾਉਣਾ, ਆਕਾਰ ਦੇਣਾ ਅਤੇ ਹਜ਼ਾਰਾਂ ਨੌਜਵਾਨਾਂ ਨੂੰ ਬਣਾਉਣਾ ਜੋ ਇਸ ਵਿੱਚੋਂ ਲੰਘਦੇ ਹਨ
                ਪੋਰਟਲ,
                ਉਨ੍ਹਾਂ ਨੂੰ ਪਿਆਰੀ ਮਾਤ ਭੂਮੀ ਦੇ ਯੋਗ ਖੁਸ਼ਹਾਲ ਅਤੇ ਦੇਸ਼ਭਗਤ ਨਾਗਰਿਕ ਬਣਾਉਣਾ। ਕਾਲਜ ਦੀ ਬਹੁਤਾਤ ਹੈ
                ਜੀਵਨ ਦੀਆਂ ਚੁਣੌਤੀਆਂ ਦਾ ਸਾਹਮਣਾ ਕਰਨ ਵਿੱਚ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਮਦਦ ਕਰਨ ਦੀ ਸਮਰੱਥਾ। ਸਿੱਖਿਆ ਦੀ ਕਿਸਮ, ਜੋ ਕਿ ਸਰਕਾਰ
                ਪੌਲੀਟੈਕਨਿਕ ਕਾਲਜ ਤਲਵਾੜਾ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਨ ਦੀ ਕੋਸ਼ਿਸ਼, ਆਪਣੇ ਵਿਦਿਆਰਥੀਆਂ ਵਿੱਚ ਜਾਗਰੂਕਤਾ ਪੈਦਾ ਕਰਨ ਦਾ ਉਦੇਸ਼
                ਪਰਿਵਾਰ ਦੇ ਮੈਂਬਰਾਂ ਵਜੋਂ ਅਧਿਕਾਰ ਅਤੇ ਫਰਜ਼।
                <p class="text-end pt-3">
                    ਸ਼. ਰਾਜੇਸ਼ ਕੁਮਾਰ</p>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/faculty/principle.png" class="img-fluid img-thumbnail rounded">
            </div>
        </div>
    </div>
</div>


<!-- hindi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">

            ਪ੍ਰप्राचार्य का संदेश</div>
        <div class="row py-3">
            <div class="col-md-7 fw-semibold" data-aos="fade-right" data-aos-easing="ease-out" data-aos-delay="500">
                <p class="pb-2">
                    "शिक्षा का पूरा उद्देश्य दर्पणों को खिड़की में बदलना है।"</p>
                गवर्नमेंट पॉलिटेक्निक कॉलेज तलवाड़ा न केवल शिक्षा का मंदिर है बल्कि चरित्र का निर्माता भी है।
                इंसान
                दिल और दिमाग, हजारों युवाओं को ढालना और बनाना, आकार देना और आकार देना, जो इससे गुजरते हैं
                पोर्टल,
                उन्हें अपनी प्यारी मातृभूमि के योग्य खुशहाल और देशभक्त नागरिकों के रूप में तैयार करना। कॉलेज में बहुत
                कुछ है
                छात्रों को जीवन की चुनौतियों का सामना करने में मदद करने की क्षमता। कैसी शिक्षा, कौन सी सरकार
                पॉलिटेक्निक कॉलेज तलवाड़ा को बढ़ावा देने का प्रयास करता है, इसका उद्देश्य अपने छात्रों में जागरूकता
                विकसित करना है
                परिवार के सदस्यों के रूप में अधिकार और कर्तव्य।
                <p class="text-end pt-3">
                    श्री राजेश कुमार</p>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/faculty/principle.png" class="img-fluid img-thumbnail rounded">
            </div>
        </div>
    </div>
</div>