<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
  [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      Workshop</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        Workshops teach a student to apply the theoretical knowledge attained in the classrooms into
        practical
        units.
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/department/ws/class/ws.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> Faculty members</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        Workshop in a Nutshell</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">Diverse workshops for practical
              education:</span>Our college workshops offer hands-on experiences across disciplines like welding,
            machining, and electronics, providing students with a comprehensive and practical understanding of
            engineering
            concepts.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Application-focused skill
              development:</span> Workshops equip students with industry-specific skills, ensuring they are
            well-prepared
            for the demands of the professional landscape, fostering a seamless transition from academia to industry.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">Spaces for creative
              problem-solving:</span> Workshops serve as innovation hubs, encouraging students to apply theoretical
            knowledge to real-world scenarios, fostering a culture of creativity and adaptive thinking.
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> Spaces for teamwork and
              collaboration:</span> Workshops facilitate collaborative projects, enabling students to work together,
            share
            ideas, and apply collective expertise to solve complex engineering challenges.
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        Our Labs</div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Machine Shop</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/18.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                In the machine shop, individuals engage in precision machining, prototyping, and material processing.
                They learn to operate machinery, fabricate components, and join metals through welding. Safety training
                ensures a secure environment, while collaborative projects foster teamwork and creativity. Community
                engagement events promote interest in engineering and manufacturing. Overall, the shop provides a
                dynamic space for hands-on learning and technical exploration. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Welding Shop</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                In the Welding Shop, students learn to fuse metal using advanced welding techniques like MIG, TIG, and
                arc welding. With state-of-the-art equipment and expert guidance, they gain hands-on experience in safe
                and precise metal fabrication, preparing them for careers in various industries.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/15.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Smithy Shop</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/13.webp" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                In the Smithy Shop lab, students learn metalworking and machining skills using lathes, milling machines,
                and welding tools. Through hands-on projects and collaboration, they develop precision and
                craftsmanship, transforming metal into intricate components and prototypes in a safe and innovative
                environment. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Turning Shop</div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                In the Turning Shop, students learn precision machining using lathes to shape metal components with
                accuracy. Through hands-on projects and expert guidance, they develop essential skills for careers in
                manufacturing and engineering.
              </div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/department/cse/lab/12.webp" class="img-fluid shadow" alt>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Fitting Shop</div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/activites/30.jpg" class="img-fluid shadow" alt>
            </div>
            <div class="col-md-7">
              <div class="my-3 fs-5">
                In the Fitting Shop, students learn metalworking and assembly skills using a variety of tools. Through
                hands-on projects, they gain experience in fabricating and assembling mechanical components, preparing
                them for careers in manufacturing and engineering.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="fw-semibold fs-3">
              Foundry Shop</div>
            <div class="col-md-12">
              <div class="my-3 fs-5">
                In the Foundry Shop, students engage in the art and science of metal casting. Equipped with furnaces,
                molds, and casting materials, they learn to melt, pour, and shape molten metal to create intricate
                components and sculptures. Through hands-on experience and expert guidance, students explore various
                casting techniques such as sand casting, investment casting, and die casting. From crafting prototypes
                for engineering projects to creating artistic pieces, the Foundry Shop provides a dynamic environment
                for students to unleash their creativity and develop practical skills in metal casting. </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <img src="../../../../assets/images/used/department/ws/lab/logo_make_11_06_2023_54.jpg" class="img-fluid" alt="">
  </div>
</div>



<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      ਵਰਕਸ਼ਾਪ</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        ਵਰਕਸ਼ਾਪਾਂ ਇੱਕ ਵਿਦਿਆਰਥੀ ਨੂੰ ਕਲਾਸਰੂਮਾਂ ਵਿੱਚ ਪ੍ਰਾਪਤ ਕੀਤੇ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਲਾਗੂ ਕਰਨ ਲਈ ਸਿਖਾਉਂਦੀਆਂ ਹਨ
        ਵਿਹਾਰਕ
        ਯੂਨਿਟਾਂ|
      </div>
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      ਯੋਗਤਾ ਪ੍ਰੋਫ਼ਾਈਲ
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <ul>
          <li> <i class="fa-regular fa-hand-point-right"></i>
            ਵਿਹਾਰਕ ਗਿਆਨ ਸਿੱਖਿਆ ਦੀ ਗੁਣਵੱਤਾ ਦੇ ਨਾਲ-ਨਾਲ ਵਿਦਿਆਰਥੀਆਂ ਦੀ ਸ਼ਖਸੀਅਤ ਨੂੰ ਵੀ ਸੁਧਾਰਦਾ ਹੈ।
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਉਦਯੋਗ ਵਿੱਚ ਰੁਜ਼ਗਾਰ ਯੋਗਤਾ ਨੂੰ ਵਧਾਉਣ ਲਈ|
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i>
            ਵਿਚ ਸਰੀਰਕ ਕੰਮ ਦੀ ਆਦਤ ਦਾ ਹਿਸਾਬ ਲਗਾਉਂਦਾ ਹੈ
            ਵਿਦਿਆਰਥੀ।
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਵੱਖ-ਵੱਖ ਮਸ਼ੀਨਾਂ ਬਾਰੇ ਜਾਣਕਾਰੀ।</li>
          <li> <i class="fa-regular fa-hand-point-right"></i> ਸਵੈ-ਰੁਜ਼ਗਾਰ ਅਤੇ ਸੇਵਾ ਵਿੱਚ ਨੌਕਰੀਆਂ ਵਿੱਚ ਮਦਦਗਾਰ
            ਸੈਕਟਰ।
          </li>
        </ul>
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> ਫੈਕਲਟੀ ਮੈਂਬਰ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        ਇੱਕ ਸੰਖੇਪ ਵਿੱਚ ਵਰਕਸ਼ਾਪ</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">ਵਿਹਾਰਕ ਸਿੱਖਿਆ ਲਈ ਵੱਖ-ਵੱਖ
              ਵਰਕਸ਼ਾਪਾਂ:</span>ਸਾਡੀਆਂ ਕਾਲਜ ਵਰਕਸ਼ਾਪਾਂ ਵੈਲਡਿੰਗ, ਮਸ਼ੀਨਿੰਗ, ਅਤੇ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਵਰਗੇ ਵਿਸ਼ਿਆਂ ਵਿੱਚ ਹੱਥੀਂ ਅਨੁਭਵ
            ਪੇਸ਼ ਕਰਦੀਆਂ ਹਨ, ਜੋ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇੰਜੀਨੀਅਰਿੰਗ ਸੰਕਲਪਾਂ ਦੀ ਵਿਆਪਕ ਅਤੇ ਵਿਹਾਰਕ ਸਮਝ ਪ੍ਰਦਾਨ ਕਰਦੀਆਂ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">ਐਪਲੀਕੇਸ਼ਨ-ਕੇਂਦ੍ਰਿਤ ਹੁਨਰ
              ਵਿਕਾਸ:</span>ਵਰਕਸ਼ਾਪਾਂ ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਉਦਯੋਗ-ਵਿਸ਼ੇਸ਼ ਹੁਨਰਾਂ ਨਾਲ ਲੈਸ ਕਰਦੀਆਂ ਹਨ, ਇਹ ਯਕੀਨੀ ਬਣਾਉਂਦੀਆਂ ਹਨ ਕਿ
            ਉਹ
            ਪੇਸ਼ੇਵਰ ਲੈਂਡਸਕੇਪ ਦੀਆਂ ਮੰਗਾਂ ਲਈ ਚੰਗੀ ਤਰ੍ਹਾਂ ਤਿਆਰ ਹਨ, ਅਕਾਦਮਿਕ ਤੋਂ ਉਦਯੋਗ ਤੱਕ ਇੱਕ ਸਹਿਜ ਤਬਦੀਲੀ ਨੂੰ ਉਤਸ਼ਾਹਿਤ
            ਕਰਦੇ
            ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">ਰਚਨਾਤਮਕ ਸਮੱਸਿਆ-ਹੱਲ ਕਰਨ ਲਈ
              ਥਾਂਵਾਂ:</span>ਵਰਕਸ਼ਾਪਾਂ ਨਵੀਨਤਾ ਕੇਂਦਰਾਂ ਵਜੋਂ ਕੰਮ ਕਰਦੀਆਂ ਹਨ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਸਿਧਾਂਤਕ ਗਿਆਨ ਨੂੰ ਅਸਲ-ਸੰਸਾਰ ਦੇ
            ਦ੍ਰਿਸ਼ਾਂ ਵਿੱਚ ਲਾਗੂ ਕਰਨ ਲਈ ਉਤਸ਼ਾਹਿਤ ਕਰਦੀਆਂ ਹਨ, ਰਚਨਾਤਮਕਤਾ ਅਤੇ ਅਨੁਕੂਲ ਸੋਚ ਦੇ ਸੱਭਿਆਚਾਰ ਨੂੰ ਉਤਸ਼ਾਹਿਤ ਕਰਦੀਆਂ ਹਨ।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">ਟੀਮ ਵਰਕ ਅਤੇ ਸਹਿਯੋਗ ਲਈ
              ਥਾਂਵਾਂ:</span>ਵਰਕਸ਼ਾਪਾਂ ਸਹਿਯੋਗੀ ਪ੍ਰੋਜੈਕਟਾਂ ਦੀ ਸਹੂਲਤ ਦਿੰਦੀਆਂ ਹਨ, ਵਿਦਿਆਰਥੀਆਂ ਨੂੰ ਇਕੱਠੇ ਕੰਮ ਕਰਨ, ਵਿਚਾਰ
            ਸਾਂਝੇ
            ਕਰਨ, ਅਤੇ ਗੁੰਝਲਦਾਰ ਇੰਜੀਨੀਅਰਿੰਗ ਚੁਣੌਤੀਆਂ ਨੂੰ ਹੱਲ ਕਰਨ ਲਈ ਸਮੂਹਿਕ ਮੁਹਾਰਤ ਨੂੰ ਲਾਗੂ ਕਰਨ ਦੇ ਯੋਗ ਬਣਾਉਂਦੀਆਂ ਹਨ।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        ਸਾਡੀਆਂ ਲੈਬਾਂ
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                ਤਰਖਾਣ ਅਤੇ ਫਿਟਿੰਗ ਲੈਬ</div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਤਰਖਾਣ ਅਤੇ ਫਿਟਿੰਗ ਲੈਬ ਇੱਕ ਵਿਹਾਰਕ ਵਰਕਸ਼ਾਪ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਲੱਕੜ ਦੇ ਕੰਮ
                ਅਤੇ
                ਧਾਤੂ ਫਿਟਿੰਗ ਵਿੱਚ ਆਪਣੇ ਹੁਨਰਾਂ ਨੂੰ ਨਿਖਾਰਦੇ ਹਨ, ਸਟੀਕ ਅਤੇ ਕਾਰਜਸ਼ੀਲ ਢਾਂਚੇ ਨੂੰ ਬਣਾਉਣ ਦੀ ਕਲਾ ਸਿੱਖਦੇ ਹਨ।

                ਇਸ ਹੈਂਡ-ਆਨ ਲੈਬ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਵੱਖ-ਵੱਖ ਤਰ੍ਹਾਂ ਦੇ ਔਜ਼ਾਰਾਂ ਅਤੇ ਸਮੱਗਰੀਆਂ, ਤਰਖਾਣ ਅਤੇ ਫਿਟਿੰਗ ਵਿੱਚ ਮੁਹਾਰਤ
                ਹਾਸਲ
                ਕਰਨ ਵਾਲੀਆਂ ਤਕਨੀਕਾਂ ਨਾਲ ਜੁੜਦੇ ਹਨ ਜੋ ਕਿ ਵਿਭਿੰਨ ਇੰਜੀਨੀਅਰਿੰਗ ਐਪਲੀਕੇਸ਼ਨਾਂ ਵਿੱਚ ਮਕੈਨੀਕਲ ਕੰਪੋਨੈਂਟ ਬਣਾਉਣ ਅਤੇ
                ਇਕੱਠੇ ਕਰਨ ਲਈ ਜ਼ਰੂਰੀ ਹਨ।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                ਸ਼ੀਟ ਮੈਟਲ ਦੀ ਦੁਕਾਨ
              </div>
              <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਸ਼ੀਟ ਮੈਟਲ ਦੀ ਦੁਕਾਨ ਇੱਕ ਵਿਸ਼ੇਸ਼ ਵਰਕਸਪੇਸ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਸ਼ੀਟ ਮੈਟਲ ਵਿੱਚ
                ਹੇਰਾਫੇਰੀ ਅਤੇ ਆਕਾਰ ਦੇਣ ਦੀ ਕਲਾ ਸਿੱਖਦੇ ਹਨ, ਇੰਜਨੀਅਰਿੰਗ ਵਿੱਚ ਗੁੰਝਲਦਾਰ ਢਾਂਚੇ ਦੇ ਨਿਰਮਾਣ ਲਈ ਮਹੱਤਵਪੂਰਨ ਹੁਨਰ
                ਹਾਸਲ
                ਕਰਦੇ ਹਨ।

                ਇਸ ਹੈਂਡ-ਆਨ ਸਹੂਲਤ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਸ਼ੀਟ ਮੈਟਲ ਨੂੰ ਕੱਟਣ, ਮੋੜਨ ਅਤੇ ਬਣਾਉਣ ਦਾ ਅਭਿਆਸ ਕਰਦੇ ਹਨ, ਟਿਕਾਊ ਅਤੇ ਸਟੀਕ
                ਤੌਰ
                'ਤੇ ਇੰਜੀਨੀਅਰਿੰਗ ਕੰਪੋਨੈਂਟਸ ਬਣਾਉਣ ਲਈ ਜ਼ਰੂਰੀ ਫੈਬਰੀਕੇਸ਼ਨ ਤਕਨੀਕਾਂ ਵਿੱਚ ਵਿਹਾਰਕ ਮੁਹਾਰਤ ਹਾਸਲ ਕਰਦੇ ਹਨ।</div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
          </div>
          <div class="col-md-7">
            <div class="fw-semibold fs-3">
              ਇਲੈਕਟ੍ਰੀਕਲ ਅਤੇ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਦੀ ਦੁਕਾਨ</div>
            <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਇਲੈਕਟ੍ਰੀਕਲ ਅਤੇ ਇਲੈਕਟ੍ਰੋਨਿਕਸ ਦੀ ਦੁਕਾਨ ਇੱਕ ਗਤੀਸ਼ੀਲ ਜਗ੍ਹਾ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ
              ਇਲੈਕਟ੍ਰੀਕਲ ਅਤੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਸਰਕਟਾਂ ਨੂੰ ਅਸੈਂਬਲ ਕਰਨ, ਟੈਸਟ ਕਰਨ ਅਤੇ ਸਮੱਸਿਆ ਦਾ ਨਿਪਟਾਰਾ ਕਰਨ ਵਿੱਚ ਵਿਹਾਰਕ ਹੁਨਰ
              ਪ੍ਰਾਪਤ ਕਰਦੇ ਹੋਏ, ਭਾਗਾਂ ਅਤੇ ਸਾਧਨਾਂ ਦੀ ਇੱਕ ਵਿਸ਼ਾਲ ਸ਼੍ਰੇਣੀ ਨਾਲ ਜੁੜਦੇ ਹਨ।

              ਇਸ ਹੈਂਡ-ਆਨ ਵਰਕਸ਼ਾਪ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਸੋਲਡਰਿੰਗ, ਸਰਕਟ ਬੋਰਡ ਅਸੈਂਬਲੀ ਅਤੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਟੈਸਟਿੰਗ ਦੀਆਂ ਪੇਚੀਦਗੀਆਂ ਦੀ
              ਪੜਚੋਲ ਕਰਦੇ ਹਨ, ਇਹ ਸੁਨਿਸ਼ਚਿਤ ਕਰਦੇ ਹਨ ਕਿ ਉਹ ਵੱਖ-ਵੱਖ ਇਲੈਕਟ੍ਰੀਕਲ ਅਤੇ ਇਲੈਕਟ੍ਰਾਨਿਕ ਉਪਕਰਣਾਂ ਨਾਲ ਕੰਮ ਕਰਨ ਵਿੱਚ
              ਮੁਹਾਰਤ ਵਿਕਸਿਤ ਕਰਦੇ ਹਨ, ਖੇਤਰ ਵਿੱਚ ਭਵਿੱਖ ਦੇ ਯਤਨਾਂ ਲਈ ਇੱਕ ਮਜ਼ਬੂਤ ​​ਨੀਂਹ ਰੱਖਦੇ ਹਨ।</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="fw-semibold fs-3">
              ਵੈਲਡਿੰਗ ਅਤੇ ਪੈਟਰਨ ਦੀ ਦੁਕਾਨ
            </div>
            <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਵੈਲਡਿੰਗ ਅਤੇ ਪੈਟਰਨ ਦੀ ਦੁਕਾਨ ਇੱਕ ਮਹੱਤਵਪੂਰਨ ਸਿਖਲਾਈ ਮੈਦਾਨ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ
              ਵੈਲਡਿੰਗ ਤਕਨੀਕਾਂ ਅਤੇ ਪੈਟਰਨ ਬਣਾਉਣ ਦੀ ਕਲਾ ਵਿੱਚ ਮੁਹਾਰਤ ਹਾਸਲ ਕਰਦੇ ਹਨ, ਵਿਭਿੰਨ ਇੰਜੀਨੀਅਰਿੰਗ ਐਪਲੀਕੇਸ਼ਨਾਂ ਵਿੱਚ
              ਢਾਂਚਿਆਂ ਅਤੇ ਮੋਲਡਾਂ ਨੂੰ ਬਣਾਉਣ ਲਈ ਮਹੱਤਵਪੂਰਨ ਹੁਨਰ।

              ਇਸ ਹੈਂਡ-ਆਨ ਸਹੂਲਤ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਵੈਲਡਿੰਗ ਪ੍ਰਕਿਰਿਆਵਾਂ ਅਤੇ ਪੈਟਰਨ ਬਣਾਉਣ ਦਾ ਅਭਿਆਸ ਕਰਦੇ ਹਨ, ਸਮੱਗਰੀ ਨੂੰ ਆਕਾਰ
              ਦੇਣ
              ਅਤੇ ਜੋੜਨ ਵਿੱਚ ਮੁਹਾਰਤ ਹਾਸਲ ਕਰਦੇ ਹਨ, ਉਹਨਾਂ ਨੂੰ ਨਿਰਮਾਣ, ਨਿਰਮਾਣ ਅਤੇ ਹੋਰ ਖੇਤਰਾਂ ਵਿੱਚ ਭੂਮਿਕਾਵਾਂ ਲਈ ਤਿਆਰ ਕਰਦੇ
              ਹਨ
              ਜਿਨ੍ਹਾਂ ਨੂੰ ਵੈਲਡਿੰਗ ਅਤੇ ਪੈਟਰਨ ਵਿਕਾਸ ਵਿੱਚ ਮੁਹਾਰਤ ਦੀ ਲੋੜ ਹੁੰਦੀ ਹੈ।</div>
          </div>
          <div class="col-md-5">
            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              ਦੁਕਾਨ ਨੂੰ ਮੋੜਨਾ</div>
            <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਟਰਨਿੰਗ ਸ਼ਾਪ ਇੱਕ ਸ਼ੁੱਧਤਾ-ਕੇਂਦ੍ਰਿਤ ਵਰਕਸਪੇਸ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਲੇਥਾਂ ਅਤੇ
              ਟਰਨਿੰਗ
              ਮਸ਼ੀਨਾਂ ਨੂੰ ਚਲਾਉਣ ਵਿੱਚ ਹੁਨਰ ਹਾਸਲ ਕਰਦੇ ਹਨ, ਉਹਨਾਂ ਨੂੰ ਮਕੈਨੀਕਲ ਇੰਜਨੀਅਰਿੰਗ ਵਿੱਚ ਗੁੰਝਲਦਾਰ ਅਤੇ ਸਹੀ ਹਿੱਸੇ ਬਣਾਉਣ
              ਦੇ ਯੋਗ ਬਣਾਉਂਦੇ ਹਨ।</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              ਮਸ਼ੀਨ ਦੀ ਦੁਕਾਨ</div>
            <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਵਿੱਚ ਮਸ਼ੀਨ ਦੀ ਦੁਕਾਨ ਇੱਕ ਅਤਿ-ਆਧੁਨਿਕ ਸੁਵਿਧਾ ਹੈ ਜਿੱਥੇ ਵਿਦਿਆਰਥੀ ਵੱਖ-ਵੱਖ ਇੰਜਨੀਅਰਿੰਗ
              ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਜ਼ਰੂਰੀ ਸਟੀਕਸ਼ਨ ਕੰਪੋਨੈਂਟ ਬਣਾਉਣ ਲਈ ਉੱਨਤ ਮਸ਼ੀਨਰੀ ਦੀ ਵਰਤੋਂ ਕਰਦੇ ਹੋਏ ਆਪਣੇ ਮਸ਼ੀਨਿੰਗ ਹੁਨਰ ਨੂੰ
              ਨਿਖਾਰਦੇ ਹਨ।</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              ਫਾਊਂਡਰੀ ਦੀ ਦੁਕਾਨ</div>
            <div class="my-3">ਸਾਡੇ ਕਾਲਜ ਦੀ ਫਾਊਂਡਰੀ ਸ਼ਾਪ ਵਿੱਚ, ਵਿਦਿਆਰਥੀ ਧਾਤੂ ਕਾਸਟਿੰਗ ਦੀ ਕਲਾ ਵਿੱਚ ਖੋਜ ਕਰਦੇ ਹਨ, ਪਿਘਲੇ ਹੋਏ
              ਧਾਤ ਦੀਆਂ ਪ੍ਰਕਿਰਿਆਵਾਂ ਦੁਆਰਾ ਗੁੰਝਲਦਾਰ ਆਕਾਰ ਅਤੇ ਬਣਤਰ ਬਣਾਉਣਾ ਸਿੱਖਦੇ ਹਨ, ਧਾਤੂ ਵਿਗਿਆਨ ਅਤੇ ਨਿਰਮਾਣ ਦੇ ਖੇਤਰ ਵਿੱਚ
              ਇੱਕ ਮਹੱਤਵਪੂਰਨ ਹੁਨਰ।</div>

          </div>
        </div>
      </div>
    </div>
    <div class="">
      <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
    </div>
  </div>
</div>


<!----hindi---->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
  <div class="container">
    <div class="fw-bold fs-1 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
      कार्यशाला</div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        कार्यशालाएँ एक छात्र को कक्षाओं में प्राप्त सैद्धांतिक ज्ञान को लागू करना सिखाती हैं
        व्यावहारिक
        इकाइयाँ।
      </div>
    </div>
    <div class="fw-bold fs-2 red-title pt-3">
      योग्यता प्रोफ़ाइल
    </div>
    <div class="fs-4 lh-lg fw-lighter text-center">
      <div class="py-3">
        <ul>
          <li> <i class="fa-regular fa-hand-point-right"></i>
            व्यावहारिक ज्ञान से शिक्षा की गुणवत्ता के साथ-साथ छात्रों के व्यक्तित्व में भी सुधार होता है।
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> To increase employ ability in the industry.
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> में शारीरिक श्रम की आदत की गणना करता है
            छात्र|
          </li>
          <li> <i class="fa-regular fa-hand-point-right"></i> विभिन्न मशीनों के बारे में जानकारी|</li>
          <li> <i class="fa-regular fa-hand-point-right"></i> स्वरोजगार एवं नौकरी में सहायक
            क्षेत्र।
          </li>
        </ul>
      </div>
      <div class="mb-5">
        <img src="../../../../assets/images/used/labs/05.webp" class="img-fluid shadow" alt="">
      </div>
      <div class="my-3">
        <div class="border-bottom border-top border-danger py-3">
          <div class="row">
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fw-semibold">2,304
              </div>
              <div>
                <a href="" class="text-decoration-none text-dark"> विश्वविद्यालय के विभाग के सदस्य</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fw-semibold red-title fs-2">
        संक्षेप में कार्यशाला</div>
      <div class="text-start my-3">
        <ul>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">व्यावहारिक शिक्षा के लिए विविध
              कार्यशालाएँ:</span>हमारे कॉलेज की कार्यशालाएँ वेल्डिंग, मशीनिंग और इलेक्ट्रॉनिक्स जैसे विषयों में
            व्यावहारिक अनुभव प्रदान करती हैं, जिससे छात्रों को इंजीनियरिंग अवधारणाओं की व्यापक और व्यावहारिक समझ मिलती
            है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> अनुप्रयोग-केंद्रित कौशल
              विकास:</span> कार्यशालाएँ छात्रों को उद्योग-विशिष्ट कौशल से सुसज्जित करती हैं, यह सुनिश्चित करती हैं कि
            वे
            पेशेवर परिदृश्य की माँगों के लिए अच्छी तरह से तैयार हैं, जिससे शिक्षा जगत से उद्योग तक एक निर्बाध संक्रमण
            को
            बढ़ावा मिलता है।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold">रचनात्मक समस्या-समाधान के लिए
              स्थान:</span>
            कार्यशालाएँ नवाचार केंद्र के रूप में काम करती हैं, छात्रों को सैद्धांतिक ज्ञान को वास्तविक दुनिया के
            परिदृश्यों में लागू करने के लिए प्रोत्साहित करती हैं, रचनात्मकता और अनुकूली सोच की संस्कृति को बढ़ावा देती
            हैं।
          </li>
          <li>
            <i class="fa-regular fa-hand-point-right"></i> <span class="fw-semibold"> टीम वर्क और सहयोग के लिए
              स्थान:</span> कार्यशालाएँ सहयोगी परियोजनाओं की सुविधा प्रदान करती हैं, जिससे छात्रों को एक साथ काम करने,
            विचार साझा करने और जटिल इंजीनियरिंग चुनौतियों को हल करने के लिए सामूहिक विशेषज्ञता लागू करने में सक्षम
            बनाया
            जाता है।
          </li>
        </ul>
      </div>
      <div class="fw-semibold red-title fs-2 my-3">
        हमारी लैब्स
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                बढ़ईगीरी और फिटिंग लैब</div>
              <div class="my-3">हमारे कॉलेज में बढ़ईगीरी और फिटिंग लैब एक व्यावहारिक कार्यशाला है जहां छात्र लकड़ी के
                काम और धातु फिटिंग में अपने कौशल को निखारते हैं, सटीक और कार्यात्मक संरचनाओं को तैयार करने की कला
                सीखते
                हैं।

                इस व्यावहारिक प्रयोगशाला में, छात्र विभिन्न प्रकार के उपकरणों और सामग्रियों के साथ जुड़ते हैं,
                बढ़ईगीरी
                और फिटिंग में तकनीकों में महारत हासिल करते हैं जो विभिन्न इंजीनियरिंग अनुप्रयोगों में यांत्रिक घटकों
                के
                निर्माण और संयोजन के लिए आवश्यक हैं।</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-7">
              <div class="fw-semibold fs-3">
                शीट मेटल की दुकान
              </div>
              <div class="my-3">हमारे कॉलेज में शीट मेटल शॉप एक विशेष कार्यस्थल है जहां छात्र इंजीनियरिंग में जटिल
                संरचनाओं के निर्माण के लिए महत्वपूर्ण कौशल प्राप्त करते हुए, शीट मेटल में हेरफेर करने और आकार देने की
                कला सीखते हैं।

                इस व्यावहारिक सुविधा में, छात्र धातु की शीट को काटने, मोड़ने और बनाने का अभ्यास करते हैं, और टिकाऊ और
                सटीक रूप से इंजीनियर किए गए घटकों के निर्माण के लिए आवश्यक निर्माण तकनीकों में व्यावहारिक विशेषज्ञता
                प्राप्त करते हैं।</div>
            </div>
            <div class="col-md-5">
              <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-5">
            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
          </div>
          <div class="col-md-7">
            <div class="fw-semibold fs-3">
              इलेक्ट्रिकल और इलेक्ट्रॉनिक्स की दुकान</div>
            <div class="my-3">
              हमारे कॉलेज में इलेक्ट्रिकल और इलेक्ट्रॉनिक्स शॉप एक गतिशील स्थान है जहां छात्र विभिन्न प्रकार के घटकों
              और
              उपकरणों के साथ जुड़ते हैं, इलेक्ट्रिकल और इलेक्ट्रॉनिक सर्किट को असेंबल करने, परीक्षण करने और समस्या
              निवारण में व्यावहारिक कौशल प्राप्त करते हैं।

              इस व्यावहारिक कार्यशाला में, छात्र सोल्डरिंग, सर्किट बोर्ड असेंबली और इलेक्ट्रॉनिक परीक्षण की जटिलताओं
              का
              पता लगाते हैं, जिससे यह सुनिश्चित होता है कि वे विभिन्न विद्युत और इलेक्ट्रॉनिक उपकरणों के साथ काम करने
              में दक्षता विकसित करते हैं, जिससे क्षेत्र में भविष्य के प्रयासों के लिए एक मजबूत नींव तैयार होती है।
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card my-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-7">
            <div class="fw-semibold fs-3">
              वेल्डिंग और पैटर्न की दुकान
            </div>
            <div class="my-3">हमारे कॉलेज में वेल्डिंग और पैटर्न शॉप एक महत्वपूर्ण प्रशिक्षण मैदान है जहां छात्र
              वेल्डिंग तकनीक और पैटर्न बनाने की कला में महारत हासिल करते हैं, विभिन्न इंजीनियरिंग अनुप्रयोगों में
              संरचनाओं और सांचों के निर्माण के लिए महत्वपूर्ण कौशल।

              इस व्यावहारिक सुविधा में, छात्र वेल्डिंग प्रक्रियाओं और पैटर्न निर्माण का अभ्यास करते हैं, सामग्रियों को
              आकार देने और जोड़ने में दक्षता हासिल करते हैं, उन्हें विनिर्माण, निर्माण और अन्य क्षेत्रों में भूमिकाओं
              के
              लिए तैयार करते हैं जिनके लिए वेल्डिंग और पैटर्न विकास में विशेषज्ञता की आवश्यकता होती है।</div>
          </div>
          <div class="col-md-5">
            <img src="../../../../assets/images/used/labs/29.webp" class="img-fluid shadow" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row my-3">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              टर्निंग शॉप</div>
            <div class="my-3">हमारे कॉलेज में टर्निंग शॉप एक सटीक-केंद्रित कार्यस्थल है जहां छात्र लेथ और टर्निंग
              मशीनों
              को चलाने में कौशल हासिल करते हैं, जो उन्हें मैकेनिकल इंजीनियरिंग में जटिल और सटीक घटकों को तैयार करने
              में
              सक्षम बनाता है।</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              मशीन की दुकान</div>
            <div class="my-3">हमारे कॉलेज में मशीन शॉप एक अत्याधुनिक सुविधा है जहां छात्र विभिन्न इंजीनियरिंग
              अनुप्रयोगों के लिए आवश्यक सटीक घटकों को बनाने के लिए उन्नत मशीनरी का उपयोग करके अपने मशीनिंग कौशल को
              परिष्कृत करते हैं।</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="fw-semibold fs-3">
              फाउंड्री दुकान</div>
            <div class="my-3">
              हमारे कॉलेज की फाउंड्री शॉप में, छात्र धातु ढलाई की कला में गहराई से उतरते हैं, पिघली हुई धातु
              प्रक्रियाओं
              के माध्यम से जटिल आकार और संरचनाएं बनाना सीखते हैं, जो धातु विज्ञान और विनिर्माण के क्षेत्र में एक
              महत्वपूर्ण कौशल है।
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="">
      <img src="../../../../assets/images/used/labs/21.webp" class="img-fluid" alt="">
    </div>
  </div>
</div>