<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title py-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Our Vission & Mission</div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">Our Vision</div>
                    <p> <i class="fa-regular fa-hand-point-right"></i> To make available appropriate men or
                        women
                        technicians to the industry including the manpower in the high technology, new and
                        emerging
                        technology areas as per their demand.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> To impart vocational skills to the women
                        of
                        the state with a view to create equality and transform the lives for the benefit of the
                        society in a diverse nation.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> To help increase the overall productivity
                        and
                        economy of the state by empowering men and women to become equal partners in all
                        technological, managerial, and decision-making community development activities.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/vission.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/mission.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">Our Mission</div>
                    <p><i class="fa-regular fa-hand-point-right"></i> To provide every student with a conducive
                        environment suitable to achieve her career goals, with a strong emphasis on personality
                        development and to offer the academically inclined resources to gain quality education
                        in
                        all spheres of engineering, and management without compromising the quality and the code
                        of
                        ethics to each student of the institution.</p>
                </div>
            </div>
        </div>
    </div>
</div>