<div class="dark" [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'English'"
    [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            Our Vission & Mission</div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">Our Vision</div>
                    <p> <i class="fa-regular fa-hand-point-right"></i> To make available appropriate men or
                        women
                        technicians to the industry including the manpower in the high technology, new and
                        emerging
                        technology areas as per their demand.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> To impart vocational skills to the women
                        of
                        the state with a view to create equality and transform the lives for the benefit of the
                        society in a diverse nation.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> To help increase the overall productivity
                        and
                        economy of the state by empowering men and women to become equal partners in all
                        technological, managerial, and decision-making community development activities.</p>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/vission.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/mission.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">Our Mission</div>
                    <p><i class="fa-regular fa-hand-point-right"></i> To provide every student with a conducive
                        environment suitable to achieve her career goals, with a strong emphasis on personality
                        development and to offer the academically inclined resources to gain quality education
                        in
                        all spheres of engineering, and management without compromising the quality and the code
                        of
                        ethics to each student of the institution.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'ਪੰਜਾਬੀ'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            ਸਾਡਾ ਵਿਜ਼ਨ ਅਤੇ ਮਿਸ਼ਨ</div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">ਸਾਡਾ ਵਿਜ਼ਨ</div>
                    <p> <i class="fa-regular fa-hand-point-right"></i> ਉਚਿਤ ਪੁਰਸ਼ ਉਪਲਬਧ ਕਰਾਉਣ ਲਈ ਜਾਂ
                        ਔਰਤਾਂ
                        ਉਦਯੋਗ ਦੇ ਟੈਕਨੀਸ਼ੀਅਨ, ਜਿਸ ਵਿੱਚ ਉੱਚ ਤਕਨਾਲੋਜੀ ਵਿੱਚ ਮਨੁੱਖੀ ਸ਼ਕਤੀ ਸ਼ਾਮਲ ਹੈ, ਨਵੀਂ ਅਤੇ
                        ਉੱਭਰ ਰਿਹਾ ਹੈ
                        ਉਨ੍ਹਾਂ ਦੀ ਮੰਗ ਦੇ ਅਨੁਸਾਰ ਤਕਨਾਲੋਜੀ ਖੇਤਰ.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> ਔਰਤਾਂ ਨੂੰ ਕਿੱਤਾਮੁਖੀ ਹੁਨਰ ਪ੍ਰਦਾਨ ਕਰਨਾ
                        ਦੇ
                        ਸਮਾਨਤਾ ਪੈਦਾ ਕਰਨ ਅਤੇ ਲੋਕਾਂ ਦੇ ਲਾਭ ਲਈ ਜੀਵਨ ਨੂੰ ਬਦਲਣ ਦੇ ਨਜ਼ਰੀਏ ਨਾਲ ਰਾਜ
                        ਇੱਕ ਵਿਭਿੰਨ ਰਾਸ਼ਟਰ ਵਿੱਚ ਸਮਾਜ.</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> ਸਮੁੱਚੀ ਉਤਪਾਦਕਤਾ ਨੂੰ ਵਧਾਉਣ ਵਿੱਚ ਮਦਦ ਕਰਨ ਲਈ
                        ਅਤੇ
                        ਮਰਦਾਂ ਅਤੇ ਔਰਤਾਂ ਨੂੰ ਸਭ ਦੇ ਬਰਾਬਰ ਹਿੱਸੇਦਾਰ ਬਣਨ ਲਈ ਸ਼ਕਤੀ ਪ੍ਰਦਾਨ ਕਰਕੇ ਰਾਜ ਦੀ ਆਰਥਿਕਤਾ
                        ਤਕਨੀਕੀ, ਪ੍ਰਬੰਧਕੀ, ਅਤੇ ਫੈਸਲੇ ਲੈਣ ਵਾਲੀਆਂ ਕਮਿਊਨਿਟੀ ਵਿਕਾਸ ਗਤੀਵਿਧੀਆਂ।</p>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/vission.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/mission.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">ਸਾਡਾ ਮਿਸ਼ਨ</div>
                    <p><i class="fa-regular fa-hand-point-right"></i> ਹਰ ਵਿਦਿਆਰਥੀ ਨੂੰ ਇੱਕ ਅਨੁਕੂਲਤਾ ਪ੍ਰਦਾਨ ਕਰਨ ਲਈ
                        ਉਸ ਦੇ ਕਰੀਅਰ ਦੇ ਟੀਚਿਆਂ ਨੂੰ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਅਨੁਕੂਲ ਵਾਤਾਵਰਣ, ਸ਼ਖਸੀਅਤ 'ਤੇ ਜ਼ੋਰਦਾਰ ਜ਼ੋਰ ਦੇ ਨਾਲ
                        ਵਿਕਾਸ ਅਤੇ ਮਿਆਰੀ ਸਿੱਖਿਆ ਪ੍ਰਾਪਤ ਕਰਨ ਲਈ ਅਕਾਦਮਿਕ ਤੌਰ 'ਤੇ ਝੁਕਾਅ ਵਾਲੇ ਸਰੋਤਾਂ ਦੀ ਪੇਸ਼ਕਸ਼ ਕਰਨਾ
                        ਵਿੱਚ
                        ਗੁਣਵੱਤਾ ਅਤੇ ਕੋਡ ਨਾਲ ਸਮਝੌਤਾ ਕੀਤੇ ਬਿਨਾਂ ਇੰਜੀਨੀਅਰਿੰਗ ਅਤੇ ਪ੍ਰਬੰਧਨ ਦੇ ਸਾਰੇ ਖੇਤਰ
                        ਦੇ
                        ਸੰਸਥਾ ਦੇ ਹਰੇਕ ਵਿਦਿਆਰਥੀ ਲਈ ਨੈਤਿਕਤਾ।</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- punjabi -->
<div [class.dark-mode]="isDarkMode" *ngIf="getCurrentLanguage() === 'हिंदी'" [style.font-size.px]="getTextSize()">
    <div class="container">
        <div
            class="fw-bold fs-2 red-title pt-3 border-bottom border-danger border-2  border-bottom border-danger border-2">
            हमारा विज़न और मिशन</div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">हमारा विज़न</div>
                    <p> <i class="fa-regular fa-hand-point-right"></i> उपयुक्त पुरुष उपलब्ध कराने के लिए या
                        औरत
                        उच्च प्रौद्योगिकी, नई और में जनशक्ति सहित उद्योग के लिए तकनीशियन
                        उभरते
                        उनकी मांग के अनुसार प्रौद्योगिकी क्षेत्र।</p>
                    <p><i class="fa-regular fa-hand-point-right"></i> विविधतापूर्ण राष्ट्र में समानता पैदा करने और समाज
                        के लाभ के लिए जीवन में बदलाव लाने की दृष्टि से राज्य की महिलाओं को व्यावसायिक कौशल प्रदान करना।
                    </p>
                    <p><i class="fa-regular fa-hand-point-right"></i> सभी तकनीकी, प्रबंधकीय और निर्णय लेने वाली
                        सामुदायिक विकास गतिविधियों में पुरुषों और महिलाओं को समान भागीदार बनने के लिए सशक्त बनाकर राज्य
                        की समग्र उत्पादकता और अर्थव्यवस्था को बढ़ाने में मदद करना।</p>
                </div>
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/vission.webp" class="img-fluid" alt="">
                </div>
            </div>
        </div>
        <div class="py-3">
            <div class="row">
                <div class="col-md-5">
                    <img src="../../../../assets/images/used/web-use/mission.webp" class="img-fluid" alt="">
                </div>
                <div class="col-md-7">
                    <div class="fw-bold red-title fs-3">हमारा मिशन</div>
                    <p><i class="fa-regular fa-hand-point-right"></i> प्रत्येक छात्र को अपने कैरियर के लक्ष्यों को
                        प्राप्त करने के लिए उपयुक्त अनुकूल वातावरण प्रदान करना, व्यक्तित्व विकास पर जोर देना और गुणवत्ता
                        और आचार संहिता से समझौता किए बिना इंजीनियरिंग और प्रबंधन के सभी क्षेत्रों में गुणवत्तापूर्ण
                        शिक्षा प्राप्त करने के लिए शैक्षणिक रूप से इच्छुक संसाधन प्रदान करना। संस्था के प्रत्येक छात्र
                        को।</p>
                </div>
            </div>
        </div>
    </div>
</div>